@import 'admin_style_config.scss';
.cp-rangeinput{
	$block:&;
	&__bar{
		$u:.8em;
		@include bnd((h:$u * 2,pd:0 $u));
		@include bdr((r:$u));
		@include bg((c:sh));
		@include shd((b:-1));
		@include usr((c:p));
		&-body{
			@include bnd((p:r));
			&-control{
				@include bnd((p:a,t:0,l:calc(var(--pos-value) * 100%),w:$u * 2,h:$u * 2));
				@include bdr((r:50%));
				@include bg((c:b));
				@include shd((b:1));
				@include trn((x:-50%));
				&-value{
					@include bnd((d:b,p:a,w:fit,h:fit,pd:.25em .5em,i:-2em -4em,mg:0 a a));
					@include bg((c:m));
					@include bdr((r:.2em));
					@include txt((a:c,p:12,h:1em,c:i));
					@include usr((e:n));
					@include trn((t:.2s,y:0,o:1));
					#{$block}:not(:hover) &{
						@include trn((y:.5em,o:0));
					}
				}
			}
		}
	}
}