@import "admin_style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-section{
	$block:&;
	$body:#{$block}__body;
	$header:#{$block}__header;
	$contents:#{$block}__contents;
	@include bnd((d:b,p:r,mgi:a,pd:b,bi:a));
	&__header{
		&-image{
			@include bnd((p:r));
			&-picture{
				&-img{
					@include bnd((d:b,w:f,h:a));
				}
			}
		}
		&-title{
			@include bnd((p:r,mgi:a,bs:b,ac:c));
			@include txt((p:t-h));
			&-heading{
				@extend %heading;
				@include bnd((mg:0));
			}
			&-lead{
				@extend %lead-block;
				@extend %lead;
			}
			&-titleimage{
				picture{
					@include bnd((d:b,mgi:a));
					img{
						@include bnd((d:b,w:f 1200,mgi:a));
					}
				}
			}
		}
	}
	&.is-type-scene{
		@include bnd((p:r,pdt:0,z:1));
		> #{$body}{
			@include bnd((p:r,z:1));
			> #{$header}{
				@extend %heading-block;
				@include bnd((p:r));
				#{$header}{
					&-image{
						@include bnd((d:b,p:a,i:0,z:1));
						&-picture{
							&-img{
								@include bnd((d:b,p:a,w:f,h:f,i:0,op:c,of:c));
							}
						}
					}
					&-title{
						@include bnd((p:r,pd:f,pdi:0,h:8em a,ac:c,z:2));
						&-icon{
							@include bnd((d:ib));
							@include txt((c:tx));
						}
						&-prefix{
							@include txt((p:1.25em,h:1.5em,w:r,f:d,c:mx));
						}
						&-heading{
							@include bnd((f:1 1 a));
							@include txt((c:mx,b:k));
						}
						&-lead{
							@include txt((c:tx,w:t));
						}
					}
				}
			}
		}
		&.has-prefix{
			> #{$body}{
				> #{$header}{
					#{$header}{
						&-title{
							&-heading{
								@include txt((p:.4em));
							}
						}
					}
				}
			}
		}
		&.has-header-image{
			 > #{$body} > #{$header}{
				#{$header}{
					&-title{

					}
				}
			}
			&.is-align-left > #{$body} > #{$header},
			&.is-align-right > #{$body} > #{$header}{
				#{$header}{
					&-image{
						&-picture{
							&-img{
								@include bnd((w:calc(70vw - 100px)));
							}
						}
					}
				}
			}
			&.is-align-left > #{$body} > #{$header}{
				#{$header}{
					&-image{
						&-picture{
							&-img{
								@include msk((g:l 90deg 0% 40%));
								@include bnd((mgl:a));
							}
						}
					}
				}
			}
			&.is-align-center > #{$body} > #{$header}{
				#{$header}{
					&-image{
						@include msk((g:l 90deg 0% 0% 10% 30% 70% 90%));
					}
				}
			}
			&.is-align-right > #{$body} > #{$header}{
				#{$header}{
					&-image{
						&-picture{
							&-img{
								@include msk((g:l -90deg 0% 40%));
								@include bnd((mgr:a));
							}
						}
					}
				}
			}
		}
	}
	&.is-type-article{
		> #{$body}{
			@include bnd((p:r,mgi:a,bs:b,z:1));
			> #{$header}{
				#{$header}{
					&-title{
						@include bnd((p:r));
						&-heading{
							@include txt((c:tx));
						}
						&-lead{
							@include txt((c:tx));
						}
					}
				}
			}
		}
		&.has-header-image{
			> #{$body} > #{$header}{
				#{$header}{
					&-image{
						@include bnd((p:r,f:0 1 a,nth:1));
						img{
							@include bnd((d:b,w:a,h:4em,mgi:a));
						}
					}
				}
			}
			&.is-align-left,&.is-align-right{
				> #{$body} > #{$header}{
					@include flx((w:n,a:c,g:.5em));
					#{$header}{
						&-image{
							@include bnd((p:r,f:0 1 a,nth:1));
						}
						&-title{
							@include bnd((f:1 1 a));
							@include flx((w:w,j:c,a:c,g:1.5em));
							&-heading{
								@include bnd((f:1 1 a,nth:2));
							}
							&-lead{
								@include bnd((f:1 1 f,nth:3));
							}
						}
					}
				}
			}
			&.is-align-right{
				> #{$body} > #{$header}{
					#{$header}{
						&-image{
							@include bnd((nth:2));
						}
						&-title{
							&-heading{
								@include bnd((nth:1));
							}
						}
					}
				}
			}
		}
		&.has-heading-type-header{
			> #{$body} > #{$header}{
				#{$header}{
					&-title{
						@extend %header-component;
						@include bg((c:mx));
						@include txt((c:ix));
						&-heading{
							@include txt((c:ix));
						}
					}
				}
			}
		}
		&.has-heading-type-headline{
			> #{$body} > #{$header}{
				#{$header}{
					&-title{
						&-heading{
							@include bnd((p:r,pdb:.2em));
							@include bdr((p:b,s:s,w:1));
							&::after{
								content:'';
								@include bnd((d:b,p:a,b:-2,l:0,w:5em,h:3));
								@include bg((c:mx));
							}
						}
					}
				}
			}
		}
		&.has-heading-type-catch{
			> #{$body} > #{$header}{
				#{$header}{
					&-title{
						@include txt((c:tx));
						&-heading{
							@include bnd((p:r));
							@include txt((c:tx,b:k));
						}
						&-lead{
							@include bnd((p:r));
						}
					}
				}
			}
		}
		&.is-align-center{
			> #{$body} > #{$header}{
				@include bnd((mgi:a));
				@include txt((a:c));
			}
		}
	}
	&.is-type-column{
		> #{$body}{
			@include bnd((bs:b,p:r,mgi:a,z:1,o:c));
			@include bdr((s:s,w:c-f,c:lx,r:c-f));
			@include shd((b:c-f));
			&:not(.has-padding){
				@include bnd((pd:0));
			}
			&.has-border-image{
				@include bdr((r:unset));
				@include shd((b:n));
			}
			> #{$header}{
				#{$header}{
					&-image{

					}
					&-title{
						@include bnd((pd:c-f));
						&-heading{
							@include txt((b:k,c:tx,f:t-h));
						}
						&-lead{
							@include txt((a:j,c:tx));
						}
					}
				}
			}
			> #{$block}__contents{
				@include bnd((pd:c-f));
			}
		}
		&.is-align-left,&.is-align-right{
			> #{$body}{
				@include flx((w:w,a:f));
				> #{$header}{
					@include bnd((f:1 1 i));
				}
				> #{$block}__contents{
					@include bnd((f:9 9 300));
				}
			}
		}
		&.is-align-right{
			> #{$body}{
				@include flx((d:rr));
			}
		}
		&.is-align-center{
			> #{$body}{
				> #{$header}{
					@include flx((w:w));
					#{$header}{
						&-image{
							@include bnd((f:1 1 i));
						}
						&-title{
							@include bnd((f:9 9 400));
							@include txt((a:c));
						}
					}
				}
			}
		}
		&.has-thin-border{
			> #{$body}{
				@include bdr((s:s,w:1,c:mx));
			}
		}
		&.has-bold-border{
			> #{$body}{
				@include bdr((s:s,w:3,c:mx));
			}
		}
		&.has-border-radius{
			> #{$body}{
				@include bdr((r:10));
			}
		}
		&.has-box-shadow{
			&:not(.has-box-shadow-inset) #{$block}{
				> #{$body}{
					@include shd((b:1em 2em 0 clr(mx 1 .25)));
				}
			}
			&.has-box-shadow-inset #{$block}{
				> #{$body}{
					@include shd((b:-1em 2em 0 clr(mx 1 .25)));
				}
			}
		}
		&.has-icon{
			> #{$body}{
				> #{$header}{
					#{$header}{
						&-title{
							&-icon{
								@include bnd((p:a,t:-80,l:-80,w:240,h:240));
								@include txt((a:c));
								img,svg{
									@include bnd((w:f,h:a));
									@include svg((f:m 1 .1));
								}
							}
						}
					}
				}
			}
		}
		&.has-border-image{
			> #{$body}{
				@include bdr((s:s,w:40,c:n));
				> #{$header}{
					@include bnd((pd:50 30 10));
					@include bg((c:n));
					&-title{
						@include txt((c:mx));
					}
				}
				> #{$block}__contents{
					@include bnd((pd:20 30 30));
				}
			}
		}
	}
	&__decoration{
		@include bnd((p:a,i:0));
		>.item{
			>.picture{
				>.img{
					@include bnd((d:b,w:f,h:f,op:c,of:i));
				}
			}
		}
	}
}