.cp-popover.is-open {
  animation: PopoverOpen 0.5s alternate 1 forwards;
}
.cp-popover.is-close {
  animation: PopoverClose 0.5s alternate 1 forwards;
}
.cp-popover.is-closed {
  display: none;
  pointer-events: none;
}
.cp-popover-anchor {
  display: block;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 10000;
  pointer-events: none;
}
.cp-popover-container {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 31.25rem;
  height: 6.25rem;
  z-index: 500000;
  pointer-events: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.cp-popover__body {
  display: block;
  position: absolute;
  margin: auto;
  border-radius: 0.625rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
  box-shadow: 0 10px 21px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  pointer-events: auto;
}
.cp-popover__body-arrow {
  display: block;
  position: absolute;
  width: 2rem;
  height: 1rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
}
.cp-popover__body-contents {
  max-height: 50vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0.625rem;
}
.cp-popover__body-control-button.is-button-close {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: -0.9375rem;
  right: -0.9375rem;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  border-radius: 50%;
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.cp-popover__body-control-button.is-button-close::before, .cp-popover__body-control-button.is-button-close::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 1.25rem;
  height: 0.125rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
}
.cp-popover__body-control-button.is-button-close::before {
  transform: -webkit- rotateZ(45deg);
  transform: rotateZ(45deg);
}
.cp-popover__body-control-button.is-button-close::after {
  transform: -webkit- rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.cp-popover.is-top .cp-popover__body {
  bottom: 100%;
  transform: -webkit- translateY(-0.625rem);
  transform: translateY(-0.625rem);
}
.cp-popover.is-top .cp-popover__body-arrow {
  top: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.cp-popover.is-bottom .cp-popover__body {
  top: 100%;
  transform: -webkit- translateY(0.625rem);
  transform: translateY(0.625rem);
}
.cp-popover.is-bottom .cp-popover__body-arrow {
  bottom: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}
.cp-popover.is-left .cp-popover__body {
  right: 0rem;
}
.cp-popover.is-left .cp-popover__body-arrow {
  margin-right: 1.875rem;
}
.cp-popover.is-center .cp-popover__body {
  left: -30vw;
  right: -30vw;
}
.cp-popover.is-right .cp-popover__body {
  left: 0rem;
}
.cp-popover.is-right .cp-popover__body-arrow {
  margin-left: 1.875rem;
}
.cp-popover.is-size-small .cp-popover__body {
  max-width: 20rem;
  width: max-content;
  max-height: 10rem;
  height: auto;
}
.cp-popover.is-size-middle .cp-popover__body {
  max-width: 40rem;
  width: max-content;
  max-height: 50vh;
  height: auto;
}
.cp-popover.is-size-large .cp-popover__body {
  max-width: 90vw;
  width: max-content;
  max-height: 80vh;
  height: auto;
}
@keyframes PopoverOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PopoverClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=./style.css.map */