@import 'admin_style_config.scss';

.cp{
	&-customize{
		&__label{
			@include bnd((mg:1em a .5em,pd:.5em 1em));
			@include bdr((r:1em));
			@include bg((c:t 1 .2));
			@include txt((p:16,w:b));
		}
	}
	&-textinputs{
		@include bnd((pd:.5em 0));
		@include grd((tc:a 1fr,g:1em .5em,ai:c));
		&__row{
			@include bnd((d:c));
			&-label{
				@include bnd((mg:0,pd:0));
			}
			input{
				@include bnd((f:1 1 a,pd:.25em));
				@include bdr((s:s,w:1,c:t 40,r:.25em));
			}
		}
	}
	&-chartinput{
		@include usr((c:p));
	}
	&-legend{
		$block:&;
		@include grd((tc:1fr 1fr,g:.5em));
		&__item{
			@include grd((tc:1em a,g:.25em,ai:c));
			@include trn((t:.2s,o:1));
			@include usr((c:p));
			&-icon{
				@include bnd((d:b,h:1em));
				@include bg((c:var(--row-color)));
			}
			&-lable{
				@include bnd((d:b));
			}
		}
		&.has-focused{
			#{$block}{
				&__item:not(.is-focused){
					@include trn((o:.6));
				}
			}
		}
	}
	&-linechart{
		&__chart{
			&-grid{
				&-line{
				}
			}
			&-lines{
				$lines:&;
				&-line{
					@include trn((t:.2s,o:1));
					&-circle{
					}
					&-path{
					}
					&.is-focused{
					}
				}
				&.has-focused{
					#{$lines}{
						&-line:not(.is-focused){
							@include trn((o:.1));
						}
					}
				}
			}
		}
	}
	&-datatabel{
		@include bnd((pd:1em 0));
		&__table{
			@include bnd((w:f));
			@include tbl((l:f));
			@include txt((p:12));
			&-thead,&-tbody{
				&-tr{
					&-td,&-th{
						@include bnd((pd:.1em));
						@include bdr((s:s,w:1,c:t 40));
					}
				}
			}
			&-thead{
				&-tr{
					&-th{
						@include bg((c:#ccc));
						@include txt((a:c));
					}
					&-td{
						@include bdr((p:t l,s:n));
						@include bg((c:n));
					}
				}
			}
			&-tbody{
				&-tr{
					$row:&;
					&-th{
						@include bg((c:#ddd));
					}
					&-td{
						@include bg((c:#fff));
						@include txt((a:c));
					}
					&:nth-child(odd){
						#{$row}{
							&-th{
								@include bg((c:#ccc));
							}
							&-td{
								@include bg((c:#eee));
							}
						}
					}
				}
			}
		}
	}
	&-tabpanel{
		&__tabs{
			@include flx((w:n));
			&-tab{
				@include bnd((d:b,pd:.4em 0,f:1 1 a));
				@include bdr((s:s,w:1,r:.5em .5em 0 0));
				@include usr((c:p));
				@include txt((a:c));
				@include bg((c:#0001));
				&.is-active{
					@include bdr((p:b,s:n));
					@include bg((c:n));
				}
			}
		}
		&__contents{
			@include bnd(());
		}
	}
}