@import 'admin_style_config.scss';

.cp{
	&-customize{
		&-dl{
			@include bnd((mg:2em a));
			@include grd((tc:a 1fr,g:1em));
			&__dt,&__dd{
				@include bnd((pd:0,mg:0));
			}
			&__dt{
				@include txt((p:14,w:b));
			}
			&__dd{
				
			}
		}
		&__title{
			@include bnd((mg:1em a .5em,pd:.5em 1em));
			@include bdr((r:1em));
			@include bg((c:t));
			@include txt((p:16,w:b,c:white));
		}
		&__label{
			@include bnd((mg:1em a .5em,pd:.5em 1em));
			@include bdr((r:1em));
			@include bg((c:t 1 .1));
			@include txt((p:16,w:b));
		}
	}
	&-textinputs{
		@include bnd((pd:.5em 0));
		@include grd((tc:a 1fr,g:.5em,ai:c));
		&__row{
			@include bnd((d:c));
			&-label{
				@include bnd((mg:0,pd:0));
				@include txt((p:12));
			}
			input{
				@include bnd((f:1 1 a,pd:.25em));
				@include bdr((s:s,w:1,c:t 40,r:.25em));
				@include txt((p:12));
			}
		}
	}
	&-chartinput{
		@include usr((c:p));
	}
	&-legend{
		$block:&;
		@include grd((tc:1fr 1fr,g:.5em));
		&__item{
			@include grd((tc:1em a,g:.25em,ai:c));
			@include trn((t:.2s,o:1));
			@include usr((c:p));
			&-icon{
				@include bnd((d:b,h:1em));
				@include bg((c:var(--row-color)));
			}
			&-lable{
				@include bnd((d:b));
			}
		}
		&.has-focused{
			#{$block}{
				&__item:not(.is-focused){
					@include trn((o:.4));
				}
			}
		}
	}
	&-linechart{
		&__chart{
			&-grid{
				&-line{
				}
			}
			&-lines{
				$lines:&;
				&-line{
					@include trn((t:.2s,o:1));
					&-circle{
					}
					&-path{
					}
					&.is-focused{
					}
				}
				&.has-focused{
					#{$lines}{
						&-line:not(.is-focused){
							@include trn((o:.1));
						}
					}
				}
			}
		}
	}
	&-datatabel{
		$block:&;
		@include bnd((pd:1em 0));
		&__table{
			@include bnd((w:f));
			@include tbl((l:f));
			@include txt((p:12));
			&-thead,&-tbody{
				&-tr{
					&-td,&-th{
						@include bnd((pd:.1em));
						@include bdr((s:s,w:1,c:t 40));
					}
				}
			}
			&-thead{
				&-tr{
					&-th{
						@include bg((c:#ccc));
						@include txt((a:c));
					}
					&-td{
						@include bdr((p:t l,s:n));
						@include bg((c:n));
					}
				}
			}
			&-tbody{
				&-tr{
					$row:&;
					&-th{
						@include bg((c:#ddd));
					}
					&-td{
						@include bg((c:#fff));
						@include txt((a:c));
					}
					&:nth-child(odd){
						#{$row}{
							&-th{
								@include bg((c:#ccc));
							}
							&-td{
								@include bg((c:#eee));
							}
						}
					}
				}
			}
		}
		&.has-focused{
			#{$block}{
				&__table{
					&-tbody{
						&-tr:not(.is-focused){
							@include trn((o:.4));
						}
					}
				}
			}
		}
	}
	&-tabpanel{
		&__tabs{
			@include flx((w:n));
			&-tab{
				@include bnd((d:b,pd:.4em 0,f:1 1 a));
				@include bdr((s:s,w:1,r:.5em .5em 0 0));
				@include usr((c:p));
				@include txt((a:c));
				@include bg((c:#0001));
				&.is-active{
					@include bdr((p:b,s:n));
					@include bg((c:n));
				}
			}
		}
		&__contents{
			@include bnd(());
		}
	}
	&-angleinput{
		&__circle{
			@include bnd((p:r,w:4em,h:4em,mgi:a,o:h));
			@include bdr((r:50%));
			@include bg((c:sh));
			@include shd((b:-2));
			@include usr((c:p));
			&-handler{
				@include bnd((d:b,p:a,t:0em,l:0,r:0,mgi:a,w:.5em,h:2em));
				@include bg((c:b));
				@include bdr((r:.25em));
				@include trn((to:50% 100%,r:calc(var(--angle,0) * 1deg)));
				@include shd((b:2));
			}
		}
	}
	&-toggle{
		@include bnd((w:4em,h:2em,o:h));
		@include bdr((r:1em));
		@include bg((c:sh));
		@include shd((b:-2));
		@include usr((c:p));
		&__handler{
			@include bnd((d:b,p:r,w:4em,h:2em));
			@include bg((c:#2271b1));
			@include bdr((r:1em));
			@include trn((t:.2s,x:-2em));
			&::before{
				content:'';
				@include bnd((d:b,p:a,i:0,w:2em,h:2em,mg:a,mgr:0));
				@include bdr((r:1em));
				@include bg((c:b));
				@include shd((bvi:1));
			}
		}
		&.is-selected &{
			&__handler{
				@include trn((x:0));
			}
		}
	}
	&-rangeinput{
		$block:&;
		&__bar{
			$u:.8em;
			@include bnd((h:$u * 2,pd:0 $u));
			@include bdr((r:$u));
			@include bg((c:sh));
			@include shd((b:-1));
			@include usr((c:p));
			&-body{
				@include bnd((p:r));
				&-control{
					@include bnd((p:a,t:0,l:calc(var(--pos-value) * 100%),w:$u * 2,h:$u * 2));
					@include bdr((r:50%));
					@include bg((c:b));
					@include shd((b:1));
					@include trn((x:-50%));
					&-value{
						@include bnd((d:b,p:a,w:fit,h:fit,pd:.25em .5em,i:-2em -4em,mg:0 a a));
						@include bg((c:m));
						@include bdr((r:.2em));
						@include txt((a:c,p:12,h:1em,c:i));
						@include usr((e:n));
						@include trn((t:.2s,y:0,o:1));
						#{$block}:not(:hover) &{
							@include trn((y:.5em,o:0));
						}
					}
				}
			}
		}
	}
}