.cp-customize-dl {
  margin: 2em auto;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}
.cp-customize-dl__dt, .cp-customize-dl__dd {
  padding: 0rem;
  margin: 0rem;
}
.cp-customize-dl__dt {
  font-size: 0.875rem;
  font-weight: 700;
}
.cp-customize__title {
  margin: 1em auto 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: oklch(var(--cp-tones-t-l) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
  font-size: 1rem;
  font-weight: 700;
  color: white;
}
.cp-customize__label {
  margin: 1em auto 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: oklch(calc(1 - var(--cp-tones-t-t) * 100) var(--cp-tones-t-c) var(--cp-tones-t-h) / calc(var(--cp-tones-t-a,1) * 0.1));
  font-size: 1rem;
  font-weight: 700;
}
.cp-textinputs {
  padding: 0.5em 0rem;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
}
.cp-textinputs__row {
  display: contents;
}
.cp-textinputs__row-label {
  margin: 0rem;
  padding: 0rem;
  font-size: 0.75rem;
}
.cp-textinputs__row input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 0.25em;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: oklch(calc(1 - var(--cp-tones-t-t) * 40) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
  border-radius: 0.25em;
  font-size: 0.75rem;
}
.cp-chartinput {
  cursor: pointer;
}
.cp-legend {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}
.cp-legend__item {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em auto;
  grid-template-columns: 1em auto;
  grid-gap: 0.25em;
  align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  cursor: pointer;
}
.cp-legend__item-icon {
  display: block;
  height: 1em;
  background-color: var(--row-color);
}
.cp-legend__item-lable {
  display: block;
}
.cp-legend.has-focused .cp-legend__item:not(.is-focused) {
  opacity: 0.4;
}
.cp-linechart__chart-lines-line {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.cp-linechart__chart-lines.has-focused .cp-linechart__chart-lines-line:not(.is-focused) {
  opacity: 0.1;
}
.cp-datatabel {
  padding: 1em 0rem;
}
.cp-datatabel__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 0.75rem;
}
.cp-datatabel__table-thead-tr-td, .cp-datatabel__table-thead-tr-th, .cp-datatabel__table-tbody-tr-td, .cp-datatabel__table-tbody-tr-th {
  padding: 0.1em;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: oklch(calc(1 - var(--cp-tones-t-t) * 40) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
}
.cp-datatabel__table-thead-tr-th {
  background-color: #ccc;
  text-align: center;
}
.cp-datatabel__table-thead-tr-td {
  border-top-style: none;
  border-left-style: none;
  background-color: transparent;
}
.cp-datatabel__table-tbody-tr-th {
  background-color: #ddd;
}
.cp-datatabel__table-tbody-tr-td {
  background-color: #fff;
  text-align: center;
}
.cp-datatabel__table-tbody-tr:nth-child(odd) .cp-datatabel__table-tbody-tr-th {
  background-color: #ccc;
}
.cp-datatabel__table-tbody-tr:nth-child(odd) .cp-datatabel__table-tbody-tr-td {
  background-color: #eee;
}
.cp-datatabel.has-focused .cp-datatabel__table-tbody-tr:not(.is-focused) {
  opacity: 0.4;
}
.cp-tabpanel__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cp-tabpanel__tabs-tab {
  display: block;
  padding: 0.4em 0rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.5em 0.5em 0rem 0rem;
  cursor: pointer;
  text-align: center;
  background-color: #0001;
}
.cp-tabpanel__tabs-tab.is-active {
  border-bottom-style: none;
  background-color: transparent;
}
.cp-angleinput__circle {
  position: relative;
  width: 4em;
  height: 4em;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
  box-shadow: 0 2px 5px oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)) inset;
  cursor: pointer;
}
.cp-angleinput__circle-handler {
  display: block;
  position: absolute;
  top: 0em;
  left: 0rem;
  right: 0rem;
  margin-inline: auto;
  width: 0.5em;
  height: 2em;
  background-color: oklch(var(--cp-tones-b-l) var(--cp-tones-b-c) var(--cp-tones-b-h) / var(--cp-tones-b-a,1));
  border-radius: 0.25em;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transform: -webkit- rotateZ(calc(var(--angle,0) * 1deg));
  transform: rotateZ(calc(var(--angle,0) * 1deg));
  box-shadow: 0 2px 5px oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.cp-toggle {
  width: 4em;
  height: 2em;
  overflow: hidden;
  border-radius: 1em;
  background-color: oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
  box-shadow: 0 2px 5px oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)) inset;
  cursor: pointer;
}
.cp-toggle__handler {
  display: block;
  position: relative;
  width: 4em;
  height: 2em;
  background-color: #2271b1;
  border-radius: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  transform: -webkit- translateX(-2em);
  transform: translateX(-2em);
}
.cp-toggle__handler::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 2em;
  height: 2em;
  margin: auto;
  margin-right: 0rem;
  border-radius: 1em;
  background-color: oklch(var(--cp-tones-b-l) var(--cp-tones-b-c) var(--cp-tones-b-h) / var(--cp-tones-b-a,1));
  box-shadow: 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)) inset, -1px -1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)), -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)) inset, 1px 1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
}
.cp-toggle.is-selected .cp-toggle__handler {
  transform: -webkit- translateX(0rem);
  transform: translateX(0rem);
}
.cp-rangeinput__bar {
  height: 1.6em;
  padding: 0rem 0.8em;
  border-radius: 0.8em;
  background-color: oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
  box-shadow: 0 1px 3px oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)) inset;
  cursor: pointer;
}
.cp-rangeinput__bar-body {
  position: relative;
}
.cp-rangeinput__bar-body-control {
  position: absolute;
  top: 0rem;
  left: calc(var(--pos-value) * 100%);
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background-color: oklch(var(--cp-tones-b-l) var(--cp-tones-b-c) var(--cp-tones-b-h) / var(--cp-tones-b-a,1));
  box-shadow: 0 1px 3px oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
  transform: -webkit- translateX(-50%);
  transform: translateX(-50%);
}
.cp-rangeinput__bar-body-control-value {
  display: block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 0.25em 0.5em;
  top: -2em;
  right: -4em;
  bottom: -2em;
  left: -4em;
  inset: -2em -4em;
  margin: 0rem auto auto;
  background-color: oklch(var(--cp-tones-m-l) var(--cp-tones-m-c) var(--cp-tones-m-h) / var(--cp-tones-m-a,1));
  border-radius: 0.2em;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  color: oklch(var(--cp-tones-i-l) var(--cp-tones-i-c) var(--cp-tones-i-h) / var(--cp-tones-i-a,1));
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
}
.cp-rangeinput:not(:hover) .cp-rangeinput__bar-body-control-value {
  opacity: 0;
  transform: -webkit- translateY(0.5em);
  transform: translateY(0.5em);
}
/*# sourceMappingURL=./style.css.map */