.wp-block-catpow-pricecard__item-header-text-title, .wp-block-catpow-pricecard__item-contents-subtitle {
  margin: var(--cp-margin-t-h, 0);
}
.wp-block-catpow-pricecard__item-header-text-title, .wp-block-catpow-pricecard__item-header-text-price-saleprice, .wp-block-catpow-pricecard__item-contents-subtitle {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-pricecard__item-contents-text {
  margin: var(--cp-margin-t-p, 0);
}
.wp-block-catpow-pricecard__item-contents-text, .wp-block-catpow-pricecard__item-contents-spec {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}
.wp-block-catpow-pricecard__item-contents-link {
  margin: var(--cp-margin-t-u, 0);
}
.wp-block-catpow-pricecard__item-contents-link {
  font-family: var(--cp-font-family-t-u, inherit);
  font-size: var(--cp-font-size-t-u, 2em);
  font-weight: var(--cp-font-weight-t-u, regular);
  line-height: var(--cp-line-height-t-u, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-u, normal);
}
.wp-block-catpow-pricecard__item-header-text-caption {
  margin: var(--cp-margin-t-c, 0);
}
.wp-block-catpow-pricecard__item-header-text-caption, .wp-block-catpow-pricecard__item-header-text-price-listprice, .wp-block-catpow-pricecard__item-header-text-price-caption {
  font-family: var(--cp-font-family-t-c, inherit);
  font-size: var(--cp-font-size-t-c, 2em);
  font-weight: var(--cp-font-weight-t-c, regular);
  line-height: var(--cp-line-height-t-c, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-c, normal);
}
.wp-block-catpow-pricecard__item {
  padding: var(--cp-padding-c-c);
  border-width: var(--cp-border-width-c-c, 0);
  border-radius: var(--cp-border-radius-c-c, 0);
  box-shadow: var(--cp-shadow-c-c) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-pricecard__item-contents-link {
  padding: var(--cp-padding-c-b);
  border-width: var(--cp-border-width-c-b, 0);
  border-radius: var(--cp-border-radius-c-b, 0);
  box-shadow: var(--cp-shadow-c-b) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-pricecard {
  padding: 0rem;
  margin-inline: auto;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--cp-size-i), 100%), 1fr));
  grid-gap: var(--cp-margin-c-c);
}
.wp-block-catpow-pricecard__item {
  position: relative;
  padding: 0rem;
  overflow: hidden;
  list-style: none;
}
.wp-block-catpow-pricecard__item-image img {
  width: 100%;
  height: auto;
}
.wp-block-catpow-pricecard__item-header {
  padding: var(--cp-padding-c-c);
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  text-align: center;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-pricecard__item-header-text-title {
  margin-top: 0rem;
}
.wp-block-catpow-pricecard__item-header-text-price {
  display: inline-block;
  color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
}
.wp-block-catpow-pricecard__item-header-text-price-listprice {
  display: block;
}
.wp-block-catpow-pricecard__item-header-text-price-saleprice {
  display: block;
  letter-spacing: 0.05em;
}
.wp-block-catpow-pricecard__item-header-text-price-saleprice-number {
  font-size: 1.5em;
  font-family: var(--cp-font-family-f-e);
}
.wp-block-catpow-pricecard__item-contents {
  padding: var(--cp-padding-c-c);
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-pricecard__item-contents-spec {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}
.wp-block-catpow-pricecard__item-contents-spec-label, .wp-block-catpow-pricecard__item-contents-spec-value {
  padding: var(--cp-padding-c-t);
  margin: 0rem;
  padding-inline: 0rem;
}
.wp-block-catpow-pricecard__item-contents-spec-label:not(:first-of-type), .wp-block-catpow-pricecard__item-contents-spec-value:not(:first-of-type) {
  border-top-style: solid;
  border-top-width: 0.0625rem;
  border-top-color: oklch(var(--cp-tones-lx-l) var(--cp-tones-lx-c) var(--cp-tones-lx-h) / var(--cp-tones-lx-a,1));
}
.wp-block-catpow-pricecard__item-contents-spec-value {
  padding-left: 1em;
}
.wp-block-catpow-pricecard__item-contents-link {
  display: block;
  position: relative;
  background-color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
  text-align: center;
  color: oklch(var(--cp-tones-ix-l) var(--cp-tones-ix-c) var(--cp-tones-ix-h) / var(--cp-tones-ix-a,1));
}
/*# sourceMappingURL=./style.css.map */