@import 'admin_style_config.scss';

.Spinner{
	&-circle{
		@include bnd((p:r,h:300 f));
		&>.graphics{
			@include bnd((p:a,t:0,b:0,l:0,r:0,mg:a,w:80,h:80));
			&>.graphic{
				@include bnd((p:a,t:0,b:0,l:0,r:0,bs:b));
				@include bdr((s:s,w:3,c:n,r:50%));
				&1{
					@include bdr((w:3,c:t 10));
				}
				&2,&3{
					@include bdr((p:t,w:3,s:s,c:m));
					@include anm((a:SpinnerCircleRotate 1s i e f));
				}
				&3{
					@include anm((del:.1s));
				}
			}
		}
	}
}


@keyframes SpinnerCircleRotate{
	0%{
		@include trn((r:0deg));
	}
	100%{
		@include trn((r:360deg));
	}
}