.cp-megamenu {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
  box-shadow: 0 8px 17px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.cp-megamenu__contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 1rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cp-megamenu-siteinfo {
  padding: 0.5rem;
}
.cp-megamenu-siteinfo-title {
  margin: 0rem;
  padding: 0rem;
}
.cp-megamenu-siteinfo-title-body .cp-megamenu-siteinfo-title-body-logo {
  display: block;
  width: auto;
  height: 2rem;
}
.cp-megamenu-mainmenu-items, .cp-megamenu-primarymenu-items {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  font-family: var(--cp-fonts-t);
}
.cp-megamenu-mainmenu-items-item-link, .cp-megamenu-primarymenu-items-item-link {
  display: block;
  cursor: pointer;
}
.cp-megamenu-mainmenu-items-item-link-title, .cp-megamenu-primarymenu-items-item-link-title {
  display: block;
}
.cp-megamenu-mainmenu-items-item-link-name, .cp-megamenu-primarymenu-items-item-link-name {
  display: block;
  font-size: 0.5em;
}
.cp-megamenu-primarymenu-items-item-link {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
}
.cp-megamenu-primarymenu-items-item-link-title, .cp-megamenu-primarymenu-items-item-link-name {
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
}
@media (max-width:960px) {
  .cp-megamenu__contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .cp-megamenu__contents-menus {
    display: block;
    position: absolute;
    top: 100%;
    left: 0rem;
    right: 0rem;
    max-width: 75rem;
    width: auto;
    margin: auto;
    background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
    box-shadow: 0 4px 9px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    transform: -webkit- translateY(0rem);
    transform: translateY(0rem);
  }
  .cp-megamenu__contents-menus:not(.is-open) {
    opacity: 0;
    transform: -webkit- translateY(-1.25rem);
    transform: translateY(-1.25rem);
    pointer-events: none;
  }
  .cp-megamenu-siteinfo {
    padding: 0.5rem;
  }
  .cp-megamenu-siteinfo-title {
    margin: 0rem;
    padding: 0rem;
  }
  .cp-megamenu-siteinfo-title-body .cp-megamenu-siteinfo-title-body-logo {
    display: block;
    width: auto;
    height: 2rem;
  }
  .cp-megamenu-mainmenu-items, .cp-megamenu-primarymenu-items {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    font-family: var(--cp-fonts-t);
  }
  .cp-megamenu-mainmenu-items-item:not(:first-child), .cp-megamenu-primarymenu-items-item:not(:first-child) {
    border-top-style: solid;
    border-top-width: 0.0625rem;
    border-top-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a,1) * 0.25));
  }
  .cp-megamenu-mainmenu-items-item-link, .cp-megamenu-primarymenu-items-item-link {
    display: block;
    padding: 0.5rem 1.25rem;
    text-align: center;
    text-decoration: none;
    color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .cp-megamenu-mainmenu-items-item-link-title, .cp-megamenu-primarymenu-items-item-link-title {
    display: block;
  }
  .cp-megamenu-mainmenu-items-item-link-name, .cp-megamenu-primarymenu-items-item-link-name {
    display: block;
    font-size: 0.5em;
  }
  .cp-megamenu-menubutton {
    display: block;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.5rem;
    align-self: center;
  }
  .cp-megamenu-menubutton-icon {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    inset: 0rem;
    margin: auto;
    width: 100%;
    height: 0.125rem;
    background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .cp-megamenu-menubutton-icon::before, .cp-megamenu-menubutton-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    inset: 0rem;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .cp-megamenu-menubutton.is-close .cp-megamenu-menubutton-icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .cp-megamenu-menubutton.is-close .cp-megamenu-menubutton-icon::before, .cp-megamenu-menubutton.is-close .cp-megamenu-menubutton-icon::after {
    -webkit-transition: top 0.5s 0.5s, transform 0.5s;
    transition: top 0.5s 0.5s, transform 0.5s;
  }
  .cp-megamenu-menubutton.is-close .cp-megamenu-menubutton-icon::before {
    top: -0.75rem;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .cp-megamenu-menubutton.is-close .cp-megamenu-menubutton-icon::after {
    top: 0.75rem;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .cp-megamenu-menubutton.is-open .cp-megamenu-menubutton-icon {
    -webkit-transition: 0.5s 0.5s;
    transition: 0.5s 0.5s;
    transform: -webkit- rotateZ(225deg);
    transform: rotateZ(225deg);
  }
  .cp-megamenu-menubutton.is-open .cp-megamenu-menubutton-icon::before, .cp-megamenu-menubutton.is-open .cp-megamenu-menubutton-icon::after {
    -webkit-transition: top 0.5s, transform 0.5s 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s;
  }
  .cp-megamenu-menubutton.is-open .cp-megamenu-menubutton-icon::before {
    transform: -webkit- rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  .cp-megamenu-menubutton.is-open .cp-megamenu-menubutton-icon::after {
    transform: -webkit- rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}
@media (min-width:960px) {
  .cp-megamenu__contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .cp-megamenu__contents-menus {
    display: contents;
  }
  .cp-megamenu-siteinfo {
    padding: 0.5rem;
  }
  .cp-megamenu-siteinfo-title {
    margin: 0rem;
    padding: 0rem;
  }
  .cp-megamenu-siteinfo-title-body .cp-megamenu-siteinfo-title-body-logo {
    display: block;
    width: auto;
    height: 2rem;
  }
  .cp-megamenu-mainmenu-items, .cp-megamenu-primarymenu-items {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    font-family: var(--cp-fonts-t);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cp-megamenu-mainmenu-items-item:not(:first-child), .cp-megamenu-primarymenu-items-item:not(:first-child) {
    border-left-style: solid;
    border-left-width: 0.0625rem;
    border-left-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a,1) * 0.25));
  }
  .cp-megamenu-mainmenu-items-item-link, .cp-megamenu-primarymenu-items-item-link {
    display: block;
    padding: 0.5rem 1.25rem;
    text-align: center;
    text-decoration: none;
    color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .cp-megamenu-mainmenu-items-item-link-title, .cp-megamenu-primarymenu-items-item-link-title {
    display: block;
  }
  .cp-megamenu-mainmenu-items-item-link-name, .cp-megamenu-primarymenu-items-item-link-name {
    display: block;
    font-size: 0.5em;
  }
  .cp-megamenu-menubutton {
    display: none;
  }
}
@media (min-width:1200px) {
  .cp-megamenu-mainMenu-items-item-link, .cp-megamenu-primarymenu-items-item-link {
    padding: 0.5rem 2.5rem;
  }
}
/*# sourceMappingURL=./style.css.map */