@charset "utf-8";
.wp-block-catpow-graphics .item .pos, .wp-block-catpow-graphics .item .del, .wp-block-catpow-graphics .item .dup, .wp-block-catpow-graphics .item .bnd {
  display: block;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  z-index: 1;
  box-sizing: content-box;
  color: #007cba; }
  .wp-block-catpow-graphics .item .pos svg, .wp-block-catpow-graphics .item .del svg, .wp-block-catpow-graphics .item .dup svg, .wp-block-catpow-graphics .item .bnd svg {
    pointer-events: none; }
.wp-block-catpow-graphics .item .pos, .wp-block-catpow-graphics .item .bnd {
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #007cba;
  background-color: #fefefe; }
.wp-block-catpow-graphics .item .pos {
  left: -15px; }
.wp-block-catpow-graphics .item .del {
  left: 10px; }
.wp-block-catpow-graphics .item .dup {
  left: 30px; }
.wp-block-catpow-graphics .item .bnd {
  right: -15px; }
.wp-block-catpow-graphics.sp {
  margin: 0px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ececec; }
