@charset "utf-8";
@import "catpow.scss";

$breakpoints:(
	pc:'min-width:960px',
	-pc:'max-width:959px',
	tb:'max-width:959px and min-width:480px',
	-tb:'min-width:960px or max-width:479px',
	sp:'max-width:479px',
	-sp:'min-width:480px',
);