@charset "utf-8";
@import "catpow.scss";

@mixin pageTopFix{
	@include bnd((p:f,t:120));
	body.admin-bar &{
		@include bnd((p:f,t:calc(120 + 32px)));
		@include bp(-782){
			@include bnd((p:f,t:calc(50 + 46px)));
		}
	}
}
$size-unit:0.0625rem;

$breakpoints:(
	pc:'min-width:960px',
	-pc:'max-width:959px',
	tb:'max-width:959px and min-width:480px',
	-tb:'min-width:960px or max-width:479px',
	sp:'max-width:479px',
	-sp:'min-width:480px',
);