[submodule "scss"]
	path = scss
	url = https://github.com/synchrovision/cawpow-scss.git
[submodule "compiler/node_modules-included/catpow"]
	path = compiler/node_modules-included/catpow
	url = https://github.com/synchrovision/catpow-esm.git
