RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} \.svg
RewriteCond %{QUERY_STRING} .+
RewriteRule . callee/svg.php?file=%{REQUEST_FILENAME} [L,QSA]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule .+ %{REQUEST_URI}.gz

AddEncoding x-gzip .gz

<files *.css.gz>
  AddType text/css .gz
</files>

<files *.js.gz>
  AddType text/javascript .gz
</files>
