.cp-jsoneditor {
  container-type: inline-size;
  font-size: 0.875rem;
  font-family: var(--cp-font-family-p);
}
.cp-jsoneditor-editor {
  padding: 0.25rem;
}
.cp-jsoneditor-editor__body {
  margin: auto;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
  box-shadow: 0 4px 9px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.cp-jsoneditor-editor__body-header {
  padding: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a,1) * 0.5));
}
.cp-jsoneditor-editor__body-header-title {
  font-size: 1rem;
  font-family: var(--cp-font-family-h);
  font-weight: 700;
}
.cp-jsoneditor-editor__body-header-controls-save {
  padding: 0.5rem 0.75rem;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
  text-align: center;
  font-size: 0.875rem;
  line-height: 1em;
  font-family: var(--cp-font-family-p);
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
  border-radius: 0.25rem;
}
.cp-jsoneditor-editor__body-header-controls-save.is-active {
  cursor: pointer;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.cp-jsoneditor-editor__body-header-controls-save:not(.is-active) {
  opacity: 0.1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.cp-jsoneditor-editor__body-contents {
  padding: 0.5rem;
  overflow-x: auto;
}
.cp-jsoneditor-input {
  font-size: 0.75rem;
  font-family: var(--cp-font-family-p);
}
.cp-jsoneditor-input__body {
  position: relative;
  padding: 0.5rem;
}
.cp-jsoneditor-input__body-message {
  position: absolute;
  bottom: 100%;
  padding: 0.25rem 1.25rem;
  z-index: 1;
  border-radius: 1.25rem;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
  font-size: 0.75rem;
  font-family: var(--cp-font-family-p);
  line-height: 1.5em;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
  pointer-events: none;
}
.cp-jsoneditor-input__body-message:not(.is-show) {
  opacity: 0;
  transform: -webkit- translateY(0.25rem);
  transform: translateY(0.25rem);
}
.cp-jsoneditor-input__body-description {
  display: block;
  margin-top: 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
}
.cp-jsoneditor-input-text-input, .wp-core-ui .cp-jsoneditor-input-text-input {
  padding: 0.25em 0.5em;
  border-style: none;
  border-radius: 0.25rem;
  font-size: inherit;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1)) inset;
}
.cp-jsoneditor-input-textarea-textarea {
  padding: 0.25em 0.5em;
  border-style: none;
  border-radius: 0.25rem;
  font-size: inherit;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1)) inset;
}
.cp-jsoneditor-input-objectinput-label {
  padding: 0.25em 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)) inset, -1px -1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)), -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)) inset, 1px 1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1));
  cursor: pointer;
}
.cp-jsoneditor-input-objectinput-body {
  padding: 0.25em;
}
.cp-jsoneditor-input-objectinput-block {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
.cp-jsoneditor-input-objectinput-block.is-level-0 > .cp-jsoneditor-input-objectinput-block-item > .cp-jsoneditor-input-objectinput-block-item-title {
  padding: 0.25em 1.25em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
  font-size: 1rem;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
}
.cp-jsoneditor-input-objectinput-block.is-level-1 > .cp-jsoneditor-input-objectinput-block-item > .cp-jsoneditor-input-objectinput-block-item-title {
  padding: 0.25em 1.25em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),var(--cp-tones-t-a,1));
  font-size: 0.875rem;
}
.cp-jsoneditor-input-objectinput-block.is-level-2 > .cp-jsoneditor-input-objectinput-block-item > .cp-jsoneditor-input-objectinput-block-item-title {
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  font-size: 0.875rem;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a,1) * 0.5));
}
/*# sourceMappingURL=./style.css.map */