@import "admin_style_config.scss";
@import "fontawesome.scss";
@include wp_admin_color(b,m,a,t);

body{
	@include bg((c:b));
	&::after{
		content: 'ã€€';
		@include bnd((d:b,p:f,w:f,h:f,t:0,l:0,z:10000));
		@include bg((c:#000,i:'images/spin.gif',p:50% 50%,s:40 40,r:n));
		@include usr((e:n));
		@include trn((t:.5s,o:0));
	}
	&.busy_mode:after{
		@include usr((e:a));
		@include trn((o:.4));
	}
	&.login{
		@include bg((i:'images/bg.png',s:c,p:c));
		#login{
			h1{
				a{
					@include bnd((w:a));
					@include bg((i:'images/logo.svg',s:80% a,p:c));
				}
			}
		}
		.button.sns_login{
			@include bnd((d:b,mg:1em a));
			@include txt((a:c));
			img{
				@include bnd((h:1.25em,w:a,mgr:.5em));
				@include txt((v:m));
			}
		}
	}
}
#adminmenumain{
	#adminmenuback{
		@include shd((b:3));
	}
}
#wpcontent{
	@include bp(-pc){
		@include bnd((pd:10));
	}
	#wpadminbar{
		@include shd((b:3));
		#wp-admin-bar-clone_post{
			.ab-icon::before{
				content:'\f105';
			}
		}
	}
	#editor{
		@include bg((c:b));
		.edit-post-header,.edit-post-sidebar{
			@include shd((b:3));
		}
		.editor-post-title__block .editor-post-title__input{
			@include txt((c:t));
		}
		.edit-post-visual-editor{
			@include bg((c:b));
			.editor-post-title__block,.editor-block-list__block{
				@include bnd((w:a 960));
			}
		}
		.edit-post-layout__metaboxes{
			@include bdr((c:t 1 .5));
		}
	}
	#cpcf_custom_box{
		@include bg((c:b));
		&>h2{
			@include txt((c:t));
			@include bdr((c:t 1 .3));
		}
		.inside{
			@include bnd((pd:16,mg:0));
			@include bdr((s:n));
		}
	}
	#cp_search{
		#cpcf_custom_box_button{
			@include bnd((p:f,z:10001,b:.5em,r:.5em,h:a,pd:1em));
			@include bg((c:m));
			@include bdr((r:2em));
			@include txt((a:c,p:15,h:1em,f:g,w:m,c:i));
			@include usr((c:p));
			@include shd((b:4));
			&::before{
				@include ico('search');
			}
		}
		#cpcf_custom_box{
			@include bg((c:n));
			.inside{
				@include bnd((p:f,z:10000,b:0,r:0,h:a 80vh,oy:a));
				@include bg((c:b));
				@include bdr((r:10 0 0 0));
				@include shd((b:5));
				@include usr((e:n));
				@include trn((t:.5s,y:100vh,o:0));
			}
			&.active{
				.inside{
					@include usr((e:a));
					@include trn((y:0,o:1));
				}
			}
		}
	}
	form#posts-filter{
		div.tablenav.top{
			.actions{
				@include bnd((o:v));
				div.search_condition{
					@include bnd((d:ib,p:r,mg:0 5));
					.button{
						&::before{
							@include ico('search');
							@include bnd((d:ib,mgr:10));
						}
					}
					div.inputs{
						@include bnd((d:b,p:a,pd:20,w:600,t:40,l:-200,z:10000));
						@include bg((c:b));
						@include bdr((s:s,w:1,c:m,r:10));
						@include shd((b:3));
						@include trn((t:.5s,o:0,y:-10));
						@include usr((e:n));
						&::before{
							content: ' ';
							@include bnd((d:b,w:1,h:1,p:a,t:-21,l:220));
							@include bdr((s:s,w:10,c:n));
							@include bdr((p:b,c:m));
						}
						&.active{
							@include trn((o:1,y:0));
							@include usr((e:a));
						}
						table.inputs{
							@include bnd((w:f));
							@include tbl(());
							th,td{
								@include bnd((pd:5 10));
								@include bdr((s:s,w:1,c:t 30));
								@include txt((a:l,p:12,h:12,f:g,s:r,c:t 80));
							}
							th{
								@include bg((c:m 1 .1));
							}
							td{
								label{
									@include bnd((d:ib,mg:5));
								}
							}
						}
					}
				}
			}
		}
	}
	.cpform_section{
		@include bnd((pd:10));
		@include bg((c:b));
	}
	.cp-meta-item{
		img,video{@include bnd((d:b,w:100,h:a));}
	}
	table{
		&.manage{
			@include bnd((w:f));
			@include tbl(());
			>thead>tr,>tbody>tr{
				>th,>td{
					@include bnd((pd:20 5));
					@include bdr((p:b,s:s,w:1,c:shd));
					&.control{
						@include bnd((w:80));
					}
				}
				>th{
					@include bnd((w:160));
					@include txt((a:l,p:12,c:tx,s:b));
				}
				>td{
					@include bg((c:bx 1 .5));
					@include txt((a:l,p:11,c:tx,s:r));
					textarea{
						&.full{
							@include bnd((w:100%,bs:b));
						}
					}
					span{
						@include bnd((d:ib));
					}
				}
			}
		}
	}
	.wp-list-table{
		input[type="checkbox"]{
			@include bnd((w:15,h:15));
			&:checked::before{
				@include bnd((w:18,h:18));
			}
		}
		a.pdf{
			@include bnd((d:ib,w:80,h:115,o:h));
			object{
				@include bnd((w:400%,h:400%));
				@include trn((s:.25,to:0 0 0));
			}
		}
	}
	.wp-block{
		@include bnd((w:a f));
	}
	.form-table{
		input[type="radio"]{
			@include bnd((w:15,h:15));
			&:checked::before{
				@include bnd((w:9,h:9));
			}
		}
	}
}