@import "admin_style_config.scss";
@include wp_admin_color(b,m,a,t);

body{
	@include bg((c:b));
	&::after{
		content: '　';
		@include bnd((d:b,p:f,w:f,h:f,t:0,l:0,z:10000));
		@include bg((c:#000,i:'images/spin.gif',p:50% 50%,s:40 40,r:n));
		@include usr((e:n));
		@include trn((t:.5s,o:0));
	}
	&.busy_mode:after{
		@include usr((e:a));
		@include trn((o:.4));
	}
	&.login{
		@include bg((i:'images/bg.png',s:c,p:c));
		#login{
			h1{
				a{
					@include bnd((w:a));
					@include bg((i:'images/logo.svg',s:80% a,p:c));
				}
			}
		}
		.button.sns_login{
			@include bnd((d:b,mg:1em a));
			@include txt((a:c));
			img{
				@include bnd((h:1.25em,w:a,mgr:.5em));
				@include txt((v:m));
			}
		}
	}
}
#adminmenumain{
	#adminmenuback{
		@include shd((b:3));
	}
}
#wpcontent{
	@include bp((
		-2:(bnd:(pd:10))
	));
	#wpadminbar{
		@include shd((b:3));
	}
	#editor{
		@include bg((c:b));
		.edit-post-header,.edit-post-sidebar{
			@include shd((b:3));
		}
		.editor-post-title__block .editor-post-title__input{
			@include txt((c:t));
		}
		.edit-post-visual-editor{
			@include bg((c:b));
			.editor-post-title__block,.editor-block-list__block{
				@include bnd((w:a 960));
			}
		}
		.edit-post-layout__metaboxes{
			@include bdr((c:t 1 .5));
		}
	}
	#cpcf_custom_box{
		@include bg((c:b));
		&>h2{
			@include txt((c:t));
			@include bdr((c:t 1 .3));
		}
		.inside{
			@include bnd((pd:10,mg:0));
			@include bdr((s:n));
		}
	}
	#cp_search{
		#cpcf_custom_box_button{
			@include bnd((p:f,z:10001,b:.5em,r:.5em,h:a,pd:1em));
			@include bg((c:m));
			@include bdr((p:t l,s:s,w:1,c:m,r:2em));
			@include txt((a:c,p:15,h:1em,f:g,w:m,c:i));
			@include usr((c:p));
			&::before{
				@include ico('search');
			}
		}
		#cpcf_custom_box{
			@include bg((c:n));
			.inside{
				@include bnd((p:f,z:10000,b:0,r:0,h:a 80vh,oy:a));
				@include bg((c:b));
				@include bdr((p:t l,s:s,w:1,c:m,r:10 0 0 0));
				@include shd((b:5));
				@include usr((e:n));
				@include trn((t:.5s,y:100vh,o:0));
			}
			&.active{
				.inside{
					@include usr((e:a));
					@include trn((y:0,o:1));
				}
			}
		}
	}
	form#posts-filter{
		div.tablenav.top{
			.actions{
				@include bnd((o:v));
				div.search_condition{
					@include bnd((d:ib,p:r,mg:0 5));
					.button{
						&::before{
							@include ico('search');
							@include bnd((d:ib,mgr:10));
						}
					}
					div.inputs{
						@include bnd((d:b,p:a,pd:20,w:600,t:40,l:-200,z:10000));
						@include bg((c:b));
						@include bdr((s:s,w:1,c:m,r:10));
						@include shd((b:3));
						@include trn((t:.5s,o:0,y:-10));
						@include usr((e:n));
						&::before{
							content: ' ';
							@include bnd((d:b,w:1,h:1,p:a,t:-21,l:220));
							@include bdr((s:s,w:10,c:n));
							@include bdr((p:b,c:m));
						}
						&.active{
							@include trn((o:1,y:0));
							@include usr((e:a));
						}
						table.inputs{
							@include bnd((w:f));
							@include tbl(());
							th,td{
								@include bnd((pd:5 10));
								@include bdr((s:s,w:1,c:t 30));
								@include txt((a:l,p:12,h:12,f:g,s:r,c:t 80));
							}
							th{
								@include bg((c:m 1 .1));
							}
							td{
								label{
									@include bnd((d:ib,mg:5));
								}
							}
						}
					}
				}
			}
		}
	}
	.cpform_section{
		@include bnd((pd:10));
		@include bg((c:b));
	}
	.wp-list-table{
		a.pdf{
			@include bnd((d:ib,w:80,h:115,o:h));
			object{
				@include bnd((w:400%,h:400%));
				@include trn((s:.25,to:0 0 0));
			}
		}
	}
}
.wp-block{
	@include bnd((w:a f));
}

.cp_admin{
	div{
		&.checkbox.cp-meta-item-use_functions{
			.cp-meta-unit{
				@include flx((w:w,j:c));
				label.checkbox{
					@include bnd((f:0 0 200));
					@include flx((w:w,a:c));
					&::before{
						@include bnd((d:n));
					}
					.image{
						@include bnd((d:ib,w:30,mg:0,mgr:10));
						@include shd((b:-1));
					}
					.text{
						@include bnd((f:1 1 a,p:r));
						h4{
							@include bnd((mg:0));
							@include txt((a:l,p:13,f:g,w:m,c:t));
						}
						p{
							@include bnd((d:b,p:a,w:14em,pd:1em,mg:0 a,l:-10em,r:-10em,z:1));
							@include bg((c:m 90));
							@include bdr((r:1em));
							@include txt((a:j,p:11,w:r,c:i));
							@include shd((b:2));
							@include trn((t:.5s,y:2em,o:0));
							@include usr((e:n));
							&::before{
								content: ' ';
								@include bnd((w:1,h:1,p:a,t:-1em,l:1em));
								@include bdr((s:s,w:.5em,c:n));
								@include bdr((p:b,c:m 90));
							}
						}
					}
					&:hover{
						.text{
							p{
								@include trn((y:1.5em,o:1));
							}
						}
					}
					&:not(.active){
						.text{
							h4{
								@include txt((c:t 50));
							}
						}
					}
				}

			}
		}
	}
	.buttons{
		@include flx((w:w,j:c));
		li{
			@include bnd((f:0 1 15em,mg:0,pd:1em));
			.button{
				@include bnd((d:b,mg:0,pd:.5em));
				@include bg((c:m));
				@include txt((a:c,p:15,h:1em,c:b));
				i.fab,i.fas{
					@include bnd((d:ib,mgr:.5em));
				}
			}
			small{
				@include bnd((d:b,pd:.5em));
				@include txt((a:l));
			}
		}
	}
	ul.functions{
		&>li{
			@include bnd((mg:0));
			@include trn((t:.5s));
			&,&>.cpform_section{
				&>h2{
					@include bnd((d:b,p:r,pd:5,mg:10));
					@include txt((a:c,p:20,h:1em,f:'Raleway',c:t));
					@include bdr((p:b,s:s,w:1));
				}
				.image{
					@include bnd((mg:5));
					@include bg((c:#fff));
					@include bdr((r:10));
					@include shd((b:-3));
				}
				.desc{
					@include bnd((pd:5 10));
					@include txt((a:j,p:10,h:1.5em,f:$gothic,s:r,c:t));
				}
				.control{
					@include bnd((mg:10 20));
				}
			}
			.cp_lightbox_content{
				@include bnd((w:95% 1000));
				@include flx((w:w));
				.panel_body{
					@include bnd((f:10 10 500,h:a 80vh,bs:b,pd:20,oy:a));
					&>ul{
						&>li{
							@include bnd((pd:10 0));
							@include txt((a:c));
							h3{
								@include bnd((mgb:10,pdb:10));
								@include bdr((p:b,s:s,w:1,c:t 50));
								@include txt((p:20));
							}
							p{
								@include bnd((w:fit,mg:0 a,pd:1em));
								@include txt((a:j,p:13));
							}
						}
					}
					dl{
						@include bnd((pd:5));
						@include flx((w:w,a:c));
						dt{
							@include bnd((f:1 1 150));
							@include txt((p:15));
							i{
								@include bnd((d:ib,mgr:.5em));
							}
						}
						dd{
							@include bnd((f:3 3 calc(100% - 200)));
						}
					}
				}
				.cpform_results{
					@include bnd((f:1 1 200,h:a 80vh,bs:b,pd:20,oy:a));
					@include bg((c:t));
					@include txt((c:b,p:12));
				}
				.button_close_panel{
					@include bnd((p:a,t:-20,r:-20));
					.button{
						@include bnd((w:40,h:40,pd:10));
						@include bdr((s:n,r:50%));
						@include bg((c:m));
						@include shd((b:2));
						@include txt((a:c,p:20,h:1em,c:b));
						&::before{
							@include ico('times');
						}
					}
				}
			}
		}
		&.active{
			@include grd((rc:200));
			&>li{
				&.item{
					&>.cpform_section{
					}
				}
			}
		}
		&.inactive{
			@include grd((rc:150));
			&>li{
				&.item{
					&>h2{
						@include txt((p:15));
					}
					.desc{
						@include txt((p:8));
					}
				}
			}
		}
	}
}
.wp-list-table{
	input[type="checkbox"]{
		@include bnd((w:15,h:15));
		&:checked::before{
			@include bnd((w:18,h:18));
		}
	}
}

.form-table{
	input[type="radio"]{
		@include bnd((w:15,h:15));
		&:checked::before{
			@include bnd((w:9,h:9));
		}
	}
}


#wp-admin-bar-clone_post{
	.ab-icon::before{
		content:'\f105';
	}
}