@import './config/style_config.scss';

html{
	@media(#{bp(-1)}){
		@include txt((p:2vw));
	}
}
@include define_color_classes;

div{
	&.cp_message{
		@include bnd((mg:10,pd:20));
		@include bdr((c:t 15,w:3,s:s,r:10));
		@include txt((c:t 15,a:c,s:b,p:18,h:18));
	}
	&.cp_caution{
		@include bnd((mg:10,pd:20));
		@include bg((c:m 50));
		@include bdr((r:10));
		@include txt((c:b,a:c,s:b,p:15,h:15));
	}
	&.cpform_message,&.cpform_section_message{
		.message{
			@include usr((e:n));
			.text{
				@include bnd((pd:3 5,w:80%,mg:10 a));
				@include bg((c:m));
				@include bdr((r:3));
				@include shd((b:1));
				@include txt((a:c,c:i,p:11,h:1.5em));
				@include trn((t:1s,ty:0,o:1));
				&:after{
					content: '　';
					@include bnd((d:b,p:a,w:1,h:1,b:-10,l:30));
					@include bdr((c:n,s:s,w:5));
					@include bdr((p:t,c:m));
				}
			}
			&.has_target{
				.text{
					@include bnd((p:a,l:0,t:-25,w:a,mg:0));
					@include txt((a:n,h:1em));
				}
			}
		}
	}
	&.cp-meta-item{
		@include bnd((p:r,pd:5));
		&.multiple-item{
			@include bnd((mg:5,pd:5));
			@include bdr((s:s,w:1,c:t 1 .5,r:5));
			&>.cp-meta-unit{
				@include bnd((p:r,mg:5,pd:5));
				@include bdr((s:s,w:1,c:t 1 .2,r:5));
				.multiple-input-buttons{
					@include bnd((p:a,t:0,r:0,pd:1 3));
					@include bg((c:t));
					@include bdr((r:0 4 0 4));
					@include txt((h:10));
					.btn-inc,.btn-dec{
						@include bnd((d:ib,mg:3));
						@include txt((p:13,h:1em,f:e,a:c,c:b 1 .5));
						@include trn((t:.5s));
						@include usr((c:p));
						&:hover{
							@include txt((c:b));
						}
					}
					.btn-inc::after{
						@include ico('plus');
					}
					.btn-dec::after{
						@include ico('minus');
					}
				}
				.sort-input-buttons{
					@include bnd((p:a,b:0,r:0,pd:1 3));
					@include bg((c:t 10));
					@include bdr((r:4 0 4 0));
					@include txt((h:10));
					.btn-up,.btn-down{
						@include bnd((d:ib,a:n,pd:1,mg:1,w:10,h:10));
						@include bdr((r:12));
						@include bg((c:t 5));
						@include txt((p:9,h:9,f:e,a:c,c:t 20));
						@include trn((t:.5s));
						@include usr((c:p));
						&:hover{
							@include bg((c:t 0));
						}
					}
					.btn-up::after{
						@include ico('chevron-up');
					}
					.btn-down::after{
						@include ico('chevron-down');
					}
				}
			}
		}

		fieldset{
			@include bnd((mg:10 0,pd:10));
			@include bdr((s:s,w:1,c:t 1 .3,r:5));
			legend{
				@include txt((c:t 1 .3));
			}
		}
		input.number{
			@include bnd((w:60));
			@include txt((a:r));
		}
		input.numeric{
			@include bnd((w:120));
		}
		img.ajax_upload_media{
			@include bnd((w:100,h:a));
		}
		span.pdf{
			@include bnd((d:ib,w:160,h:230,o:h));
			object{
				@include bnd((w:200%,h:200%));
				@include trn((s:.5,to:0 0 0));
			}
		}
		select{
			@include bnd((a:n,pd:5 10,h:a));
			@include bg((c:b));
			@include bdr((r:5,s:s,c:t 25,w:1));
			@include txt((p:12,h:12,c:t));
		}
		label{
			@include bnd((d:ib,pd:3,mg:3));
			@include bg((c:b));
			@include txt((p:13,h:1em,c:t 40));
			@include trn((t:.5s));
			@include usr((c:p));
			&.checkbox,&.radio{
				@include bnd((d:ib,mg:.3em,pd:.3em 1em));
				@include bg((c:m 1 0));
				@include bdr((s:s,w:1,c:t 1 .5,r:1em));
				@include txt((p:1.20,h:1em,f:g,w:m,c:t 1 .5));
				&:before{
					@include bnd((d:ib,mgr:5));
					@include txt((c:t 1 .5));
				}
				&.active{
					@include txt((c:i));
					@include bg((c:m));
					@include bdr((c:m));
					&:before{
						@include txt((c:i));
					}
				}
				&.disabled{
					@include bnd((d:n));
					@include txt((c:t 15));
					&:before{
						@include txt((c:m 5));
					}
				}
				input{
					@include bnd((d:n));
				}
			}
			&.checkbox{
				&:before{
					@include ico('square');
				}
				&.active{
					&:before{
						@include ico('check-square');
					}
				}
			}
			&.radio{
				&:before{
					@include ico('circle-o');
				}
				&.active{
					&:before{
						@include ico('circle');
					}
				}
			}
		}
		button.cp_calendar_increase{
			@include bnd((d:b,p:r,mg:5 a,pd:5));
			@include bg((c:m 50));
			@include bdr((s:n,r:10));
			@include txt((a:c,p:24,h:24,c:b));
			@include trn((t:.5s));
			@include usr((c:p));
			&:hover{
				@include bg((c:m));
			}
		}
	}
	&.products{
		@include bnd((mg:50 a));
		@include flx((w:w));
		&>.cpform_section{
			@include bnd((f:1 1 250,pd:10,bs:b,mg:10));
			@include bg((c:b 1 .6));
			@include bdr((s:s,w:1,c:t 1 .5,r:10));
			h3{
				@include txt((a:l,p:16,h:1.5em,f:g,w:b,c:t));
			}
			p{
				@include bnd((d:b,pd:20 10));
				@include txt((a:r));
				.price{
					@include txt((a:c,p:20,h:10,f:g,w:b,c:a));
					.unit{
						@include txt((p:.7em,c:t));
					}
					small{
						@include txt((p:.5em,w:r,c:t));
					}
				}
			}
		}
		&>.spacer{
			@include bnd((f:1 1 250,mg:0 10));
		}
	}
	&.gmap{
		@include bnd((h:200));
	}
	&.table_wrapper{
		@include bnd((ox:a));
	}
}
p{
	@include txt((c:t));
	&.caption{
		@include bnd((mg:5));
		@include txt((p:12,h:14,c:t 80,f:g));
	}
	&.left{
		@include txt((a:l));
	}
	&.right{
		@include txt((a:r));
	}
	&.center{
		@include txt((a:c));
	}
}
ul{
	&.pagenate{
		@include bnd((mg:20 10));
		@include txt((a:c,l:n));
		li{
			@include bnd((d:ib,mg:3));
			@include txt((p:12,c:t 40));
			@include usr((c:p));
			@include trn((t:.5s));
			&:hover{
				@include txt((c:t 80));
			}
			&.active{
				@include bnd((pd:3,w:20));
				@include bg((c:m 80));
				@include bdr((r:5));
				@include txt((p:14,h:12,c:b,a:c));
			}
		}
	}
	&.inputs{
		@include txt((l:n));
	}
	&.access{
		@include bnd((d:b,p:r,mg:0,pd:10));
		@include txt((l:n));
		li{
			@include bnd((pd:10 0));
			@include flx((w:w));
			.image{
				@include bnd((f:1 1 150,pd:10,bs:b));
				img{
					@include bnd((w:f,h:a));
				}
			}
			.text{
				@include bnd((f:1 1 150,pd:10,bs:b));
				h3{
					@include bnd((mgb:5,pdb:5));
					@include txt((p:18,f:g,w:m,c:m));
					@include bdr((p:b,s:s,w:1,c:m));
				}
				div.address{

				}
				dl.info{
					@include flx((w:w));
					dt{
						@include bnd((f:1 1 50));
					}
					dd{
						@include bnd((f:2 2 60%));
					}
				}
			}
			.map{
				@include bnd((f:2 2 200,pd:10,bs:b));
			}
		}
	}
}
table{
	*{@include txt((c:t));}
	&.inputs{
		@include bnd((mg:40 a,w:f 960));
		@include tbl(());
		&>thead>tr,&>tbody>tr{
			&>th,&>td{
				@include bnd((pd:5));
				@include bdr((s:s,w:1,c:b 60));
				@include bp((
					1:(bnd:(pd:10))
				));
			}
			&>th{
				@include bnd((w:120));
				@include bg((c:m 1 .5));
				@include txt((a:l,p:12,c:t 70,s:b));
				@include bp((
					-1:(bnd:(d:b,w:a),txt:(a:c))
				));
				i{
					@include bnd((d:ib,w:15,mgr:15));
					@include txt((a:c));
				}
				&.required{
					&:after{
						content: '必須';
						@include bnd((d:ib,pd:2 5,mgl:5));
						@include bg((c:a));
						@include bdr((r:3));
						@include txt((c:b,p:10,h:10,f:g,s:b,v:3px));
					}
				}
			}
			&>td{
				@include bg((c:b 1 .5));
				@include txt((a:l,p:11,c:t 70,s:r));
				@include bp((
					-1:(bnd:(d:b,w:a),txt:(a:c))
				));
				textarea{
					&.full{
						@include bnd((w:100%,bs:b));
					}
				}
				span{
					@include bnd((d:ib));
				}
			}
			&.disabled{
				@include bnd((d:n));
			}
		}
	}
	&.manage{
		@include tbl(());
		&>thead>tr,&>tbody>tr{
			&>th,&>td{
				@include bnd((pd:5));
				@include bdr((s:s,w:1,c:b 60));
			}
			&>th{
				@include bg((c:m 1 .5));
				@include txt((a:l,p:12,c:t 70,s:b));
			}
			&>td{
				@include bg((c:b 1 .5));
				@include txt((a:l,p:11,c:t 70,s:r));
				textarea{
					&.full{
						@include bnd((w:100%,bs:b));
					}
				}
				span{
					@include bnd((d:ib));
				}
			}
		}
	}
}
form{
	&.cpform{
		div.cpform_nav{
			@include bnd((d:b,p:f,t:60,l:0,w:f,bs:b,z:1000));
			@include bg((c:b));
			@include trn((y:-60,o:0,t:.5s));
			@include shd((b:3));
		}
		&.lead{
			div.cpform_nav{
				@include trn((y:0,o:.9));
			}
		}
	}
}
ruby{
	rt{@include txt((p:40%,s:r));}
}
span{
	&.label{
		@include bnd((d:ib,pd:4 8,mg:3));
		@include bg((c:m));
		@include bdr((r:3));
		@include txt((a:c,p:12,c:b,h:12,s:b,v:m));
		small{
			@include bnd((d:ib,mg:0 5));
			@include txt((p:10,s:r));
		}
		&.s{
			@include bnd((pd:2 8,mg:0 4));
			@include txt((p:10));
			@include bdr((r:10));
			&.f{@include bnd((w:80));}
			small{
				@include bnd((mg:0 3));
				@include txt((p:8));
			}
		}
		&.m{
			@include txt((p:12));
			&.f{@include bnd((w:100));}
			small{
				@include bnd((mg:0 5));
				@include txt((p:10));
			}
		}
		&.l{
			@include txt((p:14));
			&.f{@include bnd((w:120));}
			small{
				@include bnd((mg:0 6));
				@include txt((p:11));
			}
		}
		@for $i from 0 through 12{
			&.color#{$i}{@include bg((c:$i));}
		}
	}
	&.item{
		@include bnd((d:ib,mg:0 3));
	}
	&.icon{
		@include bnd((d:ib,mg:0 5,pd:5));
		@include bg((c:m));
		@include bdr((r:5));
		@include txt((a:c,p:8,h:1em,f:g,w:m,c:#fff,v:m));
		&.high{@include bg((c:1));}
		&.new{@include bg((c:8));}
	}
}
#{$sel_input_text},textarea{
	@include bnd((pd:5,mg:0 5,bs:b));
	@include bg((c:b));
	@include bdr((s:s,w:1,c:t 1 .3));
	@include txt((p:15,c:t));
	&::placeholder{
		@include txt((c:t 1 .3));
	}
}
a{
	&.mail{
		@include bnd((d:ib,mg:3 5));
		@include txt((p:14,c:t 80));
		@include trn((t:.5s));
		&:before{
			@include ico('envelope');
			@include bnd((d:ib,mgr:5));
		}
		&:hover{
			@include txt((c:m));
		}
	}
	&.tel{
		@include bnd((d:ib,mg:3 5));
		@include txt((p:14,c:t 80));
		@include trn((t:.5s));
		&:before{
			@include ico('phone-square');
			@include bnd((d:ib,mgr:5));
		}
		&:hover{
			@include txt((c:m));
		}
	}
	&.link{
		@include bnd((d:ib,mg:0 5,pd:3 10));
		@include bg((c:m 1 .8));
		@include bdr((r:10));
		@include txt((p:14,h:1em,c:i));
		@include trn((t:.5s));
		&:before{
			@include ico('chevron-circle-right');
			@include bnd((d:ib,mgr:5));
		}
		&:hover{
			@include bg((c:m));
		}
	}
	&.pdf{
		@include bnd((d:ib,w:160,h:230,o:h));
		object{
			@include bnd((w:200%,h:200%));
			@include trn((s:.5,to:0 0 0));
		}
	}
}
.transition{
	&.org,&.new,&.del{@include trn((t:1s));}
	&.org{@include bnd((p:a));}
	&.new{@include bnd((p:r));}
	&.from{
		&.org{
			@include trn((o:1));
		}
		&.new{
			@include trn((x:50,o:0));
		}
		&.del{
			@include trn((o:1));
		}
	}
	&.to{
		&.org{
			@include trn((o:0));
		}
		&.new{
			@include trn((x:0,o:1));
		}
		&.del{
			@include trn((y:-20,o:0));
		}
	}
}
[data-role="cpform_submit"],
[data-role="cpform_section_submit"],
[data-role="cpform_acion_submit"]{
	@include usr((c:p));
}


.rtf,#editor .rtf{
	&-title{
		@include bnd((d:b));
		&:not(:first-child){
			@include bnd((mgt:1em));
		}
		&.iheader{
			@include bnd((pdb:.25em,mgb:.5em));
			@include bdr((p:b,s:s,w:1));
		}
		&.iheadline{
			@include bnd((p:r,pd:0,pdl:1.5em,mgb:.5em));
			@include txt((p:1.1em,h:1.5em));
			&::before{
				content:'';
				@include bnd((d:b,p:a,t:.25em,l:0,w:1em,h:1em));
				@include bg((c:m));
			}
			@include clr(){
				&::before{
					@include bg((c:$i));
				}
			}
		}
		&.icatch{
			@include bnd((mgb:.5em));
			@include txt((p:1.25em));
		}
	}
	&-large{
		@include bnd((d:ib));
		@include txt((p:1.5em,w:b,c:m));
		@include clr(){
			@include txt((c:$i));
		}
	}
	&-mark{
		@include bg((c:m 20));
		@include clr(){
			@include bg((c:$i 20));
		}
	}
	&-tag{
		@include bnd((d:ib,pd:.2em 1em,mg:0 .2em));
		@include bdr((r:1em));
		@include bg((c:m));
		@include txt((c:b,h:1em,s:n));
		&:hover{
			@include txt((c:b));
		}
		@include clr(){
			@include bg((c:$i));
		}
		
	}
	&-annotation{
		@include bnd((d:b,p:r,pdl:1.5em));
		&::before{
			content:'※';
			@include bnd((d:b,p:a,t:0,l:0));
		}
	}
}

.cp_lightbox_container{
	@include bnd((p:f,t:0,l:0,z:100000,w:100vw,h:100vh));
	@include bg((c:#000 1 .6));
	@include trn((t:.5s,o:1));
	&:not(.active){
		@include usr((e:n));
		@include trn((o:0));
	}
	.cp_lightbox_content{
		@include bnd((p:r,w:a 800,h:a 80vh,p:a,t:50%,l:50%,mg:a));
		@include bg((c:b));
		@include trn((y:-50%,x:-50%));
		@include shd((b:10));
		.cp_lightbox_group{
			&:not(.active){
				@include bnd((d:n));
			}
		}
		.cp_lightbox_content_body{
			@include bnd((w:f,h:f,oy:a));
		}
		.cp_lightbox_control{
			.button{
				@include bnd((mg:0,pd:0));
				@include bdr((s:n));
				@include bg((c:n));
			}
			.prev,.next{
				@include bnd((d:n,p:a,b:-50,h:30,mg:a));
				@include txt((p:20,c:b));
				@include trn((o:.8));
				&.active{@include bnd((d:b));}
			}
			.prev{
				@include bnd((l:5));
				&::before{
					content:'＜'
				}
			}
			.next{
				@include bnd((r:5));
				&::before{
					content:'＞'
				}
			}
			.close{
				@include bnd((p:a,w:30,h:30,t:-50,r:10));
				&::before,&::after{
					content:'';
					@include bnd((p:a,t:15,w:30,h:1));
					@include bg((c:b));
				}
				&::before{
					@include trn((r:45deg));
				}
				&::after{
					@include trn((r:-45deg));
				}
			}
			ul.dots{
				@include bnd((p:a,b:-50,l:20,r:20));
				@include txt((a:c));
				li.dot{
					@include bnd((d:ib,mg:5,w:10,h:10));
					@include bdr((s:s,c:b,w:1,r:10));
					@include bg((c:b));
					@include txt((v:m));
					@include trn((o:.2));
					&.active{
						@include trn((o:1));
					}
				}

			}
		}
	}
}