@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Staatliches&subset=latin-ext");
.revertTextColor {
  --cp-tones-bx-h: var(--cp-tones-b-h);
  --cp-tones-bx-s: var(--cp-tones-b-s);
  --cp-tones-bx-l: var(--cp-tones-b-l);
  --cp-tones-bx-t: var(--cp-tones-b-t);
  --cp-tones-bx-S: var(--cp-tones-b-S);
  --cp-tones-bx-B: var(--cp-tones-b-B);
  --cp-tones-sx-h: var(--cp-tones-s-h);
  --cp-tones-sx-s: var(--cp-tones-s-s);
  --cp-tones-sx-l: var(--cp-tones-s-l);
  --cp-tones-sx-t: var(--cp-tones-s-t);
  --cp-tones-sx-S: var(--cp-tones-s-S);
  --cp-tones-sx-B: var(--cp-tones-s-B);
  --cp-tones-tx-h: var(--cp-tones-t-h);
  --cp-tones-tx-s: var(--cp-tones-t-s);
  --cp-tones-tx-l: var(--cp-tones-t-l);
  --cp-tones-tx-t: var(--cp-tones-t-t);
  --cp-tones-tx-S: var(--cp-tones-t-S);
  --cp-tones-tx-B: var(--cp-tones-t-B);
  --cp-tones-mx-h: var(--cp-tones-m-h);
  --cp-tones-mx-s: var(--cp-tones-m-s);
  --cp-tones-mx-l: var(--cp-tones-m-l);
  --cp-tones-mx-t: var(--cp-tones-m-t);
  --cp-tones-mx-S: var(--cp-tones-m-S);
  --cp-tones-mx-B: var(--cp-tones-m-B);
  --cp-tones-ax-h: var(--cp-tones-a-h);
  --cp-tones-ax-s: var(--cp-tones-a-s);
  --cp-tones-ax-l: var(--cp-tones-a-l);
  --cp-tones-ax-t: var(--cp-tones-a-t);
  --cp-tones-ax-S: var(--cp-tones-a-S);
  --cp-tones-ax-B: var(--cp-tones-a-B);
  --cp-tones-ix-h: var(--cp-tones-i-h);
  --cp-tones-ix-s: var(--cp-tones-i-s);
  --cp-tones-ix-l: var(--cp-tones-i-l);
  --cp-tones-ix-t: var(--cp-tones-i-t);
  --cp-tones-ix-S: var(--cp-tones-i-S);
  --cp-tones-ix-B: var(--cp-tones-i-B);
}
.invertTextColor {
  --cp-tones-bx-h: var(--cp-tones-m-h);
  --cp-tones-bx-s: var(--cp-tones-m-s);
  --cp-tones-bx-l: var(--cp-tones-m-l);
  --cp-tones-bx-t: var(--cp-tones-m-t);
  --cp-tones-bx-S: var(--cp-tones-m-S);
  --cp-tones-bx-B: var(--cp-tones-m-B);
  --cp-tones-sx-h: var(--cp-tones-a-h);
  --cp-tones-sx-s: var(--cp-tones-a-s);
  --cp-tones-sx-l: var(--cp-tones-a-l);
  --cp-tones-sx-t: var(--cp-tones-a-t);
  --cp-tones-sx-S: var(--cp-tones-a-S);
  --cp-tones-sx-B: var(--cp-tones-a-B);
  --cp-tones-tx-h: var(--cp-tones-i-h);
  --cp-tones-tx-s: var(--cp-tones-i-s);
  --cp-tones-tx-l: var(--cp-tones-i-l);
  --cp-tones-tx-t: var(--cp-tones-i-t);
  --cp-tones-tx-S: var(--cp-tones-i-S);
  --cp-tones-tx-B: var(--cp-tones-i-B);
  --cp-tones-mx-h: var(--cp-tones-b-h);
  --cp-tones-mx-s: var(--cp-tones-b-s);
  --cp-tones-mx-l: var(--cp-tones-b-l);
  --cp-tones-mx-t: var(--cp-tones-b-t);
  --cp-tones-mx-S: var(--cp-tones-b-S);
  --cp-tones-mx-B: var(--cp-tones-b-B);
  --cp-tones-ax-h: var(--cp-tones-s-h);
  --cp-tones-ax-s: var(--cp-tones-s-s);
  --cp-tones-ax-l: var(--cp-tones-s-l);
  --cp-tones-ax-t: var(--cp-tones-s-t);
  --cp-tones-ax-S: var(--cp-tones-s-S);
  --cp-tones-ax-B: var(--cp-tones-s-B);
  --cp-tones-ix-h: var(--cp-tones-t-h);
  --cp-tones-ix-s: var(--cp-tones-t-s);
  --cp-tones-ix-l: var(--cp-tones-t-l);
  --cp-tones-ix-t: var(--cp-tones-t-t);
  --cp-tones-ix-S: var(--cp-tones-t-S);
  --cp-tones-ix-B: var(--cp-tones-t-B);
}
.color--0 {
  --cp-tones-s-h: 0;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 0;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 0;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color0 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_0 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
}
.color--1 {
  --cp-tones-s-h: 30;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 30;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 30;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color1 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_1 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * -5 + var(--cp-tones-hs,0));
}
.color--2 {
  --cp-tones-s-h: 60;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 60;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 60;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color2 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_2 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * -4 + var(--cp-tones-hs,0));
}
.color--3 {
  --cp-tones-s-h: 90;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 90;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 90;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color3 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_3 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * -3 + var(--cp-tones-hs,0));
}
.color--4 {
  --cp-tones-s-h: 120;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 120;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 120;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color4 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_4 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * -2 + var(--cp-tones-hs,0));
}
.color--5 {
  --cp-tones-s-h: 150;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 150;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 150;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color5 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_5 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * -1 + var(--cp-tones-hs,0));
}
.color--6 {
  --cp-tones-s-h: 180;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 180;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 180;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color6 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_6 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 0 + var(--cp-tones-hs,0));
}
.color--7 {
  --cp-tones-s-h: 210;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 210;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 210;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color7 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_7 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 1 + var(--cp-tones-hs,0));
}
.color--8 {
  --cp-tones-s-h: 240;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 240;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 240;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color8 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_8 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 2 + var(--cp-tones-hs,0));
}
.color--9 {
  --cp-tones-s-h: 270;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 270;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 270;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color9 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_9 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 3 + var(--cp-tones-hs,0));
}
.color--10 {
  --cp-tones-s-h: 300;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 300;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 300;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color10 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_10 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 4 + var(--cp-tones-hs,0));
}
.color--11 {
  --cp-tones-s-h: 330;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 330;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 330;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color11 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_11 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 5 + var(--cp-tones-hs,0));
}
.color--12 {
  --cp-tones-s-h: 360;
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: 360;
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: 360;
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color12 {
  --cp-tones-s-h: calc(var(--cp-root-tones-s-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
  --cp-container-tones-s-h: var(--cp-tones-s-h);
  --cp-tones-m-h: calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
  --cp-container-tones-m-h: var(--cp-tones-m-h);
  --cp-tones-a-h: calc(var(--cp-root-tones-a-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
  --cp-container-tones-a-h: var(--cp-tones-a-h);
}
.color_12 {
  --cp-tones-s-h: calc(var(--cp-container-tones-s-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
  --cp-tones-m-h: calc(var(--cp-container-tones-m-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
  --cp-tones-a-h: calc(var(--cp-container-tones-a-h) + var(--cp-tones-hr,20) * 6 + var(--cp-tones-hs,0));
}
.tone-s-2 {
  --cp-tones-s-s: calc(var(--cp-root-tones-s-s) + var(--cp-tones-ss,20%) * -2);
  --cp-tones-m-s: calc(var(--cp-root-tones-m-s) + var(--cp-tones-ss,20%) * -2);
  --cp-tones-a-s: calc(var(--cp-root-tones-a-s) + var(--cp-tones-ss,20%) * -2);
}
.tone-l-2 {
  --cp-tones-s-l: calc(var(--cp-root-tones-s-l) + var(--cp-tones-ls,10%) * -2);
  --cp-tones-m-l: calc(var(--cp-root-tones-m-l) + var(--cp-tones-ls,10%) * -2);
  --cp-tones-a-l: calc(var(--cp-root-tones-a-l) + var(--cp-tones-ls,10%) * -2);
}
.tone-s-1 {
  --cp-tones-s-s: calc(var(--cp-root-tones-s-s) + var(--cp-tones-ss,20%) * -1);
  --cp-tones-m-s: calc(var(--cp-root-tones-m-s) + var(--cp-tones-ss,20%) * -1);
  --cp-tones-a-s: calc(var(--cp-root-tones-a-s) + var(--cp-tones-ss,20%) * -1);
}
.tone-l-1 {
  --cp-tones-s-l: calc(var(--cp-root-tones-s-l) + var(--cp-tones-ls,10%) * -1);
  --cp-tones-m-l: calc(var(--cp-root-tones-m-l) + var(--cp-tones-ls,10%) * -1);
  --cp-tones-a-l: calc(var(--cp-root-tones-a-l) + var(--cp-tones-ls,10%) * -1);
}
.tone-s0 {
  --cp-tones-s-s: calc(var(--cp-root-tones-s-s) + var(--cp-tones-ss,20%) * 0);
  --cp-tones-m-s: calc(var(--cp-root-tones-m-s) + var(--cp-tones-ss,20%) * 0);
  --cp-tones-a-s: calc(var(--cp-root-tones-a-s) + var(--cp-tones-ss,20%) * 0);
}
.tone-l0 {
  --cp-tones-s-l: calc(var(--cp-root-tones-s-l) + var(--cp-tones-ls,10%) * 0);
  --cp-tones-m-l: calc(var(--cp-root-tones-m-l) + var(--cp-tones-ls,10%) * 0);
  --cp-tones-a-l: calc(var(--cp-root-tones-a-l) + var(--cp-tones-ls,10%) * 0);
}
.tone-s1 {
  --cp-tones-s-s: calc(var(--cp-root-tones-s-s) + var(--cp-tones-ss,20%) * 1);
  --cp-tones-m-s: calc(var(--cp-root-tones-m-s) + var(--cp-tones-ss,20%) * 1);
  --cp-tones-a-s: calc(var(--cp-root-tones-a-s) + var(--cp-tones-ss,20%) * 1);
}
.tone-l1 {
  --cp-tones-s-l: calc(var(--cp-root-tones-s-l) + var(--cp-tones-ls,10%) * 1);
  --cp-tones-m-l: calc(var(--cp-root-tones-m-l) + var(--cp-tones-ls,10%) * 1);
  --cp-tones-a-l: calc(var(--cp-root-tones-a-l) + var(--cp-tones-ls,10%) * 1);
}
.tone-s2 {
  --cp-tones-s-s: calc(var(--cp-root-tones-s-s) + var(--cp-tones-ss,20%) * 2);
  --cp-tones-m-s: calc(var(--cp-root-tones-m-s) + var(--cp-tones-ss,20%) * 2);
  --cp-tones-a-s: calc(var(--cp-root-tones-a-s) + var(--cp-tones-ss,20%) * 2);
}
.tone-l2 {
  --cp-tones-s-l: calc(var(--cp-root-tones-s-l) + var(--cp-tones-ls,10%) * 2);
  --cp-tones-m-l: calc(var(--cp-root-tones-m-l) + var(--cp-tones-ls,10%) * 2);
  --cp-tones-a-l: calc(var(--cp-root-tones-a-l) + var(--cp-tones-ls,10%) * 2);
}
div.cp_message {
  margin: 10px;
  padding: 20px;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 15),1);
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 15),1);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
div.cp_caution {
  margin: 10px;
  padding: 20px;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 50),1);
  border-radius: 10px;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
}
div.cpform_message .message, div.cpform_section_message .message {
  pointer-events: none;
}
div.cpform_message .message .text, div.cpform_section_message .message .text {
  padding: 3px 5px;
  width: 80%;
  margin: 10px auto;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  border-radius: 3px;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  text-align: center;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  font-size: 11px;
  line-height: 1.5em;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}
div.cpform_message .message .text:after, div.cpform_section_message .message .text:after {
  content: "　";
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: -10px;
  left: 30px;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
div.cpform_message .message.has_target .text, div.cpform_section_message .message.has_target .text {
  position: absolute;
  left: 0px;
  top: -25px;
  width: auto;
  margin: 0px;
  white-space: nowrap;
  line-height: 1em;
}
div.cp-meta-item {
  position: relative;
  padding: 5px;
}
div.cp-meta-item.multiple-item {
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.5);
  border-radius: 5px;
}
div.cp-meta-item.multiple-item > .cp-meta-unit {
  position: relative;
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.2);
  border-radius: 5px;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 3px;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  border-radius: 0px 4px 0px 4px;
  line-height: 10px;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-inc, div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-dec {
  display: inline-block;
  margin: 3px;
  font-size: 13px;
  line-height: 1em;
  text-align: center;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 100),0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-inc:hover, div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-dec:hover {
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-inc::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .multiple-input-buttons .btn-dec::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 1px 3px;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
  border-radius: 4px 0px 4px 0px;
  line-height: 10px;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-up, div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-down {
  display: inline-block;
  padding: 1px;
  margin: 1px;
  width: 10px;
  height: 10px;
  border-radius: 12px;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),1);
  font-size: 9px;
  line-height: 9px;
  text-align: center;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-up:hover, div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-down:hover {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 0),1);
}
div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-up::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item.multiple-item > .cp-meta-unit .sort-input-buttons .btn-down::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item fieldset {
  margin: 10px 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.3);
  border-radius: 5px;
}
div.cp-meta-item fieldset legend {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.3);
}
div.cp-meta-item input.number {
  width: 60px;
  text-align: right;
}
div.cp-meta-item input.numeric {
  width: 120px;
}
div.cp-meta-item img.ajax_upload_media {
  width: 100px;
  height: auto;
}
div.cp-meta-item span.pdf {
  display: inline-block;
  width: 160px;
  height: 230px;
  overflow: hidden;
}
div.cp-meta-item span.pdf object {
  width: 200%;
  height: 200%;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  transform: -webkit- scale(0.5);
  transform: scale(0.5);
}
div.cp-meta-item select {
  padding: 5px 10px;
  height: auto;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 5px;
  border-style: solid;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 25),1);
  border-width: 1px;
  font-size: 12px;
  line-height: 12px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
div.cp-meta-item label {
  display: inline-block;
  padding: 3px;
  margin: 3px;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  font-size: 13px;
  line-height: 1em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 40),1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
div.cp-meta-item label.checkbox, div.cp-meta-item label.radio {
  display: inline-block;
  margin: 0.3em;
  padding: 0.3em 1em;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.2);
  border-style: solid;
  border-width: 2px;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.5);
  border-radius: 1em;
  font-size: 12px;
  line-height: 1em;
  font-family: var(--cp-fonts-t);
  font-weight: 500;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
div.cp-meta-item label.checkbox:before, div.cp-meta-item label.radio:before {
  display: inline-block;
  margin-right: 5px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.5);
}
div.cp-meta-item label.checkbox.active, div.cp-meta-item label.radio.active {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
div.cp-meta-item label.checkbox.active:before, div.cp-meta-item label.radio.active:before {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
div.cp-meta-item label.checkbox.disabled, div.cp-meta-item label.radio.disabled {
  display: none;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.5);
}
div.cp-meta-item label.checkbox.disabled:before, div.cp-meta-item label.radio.disabled:before {
  color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 5),1);
}
div.cp-meta-item label.checkbox input, div.cp-meta-item label.radio input {
  display: none;
}
div.cp-meta-item label.checkbox:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item label.checkbox.active:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item label.radio:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item label.radio.active:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
div.cp-meta-item button.cp_calendar_increase {
  display: block;
  position: relative;
  margin: 5px auto;
  padding: 5px;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 50),1);
  border-style: none;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
div.cp-meta-item button.cp_calendar_increase:hover {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
div.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
div.background img, div.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bgPattern1 {
  background-image: url("images/pattern/pattern_01.png");
}
.bgPattern2 {
  background-image: url("images/pattern/pattern_02.png");
}
.bgPattern3 {
  background-image: url("images/pattern/pattern_03.png");
}
.bgPattern4 {
  background-image: url("images/pattern/pattern_04.png");
}
.bgPattern5 {
  background-image: url("images/pattern/pattern_05.png");
}
.wp-block-template-part {
  display: contents;
}
.wp-block-template-part.block-editor-block-list__block {
  display: block;
}
span.ib {
  display: inline-block;
}
table.wp-list-table tr td div.cp-meta-item img, table.wp-list-table tr td div.cp-meta-item video {
  display: block;
  width: 100px;
  height: auto;
}
table.inputs {
  margin: 16px auto;
  max-width: 960px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
table.inputs * {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
table.inputs > thead > tr > th, table.inputs > thead > tr > td, table.inputs > tbody > tr > th, table.inputs > tbody > tr > td {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 60),1);
}
table.inputs > thead > tr > th, table.inputs > tbody > tr > th {
  width: 120px;
  text-align: left;
  font-size: 12px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  font-weight: bold;
}
table.inputs > thead > tr > th i, table.inputs > tbody > tr > th i {
  display: inline-block;
  width: 15px;
  margin-right: 15px;
  text-align: center;
}
table.inputs > thead > tr > th.required:after, table.inputs > tbody > tr > th.required:after {
  content: "必須";
  display: inline-block;
  padding: 2px 5px;
  margin-left: 5px;
  background-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  border-radius: 3px;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  font-size: 10px;
  line-height: 10px;
  font-family: var(--cp-fonts-t);
  font-weight: bold;
  vertical-align: 3px;
}
table.inputs > thead > tr > td, table.inputs > tbody > tr > td {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 100),0.5);
  text-align: left;
  font-size: 11px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  font-weight: normal;
}
table.inputs > thead > tr > td input, table.inputs > thead > tr > td textarea, table.inputs > tbody > tr > td input, table.inputs > tbody > tr > td textarea {
  padding: 0.5em 1em;
  border-style: none;
  border-radius: 1em;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a)) inset, -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a)), -1px -1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a)) inset, 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a));
}
table.inputs > thead > tr > td textarea.full, table.inputs > tbody > tr > td textarea.full {
  width: 100%;
  box-sizing: border-box;
}
table.inputs > thead > tr > td > img, table.inputs > tbody > tr > td > img {
  width: 200px;
  height: auto;
}
table.inputs > thead > tr > td span, table.inputs > tbody > tr > td span {
  display: inline-block;
}
table.inputs > thead > tr.disabled, table.inputs > tbody > tr.disabled {
  display: none;
}
table.manage {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
table.manage > thead > tr > th, table.manage > thead > tr > td, table.manage > tbody > tr > th, table.manage > tbody > tr > td {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 60),1);
}
table.manage > thead > tr > th.control, table.manage > thead > tr > td.control, table.manage > tbody > tr > th.control, table.manage > tbody > tr > td.control {
  width: 80px;
}
table.manage > thead > tr > th, table.manage > tbody > tr > th {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 100),0.1);
  text-align: left;
  font-size: 12px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  font-weight: bold;
}
table.manage > thead > tr > td, table.manage > tbody > tr > td {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 100),0.5);
  text-align: left;
  font-size: 11px;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  font-weight: normal;
}
table.manage > thead > tr > td textarea.full, table.manage > tbody > tr > td textarea.full {
  width: 100%;
  box-sizing: border-box;
}
table.manage > thead > tr > td span, table.manage > tbody > tr > td span {
  display: inline-block;
}
form.cpform div.cpform_nav {
  display: block;
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: -webkit- translateY(-60px);
  transform: translateY(-60px);
  box-shadow: 0 3px 7px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
form.cpform.lead div.cpform_nav {
  opacity: 0.9;
  transform: -webkit- translateY(0px);
  transform: translateY(0px);
}
ruby rt {
  font-size: 40%;
  font-weight: normal;
}
del {
  text-decoration-line: line-through;
}
.transition.org, .transition.new, .transition.del {
  -webkit-transition: 1s;
  transition: 1s;
}
.transition.org {
  position: absolute;
}
.transition.new {
  position: relative;
}
.transition.from.org {
  opacity: 1;
}
.transition.from.new {
  opacity: 0;
  transform: -webkit- translateX(50px);
  transform: translateX(50px);
}
.transition.from.del {
  opacity: 1;
}
.transition.to.org {
  opacity: 0;
}
.transition.to.new {
  opacity: 1;
  transform: -webkit- translateX(0px);
  transform: translateX(0px);
}
.transition.to.del {
  opacity: 0;
  transform: -webkit- translateY(-20px);
  transform: translateY(-20px);
}
[data-role="cpform_submit"], [data-role="cpform_section_submit"], [data-role="cpform_acion_submit"] {
  cursor: pointer;
}
.rtf-title, #editor .rtf-title {
  display: block;
  font-family: h;
}
.rtf-title:not(:first-child), #editor .rtf-title:not(:first-child) {
  margin-top: 1em;
}
.rtf-title.iheader, #editor .rtf-title.iheader {
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.rtf-title.iheadline, #editor .rtf-title.iheadline {
  position: relative;
  padding: 0px;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  line-height: 1.5em;
}
.rtf-title.iheadline::before, #editor .rtf-title.iheadline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0px;
  width: 1em;
  height: 1em;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.rtf-title.icatch, #editor .rtf-title.icatch {
  margin-bottom: 0.5em;
  font-size: 1.25em;
}
.rtf-large, #editor .rtf-large {
  display: inline-block;
  font-size: 1.5em;
  font-family: var(--cp-fonts-s);
  font-weight: 700;
  color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.rtf-mark, #editor .rtf-mark {
  background-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),1);
}
.rtf-tag, #editor .rtf-tag {
  display: inline-block;
  padding: 0.2em 1em;
  margin: 0px 0.2em;
  border-radius: 1em;
  background-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),1);
  color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),1);
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
}
.rtf-annotation, #editor .rtf-annotation {
  display: block;
  position: relative;
  padding-left: 1.5em;
  font-family: c;
}
.rtf-annotation::before, #editor .rtf-annotation::before {
  content: "※";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 1em 0px;
}
.buttons .item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 12em;
  padding: 0.25em;
  margin: 0px;
  list-style: none;
}
.buttons .item .button {
  display: block;
  position: relative;
  padding: 1em;
  border-style: none;
  border-radius: 2em;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  text-align: center;
  color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  font-family: var(--cp-fonts-t);
  font-weight: 700;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a)) inset, -3px -3px 3px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a)), -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a)) inset, 3px 3px 3px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a));
  text-shadow: -1px -1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a)), 1px 1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a));
}
.buttons .item .button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  border-radius: 1.8em;
}
.buttons .item.hasIcon .button {
  padding: 1em 1em 1em 3em;
}
.buttons .item.hasIcon .button .icon {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  top: 0px;
  bottom: 0px;
  left: 1em;
  margin: auto;
}
.buttons .item.hasIcon .button .icon svg {
  fill: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.buttons .item.hasIcon .button .icon img {
  display: block;
  width: 100%;
  height: auto;
}
.buttons .item.primary .button {
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.buttons .item.primary .button::before {
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.buttons .item.primary .button .icon svg {
  fill: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.buttons .item.default .button, .buttons .item.secondary .button {
  background-color: transparent;
}
.buttons .item.negative {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.buttons .item.negative .button {
  background-color: transparent;
}
.buttons .item.secure .button {
  background-color: transparent;
}
.buttons .item.secure .button::before {
  border-style: double;
  border-width: 6px;
}
.buttons .item.danger .button {
  background-color: transparent;
}
.buttons.l {
  font-size: 24px;
}
.buttons.m {
  font-size: 18px;
}
.buttons.s {
  font-size: 12px;
}
.buttons.ss {
  font-size: 10px;
}
.cp_lightbox_container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  background-color: hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.cp_lightbox_container:not(.active) {
  pointer-events: none;
  opacity: 0;
}
.cp_lightbox_container .cp_lightbox_content {
  position: relative;
  max-width: 800px;
  width: auto;
  max-height: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  transform: -webkit- translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 10px 21px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_group:not(.active) {
  display: none;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_content_body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .button {
  margin: 0px;
  padding: 0px;
  border-style: none;
  background-color: transparent;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .prev, .cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .next {
  display: none;
  position: absolute;
  bottom: -50px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  opacity: 0.8;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .prev.active, .cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .next.active {
  display: block;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .prev {
  left: 5px;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .prev::before {
  content: "＜";
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .next {
  right: 5px;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .next::before {
  content: "＞";
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50px;
  right: 10px;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .close::before, .cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .close::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 30px;
  height: 1px;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .close::before {
  transform: -webkit- rotateZ(45deg);
  transform: rotateZ(45deg);
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control .close::after {
  transform: -webkit- rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control ul.dots {
  position: absolute;
  bottom: -50px;
  left: 20px;
  right: 20px;
  text-align: center;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control ul.dots li.dot {
  display: inline-block;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-width: 1px;
  border-radius: 10px;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  vertical-align: middle;
  opacity: 0.2;
}
.cp_lightbox_container .cp_lightbox_content .cp_lightbox_control ul.dots li.dot.active {
  opacity: 1;
}
/*# sourceMappingURL=./content.css.map */