@import "config/style_config.scss";
@import url('https://fonts.googleapis.com/css?family=Staatliches&subset=latin-ext');

@include define_color_classes;
div{
	&.cp_message{
		@include bnd((mg:10,pd:20));
		@include bdr((c:t 15,w:3,s:s,r:10));
		@include txt((c:t 15,a:c,s:b,p:18,h:18));
	}
	&.cp_caution{
		@include bnd((mg:10,pd:20));
		@include bg((c:m 50));
		@include bdr((r:10));
		@include txt((c:b,a:c,s:b,p:15,h:15));
	}
	&.cpform_message,&.cpform_section_message{
		.message{
			@include usr((e:n));
			.text{
				@include bnd((pd:3 5,w:80%,mg:10 a));
				@include bg((c:m));
				@include bdr((r:3));
				@include shd((b:1));
				@include txt((a:c,c:i,p:11,h:1.5em));
				@include trn((t:1s,ty:0,o:1));
				&:after{
					content: '　';
					@include bnd((d:b,p:a,w:1,h:1,b:-10,l:30));
					@include bdr((c:n,s:s,w:5));
					@include bdr((p:t,c:m));
				}
			}
			&.has_target{
				.text{
					@include bnd((p:a,l:0,t:-25,w:a,mg:0));
					@include txt((a:n,h:1em));
				}
			}
		}
	}
	&.cp-meta-item{
		@include bnd((p:r,pd:5));
		&.multiple-item{
			@include bnd((mg:5,pd:5));
			@include bdr((s:s,w:1,c:t 1 .5,r:5));
			&>.cp-meta-unit{
				@include bnd((p:r,mg:5,pd:5));
				@include bdr((s:s,w:1,c:t 1 .2,r:5));
				.multiple-input-buttons{
					@include bnd((p:a,t:0,r:0,pd:1 3));
					@include bg((c:t));
					@include bdr((r:0 4 0 4));
					@include txt((h:10));
					.btn-inc,.btn-dec{
						@include bnd((d:ib,mg:3));
						@include txt((p:13,h:1em,a:c,c:b 1 .5));
						@include trn((t:.5s));
						@include usr((c:p));
						&:hover{
							@include txt((c:b));
						}
					}
					.btn-inc::after{
						@include ico('plus');
					}
					.btn-dec::after{
						@include ico('minus');
					}
				}
				.sort-input-buttons{
					@include bnd((p:a,b:0,r:0,pd:1 3));
					@include bg((c:t 10));
					@include bdr((r:4 0 4 0));
					@include txt((h:10));
					.btn-up,.btn-down{
						@include bnd((d:ib,a:n,pd:1,mg:1,w:10,h:10));
						@include bdr((r:12));
						@include bg((c:t 5));
						@include txt((p:9,h:9,a:c,c:t 20));
						@include trn((t:.5s));
						@include usr((c:p));
						&:hover{
							@include bg((c:t 0));
						}
					}
					.btn-up::after{
						@include ico('chevron-up');
					}
					.btn-down::after{
						@include ico('chevron-down');
					}
				}
			}
		}

		fieldset{
			@include bnd((mg:10 0,pd:10));
			@include bdr((s:s,w:1,c:t 1 .3,r:5));
			legend{
				@include txt((c:t 1 .3));
			}
		}
		input.number{
			@include bnd((w:60));
			@include txt((a:r));
		}
		input.numeric{
			@include bnd((w:120));
		}
		img.ajax_upload_media{
			@include bnd((w:100,h:a));
		}
		span.pdf{
			@include bnd((d:ib,w:160,h:230,o:h));
			object{
				@include bnd((w:200%,h:200%));
				@include trn((s:.5,to:0 0 0));
			}
		}
		select{
			@include bnd((a:n,pd:5 10,h:a));
			@include bg((c:b));
			@include bdr((r:5,s:s,c:t 25,w:1));
			@include txt((p:12,h:12,c:t));
		}
		label{
			@include bnd((d:ib,pd:3,mg:3));
			@include bg((c:b));
			@include txt((p:13,h:1em,c:t 40));
			@include trn((t:.5s));
			@include usr((c:p));
			&.checkbox,&.radio{
				@include bnd((d:ib,mg:.3em,pd:.3em 1em));
				@include bg((c:t 1 .2));
				@include bdr((s:s,w:2,c:t 1 .5,r:1em));
				@include txt((p:12,h:1em,f:t,w:m,c:t));
				&:before{
					@include bnd((d:ib,mgr:5));
					@include txt((c:t 1 .5));
				}
				&.active{
					@include bg((c:b));
					@include bdr((c:a));
					&:before{
						@include txt((c:a));
					}
				}
				&.disabled{
					@include bnd((d:n));
					@include txt((c:t 1 .5));
					&:before{
						@include txt((c:m 5));
					}
				}
				input{
					@include bnd((d:n));
				}
			}
			&.checkbox{
				&:before{
					@include ico('square');
				}
				&.active{
					&:before{
						@include ico('check-square');
					}
				}
			}
			&.radio{
				&:before{
					@include ico('circle-o');
				}
				&.active{
					&:before{
						@include ico('circle');
					}
				}
			}
		}
		button.cp_calendar_increase{
			@include bnd((d:b,p:r,mg:5 a,pd:5));
			@include bg((c:m 50));
			@include bdr((s:n,r:10));
			@include txt((a:c,p:24,h:24,c:b));
			@include trn((t:.5s));
			@include usr((c:p));
			&:hover{
				@include bg((c:m));
			}
		}
	}
	&.background{
		@include bnd((p:a,t:0,l:0,w:f,h:f,z:0,o:h));
		img,video{
			@include bnd((w:f,h:f,of:c,op:c));
		}
	}
}
@for $i from 1 through 5{
	.bgPattern#{$i}{@include bg((i:"images/pattern/pattern_0"+$i+".png"));}
}
.wp-block-template-part{
	@include bnd((d:c));
	&.block-editor-block-list__block{
		@include bnd((d:b));
	}
}
span{
	&.ib{@include bnd((d:ib));}
}
table{
	&.wp-list-table{
		tr{
			td{
				div.cp-meta-item{
					img,video{@include bnd((d:b,w:100,h:a));}
				}
			}
		}
	}
	&.inputs{
		@include bnd((mg:16 a,w:f 960));
		@include tbl(());
		*{@include txt((c:t));}
		&>thead>tr,&>tbody>tr{
			&>th,&>td{
				@include bnd((pd:5));
				@include bdr((s:s,w:1,c:b 60));
				@include bp((
					1:(bnd:(pd:10))
				));
			}
			&>th{
				@include bnd((w:120));
				@include txt((a:l,p:12,c:t,s:b));
				@include bp((
					-1:(bnd:(d:b,w:a),txt:(a:c))
				));
				i{
					@include bnd((d:ib,w:15,mgr:15));
					@include txt((a:c));
				}
				&.required{
					&:after{
						content: '必須';
						@include bnd((d:ib,pd:2 5,mgl:5));
						@include bg((c:a));
						@include bdr((r:3));
						@include txt((c:b,p:10,h:10,f:t,s:b,v:3px));
					}
				}
			}
			&>td{
				@include bg((c:b 1 .5));
				@include txt((a:l,p:11,c:t,s:r));
				@include bp((
					-1:(bnd:(d:b,w:a),txt:(a:c))
				));
				input,textarea{
					@include bnd((pd:.5em 1em));
					@include bdr((s:n,r:1em));
					@include bg((c:b));
					@include shd((bv:-1));
				}
				textarea{
					&.full{
						@include bnd((w:100%,bs:b));
					}
				}
				&>img{
					@include bnd((w:200,h:a));
				}
				span{
					@include bnd((d:ib));
				}
			}
			&.disabled{
				@include bnd((d:n));
			}
		}
	}
}
form{
	&.cpform{
		div.cpform_nav{
			@include bnd((d:b,p:f,t:60,l:0,w:f,bs:b,z:1000));
			@include bg((c:b));
			@include trn((y:-60,o:0,t:.5s));
			@include shd((b:3));
		}
		&.lead{
			div.cpform_nav{
				@include trn((y:0,o:.9));
			}
		}
	}
}
ruby{
	rt{@include txt((p:40%,s:r));}
}
del{
	@include txt((td:line-through));
}
.transition{
	&.org,&.new,&.del{@include trn((t:1s));}
	&.org{@include bnd((p:a));}
	&.new{@include bnd((p:r));}
	&.from{
		&.org{
			@include trn((o:1));
		}
		&.new{
			@include trn((x:50,o:0));
		}
		&.del{
			@include trn((o:1));
		}
	}
	&.to{
		&.org{
			@include trn((o:0));
		}
		&.new{
			@include trn((x:0,o:1));
		}
		&.del{
			@include trn((y:-20,o:0));
		}
	}
}
[data-role="cpform_submit"],
[data-role="cpform_section_submit"],
[data-role="cpform_acion_submit"]{
	@include usr((c:p));
}

.rtf,#editor .rtf{
	&-title{
		@include bnd((d:b,p:r));
		@include txt((f:h,p:1.25em));
		&:not(:first-child){
			@include bnd((mgt:1em));
		}
		&.iheader{
			@include bnd((pdb:.25em,mgb:.5em));
			@include bdr((p:b,s:s,w:1));
		}
		&.iheadline{
			@include bnd((p:r,pd:0,pdl:1.5em,mgb:.5em));
			@include txt((p:1.1em,h:1.5em));
			&::before{
				content:'';
				@include bnd((d:b,p:a,t:.25em,l:0,w:1em,h:1em));
				@include bg((c:m));
			}
		}
		&.icatch{
			@include bnd((mgb:.5em));
			@include txt((p:1.25em));
		}
		img{
			@include bnd((d:ib,w:a,h:1em));
			@include txt((v:m));
			&:only-child{
				@include bnd((d:b,w:f,h:a));
			}
		}
	}
	&-large{
		@include bnd((d:ib));
		@include txt((p:1.5em,f:s,w:b,c:m));
	}
	&-mark{
		@include bg((c:s));
	}
	&-tag{
		@include bnd((d:ib,pd:.2em 1em,mg:0 .2em));
		@include bdr((r:1em));
		@include bg((c:mx));
		@include txt((c:bx,h:1em,s:n));
		@include usr((c:p));
	}
	&-annotation{
		@include bnd((d:b,p:r,pdl:1.5em));
		@include txt((f:c));
		&::before{
			content:'※';
			@include bnd((d:b,p:a,t:0,l:0));
		}
	}
}
.buttons{
	@include flx((w:w,j:c,a:c));
	@include bnd((pd:1em 0));
	.item{
		@include bnd((f:0 0 12em,pd:.25em,mg:0));
		@include txt((l:n));
		.button{
			@include bnd((d:b,p:r,pd:1em));
			@include bdr((s:n,r:2em));
			@include bg((c:m));
			@include txt((a:c,c:m,f:t,w:b,s:n,p:1em,td:n));
			@include shd((bvo:3,tbv:1));
			&::before{
				content:'';
				@include bnd((d:b,p:a,t:.25em,b:.25em,l:.25em,r:.25em));
				@include bdr((s:s,w:2,c:m,r:1.8em));
			}
		}
		&.hasIcon .button{
			@include bnd((pd:1em 1em 1em 3em));
			.icon{
				@include bnd((p:a,w:1.8em,h:1.8em,t:0,b:0,l:1em,mg:a));
				svg{
					@include svg((f:m));
				}
				img{
					@include bnd((d:b,w:f,h:a));
				}
			}
		}
		&.primary{
			.button{
				@include txt((c:b));
				&::before{
					@include bdr((c:b));
				}
				.icon{
					svg{
						@include svg((f:b));
					}
				}
			}
		}
		&.default,&.secondary{
			.button{
				@include bg((c:n));
			}
		}
		&.negative{
			@include trn((gry:100%,o:.5));
			.button{
				@include bg((c:n));
			}
		}
		&.secure{
			.button{
				@include bg((c:n));
				&::before{
					@include bdr((s:w,w:6));
				}
			}
		}
		&.danger{
			.button{
				@include bg((c:n));
				&::before{
				}
			}
		}
	}
	&.l{
		@include txt((p:24));
	}
	&.m{
		@include txt((p:18));
	}
	&.s{
		@include txt((p:12));
	}
	&.ss{
		@include txt((p:10));
	}
}
.cp_lightbox_container{
	@include bnd((p:f,t:0,l:0,z:100000,w:100vw,h:100vh));
	@include bg((c:shd));
	@include trn((t:.5s,o:1));
	&:not(.active){
		@include usr((e:n));
		@include trn((o:0));
	}
	.cp_lightbox_content{
		@include bnd((p:r,w:a 800,h:a 800,p:a,t:50%,l:50%,mg:a));
		@include bg((c:b));
		@include trn((y:-50%,x:-50%));
		@include shd((b:10));
		.cp_lightbox_group{
			&:not(.active){
				@include bnd((d:n));
			}
		}
		.cp_lightbox_content_body{
			@include bnd((w:f,h:f,oy:a));
		}
		.cp_lightbox_control{
			.button{
				@include bnd((mg:0,pd:0));
				@include bdr((s:n));
				@include bg((c:n));
			}
			.prev,.next{
				@include bnd((d:n,p:a,b:-50,h:30,mg:a));
				@include txt((p:20,c:b));
				@include trn((o:.8));
				&.active{@include bnd((d:b));}
			}
			.prev{
				@include bnd((l:5));
				&::before{
					content:'＜'
				}
			}
			.next{
				@include bnd((r:5));
				&::before{
					content:'＞'
				}
			}
			.close{
				@include bnd((p:a,w:30,h:30,t:-50,r:10));
				&::before,&::after{
					content:'';
					@include bnd((p:a,t:15,w:30,h:1));
					@include bg((c:b));
				}
				&::before{
					@include trn((r:45deg));
				}
				&::after{
					@include trn((r:-45deg));
				}
			}
			ul.dots{
				@include bnd((p:a,b:-50,l:20,r:20));
				@include txt((a:c));
				li.dot{
					@include bnd((d:ib,mg:5,w:10,h:10));
					@include bdr((s:s,c:b,w:1,r:10));
					@include bg((c:b));
					@include txt((v:m));
					@include trn((o:.2));
					&.active{
						@include trn((o:1));
					}
				}

			}
		}
	}
}