@import 'admin_style_config.scss';


.cp-charttext{
	@include txt((p:12,f:g));
	.title{@include svg((ta:c));@include txt((p:18));}
	.val{
		@include svg((ta:c,db:m,f:b));
		.unit{
			@include svg((db:m));
		}
	}
	.ledgendText{@include svg((db:m));}
}