@import 'admin_style_config.scss';

.wp-block-catpow-comparetable{
	$block:&;
	@include bnd((w:f));
	&__box{
		@include bnd((pdb:60));
		&-body{
			
		}
	}
	&__table{
		&-thead,&-tbody{
			&-tr{
				&-th,&-td{
					.cp-itemcontrol{
						@include bnd((w:70,h:fit));
						#{$block}:not(.do-transposition) &.is-control-column,
						#{$block}.do-transposition &.is-control-row{
							@include bnd((p:a,i:0,mg:a,mgb:-20));
						}
						#{$block}.do-transposition &.is-control-column,
						#{$block}:not(.do-transposition) &.is-control-row{
							@include bnd((p:a,i:0,mg:a,mgr:-60));
						}
					}
				}
			}
		}
	}
}
