.cp-tableinput-table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.cp-tableinput-table-thead-tr {
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 0.0625rem;
  border-bottom-width: 0.0625rem;
  border-top-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),var(--cp-tones-s-a));
  border-bottom-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),var(--cp-tones-s-a));
}
.cp-tableinput-table-thead-tr-th {
  font-weight: 400;
}
.cp-tableinput-table-tbody {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}
.cp-tableinput-table-tbody-tr {
  position: relative;
  padding: 0.5em;
  margin: 1em auto;
}
.cp-tableinput-table-tbody-tr:not(:first-child) {
  border-top-style: solid;
  border-top-width: 0.0625rem;
  border-top-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),var(--cp-tones-s-a));
}
.cp-tableinput-table-tbody-tr-td-controls {
  width: 6.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 0.25rem;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1em;
}
.cp-tableinput-table-tbody-tr-td-controls-button, .cp-tableinput-table-tbody-tr-td-controls-spacer {
  position: relative;
  padding: 0.1em;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1em;
  height: 1em;
}
.cp-tableinput-table-tbody-tr-td-controls-button {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a) * 0.4));
  text-align: center;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  -webkit-transition: 2s;
  transition: 2s;
}
.cp-tableinput-table-tbody-tr-td-controls-button:hover {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a) * 0.6));
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-remove, .cp-tableinput-table-tbody-tr-td-controls-button.is-add {
  border-radius: 50%;
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-remove::before, .cp-tableinput-table-tbody-tr-td-controls-button.is-add::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 0.8em;
  height: 0.8em;
  background-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-up, .cp-tableinput-table-tbody-tr-td-controls-button.is-down {
  width: 0.8em;
  height: 0.5em;
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-up {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-down {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-remove::before {
  clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
}
.cp-tableinput-table-tbody-tr-td-controls-button.is-add::before {
  clip-path: polygon(40% 0%, 60% 0%, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0% 60%, 0% 40%, 40% 40%);
}
/*# sourceMappingURL=./style.css.map */