@import 'admin_style_config.scss';

.TableInput{
	&-table{
		@include tbl(());
		&-thead{
			&-tr{
				@include bdr((p:t b,s:s,w:1,c:s));
				&-th{
					@include txt((w:r));
				}
			}
		}
		&-tbody{
			@include bnd((mg:0,pd:0));
			@include txt((l:n));
			&-tr{
				@include bnd((p:r,pd:8,mg:16 a));
				@include shd((b:2));
				&:not(:first-child){
					@include bdr((p:t,s:s,w:1,c:s));
				}
				&-td{
					&-controls{
						@include bnd((w:100));
						@include flx((w:n,g:4,j:e));
						@include txt((p:14));
						&-button,&-spacer{
							@include bnd((p:r,pd:2,f:0 0 14,h:14));
						}
						&-button{
							@include bg((c:t 1 .5));
							@include bdr((r:50%));
							@include txt((a:c,c:i,p:14,h:1em));
							@include usr((c:p));
							@include shd((b:1));
							&::before{
								content:'';
								@include bnd((d:b,p:a,i:0,mg:a,w:10,h:10));
								@include bg((c:i));
							}
							&.is-up,&.is-down{
								&::before{
									@include bnd((w:8,h:6));
								}
							}
							&.is-up{
								&::before{
									clip-path: polygon(50% 0%,100% 100%,0% 100%);
								}
							}
							&.is-down{
								&::before{
									clip-path: polygon(0% 0%,100% 0%,50% 100%);
								}
							}
							&.is-remove{
								&::before{
									clip-path: polygon(0% 40%,100% 40%,100% 60%,0% 60%);
								}
							}
							&.is-add{
								&::before{
									clip-path: polygon(
										40% 0%,60% 0%,
										60% 40%,100% 40%,
										100% 60%,60% 60%,
										60% 100%,40% 100%,
										40% 60%,0% 60%,
										0% 40%,40% 40%
									);
								}
							}
						}
					}
				}
			}
			&-insertionPoint{

			}
		}
	}
}