@import 'admin_style_config.scss';

.StepSelect{
	&-selected{
		&-items{
			@include bnd((pd:.5em));
			@include flx((w:w,g:.5em));
			@include txt((l:n));
			&-item{
				@include bnd((p:r,w:5em a,pd:.5em 2em .5em 1em));
				@include bg((c:b));
				@include txt((a:c,c:t,h:1em));
				@include bdr((r:1em));
				@include shd((b:1));
				@include usr((c:p));
				&-button{
					@include bnd((d:b,p:a,i:0,mg:a,mgr:.5em,w:1em,h:1em));
					@include bg((c:t 1 .1));
					@include bdr((r:50%));
					&::before{
						content:'×';
					}
				}
			}
		}
	}
	&-selections{
		@include bnd((pd:.5em));
		@include bdr((p:t,s:s,w:1,c:shd));
		&-options{
			&-items{
				@include bnd((pd:.5em,mg:0 a));
				@include flx((w:w,g:.5em));
				@include txt((l:n));
				&-item{
					@include bnd((p:r,w:5em a,pd:.5em 1em));
					@include bg((c:b));
					@include txt((a:c,c:t,h:1em));
					@include bdr((r:1em));
					@include shd((b:1));
					@include usr((c:p));
					&.is-active,&.is-selected{
						@include bg((c:m));
						@include txt((c:i));
					}
				}
			}
			&-arrow{
				@include bnd((d:b,p:r,h:16));
				@include trn((t:.5s,o:1));
				&.is-hidden{
					@include bnd((h:0));
					@include trn((o:0));
				}
				&::before{
					content:'';
					@include bnd((d:b,p:a,i:0,mg:a,w:16,h:8));
					@include bg((c:m));
					clip-path: polygon(0% 0%,100% 0%,50% 100%);
				}
			}
		}
	}
}