@import "admin_style_config.scss";

.wp-block-heading{
	&.is-style-header{
		@include bnd((pd:0,mg:1em a,w:a 960));
		@include txt((c:tx,w:b,h:1.5em));
	}
	&.is-style-headline{
		@include bnd((mg:1.5em a,w:a 960));
		@include txt((c:tx,w:l,h:1.5em));
	}
	&.is-style-catch{
		@include bnd((mg:1.5em a,w:a 960));
		@include txt((c:mx,w:l,h:2em));
	}
	&.is-style-header,&.is-style-headline,&.is-style-catch{
		&:first-child{@include bnd((mgt:0));}
	}
}

h1.is-style-header{
	@include bnd((pd:10 0));
	@include bdr((p:t b,s:s,w:2,c:mx));
}
h2.is-style-header{
	@include bdr((p:b,s:s,w:2,c:mx));
}
h3.is-style-header{
	@include bdr((p:b,s:d,w:3,c:mx));
}
h4.is-style-header{
	@include bnd((pdl:1em));
	@include bdr((p:l,s:s,w:.5em,c:mx));
}
h5.is-style-header{
	@include bdr((p:b,s:s,w:1,c:tx 1 .5));
}
h6.is-style-header{
	@include bdr((p:b,s:d,w:1,c:tx 1 .5));
}

@for $i from 1 through 6{
	h#{$i}{
		&.is-style-header,&.is-style-headline{
			@include txt((p:10 + 72 / $i));
		}
		&.is-style-catch{
			@include txt((p:70 - 10 * $i));
		}
	}
}