.wp-block-heading.is-style-header {
  padding: 0rem;
  margin: 1em auto;
  max-width: 60rem;
  width: auto;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
  font-weight: 700;
  line-height: 1.5em;
}
.wp-block-heading.is-style-headline {
  margin: 1.5em auto;
  max-width: 60rem;
  width: auto;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
  font-weight: 300;
  line-height: 1.5em;
}
.wp-block-heading.is-style-catch {
  margin: 1.5em auto;
  max-width: 60rem;
  width: auto;
  color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
  font-weight: 300;
  line-height: 2em;
}
.wp-block-heading.is-style-header:first-child, .wp-block-heading.is-style-headline:first-child, .wp-block-heading.is-style-catch:first-child {
  margin-top: 0rem;
}
h1.is-style-header {
  padding: 0.625rem 0rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 0.125rem;
  border-bottom-width: 0.125rem;
  border-top-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
  border-bottom-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
h2.is-style-header {
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
h3.is-style-header {
  border-bottom-style: dotted;
  border-bottom-width: 0.1875rem;
  border-bottom-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
h4.is-style-header {
  padding-left: 1em;
  border-left-style: solid;
  border-left-width: 0.5em;
  border-left-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
h5.is-style-header {
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),calc(100% - var(--cp-tones-tx-t) * 100),calc(var(--cp-tones-tx-a,1) * 0.5));
}
h6.is-style-header {
  border-bottom-style: dotted;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),calc(100% - var(--cp-tones-tx-t) * 100),calc(var(--cp-tones-tx-a,1) * 0.5));
}
h1.is-style-header, h1.is-style-headline {
  font-size: 5.125rem;
}
h1.is-style-catch {
  font-size: 3.75rem;
}
h2.is-style-header, h2.is-style-headline {
  font-size: 2.875rem;
}
h2.is-style-catch {
  font-size: 3.125rem;
}
h3.is-style-header, h3.is-style-headline {
  font-size: 2.125rem;
}
h3.is-style-catch {
  font-size: 2.5rem;
}
h4.is-style-header, h4.is-style-headline {
  font-size: 1.75rem;
}
h4.is-style-catch {
  font-size: 1.875rem;
}
h5.is-style-header, h5.is-style-headline {
  font-size: 1.525rem;
}
h5.is-style-catch {
  font-size: 1.25rem;
}
h6.is-style-header, h6.is-style-headline {
  font-size: 1.375rem;
}
h6.is-style-catch {
  font-size: 0.625rem;
}
/*# sourceMappingURL=./style.css.map */