@import "admin_style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

h1,h2,h3,h4,h5,h6{
	&.is-style-header{
		@extend %header-component;
	}
	&.is-style-headline{
		@include bnd((pd:sp-h,pdi:0,pdt:0));
		@include bdr((p:b,s:s,w:c-h,c:tx 1 .5));
		@include txt((c:tx));
		&::after{
			content:'';
			@include bnd((d:b,p:a,l:0,t:f,w:6em,h:bw(c-h)));
			@include bg((c:a));
		}
	}
	&.is-style-catch{
		@include txt((c:mx));
	}
	&.is-style-header,
	&.is-style-headline,
	&.is-style-catch{
		@extend %heading-block;
		@extend %heading;
		@include bnd((p:r));
	}
}
h1,h2,h3{
	&.is-style-header{
		@include bg((c:mx));
		@include txt((c:ix));
	}
}
h4,h5,h6{
	&.is-style-header{
		@include bg((c:sx));
		@include txt((c:tx));
	}
}

@for $i from 1 through 6{
	h#{$i}{
		&.is-style-header,
		&.is-style-headline,
		&.is-style-catch{
			--cp-heading-margin-top:var(--cp-size-hmgt-#{$i});
			--cp-heading-margin-bottom:var(--cp-size-hmgb-#{$i});
			@include txt((p:h- + $i));
		}
	}
}
