@import 'catpow.scss';
@import 'fontawesome.scss';
$sizeUnit:0.0625rem;
$colors:(
	at:var(--wp-admin-theme-color),
	c:currentColor
);

.components{
	&-button-group{
		@include bnd((d:f));
	}
	&-panel{
		div.sub{
			@include bnd((pdl:10,mgb:20));
			@include bdr((p:l,s:s,w:5,c:#eee));
		}
		img.selectImage{
			@include bnd((w:100,h:a));
		}
	}
}
.cp{
	&-selectbuttons{
		@include bnd((w:max));
	}
	&-embeddedcontent{
		@include bnd((p:r,h:50 a,pdt:20));
		&>.label{
			@include bnd((p:a,r:0,t:0,pd:5 10,z:10));
			@include bg((c:b));
			@include txt((a:c,p:10,h:10,f:g,w:r,c:t));
			@include shd((b:1));
		}
	}
	&-altcontent{
		@include bnd((p:r,h:50 a,pdt:20,mg:0 a));
		@include bdr((s:s,w:1,c:t 50));
		&>.label{
			@include bnd((p:a,r:0,t:0,pd:.25em,z:10));
			@include bg((c:wp));
			@include txt((a:c,p:12,h:10,f:g,w:r,c:b));
			@include shd((b:1));
		}
	}
	&-collapsiblecontent{
		$block:&;
		@include bnd((p:r));
		@include grd((tr:80 a));
		&__label{
			@include bnd((d:b,p:r,w:fit,h:fit,mg:a,pd:10 40));
			@include bg((c:b));
			@include bdr((s:s,w:2,r:30));
			@include shd((b:2));
			@include usr((c:p));
			&::before{
				content:'';
				@include bnd((d:b,p:a,i:0,mg:a,mgl:10,w:10,h:10));
				@include bdr((p:b r,s:s,w:2));
				@include trn((t:.5s,r:45deg,y:-5));
			}
		}
		&__body{
			@include bnd((p:r,h:a 100vh,o:h));
			@include trn((t:.5s));
		}
		&.is-close{
			#{$block}{
				&__label::before{
					@include trn((r:-45deg,y:0));
				}
				&__body{
					@include bnd((h:a 0));
				}
			}
		}
	}
	&-selectposition{
		@include tbl(());
		&__body{
			&-row{
				&-cell{
					@include bnd((w:20,h:20));
					@include bdr((s:s,w:1,c:t 20));
					&.is-active{
						@include bg((c:wp));
					}
					&.is-disabled{
						@include bg((c:t 10));
					}
				}
			}
		}
	}
	&-message{
		@include bnd((pd:20));
		&__body{
			@include bnd((pd:20));
			@include bdr((w:3,s:s,r:10));
			@include txt((ws:p,c:t-i 60,s:b,f:t,p:16,h:1.5em));
		}
	}
	&-boundingbox{
		@include bnd((p:r,bs:b,z:1000));
		@include bdr((s:s,w:2,c:wp));
		@include usr((e:n));
		&.is-doing-action::before{
			content: '';
			@include bnd((d:b,p:f,i:0,z:1000));
			@include usr((e:a));
		}
		&-controls{
			&-control{
				@include usr((e:a));
				&.is-size-control{
					@include bnd((p:a,i:0,mg:a,w:10,h:10,bs:b));
					@include bg((c:b));
					@include bdr((s:s,w:2,c:wp));
					&.is-top{@include bnd((mgt:-5));}
					&.is-bottom{@include bnd((mgb:-5));}
					&.is-left{@include bnd((mgl:-5));}
					&.is-right{@include bnd((mgr:-5));}
					&.is-ns{@include usr((c:ns-resize));}
					&.is-ew{@include usr((c:ew-resize));}
					&.is-nwse{@include usr((c:nwse-resize));}
					&.is-nesw{@include usr((c:nesw-resize));}
				}
				&.is-position-control{
					@include bnd((p:a,i:0,mg:a,w:20,h:20,bs:b));
					@include bg((c:b));
					@include bdr((s:s,w:2,c:wp,r:50%));
					@include usr((c:move));
				}
			}
		}
	}
	&-selectthemecolor{
		&-colors,&-tones{
			&-icon{
				@include bnd((mg:0,pd:0 4));
				@include txt((c:t 1 .2));
				svg{
					@include bnd((w:20,h:20));
					@include svg((f:c));
				}
				&.is-active{
					@include txt((c:at));
				}
			}
			&-item{
				@include bnd((f:1 1 10,h:20,mg:0,pd:0));
				@include usr((c:p));
				@include bg((c:m));
				@include bdr((p:t,s:s,w:10,c:a));
				&:not(.is-active){@include trn((o:.2));}
			}
		}
		&-colors{
			@include bnd((w:220,mg:2 0));
			@include flx((w:n));
			@include txt((l:n));
		}
		&-tones{
			@include bnd((w:220,mg:8 0));
			@include flx((w:n));
			@include txt((l:n));
		}
	}
	&-placedpictures{
		&.is-edit-mode{
			@include bnd((z:1000));
			@include bdr((s:s,w:1,c:wp));
			@include bg((c:b 1 .5));
			&::before,&::after{
				content:'';
				@include bnd((d:b,p:a,i:0,mg:a));
				@include bdr((s:s,w:1,c:wp));
				@include usr((e:n));
			}
			&::before{
				@include bnd((w:30%));
				@include bdr((p:t b,s:n));
			}
			&::after{
				@include bnd((h:30%));
				@include bdr((p:l r,s:n));
			}
		}
	}
	&-link{
		@include bnd((d:b,p:r));
		&-input{
			@include bnd((d:b,p:a,w:1em fit,h:1em,pd:.25em 1em,b:-2em,l:-200,r:-200,mg:a));
			@include bg((c:b));
			@include txt((p:12,h:1em,c:t));
			@include shd((b:2));
			@include trn((t:.2s,o:1,y:0));
			&:empty:before{
				content:'Input URL';
				@include trn((o:.5));
			}
		}
		&:not(.is-selected) &{
			&-input{
				@include trn((o:0,y:-.5em));
				@include usr((e:n));
			}
		}
	}
	&-rtf{
		@include bnd((p:r));
		@include usr((c:p));
		&:empty::before{
			content:'Text';
		}
		&-portal{
			@include bnd((p:f,w:f 960,l:0,r:0,b:0,mgi:a,z:10000));
			@include grd((tc:1fr 1fr));
			@include bdr((r:8 8 0 0));
			@include bg((c:b));
			@include shd((b:8));
			@include trn((t:.5s,y:0));
			&:not(.is-active){
				@include trn((y:f));
			}
			&-preview{
				@include bnd((pd:20,h:a 80vh,oy:a));
			}
			&-input{
				@include bg((c:s));
				@include grd((tr:1fr a));
				&-edit{
					@include bnd((d:b,w:f,h:300 a 80vh,pd:1em,bs:b));
					@include bg((c:n));
					@include bdr((s:n));
					@include txt((p:16,h:1.5em,c:t));
					@include trn((t:.2s,o:1,s:1));
				}
				&-buttons{
					@include bnd((pd:12));
					@include flx((w:n,g:12));
					&-button{
						@include bnd((pd:.5em 1em,f:1 1 120));
						@include bdr((s:s,w:2,r:4));
						@include txt((a:c,p:16));
						@include usr((c:p));
						&.is-reset{
							@include bg((c:s));
							@include txt((c:t));
						}
						&.is-save{
							@include bg((c:wp));
							@include bdr((c:wp));
							@include txt((c:i));
						}
					}
				}
			}
		}
		&:not(.is-active) &{
			&-portal{
				&-input{
					&-edit{
						@include trn((o:0,s:1.01));
						@include usr((e:n));
					}
				}
			}
		}
	}
	&-selectresponsiveimage{
		&.is-video,&.is-img,&.is-picture,&-img{
			@include bnd((d:b,op:c,of:i));
			@include shd((b:2));
			@include bg((c:#ccc));
			.editor-sidebar &{
				@include bnd((w:160,h:90,mgb:16));
			}
		}
		&__controls{
			@include bnd((d:b,p:a,t:0,r:0,w:60% 160,h:a,pd:4));
			@include bdr((r:4));
			@include bg((c:b));
			@include shd((b:4));
		}
	}
	&-selectpicturesources{
		@include bnd((w:f));
		&.is-compact{
			@include bnd((w:100));
		}
		&__tbody{
			&-tr{
				&-td{
					@include bnd((p:r));
					@include bg((c:#ddd));
					&-label{
						@include bnd((p:a,r:0,t:0,pd:.25em,z:10));
						@include bg((c:wp));
						@include txt((a:c,p:12,h:10,f:g,w:r,c:i));
						@include shd((b:1));
					}
				}
			}
		}
		&-image{
			$block:&;
			&-img{
				@include bnd((op:c,of:i));
				#{$block}.is-device-pc &{
					@include bnd((a:16/9));
				}
				#{$block}.is-device-tb &{
					@include bnd((a:6/4));
				}
				#{$block}.is-device-sp &{
					@include bnd((a:2/3));
				}
			}
		}
	}
	&-customcolorvars{
		&-items{
			@include bnd((pd:16));
			@include flx((w:w));
			&:not(.is-active){
				@include bnd((d:n));
			}
			&-item{
				@include bnd((f:1 1 30%));
				@include usr((c:p));
				&-chip{
					@include bnd((h:60));
					@include flx((w:w,a:c,j:c));
					&-label{
						@include txt((a:c,p:12,c:white));
						@include shd((ts:1));
					}
				}
			}
		}
	}
	&-navbar{
		@include bnd((pd:8));
		&-items{
			@include bnd((pd:0,mg:0,w:fit,o:h));
			@include flx((w:n,j:s));
			@include shd((b:2));
			@include bdr((r:2em));
			@include txt((l:n,p:14,h:1em));
			&-item{
				@include bnd((f:0 1 a,pd:.5em));
				@include usr((c:p));
				&.is-label{
					@include bnd((pd:.5em 1em));
				}
				&.is-active{
					@include bg((c:m));
					@include txt((c:i));
				}
				&:not(:first-child){
					@include bdr((p:l,s:s,w:1,c:shd));
				}
			}
		}
	}
	&-edititemstable{
		@include tbl(());
		@include bnd((mg:20 a));
		&-thead,&-tbody{
			&-tr{
				&-th,&-td{
					@include bnd((p:r,pd:.5em,w:6em a 30em));
					@include bdr((s:s,w:1,c:t 50));
					@include txt((p:12,c:t));
				}
			}
		}
		&-thead{
			&-tr{
				&-th{
					@include bg((c:s));
				}
			}
		}
		&-tbody{
			&-tr{
				&-th{
					@include bg((c:s));
				}
				&-td{
					@include bg((c:b));
					&>img{
						@include bnd((w:6em,h:a));
					}
					.itemControl{
						@include bnd((p:s));
					}
					.SelectPictureSources{
						@include bnd((w:100));
					}
				}
			}
		}
	}
	&-itemcontrol{
		$block:&;
		@include bnd((pd:2 5,p:r,w:fit,h:fit));
		@include txt((a:c,p:12,h:10));
		@include bg((c:b));
		@include bdr((r:10));
		@include shd((b:1));
		@include flx((w:n,j:a));
		&.is-position-absolute{
			@include bnd((p:a,t:0,r:0,z:1000));
		}
		&-button{
			@include bnd((d:ib,mg:2));
			@include txt((a:c,p:12,h:10,c:t));
			@include usr((c:p));
			@include trn((t:.5s,o:.7));
			&.is-delete::before{
				@include ico('minus');
			}
			&.is-clone::before{
				@include ico('plus');
			}
			&.is-up::before{
				@include ico('chevron-circle-up');
			}
			&.is-down::before{
				@include ico('chevron-circle-down');
			}
			&.is-left::before{
				@include ico('chevron-circle-left');
			}
			&.is-right::before{
				@include ico('chevron-circle-right');
			}
			&.is-edit::before{
				@include ico('pen');
			}
			&:hover{
				@include trn((o:1));
			}
		}
		&-inputs{
			@include bnd((d:b,p:a,w:200,pd:10,t:f,r:0,mg:0 a,z:1001));
			@include bg((c:b));
			@include bdr((r:5));
			@include txt((a:l));
			@include trn((t:.5s,o:0,y:-10));
			@include usr((e:n));
			&-sub{
				@include bnd((pdl:10,mgb:20));
				@include bdr((p:l,s:s,w:5,c:#eee));
			}
		}
		&.is-open{
			@include bnd((z:1001));
			#{$block}{
				&-btn{
					&.is-edit{@include trn((o:1));}
				}
				&-inputs{
					@include bnd((d:b));
					@include trn((o:.8,y:0));
					@include usr((e:a));
				}
			}
		}
		
	}
	&-datasetinput{
		&-row{
			@include bnd((d:b,p:r,mg:8,pd:8));
			@include bdr((r:8));
			@include shd((b:1));
			&-items{
				&-item{
					
				}	
			}
			&-button{
				@include bnd((d:b,p:r,h:20));
				@include bdr((r:8));
				@include bg((c:t 1 .25));
				&.is-button-append{
					&::before,&::after{
						content:'';
						@include bnd((d:b,p:a,i:0,mg:a,w:16,h:2));
						@include bg((c:i));
					}
					&::after{
						@include trn((r:90deg));
					}
				}
			}
		}
	}
	&-positioninput{
		@include bnd((w:fit,mgi:a));
		@include grd((tc:a a,ai:c,g:8));
		&__input{

		}
		&__controls{
			&-icon{
				&.is-active{
					@include txt((c:wp));
				}
			}
		}
	}
	&-selectcolor{
		@include bnd((w:220));
		@include txt((l:n));
		li{
			@include bnd((d:ib,p:r,w:20,h:20,mg:5));
			@include usr((c:p));
			&.fillColor{
				@include bg((c:m));
				&.color0{
					@include bg((c:shd));
				}
			}
			&::after{
				content: ' ';
				@include bnd((d:b,p:a,t:1,b:1,l:1,r:1));
				@include bg((c:b));
			}
			&.relative{
				@include bdr((r:50%));
				&::after{
					@include bdr((r:50%));
				}
			}
			&.active::after{@include bnd((d:n));}
		}
	}
	&-selectpattern{
		@include txt((l:n));
		@include flx((w:w));
		li{
			@include bnd((f:1 1 30%,pdt:30%,mg:0));
			@include bg((c:t 50,s:50% a));
			@include usr((c:p));
			&.active{@include bg((c:wp));}
		}
	}
	&-selectpreparedimage{
		@include flx((w:w));
		@include bg((c:t 20));
		@include bdr((s:s,w:1,c:t 10));
		.item{
			@include bnd((f:0 0 10%,bs:b));
			@include usr((c:p));
			img{
				@include bnd((w:f,h:a));
			}
			&.active{
				@include bg((c:wp));
			}
		}
	}
	&-selectpreparedimageset{
		@include flx((w:w));
		@include bg((c:t 20));
		@include bdr((s:s,w:1,c:t 10));
		.item{
			@include bnd((f:0 0 33%,bs:b));
			@include usr((c:p));
			img{
				@include bnd((w:f,h:a));
			}
			&.active{
				@include bg((c:wp));
			}
		}
	}
	&-selectgridbuttons{
		@include bnd((mg:0));
		@for $c from 2 through 6{
			&.col#{$c}{
				@include flx((w:w,c:$c));
			}
		}
		.item{
			@include bnd((pd:10 5,mg:0 0 -1 -1,bs:b));
			@include bdr((s:s,w:1,c:t));
			@include txt((a:c,p:13,h:1em,c:t));
			@include usr((c:p));
			&.active{
				@include bg((c:wp));
				@include txt((c:i));
			}
		}
	}
	&-datainputtable{
		@include tbl((s:2));
		&__head{
			&__row{
				&__cell{
					@include bnd((pd:4));
					@include txt((w:r));
					@include bg((c:t 10));
				}
			}
		}
		&__body{
			&__row{
				&__cell{
					@include bnd((pd:4));
					@include bg((c:t 5));
				}
			}
		}
	}

	&-datastructure{
		.item{
			@include bnd((pd:0,mg:0));
			.title{
				@include bnd((pd:.1em 0,pdl:1em,p:r,mg:0));
				@include txt((p:12,w:r));
				@include usr((c:p));
				.name{
					@include bnd((d:ib,mgl:1em));
					@include txt((p:.8em,c:t 50));
				}
			}
			&.hasChildren{
				&>.title{
					&::before{
						content:'▶︎';
						@include bnd((d:b,p:a,t:.3em,b:0,l:0,mg:a));
						@include txt((p:.7em,c:t 50));
					}
				}
				&.open{
					&>.title{
						&::before{
							@include trn((r:90deg));
						}
					}
				}
			}
			.children{
				@include bnd((pdl:1em));
			}
		}
	}

	&-eventinputcard{
		&__header{
			
		}
		&__body{
			
		}
		&__footer{
			@include txt((p:10,b:b));
		}
		&__item{
			@include flx((w:w,g:5,a:c));
			@include bnd((pd:5 0));
			&__pref{
				@include bnd((f:0 0 a,mgb:8));
			}
			&__title{
				@include bnd((f:0 0 80,mgb:8));
				@include txt((b:k));
			}
			&__inputs{
				@include bnd((f:1 1 80));
			}
			&.is-type-data &,
			&.is-type-buttons &,
			&.is-type-gridbuttons &{
				&__inputs{
					@include bnd((f:1 1 f));
				}
			}
		}
	}
}