@charset "UTF-8";
.components-panel div.sub {
  padding-left: 0.625rem;
  margin-bottom: 1.25rem;
  border-left-style: solid;
  border-left-width: 0.3125rem;
  border-left-color: #eee;
}
.components-panel img.selectImage {
  width: 6.25rem;
  height: auto;
}
.selectButtons {
  width: max-content;
}
.embedded_content {
  position: relative;
  min-height: 3.125rem;
  height: auto;
  padding-top: 1.25rem;
}
.embedded_content > .label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.3125rem 0.625rem;
  z-index: 10;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.alt_content {
  position: relative;
  min-height: 3.125rem;
  height: auto;
  padding-top: 1.25rem;
  margin: 0rem auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.alt_content > .label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.25em;
  z-index: 10;
  background-color: var(--wp-admin-theme-color);
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.collapsible_content {
  padding-top: 4.375rem;
  max-height: 0rem;
  height: auto;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.collapsible_content > .label {
  display: block;
  position: absolute;
  top: 0.625rem;
  left: 0rem;
  right: 0rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0.625rem 2.5rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 1.875rem;
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  cursor: pointer;
}
.collapsible_content > .label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  margin-left: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-bottom-style: solid;
  border-right-style: solid;
  border-bottom-width: 0.125rem;
  border-right-width: 0.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: -webkit- rotateZ(-45deg) translateY(0rem);
  transform: rotateZ(-45deg) translateY(0rem);
}
.collapsible_content.open {
  max-height: 100vh;
  height: auto;
}
.collapsible_content.open > .label::before {
  transform: -webkit- rotateZ(45deg) translateY(-0.3125rem);
  transform: rotateZ(45deg) translateY(-0.3125rem);
}
.selectPosition {
  border-collapse: collapse;
  border-spacing: 0px;
}
.selectPosition td {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
}
.selectPosition td.active {
  background-color: var(--wp-admin-theme-color);
}
.selectPosition td.disable {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.CP-Message {
  padding: 1.25rem;
}
.CP-Message__body {
  padding: 1.25rem;
  border-width: 0.1875rem;
  border-style: solid;
  border-radius: 0.625rem;
  color: hsla(calc(var(--cp-tones-t-h) * 0.6 + var(--cp-tones-i-h) * 0.4),calc(var(--cp-tones-t-s) * 0.6 + var(--cp-tones-i-s) * 0.4),calc(var(--cp-tones-t-l) * 0.6 + var(--cp-tones-i-l) * 0.4),1.0);
  font-weight: bold;
  font-family: var(--cp-fonts-t);
  font-size: 1rem;
  line-height: 1.5em;
}
.CP-BoundingBox {
  position: relative;
  box-sizing: border-box;
  z-index: 1000;
  border-style: solid;
  border-width: 0.125rem;
  border-color: var(--wp-admin-theme-color);
  pointer-events: none;
}
.CP-BoundingBox.is-doing-action::before {
  content: "";
  display: block;
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  z-index: 1000;
  pointer-events: auto;
}
.CP-BoundingBox-controls-control {
  pointer-events: auto;
}
.CP-BoundingBox-controls-control.is-size-control {
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 0.625rem;
  height: 0.625rem;
  box-sizing: border-box;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-style: solid;
  border-width: 0.125rem;
  border-color: var(--wp-admin-theme-color);
}
.CP-BoundingBox-controls-control.is-size-control.is-top {
  margin-top: -0.3125rem;
}
.CP-BoundingBox-controls-control.is-size-control.is-bottom {
  margin-bottom: -0.3125rem;
}
.CP-BoundingBox-controls-control.is-size-control.is-left {
  margin-left: -0.3125rem;
}
.CP-BoundingBox-controls-control.is-size-control.is-right {
  margin-right: -0.3125rem;
}
.CP-BoundingBox-controls-control.is-size-control.is-ns {
  cursor: ns-resize;
}
.CP-BoundingBox-controls-control.is-size-control.is-ew {
  cursor: ew-resize;
}
.CP-BoundingBox-controls-control.is-size-control.is-nwse {
  cursor: nwse-resize;
}
.CP-BoundingBox-controls-control.is-size-control.is-nesw {
  cursor: nesw-resize;
}
.CP-BoundingBox-controls-control.is-position-control {
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-style: solid;
  border-width: 0.125rem;
  border-color: var(--wp-admin-theme-color);
  border-radius: 50%;
  cursor: move;
}
.CP-SelectThemeColor-colors-icon, .CP-SelectThemeColor-tones-icon {
  margin: 0rem;
  padding: 0rem 0.25rem;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.2);
}
.CP-SelectThemeColor-colors-icon svg, .CP-SelectThemeColor-tones-icon svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}
.CP-SelectThemeColor-colors-icon.active, .CP-SelectThemeColor-tones-icon.active {
  color: var(--wp-admin-theme-color);
}
.CP-SelectThemeColor-colors-item, .CP-SelectThemeColor-tones-item {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0.625rem;
  height: 1.25rem;
  margin: 0rem;
  padding: 0rem;
  cursor: pointer;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  border-top-style: solid;
  border-top-width: 0.625rem;
  border-top-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
.CP-SelectThemeColor-colors-item:not(.active), .CP-SelectThemeColor-tones-item:not(.active) {
  opacity: 0.2;
}
.CP-SelectThemeColor-colors {
  width: 13.75rem;
  margin: 0.125rem 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
}
.CP-SelectThemeColor-tones {
  width: 13.75rem;
  margin: 0.5rem 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
}
.CP-PlacedPictures.is-edit-mode {
  z-index: 1000;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: var(--wp-admin-theme-color);
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),calc(100% - var(--cp-tones-b-t) * 100),0.5);
}
.CP-PlacedPictures.is-edit-mode::before, .CP-PlacedPictures.is-edit-mode::after {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: var(--wp-admin-theme-color);
  pointer-events: none;
}
.CP-PlacedPictures.is-edit-mode::before {
  width: 30%;
  border-top-style: none;
  border-bottom-style: none;
}
.CP-PlacedPictures.is-edit-mode::after {
  height: 30%;
  border-left-style: none;
  border-right-style: none;
}
.CP-Link {
  position: relative;
}
.CP-Link-input {
  display: block;
  position: absolute;
  min-width: 1em;
  width: fit-content;
  height: 1em;
  padding: 0.25em 1em;
  bottom: -2em;
  left: -12.5rem;
  right: -12.5rem;
  margin: auto;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  font-size: 0.75rem;
  line-height: 1em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
}
.CP-Link-input:empty:before {
  content: "Input URL";
  opacity: 0.5;
}
.CP-Link:not(.is-selected) .CP-Link-input {
  opacity: 0;
  transform: -webkit- translateY(-0.5em);
  transform: translateY(-0.5em);
  pointer-events: none;
}
.CP-RTF {
  position: relative;
  cursor: pointer;
}
.CP-RTF-contents:empty::before {
  content: "Text";
}
.CP-RTF-portal {
  position: fixed;
  max-width: 60rem;
  width: 100%;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  margin-inline: auto;
  z-index: 10000;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 8px 17px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
}
.CP-RTF-portal:not(.is-active) {
  transform: -webkit- translateY(100%);
  transform: translateY(100%);
}
.CP-RTF-portal-preview {
  padding: 1.25rem;
}
.CP-RTF-portal-input {
  background-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),1);
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}
.CP-RTF-portal-input-edit {
  display: block;
  width: 100%;
  min-height: 18.75rem;
  height: auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  font-size: 1rem;
  line-height: 1.5em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  transform: -webkit- scale(1);
  transform: scale(1);
}
.CP-RTF-portal-input-buttons {
  padding: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 0.75rem;
}
.CP-RTF-portal-input-buttons-button {
  padding: 0.5em 1em;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 7.5rem;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.CP-RTF-portal-input-buttons-button.is-reset {
  background-color: hsla(var(--cp-tones-s-h),var(--cp-tones-s-s),var(--cp-tones-s-l),1);
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
.CP-RTF-portal-input-buttons-button.is-save {
  background-color: var(--wp-admin-theme-color);
  border-color: var(--wp-admin-theme-color);
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
}
.CP-RTF:not(.is-active) .CP-RTF-portal-input-edit {
  opacity: 0;
  transform: -webkit- scale(1.01);
  transform: scale(1.01);
  pointer-events: none;
}
.CP-SelectResponsiveImage.is-video, .CP-SelectResponsiveImage.is-img, .CP-SelectResponsiveImage.is-picture, .CP-SelectResponsiveImage-img {
  display: block;
  width: 100%;
  height: auto;
}
.CP-SelectPictureSources {
  width: 100%;
}
.CP-SelectPictureSources.is-compact {
  width: 6.25rem;
}
.CP-SelectPictureSources-tbody-tr-td {
  position: relative;
}
.CP-SelectPictureSources-tbody-tr-td-label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.25em;
  z-index: 10;
  background-color: var(--wp-admin-theme-color);
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.CP-CustomColorVars-items {
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.CP-CustomColorVars-items:not(.is-active) {
  display: none;
}
.CP-CustomColorVars-items-item {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  cursor: pointer;
}
.CP-CustomColorVars-items-item-chip {
  height: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.CP-CustomColorVars-items-item-chip-label {
  text-align: center;
  font-size: 0.75rem;
  color: white;
  text-shadow: 0px 1px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 0.6px 0.8px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 0.8px 0.6px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 1px 0px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 0.8px -0.6px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 0.6px -0.8px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), 0px -1px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), -0.6px -0.8px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), -0.8px -0.6px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), -1px 0px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), -0.8px 0.6px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)), -0.6px 0.8px 0.5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.CP-NavBar {
  padding: 0.5rem;
}
.CP-NavBar-items {
  padding: 0rem;
  margin: 0rem;
  width: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  border-radius: 2em;
  list-style: none;
  font-size: 0.875rem;
  line-height: 1em;
}
.CP-NavBar-items-item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 0.5em;
  cursor: pointer;
}
.CP-NavBar-items-item.is-label {
  padding: 0.5em 1em;
}
.CP-NavBar-items-item.is-active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
}
.CP-NavBar-items-item:not(:first-child) {
  border-left-style: solid;
  border-left-width: 0.0625rem;
  border-left-color: hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.CP-EditItemsTable {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 1.25rem auto;
}
.CP-EditItemsTable-thead-tr-th, .CP-EditItemsTable-thead-tr-td, .CP-EditItemsTable-tbody-tr-th, .CP-EditItemsTable-tbody-tr-td {
  padding: 0.5em;
  min-width: 6em;
  max-width: 30em;
  width: auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
  font-size: 0.75rem;
}
.CP-EditItemsTable-thead-tr-th {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),1);
}
.CP-EditItemsTable-tbody-tr-th {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 3),1);
}
.CP-EditItemsTable-tbody-tr-td > img {
  width: 6em;
  height: auto;
}
.CP-EditItemsTable-tbody-tr-td .itemControl {
  position: sticky;
}
.CP-EditItemsTable-tbody-tr-td .SelectPictureSources {
  width: 6.25rem;
}
.CP-ItemControl {
  padding: 0.125rem 0.3125rem;
  position: relative;
  width: fit-content;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 0.625rem;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.CP-ItemControl.is-position-absolute {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1000;
}
.CP-ItemControl-button {
  display: inline-block;
  margin: 0.125rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
}
.CP-ItemControl-button.is-delete::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-clone::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-up::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-down::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-left::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-right::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button.is-edit::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.CP-ItemControl-button:hover {
  opacity: 1;
}
.CP-ItemControl-inputs {
  display: block;
  position: absolute;
  width: 12.5rem;
  padding: 0.625rem;
  top: 100%;
  right: 0rem;
  margin: 0rem auto;
  z-index: 1001;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 0.3125rem;
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateY(-0.625rem);
  transform: translateY(-0.625rem);
  pointer-events: none;
}
.CP-ItemControl-inputs-sub {
  padding-left: 0.625rem;
  margin-bottom: 1.25rem;
  border-left-style: solid;
  border-left-width: 0.3125rem;
  border-left-color: #eee;
}
.CP-ItemControl.is-open {
  z-index: 1001;
}
.CP-ItemControl.is-open .CP-ItemControl-btn.is-edit {
  opacity: 1;
}
.CP-ItemControl.is-open .CP-ItemControl-inputs {
  display: block;
  opacity: 0.8;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
  pointer-events: auto;
}
.CP-DataSetInput-row {
  display: block;
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.CP-DataSetInput-row-button {
  display: block;
  position: relative;
  height: 1.25rem;
  border-radius: 0.5rem;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),0.25);
}
.CP-DataSetInput-row-button.is-button-append::before, .CP-DataSetInput-row-button.is-button-append::after {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 1rem;
  height: 0.125rem;
  background-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
}
.CP-DataSetInput-row-button.is-button-append::after {
  transform: -webkit- rotateZ(90deg);
  transform: rotateZ(90deg);
}
.selectColor {
  width: 13.75rem;
  list-style: none;
}
.selectColor li {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem;
  cursor: pointer;
}
.selectColor li.fillColor {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectColor li.fillColor.color0 {
  background-color: hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.selectColor li::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.0625rem;
  bottom: 0.0625rem;
  left: 0.0625rem;
  right: 0.0625rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.selectColor li.relative {
  border-radius: 50%;
}
.selectColor li.relative::after {
  border-radius: 50%;
}
.selectColor li.active::after {
  display: none;
}
.selectPattern {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectPattern li {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  padding-top: 30%;
  margin: 0rem;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
  background-size: 50% auto;
  cursor: pointer;
}
.selectPattern li.active {
  background-color: var(--wp-admin-theme-color);
}
.selectPreparedImage {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.selectPreparedImage .item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  box-sizing: border-box;
  cursor: pointer;
}
.selectPreparedImage .item img {
  width: 100%;
  height: auto;
}
.selectPreparedImage .item.active {
  background-color: var(--wp-admin-theme-color);
}
.selectPreparedImageSet {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.selectPreparedImageSet .item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;
  box-sizing: border-box;
  cursor: pointer;
}
.selectPreparedImageSet .item img {
  width: 100%;
  height: auto;
}
.selectPreparedImageSet .item.active {
  background-color: var(--wp-admin-theme-color);
}
.selectGridButtons {
  margin: 0rem;
}
.selectGridButtons.col2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col2 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col2 > * {
  flex-basis: 100%;
}
.selectGridButtons.col2 > *:first-child:nth-last-child(2n), .selectGridButtons.col2 > *:first-child:nth-last-child(2n) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col3 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col3 > *:first-child:nth-last-child(1), .selectGridButtons.col3 > *:first-child:nth-last-child(1) ~ * {
  flex-basis: 100%;
}
.selectGridButtons.col3 > *, .selectGridButtons.col3 > *:first-child:nth-last-child(2), .selectGridButtons.col3 > *:first-child:nth-last-child(2) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col3 > *:first-child:nth-last-child(3n), .selectGridButtons.col3 > *:first-child:nth-last-child(3n) ~ *, .selectGridButtons.col3 > *:nth-child(2n):nth-last-child(3n + 1) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col4 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col4 > *:first-child:nth-last-child(2), .selectGridButtons.col4 > *:first-child:nth-last-child(2) ~ *, .selectGridButtons.col4 > *:first-child:nth-last-child(5), .selectGridButtons.col4 > *:first-child:nth-last-child(5) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col4 > *, .selectGridButtons.col4 > *:first-child:nth-last-child(3), .selectGridButtons.col4 > *:first-child:nth-last-child(3) ~ *, .selectGridButtons.col4 > *:first-child:nth-last-child(5) ~ *:nth-child(2n):nth-last-child(3n + 1) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col4 > *:first-child:nth-last-child(4n), .selectGridButtons.col4 > *:first-child:nth-last-child(4n) ~ *, .selectGridButtons.col4 > *:nth-child(3n):nth-last-child(4n + 1) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col5 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(3), .selectGridButtons.col5 > *:first-child:nth-last-child(3) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(7), .selectGridButtons.col5 > *:first-child:nth-last-child(7) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(11), .selectGridButtons.col5 > *:first-child:nth-last-child(11) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col5 > *, .selectGridButtons.col5 > *:first-child:nth-last-child(4), .selectGridButtons.col5 > *:first-child:nth-last-child(4) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(7) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(8), .selectGridButtons.col5 > *:first-child:nth-last-child(8) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(11) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(5n), .selectGridButtons.col5 > *:first-child:nth-last-child(5n) ~ *, .selectGridButtons.col5 > *:nth-child(4n):nth-last-child(5n + 1) ~ * {
  flex-basis: 20%;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(6), .selectGridButtons.col5 > *:first-child:nth-last-child(6) ~ * {
  flex-basis: 16%;
}
.selectGridButtons.col6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col6 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(3), .selectGridButtons.col6 > *:first-child:nth-last-child(3) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(4), .selectGridButtons.col6 > *:first-child:nth-last-child(4) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(8), .selectGridButtons.col6 > *:first-child:nth-last-child(8) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(9), .selectGridButtons.col6 > *:first-child:nth-last-child(9) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(14), .selectGridButtons.col6 > *:first-child:nth-last-child(14) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(19), .selectGridButtons.col6 > *:first-child:nth-last-child(19) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col6 > *, .selectGridButtons.col6 > *:first-child:nth-last-child(5), .selectGridButtons.col6 > *:first-child:nth-last-child(5) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(9) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(10), .selectGridButtons.col6 > *:first-child:nth-last-child(10) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(14) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(15), .selectGridButtons.col6 > *:first-child:nth-last-child(15) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(19) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ * {
  flex-basis: 20%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(6n), .selectGridButtons.col6 > *:first-child:nth-last-child(6n) ~ *, .selectGridButtons.col6 > *:nth-child(5n):nth-last-child(6n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(13), .selectGridButtons.col6 > *:first-child:nth-last-child(13) ~ * {
  flex-basis: 16%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(7), .selectGridButtons.col6 > *:first-child:nth-last-child(7) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(13) ~ *:nth-child(6n):nth-last-child(7n + 1) ~ * {
  flex-basis: 14%;
}
.selectGridButtons .item {
  padding: 0.625rem 0.3125rem;
  margin: 0rem 0rem -0.0625rem -0.0625rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  cursor: pointer;
}
.selectGridButtons .item.active {
  background-color: var(--wp-admin-theme-color);
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.DataInputTable {
  border-collapse: separate;
  border-spacing: 0.125rem;
}
.DataInputTable__head__row__cell {
  padding: 0.25rem;
  font-weight: 400;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.DataInputTable__body__row__cell {
  padding: 0.25rem;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),1);
}
.dataStructure .item {
  padding: 0rem;
  margin: 0rem;
}
.dataStructure .item .title {
  padding: 0.1em 0rem;
  padding-left: 1em;
  position: relative;
  margin: 0rem;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
}
.dataStructure .item .title .name {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.8em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.dataStructure .item.hasChildren > .title::before {
  content: "▶︎";
  display: block;
  position: absolute;
  top: 0.3em;
  bottom: 0rem;
  left: 0rem;
  margin: auto;
  font-size: 0.7em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.dataStructure .item.hasChildren.open > .title::before {
  transform: -webkit- rotateZ(90deg);
  transform: rotateZ(90deg);
}
.dataStructure .item .children {
  padding-left: 1em;
}
.EventInputCard__footer {
  font-size: 0.625rem;
}
.EventInputCard__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.3125rem;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.3125rem 0rem;
}
.EventInputCard__item__pref {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-bottom: 0.5rem;
}
.EventInputCard__item__title {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5rem;
  margin-bottom: 0.5rem;
  word-break: keep-all;
}
.EventInputCard__item__inputs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5rem;
}
.EventInputCard__item.is-type-data .EventInputCard__item__inputs, .EventInputCard__item.is-type-buttons .EventInputCard__item__inputs, .EventInputCard__item.is-type-gridbuttons .EventInputCard__item__inputs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}
/*# sourceMappingURL=./base_style.css.map */