@import 'catpow.scss';
$sizeUnit:0.0625rem;
$colors:(
	at:var(--wp-admin-theme-color)
);

.itemControl{
	@include bnd((pd:2 5,p:r,z:1000));
	@include txt((a:c,p:12,h:10));
	@include bg((c:b));
	@include bdr((r:10));
	@include shd((b:1));
	@include flx((w:n,j:a));
	div.btn{
		@include bnd((d:ib,mg:2));
		@include txt((a:c,p:12,h:10,c:t));
		@include usr((c:p));
		@include trn((t:.5s,o:.7));
		&.delete::before{
			@include ico('minus');
		}
		&.clone::before{
			@include ico('plus');
		}
		&.up::before{
			@include ico('chevron-circle-up');
		}
		&.down::before{
			@include ico('chevron-circle-down');
		}
		&.left::before{
			@include ico('chevron-circle-left');
		}
		&.right::before{
			@include ico('chevron-circle-right');
		}
		&.edit::before{
			@include ico('pen');
		}
		&:hover{
			@include trn((o:1));
		}
	}
	div.inputs{
		@include bnd((d:b,p:a,w:200,pd:10,t:f,r:0,mg:0 a,z:1001));
		@include bg((c:b));
		@include bdr((r:5));
		@include txt((a:l));
		@include trn((t:.5s,o:0,y:-10));
		@include usr((e:n));
		div.sub{
			@include bnd((pdl:10,mgb:20));
			@include bdr((p:l,s:s,w:5,c:#eee));
		}
	}
	&.open{
		@include bnd((z:1001));
		div.btn{
			&.edit{@include trn((o:1));}
		}
		div.inputs{
			@include bnd((d:b));
			@include trn((o:.8,y:0));
			@include usr((e:a));
		}
	}
}

.components-panel{
	div.sub{
		@include bnd((pdl:10,mgb:20));
		@include bdr((p:l,s:s,w:5,c:#eee));
	}
	img.selectImage{
		@include bnd((w:100,h:a));
	}
}
.selectButtons{
	@include bnd((w:max));
}
.embedded_content{
	@include bnd((p:r,h:50 a,pdt:20));
	&>.label{
		@include bnd((p:a,r:0,t:0,pd:5 10,z:10));
		@include bg((c:b));
		@include txt((a:c,p:10,h:10,f:g,w:r,c:t));
		@include shd((b:1));
	}
}
.alt_content{
	@include bnd((p:r,h:50 a,pdt:20,mg:0 a));
	@include bdr((s:s,w:1,c:t 50));
	&>.label{
		@include bnd((p:a,r:0,t:0,pd:.25em,z:10));
		@include bg((c:m));
		@include txt((a:c,p:12,h:10,f:g,w:r,c:b));
		@include shd((b:1));
	}
}
.collapsible_content{
	@include bnd((pdt:70,h:a 0,o:h));
	@include trn((t:.5s));
	>.label{
		@include bnd((d:b,p:a,t:10,l:0,r:0,w:fit,h:fit,mg:a,pd:10 40));
		@include bg((c:b));
		@include bdr((s:s,w:2,r:30));
		@include shd((b:2));
		@include usr((c:p));
		&::before{
			content:'';
			@include bnd((d:b,p:a,i:0,mg:a,mgl:10,w:10,h:10));
			@include bdr((p:b r,s:s,w:2));
			@include trn((t:.5s,r:-45deg,y:0));
		}
	}
	&.open{
		@include bnd((h:a 100vh));
		>.label::before{
			@include trn((r:45deg,y:-5));
		}
	}
}
.selectPosition{
	@include tbl(());
	td{
		@include bnd((w:20,h:20));
		@include bdr((s:s,w:1,c:t 20));
		&.active{
			@include bg((c:m));
		}
		&.disable{
			@include bg((c:t 10));
		}
	}
}
.SelectPictureSources{
	@include bnd((w:f));
	td{
		@include bnd((p:r));
		img.selectImage{
			@include bnd((w:f,h:a));
		}
		&>.label{
			@include bnd((p:a,r:0,t:0,pd:.25em,z:10));
			@include bg((c:m));
			@include txt((a:c,p:12,h:10,f:g,w:r,c:b));
			@include shd((b:1));
		}
	}
}
.CP{
	&-SelectThemeColor{
		&-items{
			@include bnd((w:220,mg:4 0));
			@include flx((w:n));
			@include txt((l:n));
			&-icon{
				@include txt((c:t 1 .2));
				&.active{
					@include txt((c:at));
				}
			}
			&-item{
				@include bnd((f:1 1 10,h:20));
				@include usr((c:p));
				@include bg((c:m));
				@include bdr((p:t,s:s,w:10,c:a));
				&:not(.active){@include trn((o:.2));}
			}
		}
	}
}
.selectColor{
	@include bnd((w:220));
	@include txt((l:n));
	li{
		@include bnd((d:ib,p:r,w:20,h:20,mg:5));
		@include usr((c:p));
		&.fillColor{
			@include bg((c:m));
			&.color0{
				@include bg((c:shd));
			}
		}
		&::after{
			content: ' ';
			@include bnd((d:b,p:a,t:1,b:1,l:1,r:1));
			@include bg((c:b));
		}
		&.relative{
			@include bdr((r:50%));
			&::after{
				@include bdr((r:50%));
			}
		}
		&.active::after{@include bnd((d:n));}
	}
}
.selectPattern{
	@include txt((l:n));
	@include flx((w:w));
	li{
		@include bnd((f:1 1 30%,pdt:30%,mg:0));
		@include bg((c:t 50,s:50% a));
		@include usr((c:p));
		&.active{@include bg((c:m));}
	}
}
.selectPreparedImage{
	@include flx((w:w));
	@include bg((c:t 20));
	@include bdr((s:s,w:1,c:t 10));
	.item{
		@include bnd((f:0 0 10%,bs:b));
		@include usr((c:p));
		img{
			@include bnd((w:f,h:a));
		}
		&.active{
			@include bg((c:m));
		}
	}
}
.selectPreparedImageSet{
	@include flx((w:w));
	@include bg((c:t 20));
	@include bdr((s:s,w:1,c:t 10));
	.item{
		@include bnd((f:0 0 33%,bs:b));
		@include usr((c:p));
		img{
			@include bnd((w:f,h:a));
		}
		&.active{
			@include bg((c:m));
		}
	}
}
.selectGridButtons{
	@include bnd((mg:0));
	@for $c from 2 through 6{
		&.col#{$c}{
			@include flx((w:w,c:$c));
		}
	}
	.item{
		@include bnd((pd:10 5,mg:0 0 -1 -1,bs:b));
		@include bdr((s:s,w:1,c:t));
		@include txt((a:c,p:13,h:1em,c:t));
		@include usr((c:p));
		&.active{
			@include bg((c:m));
			@include txt((c:b));
		}
	}
}
.DataInputTable{
	@include tbl((s:2));
	&__head{
		&__row{
			&__cell{
				@include bnd((pd:4));
				@include txt((w:r));
				@include bg((c:t 10));
			}
		}
	}
	&__body{
		&__row{
			&__cell{
				@include bnd((pd:4));
				@include bg((c:t 5));
			}
		}
	}
}

.editItemsTable{
	@include tbl(());
	@include bnd((mg:20 a));
	th,td{
		@include bnd((pd:.5em,w:6em a 30em));
		@include bdr((s:s,w:1,c:t 50));
		@include txt((p:12));
	}
	thead{
		th{
			@include bg((c:t 5));
		}
	}
	tbody{
		th{
			@include bg((c:t 3));
		}
		td{
			&>img{
				@include bnd((w:6em,h:a));
			}
			.SelectPictureSources{
				@include bnd((w:100));
			}
		}
	}
}
.dataStructure{
	.item{
		@include bnd((pd:0,mg:0));
		.title{
			@include bnd((pd:.1em 0,pdl:1em,p:r,mg:0));
			@include txt((p:12,w:r));
			@include usr((c:p));
			.name{
				@include bnd((d:ib,mgl:1em));
				@include txt((p:.8em,c:t 50));
			}
		}
		&.hasChildren{
			&>.title{
				&::before{
					content:'▶︎';
					@include bnd((d:b,p:a,t:.3em,b:0,l:0,mg:a));
					@include txt((p:.7em,c:t 50));
				}
			}
			&.open{
				&>.title{
					&::before{
						@include trn((r:90deg));
					}
				}
			}
		}
		.children{
			@include bnd((pdl:1em));
		}
	}
}

.EventInputCard{
	&__header{
		
	}
	&__item{
		@include flx((w:w,g:5,a:c));
		@include bnd((pd:5 0));
		&__pref{
			@include bnd((f:0 0 a,mgb:8));
		}
		&__title{
			@include bnd((f:0 0 80,mgb:8));
			@include txt((b:k));
		}
		&__inputs{
			@include bnd((f:1 1 80));
		}
		&.is-type-data &,
		&.is-type-buttons &,
		&.is-type-gridbuttons &{
			&__inputs{
				@include bnd((f:1 1 f));
			}
		}
	}
}