@charset "UTF-8";
.itemControl {
  padding: 0.125rem 0.3125rem;
  position: relative;
  z-index: 1000;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 0.625rem;
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.itemControl div.btn {
  display: inline-block;
  margin: 0.125rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
}
.itemControl div.btn.delete::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.clone::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.up::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.down::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.left::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.right::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn.edit::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.itemControl div.btn:hover {
  opacity: 1;
}
.itemControl div.inputs {
  display: block;
  position: absolute;
  width: 12.5rem;
  padding: 0.625rem;
  top: 100%;
  right: 0rem;
  margin: 0rem auto;
  z-index: 1001;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 0.3125rem;
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateY(-0.625rem);
  transform: translateY(-0.625rem);
  pointer-events: none;
}
.itemControl div.inputs div.sub {
  padding-left: 0.625rem;
  margin-bottom: 1.25rem;
  border-left-style: solid;
  border-left-width: 0.3125rem;
  border-left-color: #eee;
}
.itemControl.open {
  z-index: 1001;
}
.itemControl.open div.btn.edit {
  opacity: 1;
}
.itemControl.open div.inputs {
  display: block;
  opacity: 0.8;
  transform: -webkit- translateY(0rem);
  transform: translateY(0rem);
  pointer-events: auto;
}
.components-panel div.sub {
  padding-left: 0.625rem;
  margin-bottom: 1.25rem;
  border-left-style: solid;
  border-left-width: 0.3125rem;
  border-left-color: #eee;
}
.components-panel img.selectImage {
  width: 6.25rem;
  height: auto;
}
.selectButtons {
  width: max-content;
}
.embedded_content {
  position: relative;
  min-height: 3.125rem;
  height: auto;
  padding-top: 1.25rem;
}
.embedded_content > .label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.3125rem 0.625rem;
  z-index: 10;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.alt_content {
  position: relative;
  min-height: 3.125rem;
  height: auto;
  padding-top: 1.25rem;
  margin: 0rem auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.alt_content > .label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.25em;
  z-index: 10;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.collapsible_content {
  padding-top: 4.375rem;
  max-height: 0rem;
  height: auto;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.collapsible_content > .label {
  display: block;
  position: absolute;
  top: 0.625rem;
  left: 0rem;
  right: 0rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0.625rem 2.5rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 1.875rem;
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  cursor: pointer;
}
.collapsible_content > .label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  margin-left: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-bottom-style: solid;
  border-right-style: solid;
  border-bottom-width: 0.125rem;
  border-right-width: 0.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: -webkit- rotateZ(-45deg) translateY(0rem);
  transform: rotateZ(-45deg) translateY(0rem);
}
.collapsible_content.open {
  max-height: 100vh;
  height: auto;
}
.collapsible_content.open > .label::before {
  transform: -webkit- rotateZ(45deg) translateY(-0.3125rem);
  transform: rotateZ(45deg) translateY(-0.3125rem);
}
.selectPosition {
  border-collapse: collapse;
  border-spacing: 0px;
}
.selectPosition td {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
}
.selectPosition td.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectPosition td.disable {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.SelectPictureSources {
  width: 100%;
}
.SelectPictureSources td {
  position: relative;
}
.SelectPictureSources td img.selectImage {
  width: 100%;
  height: auto;
}
.SelectPictureSources td > .label {
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: 0.25em;
  z-index: 10;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.625rem;
  font-family: g;
  font-weight: 400;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.selectColor {
  width: 13.75rem;
  list-style: none;
}
.selectColor li {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem;
  border-radius: 1.25rem;
  cursor: pointer;
}
.selectColor li.fillColor {
  background-color: hsla(var(--cp-container-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectColor li.fillColor.color0 {
  background-color: hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.selectColor li::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.0625rem;
  bottom: 0.0625rem;
  left: 0.0625rem;
  right: 0.0625rem;
  border-radius: 1.25rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.selectColor li.active::after {
  display: none;
}
.selectPattern {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectPattern li {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  padding-top: 30%;
  margin: 0rem;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
  background-size: 50% auto;
  cursor: pointer;
}
.selectPattern li.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectPreparedImage {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.selectPreparedImage .item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  box-sizing: border-box;
  cursor: pointer;
}
.selectPreparedImage .item img {
  width: 100%;
  height: auto;
}
.selectPreparedImage .item.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectPreparedImageSet {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.selectPreparedImageSet .item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;
  box-sizing: border-box;
  cursor: pointer;
}
.selectPreparedImageSet .item img {
  width: 100%;
  height: auto;
}
.selectPreparedImageSet .item.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.selectGridButtons {
  margin: 0rem;
}
.selectGridButtons.col2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col2 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col2 > * {
  flex-basis: 100%;
}
.selectGridButtons.col2 > *:first-child:nth-last-child(2n), .selectGridButtons.col2 > *:first-child:nth-last-child(2n) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col3 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col3 > *:first-child:nth-last-child(1), .selectGridButtons.col3 > *:first-child:nth-last-child(1) ~ * {
  flex-basis: 100%;
}
.selectGridButtons.col3 > *, .selectGridButtons.col3 > *:first-child:nth-last-child(2), .selectGridButtons.col3 > *:first-child:nth-last-child(2) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col3 > *:first-child:nth-last-child(3n), .selectGridButtons.col3 > *:first-child:nth-last-child(3n) ~ *, .selectGridButtons.col3 > *:nth-child(2n):nth-last-child(3n + 1) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col4 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col4 > *:first-child:nth-last-child(2), .selectGridButtons.col4 > *:first-child:nth-last-child(2) ~ *, .selectGridButtons.col4 > *:first-child:nth-last-child(5), .selectGridButtons.col4 > *:first-child:nth-last-child(5) ~ * {
  flex-basis: 50%;
}
.selectGridButtons.col4 > *, .selectGridButtons.col4 > *:first-child:nth-last-child(3), .selectGridButtons.col4 > *:first-child:nth-last-child(3) ~ *, .selectGridButtons.col4 > *:first-child:nth-last-child(5) ~ *:nth-child(2n):nth-last-child(3n + 1) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col4 > *:first-child:nth-last-child(4n), .selectGridButtons.col4 > *:first-child:nth-last-child(4n) ~ *, .selectGridButtons.col4 > *:nth-child(3n):nth-last-child(4n + 1) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col5 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(3), .selectGridButtons.col5 > *:first-child:nth-last-child(3) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(7), .selectGridButtons.col5 > *:first-child:nth-last-child(7) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(11), .selectGridButtons.col5 > *:first-child:nth-last-child(11) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col5 > *, .selectGridButtons.col5 > *:first-child:nth-last-child(4), .selectGridButtons.col5 > *:first-child:nth-last-child(4) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(7) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(8), .selectGridButtons.col5 > *:first-child:nth-last-child(8) ~ *, .selectGridButtons.col5 > *:first-child:nth-last-child(11) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(5n), .selectGridButtons.col5 > *:first-child:nth-last-child(5n) ~ *, .selectGridButtons.col5 > *:nth-child(4n):nth-last-child(5n + 1) ~ * {
  flex-basis: 20%;
}
.selectGridButtons.col5 > *:first-child:nth-last-child(6), .selectGridButtons.col5 > *:first-child:nth-last-child(6) ~ * {
  flex-basis: 16%;
}
.selectGridButtons.col6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selectGridButtons.col6 > * {
  flex-grow: 1;
  box-sizing: border-box;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(3), .selectGridButtons.col6 > *:first-child:nth-last-child(3) ~ * {
  flex-basis: 33%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(4), .selectGridButtons.col6 > *:first-child:nth-last-child(4) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(8), .selectGridButtons.col6 > *:first-child:nth-last-child(8) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(9), .selectGridButtons.col6 > *:first-child:nth-last-child(9) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(14), .selectGridButtons.col6 > *:first-child:nth-last-child(14) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(19), .selectGridButtons.col6 > *:first-child:nth-last-child(19) ~ * {
  flex-basis: 25%;
}
.selectGridButtons.col6 > *, .selectGridButtons.col6 > *:first-child:nth-last-child(5), .selectGridButtons.col6 > *:first-child:nth-last-child(5) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(9) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(10), .selectGridButtons.col6 > *:first-child:nth-last-child(10) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(14) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(15), .selectGridButtons.col6 > *:first-child:nth-last-child(15) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(19) ~ *:nth-child(4n):nth-last-child(5n + 1) ~ * {
  flex-basis: 20%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(6n), .selectGridButtons.col6 > *:first-child:nth-last-child(6n) ~ *, .selectGridButtons.col6 > *:nth-child(5n):nth-last-child(6n + 1) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(13), .selectGridButtons.col6 > *:first-child:nth-last-child(13) ~ * {
  flex-basis: 16%;
}
.selectGridButtons.col6 > *:first-child:nth-last-child(7), .selectGridButtons.col6 > *:first-child:nth-last-child(7) ~ *, .selectGridButtons.col6 > *:first-child:nth-last-child(13) ~ *:nth-child(6n):nth-last-child(7n + 1) ~ * {
  flex-basis: 14%;
}
.selectGridButtons .item {
  padding: 0.625rem 0.3125rem;
  margin: 0rem 0rem -0.0625rem -0.0625rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  cursor: pointer;
}
.selectGridButtons .item.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.DataInputTable {
  border-collapse: separate;
  border-spacing: 0.125rem;
}
.DataInputTable__head__row__cell {
  padding: 0.25rem;
  font-weight: 400;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.DataInputTable__body__row__cell {
  padding: 0.25rem;
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),1);
}
.editItemsTable {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 1.25rem auto;
}
.editItemsTable th, .editItemsTable td {
  padding: 0.5em;
  min-width: 6em;
  max-width: 30em;
  width: auto;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
  font-size: 0.75rem;
}
.editItemsTable thead th {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),1);
}
.editItemsTable tbody th {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 3),1);
}
.editItemsTable tbody td > img {
  width: 6em;
  height: auto;
}
.editItemsTable tbody td .SelectPictureSources {
  width: 6.25rem;
}
.dataStructure .item {
  padding: 0rem;
  margin: 0rem;
}
.dataStructure .item .title {
  padding: 0.1em 0rem;
  padding-left: 1em;
  position: relative;
  margin: 0rem;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
}
.dataStructure .item .title .name {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.8em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.dataStructure .item.hasChildren > .title::before {
  content: "▶︎";
  display: block;
  position: absolute;
  top: 0.3em;
  bottom: 0rem;
  left: 0rem;
  margin: auto;
  font-size: 0.7em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),1);
}
.dataStructure .item.hasChildren.open > .title::before {
  transform: -webkit- rotateZ(90deg);
  transform: rotateZ(90deg);
}
.dataStructure .item .children {
  padding-left: 1em;
}
.EventInputCard__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.3125rem;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.3125rem 0rem;
}
.EventInputCard__item__pref {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-bottom: 0.5rem;
}
.EventInputCard__item__title {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5rem;
  margin-bottom: 0.5rem;
  word-break: keep-all;
}
.EventInputCard__item__inputs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5rem;
}
.EventInputCard__item.is-type-data .EventInputCard__item__inputs, .EventInputCard__item.is-type-buttons .EventInputCard__item__inputs, .EventInputCard__item.is-type-gridbuttons .EventInputCard__item__inputs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}
/*# sourceMappingURL=./base_style.css.map */