.wp-block-catpow-accessmap {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  font-feature-settings: "palt";
}
.wp-block-catpow-accessmap > .item {
  padding: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-sx-h),var(--cp-tones-sx-s),var(--cp-tones-sx-l),var(--cp-tones-sx-a,1));
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
  box-shadow: 0 4px 9px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.wp-block-catpow-accessmap > .item > .map > .gmap {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-accessmap > .item > .access > .title {
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.wp-block-catpow-accessmap > .item > .access > .tel {
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap > .item > .access > .mail {
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap > .item > .access > .site {
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap > .item > .access > .address {
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0.5em;
}
.wp-block-catpow-accessmap > .item > .access > .info {
  padding: 0rem;
  margin: 0rem;
}
.wp-block-catpow-accessmap.large {
  margin: auto;
  font-size: 1.125rem;
}
.wp-block-catpow-accessmap.large > .item {
  min-height: 24em;
  height: auto;
  margin: 1.25rem auto;
}
.wp-block-catpow-accessmap.large > .item > .map {
  height: 24em;
  -webkit-box-flex: 4;
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 20em;
}
.wp-block-catpow-accessmap.large > .item > .access {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20em;
  padding: 2em;
}
.wp-block-catpow-accessmap.medium {
  max-width: 62.5rem;
  width: auto;
  margin: auto;
  padding: 0.625rem;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.wp-block-catpow-accessmap.medium > .item {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40em;
  min-height: 20em;
  height: auto;
}
.wp-block-catpow-accessmap.medium > .item > .map {
  height: 20em;
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 20em;
}
.wp-block-catpow-accessmap.medium > .item > .access {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20em;
  padding: 2em;
}
.wp-block-catpow-accessmap.small {
  max-width: 62.5rem;
  width: auto;
  margin: auto;
  padding: 0.625rem;
  font-size: 0.75rem;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30em, 100%), 1fr));
  grid-gap: 0.625rem;
}
.wp-block-catpow-accessmap.small > .item {
  min-height: 10em;
  height: auto;
}
.wp-block-catpow-accessmap.small > .item > .map {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
}
.wp-block-catpow-accessmap.small > .item > .access {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
  padding: 2em;
}
.wp-block-catpow-accessmap.map-color-gray > .item > .map {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.wp-block-catpow-accessmap.map-color-sync > .item > .map {
  mix-blend-mode: hard-light;
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}
/*# sourceMappingURL=./style.css.map */