.wp-block-catpow-accessmap__item-access-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-accessmap__item-access {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}
.wp-block-catpow-accessmap.is-type-frame .wp-block-catpow-accessmap__item {
  padding: var(--cp-padding-c-f);
  border-width: var(--cp-border-width-c-f, 0);
  border-radius: var(--cp-border-radius-c-f, 0);
  box-shadow: var(--cp-shadow-c-f) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-accessmap.is-type-card .wp-block-catpow-accessmap__item {
  padding: var(--cp-padding-c-c);
  border-width: var(--cp-border-width-c-c, 0);
  border-radius: var(--cp-border-radius-c-c, 0);
  box-shadow: var(--cp-shadow-c-c) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-accessmap {
  padding: 0rem;
  margin-inline: auto;
  list-style: none;
  font-feature-settings: "palt";
}
.wp-block-catpow-accessmap__item {
  position: relative;
  padding: 0rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap__item-map {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 18.75rem;
}
.wp-block-catpow-accessmap__item-map-gmap {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-style: none;
}
.wp-block-catpow-accessmap__item-access {
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 18.75rem;
}
.wp-block-catpow-accessmap__item-access-title {
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0.5em;
}
.wp-block-catpow-accessmap__item-access-tel {
  display: block;
  font-size: var(--cp-font-size-r-xl);
  font-family: var(--cp-font-family-f-e);
  text-decoration: none;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap__item-access-mail {
  display: block;
  font-size: var(--cp-font-size-r-l);
  font-family: var(--cp-font-family-f-e);
  text-decoration: none;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap__item-access-site {
  display: block;
  font-family: var(--cp-font-family-f-e);
  text-decoration: none;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-accessmap__item-access-address {
  padding: 0rem;
  margin: 0rem;
  margin-bottom: 0.5em;
}
.wp-block-catpow-accessmap__item-access-info {
  padding: 0rem;
  margin: 0rem;
}
.wp-block-catpow-accessmap.is-type-flat {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.wp-block-catpow-accessmap.is-type-flat .wp-block-catpow-accessmap__item {
  min-height: var(--cp-size-i);
  height: auto;
  padding: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: var(--cp-margin-c-c);
}
.wp-block-catpow-accessmap.is-type-flat .wp-block-catpow-accessmap__item-access {
  padding: var(--cp-padding-c-f);
}
.wp-block-catpow-accessmap.is-type-card {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--cp-size-i), 100%), 1fr));
  grid-gap: var(--cp-margin-c-c);
}
.wp-block-catpow-accessmap.is-type-card .wp-block-catpow-accessmap__item {
  container-type: inline-size;
  padding: 0rem;
}
.wp-block-catpow-accessmap.is-type-card .wp-block-catpow-accessmap__item-map {
  min-height: 6.25rem;
  max-height: 100cqw;
  height: 18.75rem;
}
.wp-block-catpow-accessmap.is-type-card .wp-block-catpow-accessmap__item-access {
  padding: var(--cp-padding-c-c);
}
.wp-block-catpow-accessmap.is-type-frame {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: var(--cp-margin-c-f);
}
.wp-block-catpow-accessmap.is-type-frame .wp-block-catpow-accessmap__item {
  min-height: var(--cp-size-i);
  height: auto;
  padding: 0rem;
}
.wp-block-catpow-accessmap.is-type-frame .wp-block-catpow-accessmap__item-access {
  padding: var(--cp-padding-c-f);
}
.wp-block-catpow-accessmap.has-map-color-gray .wp-block-catpow-accessmap__item-map {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.wp-block-catpow-accessmap.has-map-color-sync .wp-block-catpow-accessmap__item-map {
  mix-blend-mode: hard-light;
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}
/*# sourceMappingURL=./style.css.map */