@import 'admin_style_config.scss';

.wp-block-catpow-accessmap{
	$block:&;
	$item:#{$block}__item;
	@include bnd((pd:0,mg:0));
	@include txt((l:n,ffs:p));
	&__item{
		@include bnd((pd:0));
		@include flx((w:w));
		@include bg((c:sx));
		@include txt((c:tx));
		@include shd((b:4));
		&-map{
			&-gmap{
				@include bnd((d:b,w:f,h:f,op:c,of:c));
				@include bdr((s:n));
			}
		}
		&-access{
			&-title{
				@include bnd((pd:0,mg:0,mgb:.5em));
				@include txt((p:1.5em));
			}
			&-tel{
				@include bnd((d:b));
				@include txt((p:1.5em,td:n,c:tx));
			}
			&-mail{
				@include bnd((d:b));
				@include txt((p:1.25em,td:n,c:tx));
			}
			&-site{
				@include bnd((d:b));
				@include txt((p:1em,td:n,c:tx));
			}
			&-address{
				@include bnd((pd:0,mg:0,mgb:.5em));
			}
			&-info{
				@include bnd((pd:0,mg:0));
			}
		}
	}
	&.has-item-size-large{
		#{$item}{
			@include bnd((h:24em a,mg:20 a));
			&-map{
				@include bnd((h:24em,f:4 4 20em));
			}
			&-access{
				@include bnd((f:1 1 20em,pd:2em));
			}
		}
	}
	&.has-item-size-medium{
		#{$item}{
			@include bnd((f:1 1 40em,h:20em a));
			&-map{
				@include bnd((h:20em,f:2 2 20em));
			}
			&-access{
				@include bnd((f:1 1 20em,pd:2em));
			}
		}
	}
	&.has-item-size-small{
		#{$item}{
			@include bnd((h:10em a));
			&-map{
				@include bnd((f:1 1 10em));
			}
			&-access{
				@include bnd((f:1 1 10em,pd:2em));
			}
		}
	}
	&.has-map-color{
		&-gray{
			#{$item}{
				&-map{
					@include trn((gry:1));
				}
			}
		}
		&-sync{
			#{$item}{
				&-map{
					@include trn((gry:.8,bm:hl));
				}
			}
		}
	}
}
