@charset "utf-8";
div.wp-block-catpow-div.block {
  padding: 2rem;
  background-color: rgba(0, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
