@import "admin_style_config.scss";

div.wp-block-catpow-sidebar{
    @include flx((w:w));
    div.wp-block-catpow-maincolumn{
        @include bnd((f:10 10 300));
    }
    div.wp-block-catpow-sidecolumn{
        @include bnd((f:1 1 300,pd:10,bs:b));
		@include bdr((p:r,s:s,w:1,c:t 30));
    }
    &.left{
        @include flx((d:rr));
    }
	@media(#{bp(2)}){
		div.wp-block-catpow-sidecolumn{
			@include bnd((f:0 0 240));
		}
	}
}