.cp-transition {
  position: relative;
  overflow: hidden;
  perspective: 200vw;
}
.cp-transition-current {
  position: relative;
}
.cp-transition-prev {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  pointer-events: none;
}
.cp-transition.is-type-none .cp-transition-prev-from, .cp-transition.is-type-none .cp-transition-prev-to {
  opacity: 0;
}
.cp-transition.is-type-init .cp-transition-current.is-from > * {
  opacity: 0;
  transform: -webkit- scale(0.9);
  transform: scale(0.9);
}
.cp-transition.is-type-init .cp-transition-current.is-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  transform: -webkit- scale(1);
  transform: scale(1);
}
.cp-transition.is-type-init .cp-transition-prev.is-from > * {
  opacity: 1;
  transform: -webkit- scale(1);
  transform: scale(1);
}
.cp-transition.is-type-init .cp-transition-prev.is-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- scale(1.1);
  transform: scale(1.1);
}
.cp-transition.is-type-focus .cp-transition-current.is-from > * {
  opacity: 0;
  transform: -webkit- translateZ(-10vw);
  transform: translateZ(-10vw);
}
.cp-transition.is-type-focus .cp-transition-current.is-to > * {
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
  transform: -webkit- translateZ(0rem);
  transform: translateZ(0rem);
}
.cp-transition.is-type-focus .cp-transition-prev.is-from > * {
  opacity: 1;
  transform: -webkit- translateZ(0rem);
  transform: translateZ(0rem);
}
.cp-transition.is-type-focus .cp-transition-prev.is-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateZ(10vw);
  transform: translateZ(10vw);
}
.cp-transition.is-type-blur .cp-transition-current.is-from > * {
  opacity: 0;
  transform: -webkit- translateZ(10vw);
  transform: translateZ(10vw);
}
.cp-transition.is-type-blur .cp-transition-current.is-to > * {
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
  transform: -webkit- translateZ(0rem);
  transform: translateZ(0rem);
}
.cp-transition.is-type-blur .cp-transition-prev.is-from > * {
  opacity: 1;
  transform: -webkit- translateZ(0rem);
  transform: translateZ(0rem);
}
.cp-transition.is-type-blur .cp-transition-prev.is-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateZ(-10vw);
  transform: translateZ(-10vw);
}
.cp-transition.is-type-prev .cp-transition-current.is-from {
  position: relative;
  left: -100%;
  right: 100%;
}
.cp-transition.is-type-prev .cp-transition-current.is-to {
  position: relative;
  left: 0rem;
  right: 0rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cp-transition.is-type-prev .cp-transition-prev.is-from {
  position: absolute;
  left: 0rem;
}
.cp-transition.is-type-prev .cp-transition-prev.is-to {
  left: 100%;
  right: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cp-transition.is-type-next .cp-transition-current.is-from {
  position: relative;
  left: 100%;
  right: -100%;
}
.cp-transition.is-type-next .cp-transition-current.is-to {
  position: relative;
  left: 0rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cp-transition.is-type-next .cp-transition-prev.is-from {
  position: absolute;
  left: 0rem;
}
.cp-transition.is-type-next .cp-transition-prev.is-to {
  left: -100%;
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cp-transition.is-type-mod .cp-transition-current.is-from {
  opacity: 0;
}
.cp-transition.is-type-mod .cp-transition-current.is-to {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.cp-transition.is-type-mod .cp-transition-prev.is-from {
  opacity: 1;
}
.cp-transition.is-type-mod .cp-transition-prev.is-to {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
/*# sourceMappingURL=./style.css.map */