@charset "utf-8";
.transition {
  position: relative;
  overflow: hidden;
  perspective: 200vw;
}
.transition_current {
  position: relative;
}
.transition_prev {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
}
.transition-none > .transition_prev-from, .transition-none > .transition_prev-to {
  opacity: 0;
}
.transition-init > .transition_current-from > * {
  opacity: 0;
  transform: -webkit- scale(0.9);
  transform: scale(0.9);
}
.transition-init > .transition_current-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  transform: -webkit- scale(1);
  transform: scale(1);
}
.transition-init > .transition_prev-from > * {
  opacity: 1;
  transform: -webkit- scale(1);
  transform: scale(1);
}
.transition-init > .transition_prev-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- scale(1.1);
  transform: scale(1.1);
}
.transition-focus > .transition_current-from > * {
  opacity: 0;
  transform: -webkit- translateZ(-10vw);
  transform: translateZ(-10vw);
}
.transition-focus > .transition_current-to > * {
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
  transform: -webkit- translateZ(0px);
  transform: translateZ(0px);
}
.transition-focus > .transition_prev-from > * {
  opacity: 1;
  transform: -webkit- translateZ(0px);
  transform: translateZ(0px);
}
.transition-focus > .transition_prev-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateZ(10vw);
  transform: translateZ(10vw);
}
.transition-blur > .transition_current-from > * {
  opacity: 0;
  transform: -webkit- translateZ(10vw);
  transform: translateZ(10vw);
}
.transition-blur > .transition_current-to > * {
  -webkit-transition: 0.5s 0.2s;
  transition: 0.5s 0.2s;
  transform: -webkit- translateZ(0px);
  transform: translateZ(0px);
}
.transition-blur > .transition_prev-from > * {
  opacity: 1;
  transform: -webkit- translateZ(0px);
  transform: translateZ(0px);
}
.transition-blur > .transition_prev-to > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateZ(-10vw);
  transform: translateZ(-10vw);
}
.transition-prev > .transition_current-from {
  position: relative;
  left: -100%;
  right: 100%;
}
.transition-prev > .transition_current-to {
  position: relative;
  left: 0px;
  right: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transition-prev > .transition_prev-from {
  position: absolute;
  left: 0px;
}
.transition-prev > .transition_prev-to {
  left: 100%;
  right: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transition-next > .transition_current-from {
  position: relative;
  left: 100%;
  right: -100%;
}
.transition-next > .transition_current-to {
  position: relative;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transition-next > .transition_prev-from {
  position: absolute;
  left: 0px;
}
.transition-next > .transition_prev-to {
  left: -100%;
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transition-mod > .transition_current-from {
  opacity: 0;
}
.transition-mod > .transition_current-to {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.transition-mod > .transition_prev-from {
  opacity: 1;
}
.transition-mod > .transition_prev-to {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
/*# sourceMappingURL=./style.css.map */