.wp-block-catpow-sphere__item-texts-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-sphere__item-texts-text {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}
.wp-block-catpow-sphere__item-texts-caption {
  font-family: var(--cp-font-family-t-c, inherit);
  font-size: var(--cp-font-size-t-c, 2em);
  font-weight: var(--cp-font-weight-t-c, regular);
  line-height: var(--cp-line-height-t-c, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-c, normal);
}
.wp-block-catpow-sphere__item {
  padding: var(--cp-padding-c-c);
  border-width: var(--cp-border-width-c-c, 0);
  border-radius: var(--cp-border-radius-c-c, 0);
  box-shadow: var(--cp-shadow-c-c) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-sphere {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  gap: var(--cp-margin-c-c);
  text-align: center;
  list-style: none;
}
.wp-block-catpow-sphere__item {
  position: relative;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--cp-size-i);
  height: auto;
  aspect-ratio: 1;
  padding: 0px;
  container-type: inline-size;
  overflow: clip;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border-radius: 50%;
}
.wp-block-catpow-sphere__item-image {
  position: relative;
}
.wp-block-catpow-sphere__item-image-img {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  inset: 0px;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-sphere__item-texts {
  align-content: center;
  text-align: center;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-sphere__item-texts-icon {
  width: min(32cqw, 4em);
  height: auto;
  aspect-ratio: 1;
  margin-inline: auto;
  text-align: center;
  color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
}
.wp-block-catpow-sphere__item-texts-title {
  margin: 0px auto;
}
.wp-block-catpow-sphere__item-texts-caption {
  margin: 0px auto;
}
.wp-block-catpow-sphere__item-texts-text {
  margin: 0px auto;
}
.wp-block-catpow-sphere.has-image .wp-block-catpow-sphere__item {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 3fr;
  grid-template-rows: 2fr 3fr;
}
/*# sourceMappingURL=./style.css.map */