@import 'admin_style_config.scss';


.ColorSet{
	.panes{
		@include bnd((p:r,w:f));
		@include flx((w:w,c:3));
		@include shd((b:2));
		>.pane{
			@include bnd((p:r,pd:15,bs:b));
			@include usr((c:p));
			&.is-dark{
				@include txt((c:white));
			}
			>.body{
				@include bnd((p:r,z:1));
				@include txt((a:c));
				>.label{
					@include txt((p:1.25em,w:b));
				}
				>.text{
					@include bnd((d:b,ap:n,pd:0));
					@include bdr((s:n,r:0));
					@include bg((c:n));
					@include txt((a:c,c:inherit));
				}
			}
			>.bg{
				@include bnd((d:b,p:a,i:0));
			}
			>.input_color{
				@include bnd((d:b,p:a,i:0,mg:a,mgb:0));
				@include trn((o:0));
				@include usr((e:n));
			}
		}
	}
	&-ColorPicker{
		@include flx((w:w));
		&__item{
			@include bnd((p:r,f:1 1 30%));
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==");
			>.chip{
				@include bnd((d:b,h:80));
				@include usr((c:p));
				>.label{
					@include bnd((pd:10));
				}
				&.is-dark{
					>.label{
						@include txt((c:white));
					}
				}
				&.is-light{
					>.label{
						@include txt((c:black));
					}
				}
			}
			>.modal{
				@include bnd((d:b,p:a,t:100%,l:0,p:10,z:100));
				@include bg((c:b));
				@include bdr((r:10));
				@include shd((b:3));
			}
			>.PopoverAnchor{
				@include bnd((d:b,p:a,i:0));
			}
			&.close{
				>.modal{
					@include bnd((d:n));
				}
			}
			&.open{
				
			}
		}
		&__box{
			@include bnd((pd:20));
		}
	}
	&-HueRange{
		@include bnd((pd:10));
		&__input{
			@include bnd((pd:10));
		}
		&__preview{
			@include flx((w:n));
			&__item{
				@include bnd((h:20,f:1 1 a));
			}
		}
	}
}
