@import "admin_style_config.scss";

.wp-block-catpow-sitefooter{
	@include bg((c:s));
	>.contents{
		@include bnd((pd:20,w:a 1000,mg:a));
	}
	>.copyright{
		@include bnd((pd:5));
		@include bg((c:m));
		@include txt((a:c,p:16,c:i));
	}
}