@import 'admin_style_config.scss';
@import 'text-placeholders.scss';
@import 'component-placeholders.scss';


.wp-block-catpow-comparetable{
	$block:&;
	@extend %ui-block;
	&__tags{
		@include bnd((mgb:1em));
		@include flx((w:w,j:c,g:1em));
		@include txt((l:n,f:p));
		&-tag{
			@extend %label-component;
			@include bnd((f:0 0 a));
			@include usr((c:p));
			&.is-active{
			}
		}
	}
	&__box{
		@include bnd((sb:s,ox:a,sst:x m));
		@include hide_scrollbar;
		&-body{
			
		}
	}
	&__table{
		@extend %paragraph;
		@include tbl((l:f));
		@include bnd((mg:20 a));
		&-thead,&-tbody{
			&-tr{
				&-th{
					$th:&;
					&-label{
						@extend %label-component;
						@include bnd((d:b,w:fit,h:fit));
						@include bg((c:m));
						@include bdr((s:s,w:1,r:1em));
						@include txt((a:c,p:.6em,h:1em,c:i));
					}
					&.is-premium{
						#{$th}-label{
							@include bg((c:a));
						}
					}
					&.is-deprecated{
						#{$th}-label{
							@include bg((c:t-i 60));
						}
					}
				}
				&-th,&-td{
					@include bnd((bs:b,pd:cpd));
					@include txt((h:1.5em,f:p));
					&.has-text-align-left{
						@include txt((a:l));
					}
					&.has-text-align-center{
						@include txt((a:c));
					}
					&.has-text-align-right{
						@include txt((a:r));
					}
					
					&.has-vertical-align-top{
						@include txt((v:t));
					}
					&.has-vertical-align-middle{
						@include txt((v:m));
					}
					&.has-vertical-align-bottom{
						@include txt((v:b));
					}
				}
			}
		}
		&-thead{
			&-tr{
				&-td{
					@include bnd((bs:b));
				}
				&-th{
					@include bnd((p:r,ssa:c,bs:b));
					&.is-spacer{
						@include bnd((p:s,l:0,z:1));
						@include bg((c:bx));
					}
					&-contents{
						
					}
				}
			}
		}
		&-tbody{
			&-tr{
				&-th{
					@include bg((c:bx));
				}
				&-td{
					@include bnd((p:r));
					&-image{
						&-img{
							@include bnd((d:b,w:f,h:a));
						}
					}
				}
			}
		}
	}
	&:not(.do-transposition){
		#{$block}__table{
			&-thead{
				&-tr{
					&-th{
						@include bnd((p:r));
						&-label{
							@include bnd((p:a,t:-1.5em,l:0,r:0,mg:a));
						}
					}
				}
			}
			&-tbody{
				&-tr{
					&-th{
						@include bnd((p:s,l:0,z:1,bs:b));
						&-label{
							@include bnd((mg:-1em a .5em));
						}
					}
				}
			}
		}
		&.has-header-column{
			#{$block}__table{
				&-thead{
					&-tr{
						&-td{
							@include bnd((w:calc(var(--cp-header-column-width) * #{$size-unit})));
						}
						&-th{
							@include bnd((ssa:s));
						}
					}
				}
				&-tbody{
					&-tr{
						&-th{
							@include bnd((w:calc(var(--cp-header-column-width) * #{$size-unit})));
						}
					}
				}
			}
		}
		&.has-fixed-column-width{
			#{$block}__table{
				&-thead{
					&-tr{
						&-th{
							@include bnd((w:calc(var(--cp-column-width) * #{$size-unit})));
						}
					}
				}
			}
		}
	}
	&.do-transposition{
		#{$block}__table{
			@include grd((f:c,tr:repeat(var(--cp-column-count),auto),tc:repeat(auto-fill,calc(var(--cp-column-width) * #{$size-unit}))));
			&-colgroup{
				@include bnd((d:n));
			}
			&-thead,&-tbody{
				@include bnd((d:c));
				&-tr{
					@include bnd((d:c));
					&-th,&-td{
						@include bnd((d:b));
						&-contents{
							@include bnd((f:1 1 a));
						}
						&.has-vertical-align-top{
							@include flx((a:s));
						}
						&.has-vertical-align-middle{
							@include flx((a:c));
						}
						&.has-vertical-align-bottom{
							@include flx((a:e));
						}
					}
				}
			}
			&-thead{
				&-tr{
					&-th{
						@include bnd((p:s,l:0,z:1,bs:b));
						&-label{
							@include bnd((p:a,l:0,r:0,b:85%,mgi:a));
						}
					}
				}
			}
			&-tbody{
				&-tr{
					&-th{
						@include bnd((p:r));
						&-label{
							@include bnd((p:a,t:-1.5em,l:0,r:0,mg:a));
						}
					}
				}
			}
		}
		&.has-header-column{
			#{$block}__table{
				@include grd((tc:calc(var(--cp-header-column-width) * #{$size-unit}) repeat(auto-fill,auto)));
				&-thead{
					&-tr{
						&-td,&-th{
							@include bnd((p:s,l:0,z:1,w:calc(var(--cp-header-column-width) * #{$size-unit})));
						}
					}
				}
				&-tbody{
					&-tr{
						&-th{
							@include bnd((ssa:s));
						}
					}
				}
			}
		}
		&:not(.has-fixed-column-width){
			#{$block}__table{
				@include grd((tc:repeat(auto-fit,1fr)));
			}
			&.has-header-column{
				#{$block}__table{
					
				}
			}
		}
		&.has-fixed-column-width{
			#{$block}__table{
				@include bnd((w:fit));
				@include grd((tc:repeat(auto-fill,calc(var(--cp-column-width) * #{$size-unit}))));
				&-tbody{
					&-tr{
						&-th{
							@include bnd((w:calc(var(--cp-column-width) * #{$size-unit})));
						}
					}
				}
			}
			&.has-header-column{
				#{$block}__table{
					@include grd((tc:calc(var(--cp-header-column-width) * #{$size-unit}) repeat(auto-fill,calc(var(--cp-column-width) * #{$size-unit}))));
				}
			}
		}

	
	}
	&:not(.has-fixed-column-width){
		#{$block}__table{
			@include bnd((w:calc(var(--cp-table-width) * #{$size-unit})));
		}
	}
	&.has-fixed-column-width{
		#{$block}__table{
			&-tbody{
				&-tr{
					&-td{
						@include bnd((w:calc(var(--cp-column-width) * #{$size-unit})));
					}
				}
			}
		}
	}
	&.has-header-column{
		#{$block}__box{
			@include bnd((spdl:calc(var(--cp-header-column-width) * #{$size-unit})));
		}
	}
	&.is-style-spec{
		#{$block}__tags{
			&-tag{
				&.is-active{
					@include txt((td:u m 1 .25em));
				}
			}
		}
		#{$block}__table{
			&-thead{
				&-tr{
					&-th,&-td{
						@include bdr((p:b,s:s,w:1,c:lx));
						&.is-premium{
							@include bg((c:mx 1 .2));
						}
						&.is-recommended{
							@include bg((c:mx 1 .05));
						}
						&.is-deprecated{
							@include bg((c:tx 1 .1));
							@include txt((c:tx 1 .6));
						}
					}
				}
			}
			&-tbody{
				&-tr{
					&-th,&-td{
						@include bdr((p:b,s:s,w:1,c:lx));
					}
					&-td{
						&.is-premium{
							@include bg((c:mx 1 .1));
						}
						&.is-recommended{
							@include bg((c:mx 1 .05));
						}
						&.is-deprecated{
							@include bg((c:tx 1 .1));
							@include txt((c:tx 1 .6));
						}
					}
				}
			}
		}
		&:not(.do-transposition){
			
		}
		&.do-transposition{
			#{$block}__table{
				&-thead{
					&-tr{
						&-th,&-td{
							@include bdr((p:b,s:s,w:1,c:lx));
						}
					}
				}
				&-tbody{
					&-tr{
						&-th,&-td{
							@include bdr((p:b,s:s,w:1,c:lx));
						}
						&-th{
							&.is-premium{
								@include bg((c:mx 1 .2));
							}
							&.is-recommended{
								@include bg((c:mx 1 .05));
							}
							&.is-deprecated{
								@include bg((c:tx 1 .1));
								@include txt((c:tx 1 .6));
							}
							
						}
						&-td{
							&.is-premium{
								@include bg((c:mx 1 .1));
							}
							&.is-recommended{
								@include bg((c:mx 1 .05));
							}
							&.is-deprecated{
								@include bg((c:tx 1 .1));
								@include txt((c:tx 1 .6));
							}
						}
					}
				}
			}
		}
	}
	&.is-style-sheet{
		#{$block}__tags{
			&-tag{
				&.is-active{
					@include txt((td:u m 1 .25em));
				}
			}
		}
		#{$block}__table{
			@include bnd((pd:1));
			&-thead,&-tbody{
				&-tr{
					&-th,&-td{
						@include bnd((mg:-1 -1 0 0));
					}
				}
			}
			&-thead{
				&-tr{
					&-th{
						@include bg((c:bx));
						@include bdr((s:s,w:1,c:lx));
						&.is-spacer{
							@include bdr((s:n));
							@include bg((c:bx));
						}
						&.is-premium{
							@include bg((c:sx));
						}
						&.is-recommended{
							@include bg((c:sx 1 .5));
						}
						&.is-deprecated{
							@include bg((c:tx 1 .1));
							@include txt((c:tx 1 .6));
						}
					}
				}
			}
			&-tbody{
				&-tr{
					$row:#{$block}__table-tbody-tr;
					&-th,&-td{
						@include bg((c:bx));
						@include bdr((s:s,w:1,c:lx));
					}
					&-th{
						@include txt((a:c));
					}
					&-td{
						&.is-image{
							@include txt((a:c));
						}
						&.is-premium{
							@include bg((c:sx));
						}
						&.is-recommended{
							@include bg((c:sx-bx 50));
						}
						&.is-deprecated{
							@include bg((c:tx 10));
							@include txt((c:tx 60));
						}
					}
					&:nth-of-type(even){
						#{$row}-td,#{$row}-th{
							@include bg((c:s 20));
							&.is-premium{
								@include bg((c:sx));
							}
							&.is-recommended{
								@include bg((c:sx-bx 75));
							}
							&.is-deprecated{
								@include bg((c:tx-bx 20));
							}
						}
					}
				}
			}
		}
	}
	&.is-style-plan{
		#{$block}__tags{
			&-tag{
				@extend %label-component;
				@include bg((c:tx-bx 50));
				@include txt((c:i));
				@include bdr((r:1em));
				&.is-active{
					@include bg((c:mx));
				}
			}
		}
		#{$block}__table{
			&-thead{
				&-tr{
					&-th{
						@include bg((c:sx));
						&.is-spacer{
							@include bdr((s:n));
							@include bg((c:n));
						}
						&:nth-of-type(even){
							@include bg((c:m 15));
						}
					}
				}
			}
			&-tbody{
				&-tr{
					$row:#{$block}__table-tbody-tr;
					&-th{
						@include bg((c:sx));
						@include txt((c:tx));
						&.is-premium{
							@include bg((c:mx));
							@include txt((c:i));
						}
						&.is-recommended{
							@include bg((c:mx-bx 60));
							@include txt((c:ix));
						}
						&.is-deprecated{
							@include bg((c:tx-bx 20));
							@include txt((c:tx-bx 60));
						}
					}
					&-td{
						@include bg((c:bx));
						&.is-premium{
							@include bg((c:sx-bx 50));
						}
						&.is-recommended{
							@include bg((c:sx-bx 20));
						}
						&.is-deprecated{
							@include bg((c:tx-bx 10));
							@include txt((c:tx-tx 60));
						}
						&:nth-of-type(even){
							@include bg((c:sx-bx 40));
							&.is-premium{
								@include bg((c:sx));
							}
							&.is-recommended{
								@include bg((c:sx-bx 60));
							}
							&.is-deprecated{
								@include bg((c:tx-bx 20));
							}
						}
					}
				}
			}
		}
		&:not(.do-transposition){
			#{$block}__table{
				&-thead{
					&-tr{
						&-th{
							@include bdr((r:1em 1em 0 0));
						}
					}
				}
				&-tbody{
					&-tr{
						$row:#{$block}__table-tbody-tr;
						&-th{
							@include bdr((r:1em 0 0 1em));
						}
					}
				}
			}
		}
		&.do-transposition{
			#{$block}__table{
				&-thead{
					&-tr{
						&-th{
							@include bdr((r:1em 0 0 1em));
						}
					}
				}
				&-tbody{
					&-tr{
						$row:#{$block}__table-tbody-tr;
						&-th{
							@include bdr((r:1em 1em 0 0));
						}
					}
				}
			}
		}
	}
	&:not(.is-showing-tags){
		#{$block}__tags{
			@include bnd((d:n));
		}
	}
	&.is-showing-tags{
		#{$block}__box{
			&-body{
				@include bnd((w:fit));
			}
		}
		&.has-header-column{
			#{$block}__box{
				&-body{
					@include bnd((pdr:80vw));
				}
			}
		}
		&:not(.has-header-column){
			#{$block}__box{
				&-body{
					@include bnd((pdl:50vw,pdr:50vw));
				}
			}
		}
	}
}