@import 'admin_style_config.scss';
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-banners{
	$block:&;
	@include bnd((mgi:a,bs:b));
	@include grd((tc:repeat(auto-fill, min(var(--cp-item-size),100%)),j:c,g:g));
	@include txt((l:n));
	&__item{
		$item:&;
		@include bnd((bs:b));
		@include trn((t:.5s,s:1));
		&-link{
			@include bnd((d:b,p:r));
			@include usr((c:p));
			img,video,iframe{
				@include bnd((d:b,w:f,h:a));
			}
			&-image{
				@include bnd((d:b));
			}
		}
		&:hover{
			@include trn((s:1.01));
		}
	}
	&.has-title &{
		&__item{
			$item:&;
			@include bnd((bs:b,pdt:1em));
			@include trn((t:.5s,s:1));
			&-title{
				@extend %label-component;
				@extend %paragraph;
				@include bnd((p:r,w:10em fit,mg:0 0 -.5em -.5em,z:1));
				@include bg((c:mx));
				@include txt((a:c,h:1em,c:ix));
				@include shd((b:2));
			}
			&-link{
				&-image{
					&-img{
						@include shd((b:2));
					}
				}
				#{$item}:hover &{
					img{
						@include shd((b:8));
					}
				}
			}
			&:hover{
				@include trn((s:1.01));
			}
		}
	}
}