@charset "utf-8";
.FixedBG {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden; }
  .FixedBG__contents {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120vh; }
