@import "config/style_config.scss";

.wp-block-catpow-showcase{
	@include bnd((w:a 1200,mg:a,pd:40 0));
	@include txt((l:n));
	>.item{
		@include bnd((pd:32 16));
		>.image{
			@include bnd((f:10 10 300,mgt:20));
			@include bdr((s:s,w:8,c:b));
			@include shd((b:4));
			>img{
				@include bnd((d:b,w:f,h:a));
			}
		}
		>.texts{
			@include bnd((p:r,f:1 1 300,pd:32,z:1));
			@include bg((c:b));
			@include bdr((r:20));
			@include shd((b:8));
			>.counter{
				@include bnd((w:fit,h:1em,pd:.5em,mg:-2em a 1em));
				@include bdr((s:s,w:3,r:2em));
				@include bg((c:b));
				@include txt((a:c,p:2em,h:1em,c:m,w:b,f:d,b:k));
				@include shd((b:4));
				>.number{
					@include txt((p:1.5em));
				}
			}
			>.title{
				@include txt((p:2em,c:m,b:k));
			}
			>.titleCaption{
				@include bnd((mgt:.5em));
				@include txt((p:1.1em,w:b));
			}
			>.text{
				@include bnd((mgt:1em));
				@include txt((a:j));
			}
			>.link{
				@include bnd((d:b,w:fit,mg:1em a 0,pd:.5em 1em));
				@include bdr((s:s,w:2,r:1em));
				@include txt((p:1.25em,h:1em,s:n,w:b,c:m));
			}
		}
		@include bp(-960){
			>.image{
				@include bnd((mgb:-40));
			}
		}
		@include bp(960){
			@include flx((w:w,a:s));
			&:nth-child(odd){
				>.image{
					@include bnd((mgr:-40));
				}
			}
			&:nth-child(even){
				@include flx((d:rr));
				>.image{
					@include bnd((mgl:-40));
				}
			}
		}
	}
	&.large{}
	&.medium{}
	&.small{}
}