@import "admin_style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-showcase{
	@include bnd((w:a 1200,mgi:a));
	@include flx((w:w,g:g));
	@include txt((l:n,c:tx));
	&__item{
		@include bnd((pd:8 16,f:1 1 f));
		&-image{
			@include bnd((f:10 10 300,mgt:20));
			@include bdr((s:s,w:8,c:b));
			@include shd((b:4));
			>img{
				@include bnd((d:b,w:f,h:a));
			}
		}
		&-texts{
			@extend %card-component;
			@include bnd((p:r,f:1 1 300,z:1));
			@include bg((c:bx));
			@include shd((b:4));
			&-counter{
				@extend %ui;
				@extend %label-component;
				@include bnd((w:fit,h:1em,pd:.5em 1em,mg:-2em a 1em));
				@include bg((c:m));
				@include txt((a:c,p:1.5em,h:1em,t:.05em,c:i,w:b,f:d,b:k));
				@include shd((b:2));
				&-number{
					@include txt((p:1.25em));
				}
			}
			&-title{
				@extend %heading-block;
				@extend %heading;
				@include bnd((mg:0,pd:0));
				@include txt((c:mx,b:k));
			}
			&-caption{
				@extend %lead-block;
				@extend %lead;
				@include txt((p:1.1em,w:b));
			}
			&-text{
				@extend %paragraph-block;
				@extend %paragraph;
				@include bnd((mgt:1em));
				@include txt((a:j));
			}
			&-link{
				@extend %button-component;
				@extend %ui;
				@include bnd((d:b,w:fit,mg:1em a 0));
				@include bdr((s:s,w:2));
				@include txt((s:n,c:mx));
			}
		}
		@include bp(-960){
			&-image{
				@include bnd((mgb:-40));
			}
		}
		@include bp(960){
			@include flx((w:w,a:s));
			&:nth-child(odd){
				&-image{
					@include bnd((mgr:-40));
				}
			}
			&:nth-child(even){
				@include flx((d:rr));
				&-image{
					@include bnd((mgl:-40));
				}
			}
		}
	}
	&.has-counter{
		&-item{
			@include bnd((pd:32 16,f:1 1 f));
		}
	}
	&.large{}
	&.medium{}
	&.small{}
}