@import "admin_style_config.scss";

.wp-block-catpow-div{
	$block:&;
	@include bnd((mgi:a,p:r,z:1));
	@include txt((c:tx));
	&.is-type-block{
	}
	&.is-type-frame{
		@include bnd((w:c,bs:b,o:h));
		@include bdr((c:m 1 .5));
	}
	&.is-type-columns{
		&.narrow{@include col((w:160,g:20));}
		&.regular{@include col((w:320,g:30));}
		&.wide{@include col((w:480,g:50,rs:d,rw:1,rc:t));}
	}
	&.has-icon{
		&>.icon{
			svg{
				@include txt((c:mx));
			}
		}
		@include bp(960){
			@include bnd((pdl:140));
			&>.icon{
				@include bnd((p:a,l:20,t:20,w:100));
				img{
					@include bnd((w:f,h:a));
				}
			}
		}
		@include bp(-960){
			&>.icon{
				@include bnd((pd:20));
				@include txt((a:c));
				img{
					@include bnd((w:100,h:a));
				}
			}
		}
	}
}