@import "config/style_config.scss";

.wp-block-catpow-div{
	@include bnd((p:r,z:1));
	@include txt((c:tx));
	&.frame{
		@include bnd((mg:10 a,w:95% 960,bs:b,o:h));
		@include bg((c:b));
		@include bdr((c:m 1 .5));
		&.thinBorder{
			@include bdr((s:s,w:1));
		}
		&.boldBorder{
			@include bdr((s:s,w:3));
		}
		&.round{
			@include bdr((r:10));
		}
		&.shadow{
			&:not(.inset){
				@include shd((b:3));
			}
			&.inset{
				@include shd((b:-3));
			}
		}
	}
	&.columns{
		&.narrow{@include col((w:160,g:20));}
		&.regular{@include col((w:320,g:30));}
		&.wide{@include col((w:480,g:50,rs:d,rw:1,rc:t));}
	}
	&.noPad{@include bnd((pd:0));}
	&.thinPad{@include bnd((pd:5));}
	&.lightPad{@include bnd((pd:10));}
	&.mediumPad{@include bnd((pd:20));}
	&.boldPad{@include bnd((pd:40));}
	&.heavyPad{@include bnd((pd:80));}
	@media(#{bp(-2)}){
		&.boldPad{@include bnd((pd:40 20));}
		&.heavyPad{@include bnd((pd:80 20));}
	}
	&.hasIcon{
		@media(#{bp(1)}){
			@include bnd((pdl:240));
			&>.icon{
				@include bnd((p:a,l:20,t:20,w:200));
				img{
					@include bnd((w:f,h:a));
				}
			}
		}
		@media(#{bp(-1)}){
			&>.icon{
				@include bnd((pd:20));
				@include txt((a:c));
				img{
					@include bnd((w:150,h:a));
				}
			}
		}
	}
	&.hasPaleBackgroundColor{
		@include bg((c:s));
	}
	&.hasBackgroundColor{
		@include bg((c:m));
	}
	&.hasBackgroundImage{
		&>.background{
			@include bnd((z:-1));
			img{
				@include bnd((d:b,w:f,h:f,of:c,op:c));
			}
		}
	}
}