@import "config/style_config.scss";
@import "text-placeholders.scss";

p{
	@include txt((p:t-p));
	&.has-regular-font-size,
	.editor-styles-wrapper &.has-regular-font-size {
		@include txt((p:t-p));
	}
	&.is-style-heading{
		@extend %heading-block;
		@extend %heading;
	}
	&.is-style-lead{
		@extend %lead-block;
		@extend %lead;
	}
	&.is-style-paragraph{
		@extend %paragraph-block;
		@extend %paragraph;
	}
	&.is-style-caption{
		@extend %caption-block;
		@extend %caption;
	}
}