@import "config/style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.cp-news{
	@extend %ui-block;
	@include bnd((w:a 1000,mg:a,pd:20));
	@include bp(sp){
		@include bnd((pd:20 0));
	}
	>.tabs{
		@include bnd((pd:0,mg:0));
		@include flx((w:n));
		@include txt((l:n));
		>.tab{
			@include bnd((f:1 1 100,pd:8 0));
			@include txt((a:c,p:16,h:1em,c:i));
			@include trn((t:.25s));
			@include bg((c:var(--label-color)));
			@include usr((c:p));
			&.is-tab-all{
				--label-color:#{clr(a)};
			}
			&:not(.is-active){
				@include bg((c:t 1 .4));
			}
		}
	}
	>.contents{
		>.items{
			@include bnd((pd:20 0));
			>.item{
				@include bnd((pd:cpd,pdl:0,pdr:0));
				@include flx((w:w,a:s,g:16));
				@include bdr((p:b,s:s,w:1,c:t 1 .5));
				>.label{
					@extend %label-component;
					@include bnd((f:0 0 8em));
					@include bg((c:var(--label-color)));
					@include txt((a:c,p:.8em,h:1em,c:i));
				}
				>.date{
					@include bnd((f:0 0 8em,pd:3 0));
					@include txt((p:.9em));
				}
				>.text{
					@include bnd((f:1 1 200,pd:2 0));
					>.title{
						@include txt((c:t));
						@include trn((t:.4s));
						&:hover{
							@include txt((c:m));
						}
					}
				}
			}
		}
	}
	&[x-cloak]{
		>.tabs{
			>.tab{
				&.is-tab-all{
					@include trn((gry:0%,o:1));
				}
			}
		}
		>.contents{
			>.items{
				&:not(.is-items-all){
					@include bnd((d:n));
				}
			}
		}
	}
}