@charset "UTF-8";
.FinderSearchResultsItems {
  background-color: #f8f8f8;
  list-style: none;
}
.FinderSearchResultsItems > .list {
  margin: 0rem auto;
}
.FinderSearchResultsItems > .list .item .title {
  text-align: center;
  font-size: 0.75rem;
}
.FinderSearchResultsItems.list-view .list {
  list-style: none;
}
.FinderSearchResultsItems.list-view .list > .item {
  padding: 0.3125rem;
  margin: 0rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  border-radius: 0.625rem;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.FinderSearchResultsItems.list-view .list > .item > .contents .control {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0.625rem 0.3125rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  padding: 0.625rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts .header {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  font-size: 1.125rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts .tags {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 9.375rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts .address {
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 12.5rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts .contact {
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 12.5rem;
}
.FinderSearchResultsItems.list-view .list > .item > .contents .texts .focus {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6.25rem;
  margin: 0.3125rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #007cba;
  cursor: pointer;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1em;
  font-weight: 700;
  color: #f8f8f8;
}
.FinderSearchResultsItems.grid-view .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.FinderSearchResultsItems.grid-view .list > .item, .FinderSearchResultsItems.grid-view .list > .spacer {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
  box-sizing: border-box;
  margin: 0rem;
}
.FinderSearchResultsItems.grid-view .list > .item {
  padding: 0.3125rem;
}
.FinderSearchResultsItems.grid-view .list > .item > .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.FinderSearchResultsItems.grid-view .list > .item > .contents .control {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0.625rem 0.3125rem;
}
.FinderSearchResultsItems.grid-view .list > .item > .contents .texts {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  padding: 0.625rem;
}
.FinderSearchResultsItems.grid-view .list > .item > .contents .texts .header {
  padding: 0rem;
  margin: 0rem;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: #a2a2a2;
}
.FinderSearchResultsItems.grid-view .list > .item > .contents .texts .focus {
  display: block;
  margin: 0.625rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #007cba;
  cursor: pointer;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1em;
  font-weight: 700;
  color: #f8f8f8;
}
.FinderSearchResultsItems.table-view {
  overflow-x: auto;
}
.FinderSearchResultsItems.table-view .table {
  min-width: 100%;
  width: auto;
}
.FinderSearchResultsItems.table-view .table .header {
  background-color: #a2a2a2;
}
.FinderSearchResultsItems.table-view .table .header .row .cell {
  min-width: 5rem;
  width: auto;
  padding: 0.3125rem;
  text-align: center;
  color: #fff;
}
.FinderSearchResultsItems.table-view .table .body .row {
  background-color: #ececec;
}
.FinderSearchResultsItems.table-view .table .body .row:nth-child(odd) {
  background-color: #f6f6f6;
}
.FinderSearchResultsItems.table-view .table .body .row.selected {
  background-color: #d9ebf5;
}
.FinderSearchResultsItems.table-view .table .body .row.selected:nth-child(odd) {
  background-color: #e6f2f8;
}
.FinderSearchResultsItems.table-view .table .body .row .control {
  width: 1.875rem;
  text-align: center;
}
.FinderSearchResultsItems.table-view .table .body .row .cell {
  min-width: 5rem;
  width: auto;
  padding: 0.3125rem;
}
.FinderSearchResultsItems.table-view .table .body .row .cell .outputs__item dl {
  clear: both;
}
.FinderSearchResultsItems.table-view .table .body .row .cell .outputs__item dl dt {
  float: left;
  min-width: fit-content;
  max-width: auto;
  width: 2.5rem;
}
.FinderSearchResultsItems.table-view .table .body .row .cell .outputs__item dl dt::after {
  content: "：";
}
.FinderSearchResultsItems.table-view .table .body .row .cell .outputs__item dl dd {
  float: left;
  margin: 0rem;
}
/*# sourceMappingURL=./style.css.map */