@charset "UTF-8";
.cp-findersearchresults-items {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
  list-style: none;
}
.cp-findersearchresults-items > .list {
  margin: 0rem auto;
}
.cp-findersearchresults-items > .list .item .title {
  text-align: center;
  font-size: 0.75rem;
}
.cp-findersearchresults-items.list-view .list {
  list-style: none;
}
.cp-findersearchresults-items.list-view .list > .item {
  padding: 0.3125rem;
  margin: 0rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  border-radius: 0.625rem;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.cp-findersearchresults-items.list-view .list > .item > .contents .control {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0.625rem 0.3125rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  padding: 0.625rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts .header {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  font-size: 1.125rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts .tags {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 9.375rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts .address {
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 12.5rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts .contact {
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 12.5rem;
}
.cp-findersearchresults-items.list-view .list > .item > .contents .texts .focus {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6.25rem;
  margin: 0.3125rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  cursor: pointer;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1em;
  font-weight: 700;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
}
.cp-findersearchresults-items.grid-view .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cp-findersearchresults-items.grid-view .list > .item, .cp-findersearchresults-items.grid-view .list > .spacer {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
  box-sizing: border-box;
  margin: 0rem;
}
.cp-findersearchresults-items.grid-view .list > .item {
  padding: 0.3125rem;
}
.cp-findersearchresults-items.grid-view .list > .item > .contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
  box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.cp-findersearchresults-items.grid-view .list > .item > .contents .control {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0.625rem 0.3125rem;
}
.cp-findersearchresults-items.grid-view .list > .item > .contents .texts {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25rem;
  padding: 0.625rem;
}
.cp-findersearchresults-items.grid-view .list > .item > .contents .texts .header {
  padding: 0rem;
  margin: 0rem;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),var(--cp-tones-t-a));
}
.cp-findersearchresults-items.grid-view .list > .item > .contents .texts .focus {
  display: block;
  margin: 0.625rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  cursor: pointer;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1em;
  font-weight: 700;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a));
}
.cp-findersearchresults-items.table-view {
  overflow-x: auto;
}
.cp-findersearchresults-items.table-view .table {
  min-width: 100%;
  width: auto;
}
.cp-findersearchresults-items.table-view .table .header {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 50),var(--cp-tones-t-a));
}
.cp-findersearchresults-items.table-view .table .header .row .cell {
  position: relative;
  min-width: 5rem;
  width: auto;
  padding: 0.3125rem;
  padding-right: 1.25rem;
  text-align: center;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 0.625rem;
  height: 0.9375rem;
  margin: auto;
  margin-right: 0.3125rem;
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort::before, .cp-findersearchresults-items.table-view .table .header .row .cell .sort::after {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 0rem;
  height: 0rem;
  margin: auto;
  border-style: solid;
  border-width: 0.375rem;
  border-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort::before {
  margin-top: 0rem;
  border-bottom-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),calc(100% - var(--cp-tones-i-t) * 100),calc(var(--cp-tones-i-a) * 0.3));
  border-top-width: 0rem;
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort::after {
  margin-bottom: 0rem;
  border-top-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),calc(100% - var(--cp-tones-i-t) * 100),calc(var(--cp-tones-i-a) * 0.3));
  border-bottom-width: 0rem;
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort-asc::before {
  border-bottom-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
}
.cp-findersearchresults-items.table-view .table .header .row .cell .sort-desc::after {
  border-top-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
}
.cp-findersearchresults-items.table-view .table .body .row {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),var(--cp-tones-t-a));
}
.cp-findersearchresults-items.table-view .table .body .row:nth-child(odd) {
  background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 5),var(--cp-tones-t-a));
}
.cp-findersearchresults-items.table-view .table .body .row.selected {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 15),var(--cp-tones-m-a));
}
.cp-findersearchresults-items.table-view .table .body .row.selected:nth-child(odd) {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 10),var(--cp-tones-m-a));
}
.cp-findersearchresults-items.table-view .table .body .row .control {
  width: 1.875rem;
  text-align: center;
}
.cp-findersearchresults-items.table-view .table .body .row .cell {
  min-width: 5rem;
  width: auto;
  padding: 0.3125rem;
}
.cp-findersearchresults-items.table-view .table .body .row .cell .outputs__item dl {
  clear: both;
}
.cp-findersearchresults-items.table-view .table .body .row .cell .outputs__item dl dt {
  float: left;
  min-width: fit-content;
  max-width: auto;
  width: 2.5rem;
}
.cp-findersearchresults-items.table-view .table .body .row .cell .outputs__item dl dt::after {
  content: "：";
}
.cp-findersearchresults-items.table-view .table .body .row .cell .outputs__item dl dd {
  float: left;
  margin: 0rem;
}
/*# sourceMappingURL=./style.css.map */