@import "admin_style_config.scss";

.wp-block-catpow-pageheader{
	@include bnd((d:b,p:r,ssa:s));
	@include bg((c:bx));
	&__body{
		@include bnd((p:r,z:2));
		&-title{
			@include bnd((pd:80 20));
			@include txt((a:c,f:h,p:32,h:1.5em,c:tx));
		}
		&-breadcrumb{
			@include bg((c:shd));
			&__body{
				@include bnd((w:a c,mg:a));
				&-items{
					@include flx((w:w));
					@include txt((l:n));
					&-item{
						@include bnd((f:0 0 a));
						&-link{
							@include bnd((d:ib,pd:8));
							@include txt((p:14,c:i,s:n));
						}
						&:not(:last-child) &{
							&-link:last-child{
								&::after{
									content:'ï¼ž';
									@include bnd((d:ib,mgl:.5em));
								}
							}
						}
						&.is-home{
						}
					}
				}
			}
		}
	}
	&__background{
		@include bnd((d:b,p:a,i:0,z:1,o:h));
		&::before{
			content:'';
			@include bnd((d:b,p:a,i:0,z:2));
			@include bg((c:m));
			@include trn((o:var(--cp-image-opacity),bm:var(--cp-image-blendmode)));
		}
		img{
			@include bnd((d:b,w:f,h:f,op:c,of:c,z:1));
		}
	}
	&.is-size-xsmall &{
		&__body{
			&-title{
				@include bnd((pd:20));
				@include txt((p:18));
			}
		}
	}
	&.is-size-small &{
		&__body{
			&-title{
				@include bnd((pd:40 20));
				@include txt((p:24));
			}
		}
	}
	&.is-size-medium &{
		&__body{
			&-title{
				@include bnd((pd:80 20));
			}
		}
		
	}
	&.is-size-large &{
		&__body{
			&-title{
				@include bnd((pd:160 20));
				@include txt((p:48));
			}
		}
	}
	&.is-size-xlarge &{
		&__body{
			&-title{
				@include bnd((pd:240 20));
				@include txt((p:min(8vw,4rem),h:2em,t:.1em));
			}
		}
	}
}