.wp-block-catpow-panes__item-contents-text-symbol, .wp-block-catpow-panes__item-contents-text-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-panes__item-contents-text-caption {
  font-family: var(--cp-font-family-t-c, inherit);
  font-size: var(--cp-font-size-t-c, 2em);
  font-weight: var(--cp-font-weight-t-c, regular);
  line-height: var(--cp-line-height-t-c, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-c, normal);
}
.wp-block-catpow-panes {
  padding: 0px;
  margin-inline: auto;
  list-style: none;
}
@media (min-width:640px) {
  .wp-block-catpow-panes {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wp-block-catpow-panes > * {
    flex-grow: 1;
    box-sizing: border-box;
  }
  .wp-block-catpow-panes > *:first-child:nth-last-child(1), .wp-block-catpow-panes > *:first-child:nth-last-child(1) ~ * {
    flex-basis: 100%;
  }
  .wp-block-catpow-panes > *, .wp-block-catpow-panes > *:first-child:nth-last-child(2), .wp-block-catpow-panes > *:first-child:nth-last-child(2) ~ * {
    flex-basis: 50%;
  }
  .wp-block-catpow-panes > *:first-child:nth-last-child(3n), .wp-block-catpow-panes > *:first-child:nth-last-child(3n) ~ *, .wp-block-catpow-panes > *:nth-child(2n):nth-last-child(3n + 1) ~ * {
    flex-basis: 33%;
  }
}
@media (min-width:960px) {
  .wp-block-catpow-panes {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wp-block-catpow-panes > * {
    flex-grow: 1;
    box-sizing: border-box;
  }
  .wp-block-catpow-panes > *:first-child:nth-last-child(3), .wp-block-catpow-panes > *:first-child:nth-last-child(3) ~ *, .wp-block-catpow-panes > *:first-child:nth-last-child(7), .wp-block-catpow-panes > *:first-child:nth-last-child(7) ~ *, .wp-block-catpow-panes > *:first-child:nth-last-child(11), .wp-block-catpow-panes > *:first-child:nth-last-child(11) ~ * {
    flex-basis: 33%;
  }
  .wp-block-catpow-panes > *, .wp-block-catpow-panes > *:first-child:nth-last-child(4), .wp-block-catpow-panes > *:first-child:nth-last-child(4) ~ *, .wp-block-catpow-panes > *:first-child:nth-last-child(7) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ *, .wp-block-catpow-panes > *:first-child:nth-last-child(8), .wp-block-catpow-panes > *:first-child:nth-last-child(8) ~ *, .wp-block-catpow-panes > *:first-child:nth-last-child(11) ~ *:nth-child(3n):nth-last-child(4n + 1) ~ * {
    flex-basis: 25%;
  }
  .wp-block-catpow-panes > *:first-child:nth-last-child(5n), .wp-block-catpow-panes > *:first-child:nth-last-child(5n) ~ *, .wp-block-catpow-panes > *:nth-child(4n):nth-last-child(5n + 1) ~ * {
    flex-basis: 20%;
  }
  .wp-block-catpow-panes > *:first-child:nth-last-child(6), .wp-block-catpow-panes > *:first-child:nth-last-child(6) ~ * {
    flex-basis: 16%;
  }
}
.wp-block-catpow-panes__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wp-block-catpow-panes__item:nth-child(odd) .wp-block-catpow-panes__item-image {
  order: 2;
}
.wp-block-catpow-panes__item-image, .wp-block-catpow-panes__item-contents {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 240px;
}
.wp-block-catpow-panes__item-image::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.wp-block-catpow-panes__item-image img, .wp-block-catpow-panes__item-image picture, .wp-block-catpow-panes__item-image video {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-panes__item-contents {
  height: auto;
  aspect-ratio: 1;
  padding: var(--cp-padding-c-c);
  align-content: center;
  box-sizing: border-box;
  background-color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
}
.wp-block-catpow-panes__item-contents-text {
  color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-panes__item-contents-text-symbol {
  display: block;
  width: 2em;
  margin: 0px auto 0.25em;
}
.wp-block-catpow-panes__item-contents-text-symbol img, .wp-block-catpow-panes__item-contents-text-symbol svg {
  width: 2em;
  height: 2em;
  margin: 0px auto;
  object-position: center;
  object-fit: contain;
}
.wp-block-catpow-panes__item-contents-text-symbol svg {
  display: block;
  margin-inline: auto;
  height: auto;
  fill: currentcolor;
}
.wp-block-catpow-panes__item-contents-text-title {
  margin: 0px;
  text-align: center;
}
.wp-block-catpow-panes__item-contents-text-caption {
  margin: 0px;
}
/*# sourceMappingURL=./style.css.map */