@import 'admin_style_config.scss';
@import 'component-placeholders.scss';

.wp-block-catpow-container{
	$block:&;
	@include bnd((o:c));
	&:not(.has-border){
		@include bdr((s:n));
	}
	&.has-border{
		@extend %frame-component;
		@include bdr((s:s,c:l));
	}
	&.has-inset-shadow{
		@include shd((b:-4));
	}
	&.has-outset-shadow{
		@include shd((b:4));
	}
	&.has-scroll-x{
		@include bnd((w:a f,ox:a));
		#{$block}__body{
			@include bnd((mg:a,w:calc(var(--cp-content-width) * 1px)));
		}
	}
	&.has-scroll-y{
		@include bnd((h:calc(var(--cp-container-height) * 1px),oy:a));
		#{$block}__body{
		}
	}
}