@import 'admin_style_config.scss';
@import 'component-placeholders.scss';

.wp-block-catpow-container{
	$block:&;
	@include bnd((o:c));
	&:not(.has-border){
		@include bdr((s:n));
	}
	&.has-border{
		@extend %frame-component;
		@include bdr((s:s,w:calc(var(--cp-border-width) * #{$size-unit}),c:t 1 .5));
	}
	&.has-inset-shadow{
		@include shd((b:-4));
	}
	&.has-outset-shadow{
		@include shd((b:4));
	}
	&.has-scroll-x{
		@include bnd((w:a f,ox:a));
		#{$block}__body{
			@include bnd((mg:a,w:calc(var(--cp-content-width) * 1px)));
		}
	}
	&.has-scroll-y{
		@include bnd((h:calc(var(--cp-container-height) * 1px),oy:a));
		#{$block}__body{
		}
	}
	&.has-margin{
		@include bnd((mg:calc(var(--cp-margin-y) * #{$size-unit}) calc(var(--cp-margin-x) * #{$size-unit})));
	}
	&.has-padding{
		#{$block}__body{
			@include bnd((pd:calc(var(--cp-padding-y) * #{$size-unit}) calc(var(--cp-padding-x) * #{$size-unit})));
		}
	}
}