@import 'admin_style_config.scss';
@import "text-placeholders.scss";

.wp-block-catpow-countdown{
	@extend %ui-block;
	&-body{
		@extend %ui;
		@include bnd((pd:1em 0));
		@include flx((w:n,j:c,g:.5em));
		@include txt((c:tx));
		&-group{
			@include flx((w:n,g:.25em,a:e));
			&-number{
				@include bnd((d:b,p:r,f:0 0 1ch,pd:.25em,w:1ch));
				@include bg((c:tx 1 .1));
				@include bdr((r:.25em));
				@include txt((a:c,p:xlg,h:1em,w:b,f:dc));
				&.is-leading-zero{
				}
			}
			&::after{
				@include bnd((d:b,f:0 0 a,pd:.25em));
				@include txt((p:1em,h:1em));
			}
			&.is-days{
				&::after{
					content:'日';
				}
			}
			&.is-days &{
				&-number{
					&.is-leading-zero{
						@include bnd((d:n));
					}
				}
			}
			&.is-hours{
				&::after{
					content:'時間';
				}
			}
			&.is-minutes{
				&::after{
					content:'分';
				}
			}
			&.is-seconds{
				&::after{
					content:'秒';
				}
			}
		}
	}
}