.cp-radiobuttons__button {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  margin: 0.5em;
  padding-left: 2.5em;
  border-radius: 1em;
  text-align: center;
  line-height: 1em;
  color: oklch(calc(1 - var(--cp-tones-t-t) * 40) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 1px 1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)) inset, -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)), -1px -1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)) inset, 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1));
}
.cp-radiobuttons__button.is-selected {
  color: oklch(var(--cp-tones-t-l) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
  box-shadow: 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)) inset, -1px -1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)), -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)) inset, 1px 1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
}
.cp-radiobuttons__button-icon {
  display: block;
  position: absolute;
  top: 0rem;
  left: 0.75em;
  bottom: 0rem;
  width: 1em;
  height: 1em;
  margin: auto;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)) inset, -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)), -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)) inset, 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1));
}
.cp-radiobuttons__button-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  background-color: oklch(calc(1 - var(--cp-tones-t-t) * 10) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 2, 0.4, 0.7);
  transform: -webkit- scale(0.4);
  transform: scale(0.4);
}
.cp-radiobuttons__button-icon.is-selected::before {
  background-color: oklch(var(--cp-tones-m-l) var(--cp-tones-m-c) var(--cp-tones-m-h) / var(--cp-tones-m-a,1));
  opacity: 1;
  transform: -webkit- scale(0.8);
  transform: scale(0.8);
}
.cp-radiobuttons.is-size-small {
  font-size: 0.875rem;
}
.cp-radiobuttons.is-size-medium {
  font-size: 1rem;
}
.cp-radiobuttons.is-size-large {
  font-size: 1.125rem;
}
@container (width < 30rem) {
  .cp-radiobuttons {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: oklch(var(--cp-tones-l-l) var(--cp-tones-l-c) var(--cp-tones-l-h) / var(--cp-tones-l-a,1));
    border-radius: 1em;
    box-shadow: 1px 1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)) inset, -1px -1px 1px oklch(var(--cp-tones-lt-l) var(--cp-tones-lt-c) var(--cp-tones-lt-h) / var(--cp-tones-lt-a,1)), -1px -1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1)) inset, 1px 1px 1px oklch(var(--cp-tones-sh-l) var(--cp-tones-sh-c) var(--cp-tones-sh-h) / var(--cp-tones-sh-a,1));
  }
  .cp-radiobuttons__button {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0.5em;
    margin: 0rem;
    border-radius: 0rem;
    box-shadow: none;
    color: oklch(var(--cp-tones-t-l) var(--cp-tones-t-c) var(--cp-tones-t-h) / var(--cp-tones-t-a,1));
    font-size: 0.75rem;
  }
  .cp-radiobuttons__button:not(:first-child) {
    border-left-style: solid;
    border-left-width: 0.0625rem;
    border-left-color: oklch(var(--cp-tones-l-l) var(--cp-tones-l-c) var(--cp-tones-l-h) / var(--cp-tones-l-a,1));
  }
  .cp-radiobuttons__button.is-selected {
    color: oklch(var(--cp-tones-i-l) var(--cp-tones-i-c) var(--cp-tones-i-h) / var(--cp-tones-i-a,1));
    background-color: oklch(var(--cp-tones-m-l) var(--cp-tones-m-c) var(--cp-tones-m-h) / var(--cp-tones-m-a,1));
    box-shadow: none;
  }
  .cp-radiobuttons__button-icon {
    display: none;
  }
}
/*# sourceMappingURL=./style.css.map */