@import 'admin_style_config.scss';
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-buttons{
	@extend %ui-block;
	$block:&;
	@include flx((w:w,j:c,a:s,g:c-b));
	@include bnd((w:c,mgi:a));
	&-button{
		@extend %button-component;
		@extend %ui;
		@include bnd((d:b,p:r,pd:ipd));
		@include bg((c:bx));
		@include bdr((s:s));
		@include txt((a:c,c:mx,td:n,b:k));
		@include trn((t:.2s));
		@include usr((c:p));
		&__icon{
			@include bnd((p:a,w:1.8em,h:1.8em,t:0,b:0,l:1em,mg:a));
			svg{
				@include svg((f:crr));
			}
			img{
				@include bnd((d:b,w:f,h:a));
			}
		}
		&__text{
			@include bnd((d:b,p:r,z:1));
		}
		&:active{
			@include shd((b:0 0 0 clr(mx 1 .2)));
		}
		&::after{
			content:'';
			@include bnd((d:b,p:a,i:0,mg:a,mgr:1em,w:.8em,h:.8em));
			@include bdr((p:r b,s:s,w:2));
			@include trn((r:-45deg));
		}
	}
	&__item{
		@extend %ui;
		@include bnd((p:r,f:0 1 i,mg:0));
		@include txt((l:n,a:c,c:mx));
		&-copy{
			@extend %label-component;
			@include bnd((d:b,p:r,i:0,mg:a,mgb:-1.25em,pd:.4em 1em,w:fit,h:fit,z:1));
			@include bg((c:bx));
			@include bdr((s:s,w:2));
			@include txt((p:.6em,h:1em,c:mx));
		}
		&-caption{
			@extend %caption;
			@include bnd((d:b,w:fit,mgi:a,z:1));
			@include txt((a:l,c:tx));
		}
		&.has-icon{
		}
		&.is-rank-primary{
			#{$block}{
				&-button{
					@include bnd((d:b,p:r,o:h));
					@include txt((c:i));
					@include bg((c:m));
					@include shd((t:t-u));
					&::before{
						content:'';
						@include bnd((d:b,p:a,i:0,r:f));
						@include bdr((r:calc(#{sz(r-b)} - #{sz(2)})));
						@include bg((c:m 90));
						@include trn((t:.3s));
					}
					&:hover{
						&::before{
							@include bnd((r:0));
						}
					}
					.icon{
						svg{
							@include svg((f:i));
						}
					}
				}
			}
		}
		&.is-rank-secondary{
			#{$block}{
				&-button{
					@include shd((t:t-u clr(shd 1 .4)));
				}
			}
		}
		&.is-rank-tertiary{
			@include trn((o:.8));
			#{$block}{
				&__item{
					&-copy{
						@include shd((b:n));
					}
				}
				&-button{
					@include bg((c:n));
					@include shd((b:n));
				}
			}
		}
		&.negative{
			@include trn((gry:100%,o:.5));
		}
		&.secure{
			.button{
				&::before{
					@include bdr((s:w,w:6));
				}
			}
		}
	}
}
