.cp-checkbox {
  display: inline-block;
  position: relative;
  padding: 0.625rem 0.9375rem;
  margin: 0.46875rem;
  padding-left: 2.5rem;
  border-radius: 1.25rem;
  font-size: 0.9375rem;
  line-height: 1em;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 40),var(--cp-tones-t-a,1));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)) inset, -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)), -1px -1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)) inset, 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1));
}
.cp-checkbox__icon {
  display: block;
  position: relative;
  width: 0.9375rem;
  margin: 0rem 0.625rem;
  height: 0.9375rem;
  border-radius: 0.1875rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)) inset, -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)), -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)) inset, 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1));
}
.cp-checkbox__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.0625rem;
  left: 0rem;
  width: 0rem;
  height: 0rem;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-width: 0.1875rem;
  border-bottom-width: 0.1875rem;
  border-left-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 60),var(--cp-tones-m-a,1));
  border-bottom-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 60),var(--cp-tones-m-a,1));
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  opacity: 0;
  transform: -webkit- translateY(0.3125rem) rotateZ(-45deg);
  transform: translateY(0.3125rem) rotateZ(-45deg);
  -webkit-transition: width 0s 0.2s, height 0s 0.2s, opacity 0.2s;
  transition: width 0s 0.2s, height 0s 0.2s, opacity 0.2s;
}
.cp-checkbox__icon.selected::before {
  width: 0.9375rem;
  height: 0.46875rem;
  opacity: 1;
  -webkit-transition: width 0.1s 0.1s, height 0.1s, opacity 0.1s;
  transition: width 0.1s 0.1s, height 0.1s, opacity 0.1s;
}
.cp-checkbox > .cp-checkbox__icon {
  display: block;
  position: absolute;
  top: 0rem;
  left: 0.625rem;
  bottom: 0rem;
  margin: auto;
}
.cp-checkbox.selected {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  box-shadow: 1px 1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)) inset, -1px -1px 1px hsla(var(--cp-tones-lt-h),var(--cp-tones-lt-s),var(--cp-tones-lt-l),var(--cp-tones-lt-a,1)), -1px -1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1)) inset, 1px 1px 1px hsla(var(--cp-tones-sh-h),var(--cp-tones-sh-s),var(--cp-tones-sh-l),var(--cp-tones-sh-a,1));
}
/*# sourceMappingURL=./style.css.map */