@import 'admin_style_config.scss';

.SelectPreparedImage{
	@include bnd((p:r));
	&-icon{
		@include bnd((d:b,w:fit,pd:4));
		@include bg((c:m));
		&-img{
			@include bnd((d:b,w:32,h:32,op:c,mg:0));
			@include bdr((s:n));
		}
	}
	&-popover{
		@include bnd((p:a,t:100%,l:-50vw,r:-50vw,w:300,h:fit,mg:a,z:100));
		@include bg((c:t 20));
		@include shd((b:4));
		&-search{
			@include bnd((d:b,p:r,pd:.5em));
			@include bg((c:b));
			@include txt((p:16,h:1em));
			&::before{
				content:'\e8b6';
				@include bnd((d:b,p:a,i:0,w:1em,h:1em,mg:a,mgl:1em));
				@include txt((f:i,c:i));
			}
			& &-input{
				@include bnd((ap:n,d:b,pd:.5em,h:1em,w:f,bs:b));
				@include bdr((s:s,w:1,c:t 50));
				@include bdr((p:l,w:2em));
			}
		}
		&-list{
			@include flx((w:w));
			@include bg((c:t 20));
			&-item{
				@include bnd((f:0 0 10%,bs:b));
				@include usr((c:p));
				&-img{
					@include bnd((d:b,w:f,h:a));
				}
				&.is-active{
					@include bg((c:m));
				}
			}
		}
	}
}