@charset "UTF-8";
#AmazonPayButtonContainer {
  padding: 0.625rem;
  text-align: center;
}
.amazonPayPopup {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}
.amazonPayPopup:not(.open) {
  opacity: 0;
  pointer-events: none;
}
.amazonPayPopup .amazonPayPopupContent {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f8f8f8;
  transform: -webkit- translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.amazonPayPopup .amazonPayPopupContent .amazonPayWidget {
  width: 18.75rem;
  height: 14.25rem;
  margin: 0.625rem;
}
@media (min-width:640px) {
  .amazonPayPopup .amazonPayPopupContent .amazonPayWidget {
    width: 25rem;
  }
}
.amazonPayPopup .amazonPayPopupContent .amazonPayError {
  display: block;
  position: relative;
  margin: 0.625rem;
  padding: 0.3125rem;
  border-radius: 0.1875rem;
  background-color: #e4b33c;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1em;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  color: #f8f8f8;
}
.amazonPayPopup .amazonPayPopupContent .amazonPayCheckoutButton {
  display: block;
  width: 12.5rem;
  height: auto;
  margin: 0.625rem auto;
  padding: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1em;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-weight: 700;
  color: #000;
  background-image: -webkit-linear-gradient(bottom, #efd18a, #e9c263 49%, #e4b33c 50%, #e9c263);
  background-image: -moz-linear-gradient(bottom, #efd18a, #e9c263 49%, #e4b33c 50%, #e9c263);
  background-image: -ms-linear-gradient(bottom, #efd18a, #e9c263 49%, #e4b33c 50%, #e9c263);
  background-image: -o-linear-gradient(bottom, #efd18a, #e9c263 49%, #e4b33c 50%, #e9c263);
  background-image: linear-gradient(180deg, #efd18a, #e9c263 49%, #e4b33c 50%, #e9c263);
  border-radius: 0.3125rem;
}
.amazonPayPopup .amazonPayPopupContent .amazonPayCheckoutButton:not(.active) {
  background-image: -webkit-linear-gradient(bottom, #e0e0e0, #d6d6d6 49%, #ccc 50%, #d6d6d6);
  background-image: -moz-linear-gradient(bottom, #e0e0e0, #d6d6d6 49%, #ccc 50%, #d6d6d6);
  background-image: -ms-linear-gradient(bottom, #e0e0e0, #d6d6d6 49%, #ccc 50%, #d6d6d6);
  background-image: -o-linear-gradient(bottom, #e0e0e0, #d6d6d6 49%, #ccc 50%, #d6d6d6);
  background-image: linear-gradient(180deg, #e0e0e0, #d6d6d6 49%, #ccc 50%, #d6d6d6);
  color: #888;
}
.amazonPayPopup .amazonPayPopupContent .amazonPayPopupClose {
  position: absolute;
  top: -1.25rem;
  right: -1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  z-index: 20;
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 1.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.amazonPayPopup .amazonPayPopupContent .amazonPayPopupClose::before, .amazonPayPopup .amazonPayPopupContent .amazonPayPopupClose::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  top: 0.875rem;
  left: 0.3125rem;
  background-color: #f8f8f8;
}
.amazonPayPopup .amazonPayPopupContent .amazonPayPopupClose::before {
  transform: -webkit- rotateZ(45deg);
  transform: rotateZ(45deg);
}
.amazonPayPopup .amazonPayPopupContent .amazonPayPopupClose::after {
  transform: -webkit- rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
/*# sourceMappingURL=./AmazonPay.css.map */