.wp-block-catpow-pagenavigation {
  list-style: none;
}
.wp-block-catpow-pagenavigation__item-contents-link {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a));
  text-decoration: none;
}
.wp-block-catpow-pagenavigation-submenu {
  padding-left: 1em;
  list-style: none;
}
.wp-block-catpow-pagenavigation-submenu__item-link {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a));
  text-decoration: none;
}
.wp-block-catpow-pagenavigation-endmenu {
  padding-left: 1em;
  list-style: none;
}
.wp-block-catpow-pagenavigation-endmenu__item-link {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a));
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-tree {
  padding: 1em;
  max-width: 15rem;
  width: auto;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item-contents {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item-contents-link {
  margin-bottom: 0.5em;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 1.125rem;
  font-family: var(--cp-fonts-h);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item-contents-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item-contents-toggle {
  cursor: pointer;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item.is-active .wp-block-catpow-pagenavigation__item-contents-link {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),var(--cp-tones-a-a));
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation__item:not(.is-open) .wp-block-catpow-pagenavigation-submenu {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu {
  padding-left: 1em;
  grid-column: span 2;
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item {
  padding-bottom: 0.5rem;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item-link {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 1rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(calc(var(--cp-tones-t-h) * 0.5 + var(--cp-tones-b-h) * 0.5),calc(var(--cp-tones-t-s) * 0.5 + var(--cp-tones-b-s) * 0.5),calc(var(--cp-tones-t-l) * 0.5 + var(--cp-tones-b-l) * 0.5),calc(var(--cp-tones-t-a) * 0.5 + var(--cp-tones-b-a) * 0.5));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item-toggle {
  cursor: pointer;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item.is-active .wp-block-catpow-pagenavigation-submenu__item-link {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),var(--cp-tones-a-a));
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-submenu__item:not(.is-open) .wp-block-catpow-pagenavigation-endmenu {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-endmenu {
  grid-column: span 2;
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-endmenu__item-link {
  font-size: 0.875rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-tree .wp-block-catpow-pagenavigation-endmenu__item.is-active .wp-block-catpow-pagenavigation-endmenu__item-link {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),var(--cp-tones-a-a));
}
.wp-block-catpow-pagenavigation.is-style-list {
  max-width: 60rem;
  width: 90%;
  padding: 2.5rem;
  margin-inline: auto;
  -webkit-columns: 15rem;
  -moz-columns: 15rem;
  columns: 15rem;
  gap: 1.25rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  border-radius: 1.25rem;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation__item {
  break-inside: avoid;
  padding-bottom: 0.75rem;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation__item-contents-link {
  margin-bottom: 0.5em;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 1.125rem;
  font-family: var(--cp-fonts-h);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation__item-contents-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation__item-contents-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-submenu {
  padding-left: 1em;
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-submenu__item {
  padding-bottom: 0.5rem;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-submenu__item-link {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 1rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-submenu__item-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(calc(var(--cp-tones-t-h) * 0.5 + var(--cp-tones-b-h) * 0.5),calc(var(--cp-tones-t-s) * 0.5 + var(--cp-tones-b-s) * 0.5),calc(var(--cp-tones-t-l) * 0.5 + var(--cp-tones-b-l) * 0.5),calc(var(--cp-tones-t-a) * 0.5 + var(--cp-tones-b-a) * 0.5));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-submenu__item-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-endmenu {
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-list .wp-block-catpow-pagenavigation-endmenu__item-link {
  font-size: 0.875rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-card {
  padding: 1.25rem;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 1.25rem;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation__item {
  overflow: hidden;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr;
  grid-template-columns: 10rem 1fr;
  border-radius: 1.25rem;
  background-color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),1);
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation__item-image {
  display: block;
  width: 10rem;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation__item-contents {
  padding: 2rem;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation__item-contents-link {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.75rem;
  font-family: var(--cp-fonts-h);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation__item-contents-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-submenu {
  padding-left: 1em;
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-submenu__item-link {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 1rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-submenu__item-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(calc(var(--cp-tones-t-h) * 0.5 + var(--cp-tones-b-h) * 0.5),calc(var(--cp-tones-t-s) * 0.5 + var(--cp-tones-b-s) * 0.5),calc(var(--cp-tones-t-l) * 0.5 + var(--cp-tones-b-l) * 0.5),calc(var(--cp-tones-t-a) * 0.5 + var(--cp-tones-b-a) * 0.5));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-submenu__item-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-endmenu {
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-card .wp-block-catpow-pagenavigation-endmenu__item-link {
  font-size: 0.875rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),1);
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-grid {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation__item {
  position: relative;
  min-height: 15rem;
  height: auto;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation__item-image {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 0;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation__item-contents {
  position: relative;
  padding: 2.5rem;
  z-index: 1;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 100),calc(var(--cp-tones-m-a) * 0.6));
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation__item-contents-link {
  display: block;
  margin-bottom: 0.5em;
  font-size: 2rem;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation__item-contents-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-submenu {
  padding-left: 1em;
  -webkit-columns: 12.5rem;
  -moz-columns: 12.5rem;
  columns: 12.5rem;
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-submenu__item {
  break-inside: avoid;
  margin-bottom: 0.5em;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-submenu__item-link {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5em 1fr;
  grid-template-columns: 0.5em 1fr;
  grid-gap: 0.2em;
  align-items: center;
  font-size: 0.875rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
  text-decoration: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-submenu__item-link::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.5em;
  background-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),calc(100% - var(--cp-tones-i-t) * 100),calc(var(--cp-tones-i-a) * 0.6));
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-submenu__item-toggle {
  display: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-endmenu {
  list-style: none;
}
.wp-block-catpow-pagenavigation.is-style-grid .wp-block-catpow-pagenavigation-endmenu__item-link {
  font-size: 0.75rem;
  font-family: var(--cp-fonts-t);
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a));
  text-decoration: none;
}
/*# sourceMappingURL=./style.css.map */