@import 'admin_style_config.scss';


.Popup{
	@include bnd((p:r,v:h));
	@include trn((o:0));
	&.open{
		@include bnd((v:v));
		@include trn((t:(v 0s, o .5s),o:1));
	}
	&.close{
		@include trn((t:(v 0s .5s, o .5s),o:0));
	}
	&.closed{
		@include bnd((d:n));
		@include usr((e:n));
	}
	&Container{
		@include bnd((d:b,p:f,t:0,l:0,r:0,z:10000));
	}
	&BG{
		content:'';
		@include bnd((d:b,p:f,i:0));
		@include bg((c:shd));
	}
	&Body{
		@include bnd((d:b,w:fit 640,h:a 90vh,p:f,l:0,r:0,t:50%,mg:a));
		@include bdr((r:10));
		@include bg((c:b));
		@include shd((b:2));
		@include trn((y:-50%));
		.PopupContents{
			@include bnd((oy:a));
		}
		.PopupControl{
			.close{
				@include bnd((p:a,w:30,h:30,t:-40,r:10));
				&::before,&::after{
					content:'';
					@include bnd((p:a,t:15,w:30,h:1));
					@include bg((c:b));
				}
				&::before{
					@include trn((r:45deg));
				}
				&::after{
					@include trn((r:-45deg));
				}
			}
		}
	}
}