@charset "UTF-8";
.wp-block-template-part {
  display: contents;
}
.wp-block-catpow-siteheader {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  width: 100%;
  left: 0px;
  z-index: 3000;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  box-shadow: 0 5px 11px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.wp-block-catpow-siteheader > .contents {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.wp-block-catpow-siteheader > .contents h1.logo {
  padding: 10px;
  box-sizing: border-box;
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  font-size: 20px;
  line-height: 1em;
  font-family: m;
  text-align: left;
  font-weight: bold;
}
.wp-block-catpow-siteheader > .contents h1.logo a.custom-logo-link {
  display: inline-block;
  margin-right: 5px;
  text-align: left;
  font-size: 25px;
  line-height: 1em;
  font-family: var(--cp-fonts-t);
  font-weight: 900;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
.wp-block-catpow-siteheader > .contents h1.logo a.custom-logo-link img {
  width: auto;
  height: 30px;
  vertical-align: middle;
}
.wp-block-catpow-siteheader > .contents h1.logo small {
  display: inline-block;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  font-size: 18px;
  line-height: 1em;
  font-family: var(--cp-fonts-t);
  font-weight: normal;
}
.wp-block-catpow-siteheader > .back_to_top {
  display: block;
  position: fixed;
  width: 20px;
  height: 20px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-radius: 30px;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-family: var(--cp-fonts-t);
  font-weight: normal;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
}
.wp-block-catpow-siteheader > .back_to_top::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.wp-block-catpow-siteheader > .nav-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  list-style: none;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .link {
  position: relative;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .link > .icon > img {
  height: 24px;
  width: auto;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .link > .title {
  font-size: 16px;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children {
  position: absolute;
  max-width: 1200px;
  width: 90%;
  left: 0px;
  right: 0px;
  top: 100%;
  padding-top: 20px;
  margin: auto;
  pointer-events: none;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents {
  overflow: hidden;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  border-style: solid;
  border-width: 3px;
  border-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  border-radius: 20px;
  list-style: none;
  box-shadow: 0 3px 7px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateX(-50px);
  transform: translateX(-50px);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .text > .icon {
  display: block;
  margin: auto;
  padding: 5px;
  vertical-align: middle;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .text > .icon > img, .wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .text > .icon > svg {
  display: block;
  margin: auto;
  height: 60px;
  width: auto;
  fill: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .text > .title {
  padding: 5px;
  text-align: center;
  font-size: 24px;
  line-height: 1em;
  color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  font-family: var(--cp-fonts-h);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .image {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .header > .image > img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body {
  -webkit-box-flex: 4;
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 600px;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu {
  padding: 20px;
  box-sizing: border-box;
  -webkit-columns: 200px;
  -moz-columns: 200px;
  columns: 200px;
  list-style: none;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item {
  padding: 5px;
  break-inside: avoid;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item .link {
  display: block;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item .link:hover {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .link {
  font-size: 18px;
  font-weight: 500;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .link > .icon {
  display: inline-block;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .link > .icon > img, .wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .link > .icon > svg {
  display: block;
  height: 1em;
  width: auto;
  fill: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .sub-menu {
  padding-left: 20px;
  list-style: none;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item > .sub-menu > .menu-item > .link {
  font-size: 16px;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item > .children > .contents > .body > .sub-menu > .menu-item.menu-item-has-children > .link {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item:hover > .link {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item:hover > .children {
  pointer-events: auto;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item:hover > .children > .contents {
  opacity: 1;
  transform: -webkit- translateX(0px);
  transform: translateX(0px);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item.active > .link {
  color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item.menu-item-has-children > .link::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  inset: 0px;
  margin: auto;
  margin-bottom: 0px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-top-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item.menu-item-has-children:hover > .link::after {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  inset: 0px;
  margin: auto;
  margin-bottom: -30px;
  border-width: 15px;
  -webkit-transition: 0.2s 0.2s;
  transition: 0.2s 0.2s;
}
.wp-block-catpow-siteheader > .nav-menu > .menu-item:hover ~ .menu-item > .children > .contents {
  transform: -webkit- translateX(50px);
  transform: translateX(50px);
}
@media (max-width:959px) {
  .wp-block-catpow-siteheader > .contents h1.logo small {
    font-size: 15px;
  }
  .wp-block-catpow-siteheader > .contents ul.contact li h3 {
    text-align: center;
  }
  .wp-block-catpow-siteheader > .contents ul.contact li p span.address {
    display: none;
  }
  .wp-block-catpow-siteheader > .contents ul.contact li p a.tel {
    display: block;
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
    text-align: center;
    color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  }
  .wp-block-catpow-siteheader > .contents ul.contact li p span.fax {
    display: none;
  }
  .wp-block-catpow-siteheader div.menu_button {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wp-block-catpow-siteheader div.menu_button .icon {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0.5em;
    margin: auto;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .wp-block-catpow-siteheader div.menu_button .icon::before, .wp-block-catpow-siteheader div.menu_button .icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    -webkit-transition: transform 0.5s, top 0.5s 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .wp-block-catpow-siteheader div.menu_button .icon, .wp-block-catpow-siteheader div.menu_button .icon::before, .wp-block-catpow-siteheader div.menu_button .icon::after {
    width: 1em;
    height: 1px;
    margin-right: 0.5em;
    background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),1);
  }
  .wp-block-catpow-siteheader div.menu_button .icon::before {
    top: -0.3em;
  }
  .wp-block-catpow-siteheader div.menu_button .icon::after {
    top: 0.3em;
  }
  .wp-block-catpow-siteheader div.menu-header-container {
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    max-height: 100vh;
    height: auto;
    z-index: 1;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu {
    width: 100vw;
    list-style: none;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth0 {
    transform: -webkit- translateX(0vw);
    transform: translateX(0vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth1 {
    transform: -webkit- translateX(-100vw);
    transform: translateX(-100vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth2 {
    transform: -webkit- translateX(-200vw);
    transform: translateX(-200vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth3 {
    transform: -webkit- translateX(-300vw);
    transform: translateX(-300vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth4 {
    transform: -webkit- translateX(-400vw);
    transform: translateX(-400vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu.depth5 {
    transform: -webkit- translateX(-500vw);
    transform: translateX(-500vw);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a {
    display: block;
    padding: 10px 5px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-family: e;
    font-weight: normal;
    color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a span.icon {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: middle;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a span.icon img {
    width: 30px;
    height: auto;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a h3 {
    display: inline-block;
    width: 60%;
    margin: 0px 5px;
    text-align: left;
    font-size: 18px;
    line-height: 1em;
    font-family: var(--cp-fonts-t);
    font-weight: 800;
    vertical-align: middle;
    text-shadow: 0 1px 1px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a h3 small {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    line-height: 1.25em;
    font-weight: 400;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li a h3 small .image {
    display: none;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu {
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 100vw;
    list-style: none;
    -webkit-transition: 0s 0.5s;
    transition: 0s 0.5s;
    opacity: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu.active, .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu.ancestor {
    -webkit-transition: 0s;
    transition: 0s;
    opacity: 1;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li {
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 80),0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 30),0.4);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li a {
    display: block;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-family: e;
    font-weight: normal;
    color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.back {
    text-align: left;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.back .arrow.back {
    display: block;
    padding: 5px;
    font-size: 20px;
    line-height: 1em;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
    cursor: pointer;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.back .arrow.back::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.active, .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.current-menu-ancestor {
    background-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.active a, .wp-block-catpow-siteheader div.menu-header-container ul.menu > li ul.sub-menu li.current-menu-ancestor a {
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li.active, .wp-block-catpow-siteheader div.menu-header-container ul.menu > li.current-menu-ancestor {
    background-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu > li.active a, .wp-block-catpow-siteheader div.menu-header-container ul.menu > li.current-menu-ancestor a {
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu, .wp-block-catpow-siteheader div.menu-header-container ul.sub-menu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu li.menu-item-has-children > .link, .wp-block-catpow-siteheader div.menu-header-container ul.sub-menu li.menu-item-has-children > .link {
    position: relative;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu li.menu-item-has-children > .link .next, .wp-block-catpow-siteheader div.menu-header-container ul.sub-menu li.menu-item-has-children > .link .next {
    display: block;
    position: absolute;
    margin: auto;
    padding: 10px 20px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    font-size: 20px;
    line-height: 1em;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
    cursor: pointer;
  }
  .wp-block-catpow-siteheader div.menu-header-container ul.menu li.menu-item-has-children > .link .next::after, .wp-block-catpow-siteheader div.menu-header-container ul.sub-menu li.menu-item-has-children > .link .next::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .wp-block-catpow-siteheader div.menu-primary-container {
    display: none;
  }
  .wp-block-catpow-siteheader div.menu-primary-container ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    list-style: none;
  }
  .wp-block-catpow-siteheader div.menu-primary-container ul li {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  .wp-block-catpow-siteheader div.menu-primary-container ul li a {
    display: block;
    position: relative;
    padding: 10px;
    background-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
    text-align: center;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
    font-size: 13px;
    line-height: 1em;
  }
  .wp-block-catpow-siteheader::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    z-index: 0;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    background-color: #000;
    pointer-events: none;
  }
  .wp-block-catpow-siteheader.open div.menu_button .icon {
    -webkit-transition: 0.5s 0.5s;
    transition: 0.5s 0.5s;
    transform: -webkit- rotateZ(-315deg);
    transform: rotateZ(-315deg);
  }
  .wp-block-catpow-siteheader.open div.menu_button .icon::before, .wp-block-catpow-siteheader.open div.menu_button .icon::after {
    top: 0px;
    transform: -webkit- rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transition: transform 0.5s 0.5s, top 0.5s;
    transition: transform 0.5s 0.5s, top 0.5s;
  }
  .wp-block-catpow-siteheader.open div.menu-header-container {
    opacity: 1;
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader.open div.menu-header-container ul.sub-menu {
    pointer-events: none;
  }
  .wp-block-catpow-siteheader.open div.menu-header-container ul.sub-menu.active, .wp-block-catpow-siteheader.open div.menu-header-container ul.sub-menu.ancestor {
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader.open div.contact {
    opacity: 1;
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader.open::after {
    opacity: 0.8;
  }
}
@media (min-width:960px) {
  .wp-block-catpow-siteheader > .contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wp-block-catpow-siteheader > .contents h1.logo {
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 300px;
  }
  .wp-block-catpow-siteheader > .contents ul.contact {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
  }
  .wp-block-catpow-siteheader div.menu_button {
    display: none;
  }
  .wp-block-catpow-siteheader div.menu-header-container {
    clear: both;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu {
    position: relative;
    margin: 0px auto;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item {
    padding: 0px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item .link a {
    display: block;
    font-size: 11px;
    line-height: 1.5em;
    font-family: var(--cp-fonts-t);
    text-decoration: none;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item .link a h3 {
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 700;
    word-break: keep-all;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item .sub-menu {
    list-style: none;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .link a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0px;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .link a h3 {
    padding: 0px 20px;
    text-align: center;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item:not(:first-child) {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),calc(100% - var(--cp-tones-i-t) * 100),0.5);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item:hover, .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item.active {
    background-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu {
    position: absolute;
    width: 1000px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    -webkit-columns: 300px;
    -moz-columns: 300px;
    columns: 300px;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 100),0.9);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 5px 11px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item {
    padding: 5px 20px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    break-inside: avoid;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item .link a h3 {
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item.menu-item-has-children {
    padding-bottom: 20px;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item.menu-item-has-children > .link {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item > .sub-menu > .menu-item {
    padding: 5px;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item > .sub-menu > .menu-item > .sub-menu > .menu-item > .link a h3 {
    font-size: 14px;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item.menu-item-has-children:hover > .link {
    position: relative;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item.menu-item-has-children:hover > .link::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    margin: auto;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 1;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-top-color: hsla(var(--cp-tones-a-h),var(--cp-tones-a-s),var(--cp-tones-a-l),1);
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item.menu-item-has-children:hover > .sub-menu {
    opacity: 1;
    transform: -webkit- translateY(0px);
    transform: translateY(0px);
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader div.menu-header-container .menu > .menu-item.menu-item-has-children:hover > .sub-menu li:hover > ul.sub-menu {
    opacity: 1;
    transform: -webkit- translateY(0px);
    transform: translateY(0px);
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader div.menu-primary-container {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .wp-block-catpow-siteheader div.menu-primary-container > ul {
    display: block;
    list-style: none;
  }
  .wp-block-catpow-siteheader div.menu-primary-container > ul > li {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  .wp-block-catpow-siteheader div.menu-primary-container > ul > li > .link a > h3 {
    display: block;
    position: relative;
    padding: 5px 20px;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
    border-radius: 2px;
    text-align: center;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),1);
    font-size: 16px;
    line-height: 1em;
    text-shadow: 0 1px 1px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a)) inset;
    box-shadow: 0 1px 3px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a));
  }
  .wp-block-catpow-siteheader div.menu-primary-container ul.sub-menu {
    display: none;
  }
}
/*# sourceMappingURL=./style.css.map */