@import 'config/style_config.scss';
.wp-block-template-part{
	@include bnd((d:c));
}
.wp-block-catpow-siteheader{
	@include bnd((p:s,t:var(--wp-admin--admin-bar--height,0),w:f,l:0,z:3000));
	@include bg((c:b));
	@include shd((b:5));
	>.contents{
		@include bg((c:b));
		h1.logo{
			@include bnd((pd:10,bs:b));
			@include txt((c:a,p:20,h:1em,f:m,a:l,s:b));
			a.custom-logo-link{
				@include bnd((d:ib,mgr:5));
				@include txt((a:l,p:25,h:1em,f:t,w:900,c:t));
				img{
					@include bnd((w:a,h:30));
					@include txt((v:m));
				}
			}
			small{
				@include bnd((d:ib));
				@include txt((c:t,p:18,h:1em,f:t,s:r));
			}
		}
	}
	>.back_to_top{
		@include bnd((d:b,p:f,w:20,h:20,pd:10,b:10,r:10));
		@include bdr((s:s,w:2,c:b,r:30));
		@include bg((c:m));
		@include txt((a:c,p:20,h:20,f:t,s:r,c:b));
		&::before{
			@include ico('chevron-up');
		}
	}

	>.nav-menu{
		@include bnd((p:r));
		@include flx((w:n,j:c));
		@include bg((c:b));
		@include txt((l:n));
		>.menu-item{
			@include bnd((f:0 1 a));
			>.link{
				@include bnd((p:r,pd:5));
				@include flx((w:w,g:10,j:c,a:c));
				@include txt((a:c,c:m));
				>.icon{
					>img{
						@include bnd((h:24,w:a));
					}
				}
				>.title{
					@include txt((p:16));
				}
			}
			>.children{
				@include bnd((p:a,w:90% 1200,l:0,r:0,t:100%,pdt:20,mg:a));
				@include usr((e:n));
				>.contents{
					@include bnd((o:h));
					@include bg((c:b));
					@include bdr((s:s,w:3,c:m,r:20));
					@include txt((l:n));
					@include shd((b:3));
					@include flx((w:w));
					@include trn((t:.5s,o:0,x:-50));
					>.header{
						@include bnd((f:1 1 200,o:h));
						@include flx((w:w));
						@include bg((c:m));
						>.text{
							@include bnd((f:1 1 150));
							>.icon{
								@include bnd((d:b,mg:a,pd:5));
								@include txt((v:m));
								>img,>svg{
									@include bnd((d:b,mg:a,h:60,w:a));
									@include svg((f:i));
								}
							}
							>.title{
								@include bnd((pd:5));
								@include txt((a:c,p:24,h:1em,c:i,f:h));
							}
						}
						>.image{
							@include bnd((f:1 1 150));
							>img{
								@include bnd((w:f,h:a));
								@include shd((b:2));
							}
						}
					}
					>.body{
						@include bnd((f:4 4 600));
						>.sub-menu{
							@include bnd((pd:20,bs:b,c:200));
							@include txt((l:n));
							>.menu-item{
								@include bnd((pd:5,bi:a));
								.link{
									@include bnd((d:b));
									@include txt((c:t));
									&:hover{
										@include txt((c:a));
									}
								}
								>.link{
									@include txt((p:18,w:m));
									>.icon{
										@include bnd((d:ib));
										>img,>svg{
											@include bnd((d:b,h:1em,w:a));
											@include svg((f:t));
										}
									}
								}
								>.sub-menu{
									@include bnd((pdl:20));
									@include txt((l:n));
									>.menu-item{
										>.link{@include txt((p:16));}
									}
								}
								&.menu-item-has-children{
									>.link{
										@include bnd((d:b,pdb:5,mgb:10));
										@include bdr((p:b,s:d,w:1,c:t));
									}
								}
							}
						}
					}
				}
			}
			&:hover{
				>.link{
					@include txt((c:a));
				}
				>.children{
					@include usr((e:a));
					>.contents{
						@include trn((x:0,o:1));
					}
				}
			}
			&.active{
				>.link{
					@include txt((c:a));
				}
			}
			&.menu-item-has-children{
				>.link{
					&::after{
						content:'';
						@include bnd((d:b,w:0,h:0,p:a,i:0,mg:a,mgb:0));
						@include bdr((s:s,c:n,w:0));
						@include bdr((p:t,c:a));
						@include trn((t:.2s));
					}
				}
				&:hover{
					>.link{
						&::after{
							@include bnd((d:b,w:0,h:0,p:a,i:0,mg:a,mgb:-30));
							@include bdr((w:15));
							@include trn((t:.2s .2s));
						}
					}

				}
			}
			&:hover ~ .menu-item{
				>.children{
					>.contents{
						@include trn((x:50));
					}
				}
			}
		}
	}
	@include bp(-2){
		>.contents{
			h1.logo{
				small{
					@include txt((p:15));
				}
			}
			ul.contact{
				li{
					h3{
						@include txt((a:c));
					}
					p{
						span.address{
							@include bnd((d:n));
						}
						a.tel{
							@include bnd((d:b,mg:5 0,pd:5 10));
							@include bdr((r:5));
							@include bg((c:m));
							@include txt((a:c,c:b));
						}
						span.fax{
							@include bnd((d:n));
						}
					}
				}
			}
		}
		div.menu_button{
			@include bnd((d:b,p:a,t:0,r:0,w:50,h:50,z:2));
			@include txt((a:c,p:30));
			@include trn((t:.5s));
			.icon{
				@include bnd((d:ib,p:a,t:0,b:0,l:.5em,mg:a));
				@include txt((v:m));
				@include trn((t:.5s,r:0deg));
				&::before,&::after{
					content:'';
					@include bnd((d:b,p:a,l:0,r:0));
					@include trn((t:(tf .5s,t .5s .5s),r:0deg));
				}
				&,&::before,&::after{
					@include bnd((w:1em,h:1,mgr:.5em));
					@include bg((c:t));
				}
				&::before{
					@include bnd((t:-.3em));
				}
				&::after{
					@include bnd((t:.3em));
				}
			}
		}
		div.menu-header-container{
			@include bnd((d:b,p:a,l:0,w:f,h:a 100vh,z:1));
			@include bg((c:m));
			@include trn((t:1s,o:0));
			@include usr((e:n));
			ul.menu{
				@include bnd((w:100vw));
				@include txt((l:n,a:c));
				@include trn((t:.5s));
				@for $i from 0 through 5{
					&.depth#{$i}{
						@include trn((x:$i * -100vw));
					}
				}
				>li{
					@include bdr((p:t,s:s,w:1,c:b));
					a{
						@include bnd((d:b,pd:10 5));
						@include txt((a:c,p:16,h:16,f:e,s:r,c:b));
						@include trn((t:.5s));
						span.icon{
							@include bnd((d:ib,mg:0 5));
							@include txt((v:m));
							img{
								@include bnd((w:30,h:a));
							}
						}
						h3{
							@include bnd((d:ib,w:60%,mg:0 5));
							@include txt((a:l,p:18,h:1em,f:t,fw:800,v:m));
							@include shd((t:1));
							small{
								@include bnd((d:b,mgt:5));
								@include txt((p:10,h:1.25em,fw:400));
								.image{
									@include bnd((d:n));
								}
							}
						}
					}
					ul.sub-menu{
						@include bnd((p:a,w:100vw,t:0,l:100vw));
						@include txt((l:n));
						@include trn((t:0s .5s,o:0,to:left));
						&.active,&.ancestor{
							@include trn((t:0s,o:1));
						}
						li{
							@include bg((c:m 80 .8));
							@include bdr((p:b,s:s,w:1,c:m 30 .4));
							@include trn((t:.5s));
							a{
								@include bnd((d:b,pd:10 5));
								@include txt((a:c,p:12,h:12,f:e,s:r,c:b));
							}
							&.back{
								@include txt((a:l));
								.arrow.back{
									@include bnd((d:b,pd:5));
									@include txt((p:20,h:1em,c:i));
									@include usr((c:p));
									&::before{
										@include ico('chevron-left');
									}
								}
							}
							&.active,&.current-menu-ancestor{
								@include bg((c:a));
								a{@include txt((c:i));}
							}
						}
					}
					&.active,&.current-menu-ancestor{
						@include bg((c:a));
						a{@include txt((c:i));}
					}
				}
			}
			ul.menu,ul.sub-menu{
				@include trn((t:.5s));
				li.menu-item-has-children{
					>.link{
						@include bnd((p:r));
						.next{
							@include bnd((d:b,p:a,mg:a,pd:10 20,t:0,b:0,r:0,z:10));
							@include txt((p:20,h:1em,c:i));
							@include usr((c:p));
							&::after{
								@include ico('chevron-circle-right');
							}
						}
					}
				}
			}
		}
		div.menu-primary-container{
			@include bnd((d:n));
			ul{
				@include flx((w:n));
				@include txt((l:n));
				li{
					@include bnd((f:1 1 a));
					a{
						@include bnd((d:b,p:r,pd:10));
						@include bg((c:a));
						@include txt((a:c,c:i,p:13,h:1em));
					}
				}
			}
		}
		&::after{
			content: ' ';
			@include bnd((d:b,p:a,w:100vw,h:100vh,l:0,z:0));
			@include trn((t:1s,o:0));
			@include bg((c:#000));
			@include usr((e:n));
		}
		&.open{
			div.menu_button{
				.icon{
					@include trn((t:.5s .5s,r:-315deg));
					&::before,&::after{
						@include bnd((t:0));
						@include trn((r:90deg));
						@include trn((t:(tf .5s .5s,t .5s)));
					}
				}
			}
			div.menu-header-container{
				@include trn((o:1));
				@include usr((e:a));
				ul.sub-menu{
					@include usr((e:n));
					&.active,&.ancestor{
						@include usr((e:a));
					}
				}
			}
			div.contact{
				@include trn((o:1));
				@include usr((e:a));
			}
			&::after{
				@include trn((o:.8));
			}
		}
	}
	@include bp(2){
		>.contents{
			@include flx((w:w));
			h1.logo{
				@include bnd((f:2 2 300));
			}
			ul.contact{
				@include bnd((f:1 1 300));
			}
		}
		div.menu_button{
			@include bnd((d:n));
		}
		div.menu-header-container{
			@include bnd((cl:b));
			@include bg((c:m));
			.menu{
				@include bnd((p:r,mg:0 a));
				@include txt((l:n));
				@include flx((w:n,j:c));
				>.menu-item{
					@include bnd((pd:0));
					@include trn((t:.2s));
					.link{
						a{
							@include bnd((d:b));
							@include txt((p:11,h:1.5em,f:t,s:n,c:i));
							h3{
								@include txt((p:16,h:1.25em,w:b,b:k));
							}
						}
					}
					.sub-menu{
						@include txt((l:n,c:i));
					}
					>.link{
						a{
							@include flx((w:n,a:c));
							@include bnd((bs:b,pd:10 0));
							h3{
								@include bnd((pd:0 20));
								@include txt((a:c));
							}
						}
					}
					&:not(:first-child){
						@include bdr((p:l,s:s,w:1,c:i 1 .5));
					}
					&:hover,&.active{
						@include bg((c:a));
					}
					>.sub-menu{
						@include bnd((p:a,w:1000,l:0,r:0,mg:a,pd:20 10,bs:b,c:300));
						@include bg((c:m 1 .9));
						@include trn((t:.2s,o:0));
						@include usr((e:n));
						@include shd((b:5));
						>.menu-item{
							@include bnd((pd:5 20,f:0 0 200,bi:a));
							.link{
								a{
									h3{
										@include txt((p:16,h:1em,w:r,c:i));
									}
								}
							}
							&.menu-item-has-children{
								@include bnd((pdb:20));
								>.link{
									@include bnd((pdb:5,mgb:10));
									@include bdr((p:b,s:d,w:1));
								}
							}
							>.sub-menu{
								>.menu-item{
									@include bnd((pd:5));
									>.link{
										a{
											h3{
												@include txt((p:14));
											}
										}
									}
								}
							}
						}
					}
					&.menu-item-has-children:hover{
						>.link{
							@include bnd((p:r));
							&::after{
								content:'';
								@include bnd((d:b,p:a,w:0,h:0,mg:a,t:100%,l:0,r:0,z:1));
								@include bdr((s:s,w:10,c:n));
								@include bdr((p:t,c:a));
							}
						}
						>.sub-menu{
							@include trn((o:1,y:0));
							@include usr((e:a));
							li:hover{
								>ul.sub-menu{
									@include trn((o:1,y:0));
									@include usr((e:a));
								}
							}
						}
					}
				}
			}
		}
		div.menu-primary-container{
			@include bnd((p:a,t:10,r:20));
			>ul{
				@include bnd((d:b));
				@include txt((l:n));
				>li{
					@include bnd((f:1 1 a));
					>.link a{
						>.icon{
							
						}
						>h3{
							@include bnd((d:b,p:r,pd:5 20));
							@include bg((c:m));
							@include bdr((r:2));
							@include txt((a:c,c:i,p:16,h:1em));
							@include shd((t:-1,b:1));
						}
					}
				}
			}
			ul.sub-menu{
				@include bnd((d:n));
			}
		}
	}
}

