@import "admin_style_config.scss";
@import "fontawesome.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-template-part{
	@include bnd((d:c));
}
.wp-block-catpow-siteheader{
	$block:&;
	@include bnd((p:s,t:var(--wp-admin--admin-bar--height,0),w:f,l:0,z:3000));
	@include bg((c:b));
	@include shd((b:5));
	&__contents{
		@include bg((c:b));
		&-logo{
			@include bnd((pd:10,bs:b));
			@include grd((tc:a 1fr,g:8,ai:e));
			@include txt((p:20,h:1em,f:m,a:l,s:b));
			a.custom-logo-link{
				@include bnd((d:b));
				@include txt((a:l,p:25,h:1em,f:t,w:900,c:t));
				img{
					@include bnd((w:a 200,h:30));
					@include txt((v:m));
				}
			}
			&-catch{
				@include bnd((d:b,pd:.2em 0));
				@include txt((c:t,p:14,h:1em,f:p,s:r));
			}
		}
	}
	&__back{
		@include bnd((d:b,p:f,w:40,h:40,pd:20,b:10,r:10));
		@include bdr((s:s,w:2,c:b,r:r-b));
		@include bg((c:m));
		@include txt((a:c,p:20,h:20,f:t,s:r,c:b));
		@include usr((c:p));
		&::before{
			content:'';
			@include bnd((d:b,p:a,i:0,mg:a,w:20,h:16));
			@include bg((c:i));
			@include clp((c:t 30 20));
		}
	}

	@include bp(-1280){
		&__contents{
			&-logo{
				@include bnd((pdr:50));
				&-catch{
					@include txt((p:12));
					@include bnd((mgt:.2em));
				}
				a.custom-logo-link{
					img{
						@include bnd((w:a 160));
					}
				}
			}
		}
		&__button{
			@include bnd((d:b,p:a,t:0,r:0,w:50,h:50,z:2));
			@include bdr((s:n));
			@include txt((a:c,p:30));
			@include trn((t:.5s));
			@include usr((c:p));
			&-icon{
				@include bnd((d:b,p:a,t:0,b:0,l:.5em,mg:a));
				@include txt((v:m));
				@include trn((t:.5s,r:0deg));
				&::before,&::after{
					content:'';
					@include bnd((d:b,p:a,l:0,r:0));
					@include trn((t:(tf .5s,t .5s .5s),r:0deg));
				}
				&,&::before,&::after{
					@include bnd((w:1em,h:2,mgr:.5em));
					@include bg((c:t));
				}
				&::before{
					@include bnd((t:-.3em));
				}
				&::after{
					@include bnd((t:.3em));
				}
			}
		}
		&__menu{
			@include bnd((d:b,p:a,l:0,w:f,h:a 100vh,z:1));
			@include trn((t:1s,o:0));
			@include usr((e:n));
		}
		&__primary{
			@include bnd((p:f,b:0,l:0));
		}
		&::after{
			content: ' ';
			@include bnd((d:b,p:a,w:100vw,h:100vh,l:0,z:0));
			@include trn((t:1s,o:0));
			@include bg((c:#000));
			@include usr((e:n));
		}
		&.is-open{
			#{$block}{
				&__button{
					&-icon{
						@include trn((t:.5s .5s,r:45deg));
						&::before,&::after{
							@include bnd((t:0));
							@include trn((r:90deg));
							@include trn((t:(tf .5s .5s,t .5s)));
						}
					}
				}
				&__contact{
					@include trn((o:1));
					@include usr((e:a));
				}
				&__menu{
					@include trn((o:1));
					@include usr((e:a));
					ul.sub-menu{
						@include usr((e:n));
						&.active,&.ancestor{
							@include usr((e:a));
						}
					}
				}
			}
			&::after{
				@include trn((o:.8));
			}
		}
	}
	@include bp(1280){
		@include grd((tc:a 1fr a,g:16));
		&__contents{
			@include flx((w:w));
			&-logo{
				@include bnd((f:2 2 300));
			}
		}
		&__button{
			@include bnd((d:n));
		}
		&__menu{
			@include flx((w:n,j:c,a:c));
			@include bnd((cl:b,ac:c));
			@include txt((a:c,l:n));
			&-item{
				@include bnd((f:0 1 200));
				&-link{
					@extend %ui;
					@include txt((p:16,c:t));
				}
			}
		}
		&__primary{
			@include bnd((pd:10));
			@include flx((w:n,j:a,a:c));
			@include txt((l:n));
			&-item{
				&-link{
					@extend %button-component;
					@extend %ui;
					@include bg((c:m));
					@include txt((p:18,c:i));
				}
			}
		}
	}
}

