.wp-block-catpow-siteheader__menu-item-link, .wp-block-catpow-siteheader__primary-item-link {
  font-family: var(--cp-font-family-u, inherit);
  font-size: var(--cp-font-size-u, 2em);
  font-weight: var(--cp-font-weight-u, regular);
  line-height: var(--cp-line-height-u, 1.5);
  letter-spacing: var(--cp-letter-spacing-u, normal);
}
.wp-block-catpow-siteheader__menu-item-link, .wp-block-catpow-siteheader__primary-item-link {
  padding: var(--cp-size-sp-b);
  border-width: var(--cp-border-width-c-b, 0);
  border-radius: var(--cp-border-radius-c-b, 0);
}
.wp-block-template-part {
  display: contents;
}
.wp-block-catpow-siteheader {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  width: 100%;
  left: 0rem;
  z-index: 3000;
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
  box-shadow: 0 5px 11px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
@media (max-width:782px) {
  .wp-block-catpow-siteheader {
    top: 0rem;
  }
}
.wp-block-catpow-siteheader__contents {
  background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
}
.wp-block-catpow-siteheader__contents-logo {
  padding: 0.625rem;
  box-sizing: border-box;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
  align-items: end;
  font-size: 1.25rem;
  line-height: 1em;
  font-family: var(--cp-font-family-m);
  text-align: left;
  font-weight: bold;
}
.wp-block-catpow-siteheader__contents-logo a.custom-logo-link {
  display: block;
  text-align: left;
  font-size: 1.5625rem;
  line-height: 1em;
  font-family: t;
  font-weight: 900;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
}
.wp-block-catpow-siteheader__contents-logo a.custom-logo-link img {
  max-width: 12.5rem;
  width: auto;
  height: 1.875rem;
  vertical-align: middle;
}
.wp-block-catpow-siteheader__contents-logo-catch {
  display: block;
  padding: 0.2em 0rem;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  font-size: 0.875rem;
  line-height: 1em;
  font-family: var(--cp-font-family-p);
  font-weight: normal;
}
.wp-block-catpow-siteheader__back {
  display: block;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.25rem;
  bottom: 0.625rem;
  right: 0.625rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
  border-radius: r-b;
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
  text-align: center;
  font-size: 1.25rem;
  line-height: 20;
  font-family: t;
  font-weight: normal;
  color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
  cursor: pointer;
}
.wp-block-catpow-siteheader__back::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 0.75rem;
  height: 0.5rem;
  background-color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
  clip-path: polygon(50% 0%, 100% calc(100% - 30%), 100% 100%, 50% 30%, 0% 100%, 0% calc(100% - 30%));
}
@media (max-width:1280px) {
  .wp-block-catpow-siteheader__contents-logo {
    padding-right: 3.125rem;
  }
  .wp-block-catpow-siteheader__contents-logo-catch {
    font-size: 0.75rem;
    margin-top: 0.2em;
  }
  .wp-block-catpow-siteheader__contents-logo a.custom-logo-link img {
    max-width: 10rem;
    width: auto;
  }
  .wp-block-catpow-siteheader__button {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3.125rem;
    height: 3.125rem;
    z-index: 2;
    border-style: none;
    text-align: center;
    font-size: 1.875rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  .wp-block-catpow-siteheader__button-icon {
    display: block;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: 0.5em;
    margin: auto;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .wp-block-catpow-siteheader__button-icon::before, .wp-block-catpow-siteheader__button-icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0rem;
    right: 0rem;
    -webkit-transition: transform 0.5s, top 0.5s 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s;
    transform: -webkit- rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  .wp-block-catpow-siteheader__button-icon, .wp-block-catpow-siteheader__button-icon::before, .wp-block-catpow-siteheader__button-icon::after {
    width: 1em;
    height: 0.125rem;
    margin-right: 0.5em;
    background-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .wp-block-catpow-siteheader__button-icon::before {
    top: -0.3em;
  }
  .wp-block-catpow-siteheader__button-icon::after {
    top: 0.3em;
  }
  .wp-block-catpow-siteheader__menu {
    display: block;
    position: absolute;
    left: 0rem;
    width: 100%;
    max-height: 100vh;
    height: auto;
    z-index: 1;
    background-color: hsla(var(--cp-tones-b-h),var(--cp-tones-b-s),var(--cp-tones-b-l),var(--cp-tones-b-a,1));
    box-shadow: 0 8px 17px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    pointer-events: none;
  }
  .wp-block-catpow-siteheader__menu-item {
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    border-bottom-color: hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
  }
  .wp-block-catpow-siteheader__menu-item-link {
    display: block;
    font-size: 1.125rem;
    color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .wp-block-catpow-siteheader__primary {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
  }
  .wp-block-catpow-siteheader__primary-item-link {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
    font-size: 1.125rem;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
  }
  .wp-block-catpow-siteheader::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0rem;
    z-index: 0;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    background-color: #000;
    pointer-events: none;
  }
  .wp-block-catpow-siteheader.is-open .wp-block-catpow-siteheader__button-icon {
    -webkit-transition: 0.5s 0.5s;
    transition: 0.5s 0.5s;
    transform: -webkit- rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  .wp-block-catpow-siteheader.is-open .wp-block-catpow-siteheader__button-icon::before, .wp-block-catpow-siteheader.is-open .wp-block-catpow-siteheader__button-icon::after {
    top: 0rem;
    transform: -webkit- rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transition: transform 0.5s 0.5s, top 0.5s;
    transition: transform 0.5s 0.5s, top 0.5s;
  }
  .wp-block-catpow-siteheader.is-open .wp-block-catpow-siteheader__contact {
    opacity: 1;
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader.is-open .wp-block-catpow-siteheader__menu {
    opacity: 1;
    pointer-events: auto;
  }
  .wp-block-catpow-siteheader.is-open::after {
    opacity: 0.6;
  }
}
@media (min-width:1280px) {
  .wp-block-catpow-siteheader {
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
  }
  .wp-block-catpow-siteheader__contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wp-block-catpow-siteheader__contents-logo {
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 18.75rem;
  }
  .wp-block-catpow-siteheader__button {
    display: none;
  }
  .wp-block-catpow-siteheader__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    clear: both;
    align-content: center;
    text-align: center;
    list-style: none;
  }
  .wp-block-catpow-siteheader__menu-item {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 12.5rem;
  }
  .wp-block-catpow-siteheader__menu-item-link {
    font-size: 1rem;
    color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),var(--cp-tones-t-l),var(--cp-tones-t-a,1));
  }
  .wp-block-catpow-siteheader__primary {
    padding: 0.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
  }
  .wp-block-catpow-siteheader__primary-item-link {
    background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a,1));
    font-size: 1.125rem;
    color: hsla(var(--cp-tones-i-h),var(--cp-tones-i-s),var(--cp-tones-i-l),var(--cp-tones-i-a,1));
  }
}
/*# sourceMappingURL=./style.css.map */