@charset "UTF-8";
.cp-calendar {
  padding: 1em;
  margin: 0rem auto;
  width: fit-content;
}
.cp-calendar-table {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
  cursor: pointer;
}
.cp-calendar-table-caption {
  position: relative;
  padding: 0.5em 0rem;
}
.cp-calendar-table-caption-year {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cp-calendar-table-caption-year-current {
  display: inline-block;
  margin: 0rem 1em;
  font-size: 1em;
  line-height: 1em;
}
.cp-calendar-table-caption-year-button {
  padding: 0rem 0.5em;
}
.cp-calendar-table-caption-year-button::before {
  font-family: dashicons;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 30),var(--cp-tones-t-a));
}
.cp-calendar-table-caption-year-button.is-prev::before {
  content: "";
}
.cp-calendar-table-caption-year-button.is-next::before {
  content: "";
}
.cp-calendar-table-caption-year-button.is-prev10::before {
  content: "";
}
.cp-calendar-table-caption-year-button.is-next10::before {
  content: "";
}
.cp-calendar-table-caption-month {
  display: block;
  position: relative;
}
.cp-calendar-table-caption-month-current {
  display: inline-block;
  margin: 0rem 1em;
  font-size: 2em;
  line-height: 1em;
  vertical-align: bottom;
}
.cp-calendar-table-caption-month-current::after {
  content: "月";
}
.cp-calendar-table-caption-month-button::before {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 30),var(--cp-tones-t-a));
}
.cp-calendar-table-caption-month-button.is-prev {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}
.cp-calendar-table-caption-month-button.is-prev::before {
  content: "＜";
  display: inline-block;
  margin-right: 0.5em;
}
.cp-calendar-table-caption-month-button.is-next {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}
.cp-calendar-table-caption-month-button.is-next::before {
  content: "＞";
  display: inline-block;
  margin-left: 0.5em;
}
.cp-calendar-table-thead-week-day, .cp-calendar-table-tbody-week-day {
  height: 2em;
  width: 2em;
  padding: 0.25em;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),var(--cp-tones-t-a));
  text-align: center;
}
.cp-calendar-table-tbody-week-day.is-active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 100),calc(var(--cp-tones-m-a) * 0.2));
}
.cp-calendar-table-tbody-week-day.is-sunday {
  color: hsla(calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr) * -5 + var(--cp-tones-hs)),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
}
.cp-calendar-table-tbody-week-day.is-saturday {
  color: hsla(calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr) * 2 + var(--cp-tones-hs)),var(--cp-tones-m-s),var(--cp-tones-m-l),var(--cp-tones-m-a));
}
.cp-calendar-table-tbody-week-day.is-out-month, .cp-calendar-table-tbody-week-day.is-out-month .date, .cp-calendar-table-tbody-week-day.is-disabled, .cp-calendar-table-tbody-week-day.is-disabled .date {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),var(--cp-tones-t-a));
}
.cp-calendar.is-size-small {
  font-size: 0.625rem;
}
.cp-calendar.is-size-medium {
  font-size: 0.9375rem;
}
.cp-calendar.is-size-large {
  font-size: 0.9375rem;
}
.cp-calendar.is-size-large .cp-calendar-table-tbody-week-day {
  width: 10em;
  height: 10em;
  padding: 0.625rem;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
}
.cp-calendar.is-size-large .cp-calendar-table-tbody-week-day-date {
  display: block;
}
/*# sourceMappingURL=./style.css.map */