@import 'admin_style_config.scss';


.cp-calendar{
	@include bnd((pd:1em,mg:0 a,w:fit));
	&-table{
		@include bnd((d:ib));
		@include tbl(());
		@include usr((c:p));
		&-caption{
			@include bnd((p:r,pd:.5em 0));
			&-year{
				@include flx((w:w,a:c,j:c));
				&-current{
					@include bnd((d:ib,mg:0 1em));
					@include txt((p:1em,h:1em));
				}
				&-button{
					@include bnd((pd:0 .5em));
					&::before{
						@include txt((f:dashicons,c:t 30));
					}
					&.is-prev{
						&::before{
							content:'\f341';
						}
					}
					&.is-next{
						&::before{
							content:'\f345';
						}
					}
					&.is-prev10{
						&::before{
							content:'\f141';
						}
					}
					&.is-next10{
						&::before{
							content:'\f139';
						}
					}
				}
			}
			&-month{
				@include bnd((d:b,p:r));
				&-current{
					@include bnd((d:ib,mg:0 1em));
					@include txt((p:2em,h:1em,v:b));
					&::after{
						content:'月';
					}
				}
				&-button{
					&::before{
						@include txt((c:t 30));
					}
					&.is-prev{
						@include bnd((p:a,b:0,l:0));
						&::before{
							content:'＜';
							@include bnd((d:ib,mgr:.5em));
						}
					}
					&.is-next{
						@include bnd((p:a,b:0,r:0));
						&::before{
							content:'＞';
							@include bnd((d:ib,mgl:.5em));
						}
					}
				}
			}
		}
		&-thead,&-tbody{
			&-week{
				&-day{
					@include bnd((h:2em,w:2em,pd:.25em));
					@include bdr((s:s,w:1,c:t 20));
					@include txt((a:c));
				}
			}
		}
		&-tbody{
			&-week{
				&-day{
					
					&.is-active{
						@include bg((c:m 1 .2));
					}
					&.is-sunday{
						@include txt((c:1));
					}
					&.is-saturday{
						@include txt((c:8));
					}
					&.is-out-month,&.is-disabled{
						&,.date{@include txt((c:t 10));}
					}
				}
			}
		}
	}
	&.is-size-small{
		@include txt((p:10));
	}
	&.is-size-medium{
		@include txt((p:15));
	}
	&.is-size-large{
		@include txt((p:15));
	}
	&.is-size-large &{
		&-table{
			&-tbody{
				&-week{
					&-day{
						@include bnd((w:10em,h:10em,pd:10,bs:b));
						@include txt((a:l,v:t));
						&-date{
							@include bnd((d:b));
						}
					}
				}
			}
		}
	}
}