@charset "UTF-8";
.Calendar {
  padding: 1em;
  margin: 0rem auto;
  width: fit-content;
}
.Calendar > table {
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
  cursor: pointer;
}
.Calendar > table caption {
  position: relative;
  padding: 0.5em 0rem;
}
.Calendar > table caption .year {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.Calendar > table caption .year .current {
  display: inline-block;
  margin: 0rem 1em;
  font-size: 1em;
  line-height: 1em;
}
.Calendar > table caption .year .btn {
  padding: 0rem 0.5em;
}
.Calendar > table caption .year .btn::before {
  font-family: dashicons;
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 30),1);
}
.Calendar > table caption .year .prev::before {
  content: "";
}
.Calendar > table caption .year .next::before {
  content: "";
}
.Calendar > table caption .year .prev10::before {
  content: "";
}
.Calendar > table caption .year .next10::before {
  content: "";
}
.Calendar > table caption .month {
  display: block;
  position: relative;
}
.Calendar > table caption .month .current {
  display: inline-block;
  margin: 0rem 1em;
  font-size: 2em;
  line-height: 1em;
  vertical-align: bottom;
}
.Calendar > table caption .month .current::after {
  content: "月";
}
.Calendar > table caption .month .btn::before {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 30),1);
}
.Calendar > table caption .month .prev {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}
.Calendar > table caption .month .prev::before {
  content: "＜";
  display: inline-block;
  margin-right: 0.5em;
}
.Calendar > table caption .month .next {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}
.Calendar > table caption .month .next::before {
  content: "＞";
  display: inline-block;
  margin-left: 0.5em;
}
.Calendar > table th, .Calendar > table td {
  height: 2em;
  width: 2em;
  padding: 0.25em;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 20),1);
  text-align: center;
}
.Calendar > table .day.active {
  background-color: hsla(var(--cp-tones-m-h),var(--cp-tones-m-s),calc(100% - var(--cp-tones-m-t) * 100),0.2);
}
.Calendar > table .day.sunday {
  color: hsla(calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr) * -5 + var(--cp-tones-hs)),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.Calendar > table .day.saturday {
  color: hsla(calc(var(--cp-root-tones-m-h) + var(--cp-tones-hr) * 2 + var(--cp-tones-hs)),var(--cp-tones-m-s),var(--cp-tones-m-l),1);
}
.Calendar > table .day.outMonth, .Calendar > table .day.outMonth .date, .Calendar > table .day.disabled, .Calendar > table .day.disabled .date {
  color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 10),1);
}
.Calendar.small {
  font-size: 0.625rem;
}
.Calendar.medium {
  font-size: 0.9375rem;
}
.Calendar.large {
  font-size: 0.9375rem;
}
.Calendar.large .day {
  width: 10em;
  height: 10em;
  padding: 0.625rem;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
}
.Calendar.large .day .date {
  display: block;
}
/*# sourceMappingURL=./style.css.map */