@import 'admin_style_config.scss';
@import "fontawesome.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-listed{
	$block:&;
	@extend %ui-block;
	@include bnd((pd:0));
	@include txt((l:n,c:tx));
	&__item{
		&-header{
			&-image{
				@include bnd((p:r));
			}
			&-text{
				@include bnd((p:r));
				&-title{
					@extend %heading-block;
					@extend %heading;
				}
				&-titlecaption{
					@extend %caption-block;
					@extend %caption;
				}
			}
		}
		&-contents{
			@include bnd((p:r));
			&-subtitle{
				@extend %lead-block;
				@extend %lead;
			}
			&-text{
				@extend %paragraph-block;
				@extend %paragraph;
			}
		}
	}
	&.is-type-orderd{
		@include bnd((mg:30 a,w:a c));
		@include txt((l:n));
		@include grd((rc:400,g:20));
		#{$block}{
			&__item{
				@extend %card-component;
				@include bnd((p:r,pd:0,o:h));
				@include bg((c:bx));
				@include shd((b:4));
				&-header{
					@extend %header-component;
					@include bg((c:sx));
					&-counter{
						@extend %label-component;
						@include bnd((d:b,p:a,t:.5em,l:.5em));
						@include bg((c:mx));
						@include bdr((s:s));
						@include txt((a:c,p:18,h:1em,f:d,c:ix));
						@include shd((b:2));
						&-prefix,&-suffix{
							
						}
						&-number{
							@include bnd((mg:0 .1em));
							@include txt((p:1.5em,f:dc));
						}
					}
					&-text{
						&-title{
							@include bnd((mg:0,pd:0));
							@include txt((c:mx));
						}
						&-titlecaption{
							@include bnd((mgb:0));
						}
					}
				}
				&-contents{
					@include bnd((pd:20));
					&-subtitle{
						@extend %paragraph-block;
						@extend %paragraph;
					}
					&-text{
						@extend %paragraph;
					}
				}
				&-link{
					a{
						@include bnd((d:b,p:a,t:0,b:0,l:0,r:0));
					}
				}
			}
		}
		&:not(.has-image){
			#{$block}{
				&__item{
					&-header{
						&-text{
							&-title{
								@include bnd((mgt:0));
							}
						}
					}
				}
			}
		}
		&.has-image{
			#{$block}{
				&__item{
					@include bnd((pdt:75%));
					&-image{
						@include bnd((d:b,p:a,l:0,r:0,t:0));
						img{
							@include bnd((d:b,w:f,a:4/3,op:c,of:c));
						}
					}
				}
			}	
		} 
	}
	&.is-type-news{
		#{$block}{
			&__item{
				@include bnd((p:r,pd:sp-c,pdi:0));
				@include bdr((p:b,s:s,w:1));
				&-contents{
					@include flx((w:w,g:.5em));
					&-subtitle{
						@include bnd((f:1 1 10em));
						@include bnd((mg:0));
					}
					&-text{
						@include bnd((f:4 4 20em));
						@include bnd((mg:0));
					}
				}
			}
		}
	}
	&.is-type-index{
		@include bnd((c:i,g:g));
		#{$block}{
			&__item{
				@include bnd((pd:0,mg:0,bs:b,bi:a));
				@include flx((w:w));
				&-header{
					@include bnd((f:1 1 a,pd:0,mg:0));
					@include flx((w:n,a:c));
					&-text{
						@include bnd((f:0 0 auto));
						&-title{
							@extend %lead;
							@include bnd((pd:0,mg:0));
						}
					}
					&::after{
						content: '';
						@include bnd((f:1 1 a,mg:10));
						@include bdr((p:b,s:d,w:2,c:t 1 .5));
					}
				}
				&-contents{
					@include flx((w:n,a:c));
					&-text{
						@include bnd((pd:0,mg:0));
					}
				}
			}
		}
	}
	&.is-type-menu{
		@include grd((rc:i,g:g));
		#{$block}{
			&__item{
				@extend %card-component;
				@include bnd((p:r,o:h));
				@include bg((c:bx));
				@include shd((b:4));
				&-contents{
					&-text{
						@include bnd((mgb:0));
					}
				}
				&-link{
					a{
						@include bnd((d:b,p:a,i:0));
					}
				}
			}
		}
		&:not(.has-image){
			#{$block}{
				&__item{
					&-header{
						&-text{
							&-title{
								@include bnd((mgt:0));
							}
						}
					}
				}
			}
		}
		&.has-image{
			#{$block}{
				&__item{
					@include bnd((pdt:75%));
					&-image{
						@include bnd((d:b,p:a,l:0,r:0,t:0));
						img{
							@include bnd((d:b,w:f,a:4/3,op:c,of:c));
						}
					}
				}
			}	
		} 
		&.has-header-image{
			#{$block}{
				&__item{
					&-header{
						@include grd((tc:1fr 4fr,g:g));
						&-image{
							@include bnd((p:r));
							img{
								@include bnd((d:b,p:a,i:0,w:f,h:f,op:c,of:c));
							}
						}
						&-text{
							&-titlecaption{
								@include bnd((mgb:0));
							}
						}
					}
				}
			}	
		}
	}
}