.wp-block-catpow-listed__item-header-text-title {
  margin-top: var(--cp-heading-margin-top, 0);
  margin-bottom: var(--cp-heading-margin-bottom, 0);
}
.wp-block-catpow-listed__item-header-text-title {
  font-family: var(--cp-font-family-h, inherit);
  font-size: var(--cp-font-size-h, 2em);
  font-weight: var(--cp-font-weight-h, regular);
  line-height: var(--cp-line-height-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-h, normal);
}
.wp-block-catpow-listed__item-contents-subtitle {
  margin-top: var(--cp-lead-margin-top, 0);
  margin-bottom: var(--cp-lead-margin-bottom, 0);
}
.wp-block-catpow-listed__item-contents-subtitle, .wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-header-text-title {
  font-family: var(--cp-font-family-l, inherit);
  font-size: var(--cp-font-size-l, 2em);
  font-weight: var(--cp-font-weight-l, regular);
  line-height: var(--cp-line-height-l, 1.5);
  letter-spacing: var(--cp-letter-spacing-l, normal);
}
.wp-block-catpow-listed__item-contents-text, .wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-contents-subtitle {
  margin-top: var(--cp-paragraph-margin-top, 0);
  margin-bottom: var(--cp-paragraph-margin-bottom, 0);
}
.wp-block-catpow-listed__item-contents-text, .wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-contents-subtitle, .wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-contents-text {
  font-family: var(--cp-font-family-p, inherit);
  font-size: var(--cp-font-size-p, 2em);
  font-weight: var(--cp-font-weight-p, regular);
  line-height: var(--cp-line-height-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-p, normal);
}
.wp-block-catpow-listed {
  margin-top: var(--cp-ui-margin-top, 0);
  margin-bottom: var(--cp-ui-margin-bottom, 0);
}
.wp-block-catpow-listed__item-header-text-titlecaption {
  margin-top: var(--cp-caption-margin-top, 0);
  margin-bottom: var(--cp-caption-margin-bottom, 0);
}
.wp-block-catpow-listed__item-header-text-titlecaption {
  font-family: var(--cp-font-family-c, inherit);
  font-size: var(--cp-font-size-c, 2em);
  font-weight: var(--cp-font-weight-c, regular);
  line-height: var(--cp-line-height-c, 1.5);
  letter-spacing: var(--cp-letter-spacing-c, normal);
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header {
  padding: var(--cp-size-sp-h);
  border-width: var(--cp-border-width-c-h, 0);
  border-radius: var(--cp-border-radius-c-h, 0);
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item, .wp-block-catpow-listed.is-type-menu .wp-block-catpow-listed__item {
  padding: var(--cp-size-sp-c);
  border-width: var(--cp-border-width-c-c, 0);
  border-radius: var(--cp-border-radius-c-c, 0);
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header-counter {
  padding: var(--cp-size-sp-l);
  border-width: var(--cp-border-width-c-l, 0);
  border-radius: var(--cp-border-radius-c-l, 0);
}
.wp-block-catpow-listed {
  padding: 0rem;
  list-style: none;
  color: hsla(var(--cp-tones-tx-h),var(--cp-tones-tx-s),var(--cp-tones-tx-l),var(--cp-tones-tx-a,1));
}
.wp-block-catpow-listed__item-header-image {
  position: relative;
}
.wp-block-catpow-listed__item-header-text {
  position: relative;
}
.wp-block-catpow-listed__item-contents {
  position: relative;
}
.wp-block-catpow-listed.is-type-orderd {
  margin: 1.875rem auto;
  max-width: var(--cp-content-width);
  width: auto;
  list-style: none;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
  grid-gap: 1.25rem;
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item {
  position: relative;
  padding: 0rem;
  overflow: hidden;
  background-color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),var(--cp-tones-bx-a,1));
  box-shadow: 0 4px 9px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header {
  background-color: hsla(var(--cp-tones-sx-h),var(--cp-tones-sx-s),var(--cp-tones-sx-l),var(--cp-tones-sx-a,1));
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header-counter {
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
  border-style: solid;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1em;
  font-family: d;
  color: hsla(var(--cp-tones-ix-h),var(--cp-tones-ix-s),var(--cp-tones-ix-l),var(--cp-tones-ix-a,1));
  box-shadow: 0 2px 5px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header-counter-number {
  margin: 0rem 0.1em;
  font-size: 1.5em;
  font-family: var(--cp-font-family-dc);
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header-text-title {
  margin: 0rem;
  padding: 0rem;
  color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-header-text-titlecaption {
  margin-bottom: 0rem;
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-contents {
  padding: 1.25rem;
}
.wp-block-catpow-listed.is-type-orderd .wp-block-catpow-listed__item-link a {
  display: block;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}
.wp-block-catpow-listed.is-type-orderd:not(.has-image) .wp-block-catpow-listed__item-header-text-title {
  margin-top: 0rem;
}
.wp-block-catpow-listed.is-type-orderd.has-image .wp-block-catpow-listed__item {
  padding-top: 75%;
}
.wp-block-catpow-listed.is-type-orderd.has-image .wp-block-catpow-listed__item-image {
  display: block;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
}
.wp-block-catpow-listed.is-type-orderd.has-image .wp-block-catpow-listed__item-image img {
  display: block;
  width: 100%;
  aspect-ratio: 1.3333333333;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-listed.is-type-news .wp-block-catpow-listed__item {
  position: relative;
  padding: var(--cp-size-sp-c);
  padding-inline: 0rem;
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
}
.wp-block-catpow-listed.is-type-news .wp-block-catpow-listed__item-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.5em;
}
.wp-block-catpow-listed.is-type-news .wp-block-catpow-listed__item-contents-subtitle {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10em;
  margin: 0rem;
}
.wp-block-catpow-listed.is-type-news .wp-block-catpow-listed__item-contents-text {
  -webkit-box-flex: 4;
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 20em;
  margin: 0rem;
}
.wp-block-catpow-listed.is-type-index {
  -webkit-columns: var(--cp-item-size);
  -moz-columns: var(--cp-item-size);
  columns: var(--cp-item-size);
  gap: var(--cp-item-gap);
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  break-inside: avoid;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-header {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-header-text {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-header-text-title {
  padding: 0rem;
  margin: 0rem;
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-header::after {
  content: "";
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 0.625rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.125rem;
  border-bottom-color: hsla(var(--cp-tones-t-h),var(--cp-tones-t-s),calc(100% - var(--cp-tones-t-t) * 100),calc(var(--cp-tones-t-a,1) * 0.5));
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
}
.wp-block-catpow-listed.is-type-index .wp-block-catpow-listed__item-contents-text {
  padding: 0rem;
  margin: 0rem;
}
.wp-block-catpow-listed.is-type-menu {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--cp-item-size), 100%), 1fr));
  grid-gap: var(--cp-item-gap);
}
.wp-block-catpow-listed.is-type-menu .wp-block-catpow-listed__item {
  position: relative;
  overflow: hidden;
  background-color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),var(--cp-tones-bx-a,1));
  box-shadow: 0 4px 9px hsla(var(--cp-tones-shd-h),var(--cp-tones-shd-s),var(--cp-tones-shd-l),var(--cp-tones-shd-a,1));
}
.wp-block-catpow-listed.is-type-menu .wp-block-catpow-listed__item-contents-text {
  margin-bottom: 0rem;
}
.wp-block-catpow-listed.is-type-menu .wp-block-catpow-listed__item-link a {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
}
.wp-block-catpow-listed.is-type-menu:not(.has-image) .wp-block-catpow-listed__item-header-text-title {
  margin-top: 0rem;
}
.wp-block-catpow-listed.is-type-menu.has-image .wp-block-catpow-listed__item {
  padding-top: 75%;
}
.wp-block-catpow-listed.is-type-menu.has-image .wp-block-catpow-listed__item-image {
  display: block;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
}
.wp-block-catpow-listed.is-type-menu.has-image .wp-block-catpow-listed__item-image img {
  display: block;
  width: 100%;
  aspect-ratio: 1.3333333333;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-listed.is-type-menu.has-header-image .wp-block-catpow-listed__item-header {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: var(--cp-item-gap);
}
.wp-block-catpow-listed.is-type-menu.has-header-image .wp-block-catpow-listed__item-header-image {
  position: relative;
}
.wp-block-catpow-listed.is-type-menu.has-header-image .wp-block-catpow-listed__item-header-image img {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-listed.is-type-menu.has-header-image .wp-block-catpow-listed__item-header-text-titlecaption {
  margin-bottom: 0rem;
}
/*# sourceMappingURL=./style.css.map */