@import "admin_style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-heroheader{
	$block:&;
	@include bnd((p:r,w:f,h:100vh 1200,o:c));
	@include clp((i:0));
	@include bg((c:bx));
	&__body{
		$body:&;
		@include bnd((p:r,h:f,bs:b));
		@include grd((tc:1fr,g:c-f));
		&.is-align-left{
			#{$body}{
				&-texts{
					@include bnd((mgr:a));
				}
			}
		}
		&.is-align-center{
			#{$body}{
				&-texts{
					@include bnd((mgi:a));
				}
			}
		}
		&.is-align-right{
			#{$body}{
				&-texts{
					@include bnd((mgl:a));
				}
			}
		}
		&.has-vertical-align-top{
			@include bnd((ac:s));
		}
		&.has-vertical-align-middle{
			@include bnd((ac:c));
		}
		&.has-vertical-align-bottom{
			@include bnd((ac:e));
		}
		&.has-text-align-left{
			#{$body}{
				&-texts{
					&-buttons{
						@include flx((j:s));
					}
				}
			}
		}
		&.has-text-align-center{
			#{$body}{
				&-texts{
					&-buttons{
						@include flx((j:c));
					}
				}
			}
		}
		&.has-text-align-right{
			#{$body}{
				&-texts{
					&-buttons{
						@include flx((j:e));
					}
				}
			}
		}
		&-texts{
			@include bnd((w:i));
			&-title,&-text,&-buttons{
				@include bnd((p:r,z:2));
			}
			&-title{
				@extend %heading-block;
				@extend %heading;
				@include bnd((mgt:0));
				@include txt((c:tx));
			}
			&-text{
				@extend %paragraph-block;
				@extend %paragraph;
				@include txt((c:tx));
			}
			&-buttons{
				@extend %ui-block;
				@include flx((w:w,g:c-b));
				@include txt((l:n));
				&-button{
					@include bnd((f:0 0 i));
				}
			}
		}
	}
	&__bg{
		@include bnd((p:a,i:0,mg:a,z:1,o:h));
		@include trn((bm:var(--cp-slider-blendmode),o:var(--cp-slider-opacity)));
	}
	&.has-text-background{
		#{$block}{
			&__body{
				&-texts{
					@include bnd((p:r,pd:c-f));
					&::before{
						content:'';
							@include bnd((d:b,p:a,z:1));
						@include trn((o:var(--cp-text-background-opacity,1),bm:var(--cp-text-background-blendmode,nomal)));
					}
				}
			}
		}
		&.has-text-background-fade{
			#{$block}{
				&__body{
					&-texts{
						&::before{
							@include bnd((i:0 -30vw));
							@include bg((g:l 90deg n bx n));
						}
					}
				}
			}
		}
		&.has-text-background-belt{
			#{$block}{
				&__body{
					&-texts{
						&::before{
							@include bnd((i:0 -100vw));
							@include bg((c:bx));
						}
					}
				}
			}
		}
		&.has-text-background-rect{
			#{$block}{
				&__body{
					&-texts{
						&::before{
							@include bnd((i:-50vw,mg:a,w:100%,h:a,a:1));
							@include bg((c:bx));
						}
					}
				}
			}
		}
		&.has-text-background-circle{
			#{$block}{
				&__body{
					&-texts{
						&::before{
							@include bnd((i:-50vw,mg:a,w:100%,h:a,a:1));
							@include bdr((r:50%));
							@include bg((c:bx));
						}
					}
				}
			}
		}
	}
	&.has-slider-fixed{
		#{$block}{
			&__bg{
				@include bnd((p:f));
			}
		}
	}
	&.has-slider-split{
		@include bp(720){
			#{$block}{
				&__bg{
					@include bnd((w:calc(1% * var(--cp-slider-size,100))));
				}
			}
			&.has-slider-right{
				#{$block}{
					&__bg{
						@include bnd((mgr:0));
					}
				}
				&.has-slider-border-fade{
					#{$block}{
						&__bg{
							@include msk((g:l 90deg 0% calc(1% * abs(var(--cp-slider-border-amount,0)))));
						}
					}
				}
				&.has-slider-border-slope{
					&.has-slider-border-slope-top{
						#{$block}{
							&__bg{
								clip-path:polygon(
									calc(1% * var(--cp-slider-border-amount,0)) 0%,
									100% 0%,
									100% 100%,
									0% 100%,
								);
							}
						}
					}
					&.has-slider-border-slope-bottom{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									100% 0%,
									100% 100%,
									calc(1% * var(--cp-slider-border-amount,0)) 100%,
								);
							}
						}
					}
				}
				&.has-slider-border-ellipse{
					&.has-slider-border-ellipse-inside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 100% 0%,
									vline to 100%,
									hline to 0%,
									arc by 0% -100% of calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount,0))
								);
							}
						}
					}
					&.has-slider-border-ellipse-outside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 100% 0%,
									vline to 100%,
									hline by calc(-100% + 1% * var(--cp-slider-border-amount,0)),
									arc by 0% -100% of calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount,0)) cw
								);
							}
						}
					}
				}
			}
			&.has-slider-left{
				#{$block}{
					&__bg{
						@include bnd((mgl:0));
					}
				}
				&.has-slider-border-fade{
					#{$block}{
						&__bg{
							@include msk((g:l -90deg 0% calc(1% * abs(var(--cp-slider-border-amount,0)))));
						}
					}
				}
				&.has-slider-border-slope{
					&.has-slider-border-slope-top{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									calc(100% - 1% * var(--cp-slider-border-amount,0)) 0%,
									100% 100%,
									0% 100%,
								);
							}
						}
					}
					&.has-slider-border-slope-bottom{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									100% 0%,
									calc(100% - 1% * var(--cp-slider-border-amount,0)) 100%,
									0% 100%,
								);
							}
						}
					}
				}
				&.has-slider-border-ellipse{
					&.has-slider-border-ellipse-inside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% 0%,
									hline to 100%,
									arc by 0% 100% of calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount,0)),
									hline to 0%
								);
							}
						}
					}
					&.has-slider-border-ellipse-outside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% 0%,
									hline to calc(100% - 1% * var(--cp-slider-border-amount,0)),
									arc by 0% 100% of calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount,0)) cw,
									hline to 0%
								);
							}
						}
					}
				}
			}
		}
		@include bp(-720){
			#{$block}{
				&__bg{
					@include bnd((h:calc(1% * var(--cp-slider-size,100))));
				}
			}
			&.has-slider-bottom{
				#{$block}{
					&__bg{
						@include bnd((mgb:0));
					}
				}
				&.has-slider-border-fade{
					#{$block}{
						&__bg{
							@include msk((g:l 180deg 0% calc(1% * abs(var(--cp-slider-border-amount,0)))));
						}
					}
				}
				&.has-slider-border-slope{
					&.has-slider-border-slope-left{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% calc(1% * var(--cp-slider-border-amount,0)),
									100% 0%,
									100% 100%,
									0% 100%
								);
							}
						}
					}
					&.has-slider-border-slope-right{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									100% calc(1% * var(--cp-slider-border-amount,0)),
									100% 100%,
									0% 100%
								);
							}
						}
					}
				}
				&.has-slider-border-ellipse{
					&.has-slider-border-ellipse-inside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% 0%,
									arc by 100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount,0)) calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)),
									vline to 100%,
									hline to 0%
								);
							}
						}
					}
					&.has-slider-border-ellipse-outside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% calc(1% * var(--cp-slider-border-amount,0)),
									arc by 100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount,0)) calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) cw,
									vline to 100%,
									hline to 0%
								);
							}
						}
					}
				}
			}
			&.has-slider-top{
				#{$block}{
					&__bg{
						@include bnd((mgt:0));
					}
				}
				&.has-slider-border-fade{
					#{$block}{
						&__bg{
							@include msk((g:l 0deg 0% calc(1% * abs(var(--cp-slider-border-amount,0)))));
						}
					}
				}
				&.has-slider-border-slope{
					&.has-slider-border-slope-left{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									100% 0%,
									100%  100%,
									0% calc(100% - 1% * var(--cp-slider-border-amount,0))
								);
							}
						}
					}
					&.has-slider-border-slope-right{
						#{$block}{
							&__bg{
								clip-path:polygon(
									0% 0%,
									100% 0%,
									100%  calc(100% - 1% * var(--cp-slider-border-amount,0)),
									0% 100%
								);
							}
						}
					}
				}
				&.has-slider-border-ellipse{
					&.has-slider-border-ellipse-inside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% 0%,
									hline to 100%,
									vline to 100%,
									arc by -100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount,0)) calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg))
								);
							}
						}
					}
					&.has-slider-border-ellipse-inside{
						#{$block}{
							&__bg{
								clip-path:shape(
									from 0% 0%,
									hline to 100%,
									vline to calc(100% - 1% *  var(--cp-slider-border-amount,0)),
									arc by -100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount,0)) calc(100% * sin(var(--cp-slider-border-amount,0) * 0.9deg)) cw
								);
							}
						}
					}
				}
			}
		}
	}
}