.wp-block-catpow-heroheader__body-texts-title {
  margin: var(--cp-margin-t-h, 0);
}
.wp-block-catpow-heroheader__body-texts-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-heroheader__body-texts-text {
  margin: var(--cp-margin-t-p, 0);
}
.wp-block-catpow-heroheader__body-texts-text {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}
.wp-block-catpow-heroheader__body-buttons-button-link {
  font-family: var(--cp-font-family-t-u, inherit);
  font-size: var(--cp-font-size-t-u, 2em);
  font-weight: var(--cp-font-weight-t-u, regular);
  line-height: var(--cp-line-height-t-u, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-u, normal);
}
.wp-block-catpow-heroheader__body-buttons-button-link {
  padding: var(--cp-padding-c-b);
  border-width: var(--cp-border-width-c-b, 0);
  border-radius: var(--cp-border-radius-c-b, 0);
  box-shadow: var(--cp-shadow-c-b) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-heroheader {
  position: relative;
  width: 100%;
  max-height: 75rem;
  height: 100vh;
  overflow: clip;
  clip-path: inset(0rem);
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-heroheader__body {
  position: relative;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: var(--cp-margin-c-f);
}
.wp-block-catpow-heroheader__body.has-text-background .wp-block-catpow-heroheader__body-texts {
  position: relative;
  padding: var(--cp-padding-c-f);
}
.wp-block-catpow-heroheader__body.has-text-background .wp-block-catpow-heroheader__body-texts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: -30vw;
  bottom: 0rem;
  left: -30vw;
  inset: 0rem -30vw;
  z-index: 1;
  background-image: -webkit-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -moz-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -ms-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -o-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: linear-gradient(90deg, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
}
.wp-block-catpow-heroheader__body.has-text-align-left .wp-block-catpow-heroheader__body-texts {
  margin-right: auto;
}
.wp-block-catpow-heroheader__body.has-text-align-left .wp-block-catpow-heroheader__body-texts::before {
  background-image: -webkit-linear-gradient(left, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -moz-linear-gradient(left, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -ms-linear-gradient(left, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -o-linear-gradient(left, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: linear-gradient(90deg, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
}
.wp-block-catpow-heroheader__body.has-text-align-center .wp-block-catpow-heroheader__body-texts {
  margin-inline: auto;
}
.wp-block-catpow-heroheader__body.has-text-align-right .wp-block-catpow-heroheader__body-texts {
  margin-left: auto;
}
.wp-block-catpow-heroheader__body.has-text-align-right .wp-block-catpow-heroheader__body-texts::before {
  background-image: -webkit-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)));
  background-image: -moz-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)));
  background-image: -ms-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)));
  background-image: -o-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)));
  background-image: linear-gradient(90deg, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)));
}
.wp-block-catpow-heroheader__body-texts {
  width: fit-content;
}
.wp-block-catpow-heroheader__body-texts-title, .wp-block-catpow-heroheader__body-texts-text {
  position: relative;
  z-index: 2;
}
.wp-block-catpow-heroheader__body-texts-title {
  margin-top: 0rem;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-heroheader__body-texts-text {
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-heroheader__body-buttons {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--cp-size-i), 100%), 1fr));
  grid-gap: var(--cp-margin-c-b);
  list-style: none;
}
.wp-block-catpow-heroheader__body-buttons-button {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 18.75rem;
}
.wp-block-catpow-heroheader__body-buttons-button-link {
  display: block;
  border-style: solid;
  text-align: center;
  color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
}
.wp-block-catpow-heroheader__body-buttons-button-link-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  transform: -webkit- translateY(0.25lh);
  transform: translateY(0.25lh);
}
.wp-block-catpow-heroheader__bg {
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  z-index: 1;
  mix-blend-mode: var(--cp-slider-blendmode);
  opacity: var(--cp-slider-opacity);
}
/*# sourceMappingURL=./style.css.map */