.wp-block-catpow-heroheader__body-texts-title {
  margin: var(--cp-margin-t-h, 0);
}

.wp-block-catpow-heroheader__body-texts-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}

.wp-block-catpow-heroheader__body-texts-text {
  margin: var(--cp-margin-t-p, 0);
}

.wp-block-catpow-heroheader__body-texts-text {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}

.wp-block-catpow-heroheader__body-texts-buttons {
  margin: var(--cp-margin-t-u, 0);
}

.wp-block-catpow-heroheader {
  position: relative;
  width: 100%;
  max-height: 75rem;
  height: 100vh;
  overflow: clip;
  clip-path: inset(0rem);
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-heroheader__body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: var(--cp-margin-c-f);
}
.wp-block-catpow-heroheader__body.is-align-left .wp-block-catpow-heroheader__body-texts {
  margin-right: auto;
}
.wp-block-catpow-heroheader__body.is-align-center .wp-block-catpow-heroheader__body-texts {
  margin-inline: auto;
}
.wp-block-catpow-heroheader__body.is-align-right .wp-block-catpow-heroheader__body-texts {
  margin-left: auto;
}
.wp-block-catpow-heroheader__body.has-vertical-align-top {
  align-content: start;
}
.wp-block-catpow-heroheader__body.has-vertical-align-middle {
  align-content: center;
}
.wp-block-catpow-heroheader__body.has-vertical-align-bottom {
  align-content: end;
}
.wp-block-catpow-heroheader__body.has-text-align-left .wp-block-catpow-heroheader__body-texts-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.wp-block-catpow-heroheader__body.has-text-align-center .wp-block-catpow-heroheader__body-texts-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.wp-block-catpow-heroheader__body.has-text-align-right .wp-block-catpow-heroheader__body-texts-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.wp-block-catpow-heroheader__body-texts {
  width: var(--cp-size-i);
}
.wp-block-catpow-heroheader__body-texts-title, .wp-block-catpow-heroheader__body-texts-text, .wp-block-catpow-heroheader__body-texts-buttons {
  position: relative;
  z-index: 2;
}
.wp-block-catpow-heroheader__body-texts-title {
  margin-top: 0rem;
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-heroheader__body-texts-text {
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-heroheader__body-texts-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--cp-margin-c-b);
  list-style: none;
}
.wp-block-catpow-heroheader__body-texts-buttons-button {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--cp-size-i);
}
.wp-block-catpow-heroheader__bg {
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  z-index: 1;
  overflow: hidden;
  mix-blend-mode: var(--cp-slider-blendmode);
  opacity: var(--cp-slider-opacity);
}
.wp-block-catpow-heroheader.has-text-background .wp-block-catpow-heroheader__body-texts {
  position: relative;
  padding: var(--cp-padding-c-f);
}
.wp-block-catpow-heroheader.has-text-background .wp-block-catpow-heroheader__body-texts::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  opacity: var(--cp-text-background-opacity, 1);
  mix-blend-mode: var(--cp-text-background-blendmode, nomal);
}
.wp-block-catpow-heroheader.has-text-background.has-text-background-fade .wp-block-catpow-heroheader__body-texts::before {
  top: 0rem;
  right: -30vw;
  bottom: 0rem;
  left: -30vw;
  inset: 0rem -30vw;
  background-image: -webkit-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -moz-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -ms-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: -o-linear-gradient(left, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
  background-image: linear-gradient(90deg, transparent, oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1)), transparent);
}
.wp-block-catpow-heroheader.has-text-background.has-text-background-belt .wp-block-catpow-heroheader__body-texts::before {
  top: 0rem;
  right: -100vw;
  bottom: 0rem;
  left: -100vw;
  inset: 0rem -100vw;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-heroheader.has-text-background.has-text-background-rect .wp-block-catpow-heroheader__body-texts::before {
  top: -50vw;
  right: -50vw;
  bottom: -50vw;
  left: -50vw;
  inset: -50vw;
  margin: auto;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-heroheader.has-text-background.has-text-background-circle .wp-block-catpow-heroheader__body-texts::before {
  top: -50vw;
  right: -50vw;
  bottom: -50vw;
  left: -50vw;
  inset: -50vw;
  margin: auto;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-heroheader.has-slider-fixed .wp-block-catpow-heroheader__bg {
  position: fixed;
}
@media (min-width:720px) {
  .wp-block-catpow-heroheader.has-slider-split .wp-block-catpow-heroheader__bg {
    width: calc(1% * var(--cp-slider-size, 100));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right .wp-block-catpow-heroheader__bg {
    margin-right: 0rem;
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right.has-slider-border-fade .wp-block-catpow-heroheader__bg {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right.has-slider-border-slope.has-slider-border-slope-top .wp-block-catpow-heroheader__bg {
    clip-path: polygon(calc(1% * var(--cp-slider-border-amount, 0)) 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right.has-slider-border-slope.has-slider-border-slope-bottom .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(1% * var(--cp-slider-border-amount, 0)) 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right.has-slider-border-ellipse.has-slider-border-ellipse-inside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 100% 0%, vline to 100%, hline to 0%, arc by 0% -100% of calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount, 0)));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-right.has-slider-border-ellipse.has-slider-border-ellipse-outside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 100% 0%, vline to 100%, hline by calc(-100% + 1% * var(--cp-slider-border-amount, 0)), arc by 0% -100% of calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) cw);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left .wp-block-catpow-heroheader__bg {
    margin-left: 0rem;
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left.has-slider-border-fade .wp-block-catpow-heroheader__bg {
    -webkit-mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
    mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left.has-slider-border-slope.has-slider-border-slope-top .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, calc(100% - 1% * var(--cp-slider-border-amount, 0)) 0%, 100% 100%, 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left.has-slider-border-slope.has-slider-border-slope-bottom .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 1% * var(--cp-slider-border-amount, 0)) 100%, 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left.has-slider-border-ellipse.has-slider-border-ellipse-inside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% 0%, hline to 100%, arc by 0% 100% of calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount, 0)), hline to 0%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-left.has-slider-border-ellipse.has-slider-border-ellipse-outside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% 0%, hline to calc(100% - 1% * var(--cp-slider-border-amount, 0)), arc by 0% 100% of calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) cw, hline to 0%);
  }
}
@media (max-width:720px) {
  .wp-block-catpow-heroheader.has-slider-split .wp-block-catpow-heroheader__bg {
    height: calc(1% * var(--cp-slider-size, 100));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom .wp-block-catpow-heroheader__bg {
    margin-bottom: 0rem;
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom.has-slider-border-fade .wp-block-catpow-heroheader__bg {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom.has-slider-border-slope.has-slider-border-slope-left .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% calc(1% * var(--cp-slider-border-amount, 0)), 100% 0%, 100% 100%, 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom.has-slider-border-slope.has-slider-border-slope-right .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, 100% calc(1% * var(--cp-slider-border-amount, 0)), 100% 100%, 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom.has-slider-border-ellipse.has-slider-border-ellipse-inside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% 0%, arc by 100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)), vline to 100%, hline to 0%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-bottom.has-slider-border-ellipse.has-slider-border-ellipse-outside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% calc(1% * var(--cp-slider-border-amount, 0)), arc by 100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) cw, vline to 100%, hline to 0%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top .wp-block-catpow-heroheader__bg {
    margin-top: 0rem;
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top.has-slider-border-fade .wp-block-catpow-heroheader__bg {
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, white calc(1% * abs(var(--cp-slider-border-amount, 0))));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top.has-slider-border-slope.has-slider-border-slope-left .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 1% * var(--cp-slider-border-amount, 0)));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top.has-slider-border-slope.has-slider-border-slope-right .wp-block-catpow-heroheader__bg {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1% * var(--cp-slider-border-amount, 0)), 0% 100%);
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top.has-slider-border-ellipse.has-slider-border-ellipse-inside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% 0%, hline to 100%, vline to 100%, arc by -100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)));
  }
  .wp-block-catpow-heroheader.has-slider-split.has-slider-top.has-slider-border-ellipse.has-slider-border-ellipse-inside .wp-block-catpow-heroheader__bg {
    clip-path: shape(from 0% 0%, hline to 100%, vline to calc(100% - 1% * var(--cp-slider-border-amount, 0)), arc by -100% 0% of calc(55% - 0.05% * var(--cp-slider-border-amount, 0)) calc(100% * sin(var(--cp-slider-border-amount, 0) * 0.9deg)) cw);
  }
}

/*# sourceMappingURL=./style.css.map */