@import "admin_style_config.scss";

.wp-block-catpow-graphics{
	@include bnd((p:r,mg:a));
	@include txt((p:1.2vw));
	@include bp(-1280){
		@include txt((p:1.6vw));
	}
	@include bp(-640){
		@include txt((p:3.2vw));
	}
	.item{
		@include bnd((d:b,p:a,bs:b));
		&.fadeIn{
			@include trn((t:1s,o:0));
			&.visible{
				@include trn((o:1));
			}
		}
		&.slideIn{
			&.slideInLeft{@include trn((x:40));}
			&.slideInRight{@include trn((x:-40));}
			&.slideInUp{@include trn((y:40));}
			&.slideInDown{@include trn((y:-40));}
			&.slideInFront{@include trn((s:.90));}
			&.slideInBack{@include trn((s:1.1));}
			&.visible{
				@include trn((t:1s,x:0,y:0));
			}
		}
		&.roll{
			&.rollLeft{
				&.rollSlow img{@include trn((a:'rollLeft' 10s l i));}
				&.rollFast img{@include trn((a:'rollLeft' 2s l i));}
			}
			&.rollRight{
				&.rollSlow img{@include trn((a:'rollRight' 10s l i));}
				&.rollFast img{@include trn((a:'rollRight' 2s l i));}
			}
		}
		&.hoverFade{
			@include trn((t:.5s,o:1));
			&:hover{
				@include trn((o:.7));
			}
		}
		&.hoverZoom{
			@include trn((t:.5s,s:1));
			&:hover{
				@include trn((s:1.05));
			}
		}
		&.hoverLift{
			@include trn((t:.5s,y:0));
			&:hover{
				@include trn((y:-10));
			}
		}
		&.hoverJump{
			&:hover{
				@include trn((a:'slideUpBit' 1s ease(j) b i));
			}
		}
		
		&.hasBackground{
			@include bg((c:m));
		}
		&.hasBoxShadow{
			@include shd((b:5));
		}
		&.hasTextShadow{
			@include bg((t:2));
		}
		&.isEllipse{
			@include bnd((o:h));
			@include bdr((r:50%));
		}
		&.isText{
			@include flx((w:n,a:c,j:c));
			>.body{
			}
			&.type1{
				@include bnd((pd:1em));
				@include bg((c:b 1 .8));
				.title{
					@include bnd((pdb:.25em,mg:0 a .25em));
					@include bdr((p:b,s:s,w:1));
					@include txt((p:3em));
				}
				.lead{
					@include txt((p:1em));
				}
				.text{
					@include txt((p:.8em));
				}
			}
			&.type2{
				@include bnd((pd:1em));
				@include bg((c:b 1 .8));
				.title{
					@include bnd((pdb:.25em,mg:0 a .25em));
					@include bdr((p:b,s:s,w:1));
					@include txt((p:3em));
				}
				.lead{
					@include txt((p:1em));
				}
				.text{
					@include txt((p:.8em));
				}
			}
			&.type3{
				@include bnd((pd:1em));
				@include bg((c:b 1 .8));
				.title{
					@include bnd((pdb:.25em,mg:0 a .25em));
					@include bdr((p:b,s:s,w:1));
					@include txt((p:3em));
				}
				.lead{
					@include txt((p:1em));
				}
				.text{
					@include txt((p:.8em));
				}
			}
			&.inverse{
				@include txt((c:b));
				&.type1{
					@include bg((c:t 1 .8));
					.title{
						@include txt((c:b));
					}
				}
			}
			&.isEllipse{
				@include bnd((pd:2em 1em));
				@include txt((a:c));
			}
		}
	}
	img{
		@include bnd((d:b,w:f,h:f,of:c,op:c));
	}
}

@keyframes slideUpBit{
	0%{
		@include trn((y:0));
	}
	100%{
		@include trn((y:-3));
	}
}

@keyframes rollLeft{
	0%{
		@include trn((r:0));
	}
	100%{
		@include trn((r:-360deg));
	}
}

@keyframes rollRight{
	0%{
		@include trn((r:0));
	}
	100%{
		@include trn((r:360deg));
	}
}

