.wp-block-catpow-slider__contents-item-body-texts-title {
  margin: var(--cp-margin-t-h, 0);
}
.wp-block-catpow-slider__contents-item-body-texts-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-slider__contents-item-body-texts-text {
  margin: var(--cp-margin-t-p, 0);
}
.wp-block-catpow-slider__contents-item-body-texts-text {
  font-family: var(--cp-font-family-t-p, inherit);
  font-size: var(--cp-font-size-t-p, 2em);
  font-weight: var(--cp-font-weight-t-p, regular);
  line-height: var(--cp-line-height-t-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-p, normal);
}
.wp-block-catpow-slider__contents-item-body-texts-link {
  margin: var(--cp-margin-t-u, 0);
}
.wp-block-catpow-slider__contents-item-body-texts-link {
  font-family: var(--cp-font-family-t-u, inherit);
  font-size: var(--cp-font-size-t-u, 2em);
  font-weight: var(--cp-font-weight-t-u, regular);
  line-height: var(--cp-line-height-t-u, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-u, normal);
}
.wp-block-catpow-slider__contents-item-body-texts-caption {
  margin: var(--cp-margin-t-c, 0);
}
.wp-block-catpow-slider__contents-item-body-texts-caption {
  font-family: var(--cp-font-family-t-c, inherit);
  font-size: var(--cp-font-size-t-c, 2em);
  font-weight: var(--cp-font-weight-t-c, regular);
  line-height: var(--cp-line-height-t-c, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-c, normal);
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item-body, .wp-block-catpow-slider.is-type-card .wp-block-catpow-slider__contents-item-body {
  padding: var(--cp-padding-c-c);
  border-width: var(--cp-border-width-c-c, 0);
  border-radius: var(--cp-border-radius-c-c, 0);
  box-shadow: var(--cp-shadow-c-c) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-slider__contents-item-body-texts-link {
  padding: var(--cp-padding-c-b);
  border-width: var(--cp-border-width-c-b, 0);
  border-radius: var(--cp-border-radius-c-b, 0);
  box-shadow: var(--cp-shadow-c-b) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  z-index: 1;
  overflow-x: auto;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}
.wp-block-catpow-slider::-webkit-scrollbar {
  display: none;
}
.wp-block-catpow-slider__contents {
  overflow: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: var(--cp-margin-c-c);
  list-style: none;
}
.wp-block-catpow-slider__contents-item {
  position: relative;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--cp-size-i);
  scroll-snap-align: center;
  transform: -webkit- translateZ(0rem);
  transform: translateZ(0rem);
}
.wp-block-catpow-slider__contents-item-body-image-img {
  display: block;
  width: 100%;
  height: auto;
}
.wp-block-catpow-slider__contents-item-body-texts {
  color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
}
.wp-block-catpow-slider__contents-item-body-texts-link {
  display: block;
  background-color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
  border-style: solid;
  text-align: center;
  color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-slider__contents-item-body-texts > :first-child {
  margin-top: 0rem;
}
.wp-block-catpow-slider__contents-item-body-texts > :last-child {
  margin-bottom: 0rem;
}
.wp-block-catpow-slider__controls {
  position: sticky;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding: var(--cp-padding-c-c);
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 1em;
}
.wp-block-catpow-slider__controls-arrow {
  position: relative;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 2em;
  height: 2em;
  text-align: center;
  line-height: 1em;
  color: oklch(calc(1 - var(--cp-tones-t-t) * 100) var(--cp-tones-t-c) var(--cp-tones-t-h) / calc(var(--cp-tones-t-a,1) * 0.5));
  background-color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
  border-radius: var(--cp-border-radius-c-b);
}
.wp-block-catpow-slider__controls-arrow::after {
  display: none;
}
.wp-block-catpow-slider__controls-arrow.is-arrow-prev::before, .wp-block-catpow-slider__controls-arrow.is-arrow-next::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  width: 40%;
  height: 60%;
  background-color: oklch(var(--cp-tones-ix-l) var(--cp-tones-ix-c) var(--cp-tones-ix-h) / var(--cp-tones-ix-a,1));
}
.wp-block-catpow-slider__controls-arrow.is-arrow-prev {
  margin-left: 0.625rem;
}
.wp-block-catpow-slider__controls-arrow.is-arrow-prev::before {
  clip-path: polygon(0% 50%, 100% 0%, 100% 10%, 20% 50%, 100% 90%, 100% 100%);
}
.wp-block-catpow-slider__controls-arrow.is-arrow-next {
  margin-right: 0.625rem;
}
.wp-block-catpow-slider__controls-arrow.is-arrow-next::before {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 90%, 80% 50%, 0% 10%);
}
.wp-block-catpow-slider__controls-dots {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 37.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0.5em;
}
.wp-block-catpow-slider__controls-dots-dot {
  display: block;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1em;
  height: auto;
  aspect-ratio: 1;
  background-color: oklch(var(--cp-tones-tx-l) var(--cp-tones-tx-c) var(--cp-tones-tx-h) / var(--cp-tones-tx-a,1));
  border-radius: var(--cp-border-radius-c-b);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.25;
}
.wp-block-catpow-slider__controls-dots-dot.is-active {
  background-color: oklch(var(--cp-tones-hx-l) var(--cp-tones-hx-c) var(--cp-tones-hx-h) / var(--cp-tones-hx-a,1));
  opacity: 1;
}
.wp-block-catpow-slider.is-type-carousel {
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  background-image: -webkit-linear-gradient(top, transparent, oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)), transparent, transparent, transparent);
  background-image: -moz-linear-gradient(top, transparent, oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)), transparent, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)), transparent, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)), transparent, transparent, transparent);
  background-image: linear-gradient(0deg, transparent, oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1)), transparent, transparent, transparent);
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item {
  perspective: 200vw;
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item-body {
  --p:var(--cp-slider-item-position);
  anchor-name: --item-body;
  anchor-scope: all;
  padding: 0rem;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  box-shadow: none;
  -webkit-transform-origin: center center calc(-3000px / pi);
  transform-origin: center center calc(-3000px / pi);
  opacity: clamp(0, calc(2 - abs(var(--p)) / 500), 1);
  transform: -webkit- translateX(calc(-1px * var(--p))) rotateY(clamp(-90deg, calc(var(--p) / 3000 * pi * 1rad), 90deg));
  transform: translateX(calc(-1px * var(--p))) rotateY(clamp(-90deg, calc(var(--p) / 3000 * pi * 1rad), 90deg));
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item-body-image {
  overflow: hidden;
  border-radius: var(--cp-border-radius-c-c);
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item-body-texts {
  padding: var(--cp-padding-c-c);
}
.wp-block-catpow-slider.is-type-carousel .wp-block-catpow-slider__contents-item-body::after {
  content: "";
  display: block;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  margin: 1em auto;
  -webkit-position-anchor: --item-body;
  position-anchor: --item-body;
  -webkit-position-area: bottom center;
  position-area: bottom center;
  border-radius: var(--cp-border-radius-c-c);
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
  opacity: 0.5;
}
.wp-block-catpow-slider.is-type-card .wp-block-catpow-slider__contents-item-body {
  padding: 0rem;
  overflow: hidden;
  background-color: oklch(var(--cp-tones-bx-l) var(--cp-tones-bx-c) var(--cp-tones-bx-h) / var(--cp-tones-bx-a,1));
}
.wp-block-catpow-slider.is-type-card .wp-block-catpow-slider__contents-item-body-texts {
  padding: var(--cp-padding-c-c);
}
.wp-block-catpow-slider.is-type-flat .wp-block-catpow-slider__contents-item-body-image {
  overflow: hidden;
  border-radius: var(--cp-border-radius-c-c);
}
.wp-block-catpow-slider.is-type-flat .wp-block-catpow-slider__contents-item-body-texts {
  padding: var(--cp-padding-c-c);
  padding-inline: 0rem;
}
/*# sourceMappingURL=./style.css.map */