@import "admin_style_config.scss";
@import "text-placeholders.scss";
@import "component-placeholders.scss";

.wp-block-catpow-slider{
	$block:&;
	@include hide-scrollbar;
	@include bnd((p:r,z:1,mxw:f,ox:a,oy:h,bs:b,sst:x m,sss:a));
	&__contents{
		@include bnd((w:max,o:v));
		@include grd((rc:i,f:c,ac:fit,g:c-c));
		@include txt((l:n));
		&-item{
			@include bnd((p:r,f:0 0 i,ssa:c));
			@include trn((z:0));
			@include grd((tr:s,g:0));
			&-body{
				@include grd((tr:s));
				&-image{
					&-img{
						@include bnd((d:b,w:f,h:f a,op:c,of:c));
					}
				}
				&-texts{
					@include txt((c:tx));
					@include flx((w:n,a:f,d:c));
					&-title,&-caption,&-text{
						@include bnd((w:f));
					}
					&-title{
						@extend %heading-block;
						@extend %heading;
					}
					&-caption{
						@extend %caption-block;
						@extend %caption;
					}
					&-text{
						@extend %paragraph-block;
						@extend %paragraph;
					}
					&-link{
						@extend %button-component;
						@extend %ui-block;
						@extend %ui;
						@include bnd((d:b));
						@include bg((c:mx));
						@include bdr((s:s));
						@include txt((a:c,c:bx));
					}
					>:first-child{
						@include bnd((mgt:0));
					}
					>:last-child{
						@include bnd((mgb:0));
					}
					>:nth-last-child(2){
						@include bnd((f:1 0 a));
					}
				}
			}
		}
	}
	&__controls{
		@include bnd((p:s,b:0,l:0,r:0,pd:c-c,bs:b));
		@include flx((w:n,a:c,j:c,g:1em));
		&-arrow{
			@include bnd((p:r,f:0 0 2em,h:2em));
			@include txt((a:c,h:1em,c:t 1 .5));
			@include bg((c:tx));
			@include trn((t:.5s,o:.5));
			@include bdr((r:c-b));
			&::after{
				@include bnd((d:n));
			}
			&.is-arrow-prev,&.is-arrow-next{
				&::before{
					content:'';
					@include bnd((d:b,p:a,i:0,mg:a,w:40%,h:60%));
					@include bg((c:ix));
				}
			}
			&.is-arrow-prev{
				@include bnd((mgl:10));
				&::before{
					clip-path: polygon(0% 50%, 100% 0%, 100% 10%, 20% 50%, 100% 90%, 100% 100%);
				}
			}
			&.is-arrow-next{
				@include bnd((mgr:10));
				&::before{
					clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 90%, 80% 50%, 0% 10%);
				}
			}
		}
		&-dots{
			@include bnd((f:0 1 600));
			@include flx((w:n,j:c,g:.5em));
			&-dot{
				@include bnd((d:b,f:0 1 1em,h:a,a:1));
				@include bg((c:tx));
				@include bdr((r:c-b));
				@include trn((t:.2s,o:.25));
				&.is-active{
					@include bg((c:hx));
					@include trn((o:1));
				}
			}

		}
	}
	&.has-image{
		#{$block}{
			&__contents{
				&-item{
					@include bnd((gr:span 2));
					&-body{
						@include bnd((gr:span 2));
					}
				}
			}
		}
	}
	&.is-type-carousel{
		@include bg((c:bx,g:l 0deg n shd n n n));
		#{$block}{
			&__contents{
				&-item{
					@include trn((p:200vw));
					&-body{
						--p:var(--cp-slider-item-position);
						@extend %card-component;
						@include anc((n:--item-body,s:a));
						@include bnd((pd:0));
						@include bg((c:bx));
						@include shd((b:n));
						@include trn((
							to:center center calc(-3000px / pi),
							x:calc(-1px * var(--p)),
							ry:clamp(-90deg,calc(var(--p) / 3000 * pi * 1rad),90deg),
							o:clamp(0,calc(2 - abs(var(--p)) / 500),1)
						));
						&-image{
							@include bnd((o:h));
							@include bdr((r:c-c,br:0));
						}
						&-texts{
							@include bnd((pd:c-c));
						}
						&::after{
							content:'';
							@include bnd((d:b,p:f,t:100%,w:f,h:f,mg:1em a));
							@include pos((anc:--item-body,a:b c));
							@include bdr((r:c-c));
							@include bg((c:bx));
							@include trn((o:.5));
						}
					}
				}
			}
		}
	}
	&.is-type-card{
		#{$block}{
			&__contents{
				&-item{
					&-body{
						@extend %card-component;
						@include bnd((pd:0,o:h));
						@include bg((c:bx));
						&-texts{
							@include bnd((pd:c-c));
						}
					}
				}
			}
		}
	}
	&.is-type-flat{
		#{$block}{
			&__contents{
				&-item{
					&-body{
						&-image{
							@include bnd((o:h));
							@include bdr((r:c-c));
						}
						&-texts{
							@include bnd((pd:c-c,pdi:0));
						}
					}
				}
			}
		}
		
	}
}