@charset "utf-8";
ul.wp-block-catpow-panel li.item {
  position: relative; }
  ul.wp-block-catpow-panel li.item .itemControl {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem; }
ul.wp-block-catpow-panel.edit {
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(68, 68, 68, 0.5);
  border-radius: 1rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #fefefe;
  list-style: none; }
  ul.wp-block-catpow-panel.edit li.item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    ul.wp-block-catpow-panel.edit li.item div.image {
      padding: 1rem;
      -webkit-box-flex: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 10rem; }
      ul.wp-block-catpow-panel.edit li.item div.image img, ul.wp-block-catpow-panel.edit li.item div.image video {
        width: 100%;
        height: auto; }
    ul.wp-block-catpow-panel.edit li.item div.text {
      padding: 1rem;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 15rem; }
      ul.wp-block-catpow-panel.edit li.item div.text .icon {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        background-color: #ccc; }
        ul.wp-block-catpow-panel.edit li.item div.text .icon img {
          width: 100%;
          height: auto; }
      ul.wp-block-catpow-panel.edit li.item div.text h3 {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-bottom-color: #444;
        text-align: left;
        font-size: 1.5rem;
        font-weight: 400;
        color: #444; }
      ul.wp-block-catpow-panel.edit li.item div.text p {
        text-align: justify;
        font-size: 1.2rem;
        font-weight: 400;
        color: #444; }
      ul.wp-block-catpow-panel.edit li.item div.text .link {
        position: relative; }
        ul.wp-block-catpow-panel.edit li.item div.text .link a {
          display: block;
          margin: 1rem auto;
          font-size: 1.2rem;
          line-height: 1em;
          color: #444; }
          ul.wp-block-catpow-panel.edit li.item div.text .link a::before {
            content: "\f054";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: inline-block;
            margin-right: 0.5em; }
        ul.wp-block-catpow-panel.edit li.item div.text .link input {
          color: #444; }
ul.wp-block-catpow-panel.panel li.item .text .link {
  pointer-events: none; }
  ul.wp-block-catpow-panel.panel li.item .text .link input.components-text-control__input {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    pointer-events: auto; }
