@import 'admin_style_config.scss';

.wp-block-catpow-t-button{
	@include tbl(());
	&__button{
		@include bg((c:m));
		@include bdr((s:n,r:.25em));
		@include txt((a:c,f:t));
		@include shd((b:2));
		&-link{
			@include bnd((d:b,pd:.5em 1em));
			@include txt((td:n,c:i));
		}
		.has-color-scheme-inverted &{
			@include bg((c:b));
			&-link{
				@include txt((c:m));
			}
		}
	}
	&.is-size-xlarge{
		@include txt((p:32px));
	}
	&.is-size-large{
		@include txt((p:24px));
	}
	&.is-size-medium{
		@include txt((p:16px));
	}
	&.is-size-small{
		@include txt((p:12px));
	}
	&.is-size-xsmall{
		@include txt((p:10px));
	}
}