@import 'admin_style_config.scss';

.cpui-selectcolor{
	@include bnd((w:300));
	&-items{
		@include bnd((w:300,mg:4 0));
		@include flx((w:n));
		@include txt((l:n));
		&-icon{
			@include txt((c:t 1 .2));
			&.active{
				@include txt((c:at));
			}
		}
		&-item{
			@include bnd((f:1 1 10,h:20));
			@include usr((c:p));
			@include bg((c:m));
			@include bdr((p:t,s:s,w:10,c:a));
			&:not(.active){@include trn((o:.2));}
		}
	}
}