@import 'admin_style_config.scss';
@import 'text-placeholders.scss';
@import 'component-placeholders.scss';

.wp-block-catpow-accordion{
	@extend %ui-block;
	&>.header{
		@extend %header-component;
		@include bnd((p:r,pdr:50));
		@include bg((c:mx));
		@include usr((c:p));
		.title{
			@extend %heading;
			@include bnd((pd:0,mg:0));
			@include txt((a:l,c:ix));
		}
		.icon{
			&::before,&::after{
				content:'';
				@include bnd((d:b,p:a,w:20,h:1,t:0,b:0,r:10,mg:a));
				@include bg((c:b));
			}
			&::before{
				@include trn((t:.4s,r:180deg));
			}
			&::after{
				@include trn((t:.4s,r:90deg));
			}
		}
	}
	&.hasImage>.header{
		@include bnd((pdl:4em));
		.image{
			@include bnd((d:b,w:3em,h:3em,p:a,t:0,l:0));
			img,picture,video{
				@include bnd((d:b,w:f,h:f,op:c,of:c));
			}
		}
	}
	&.open>.header{
		.icon{
			&::after,&::before{
				@include trn((r:0deg));
			}
		}
	}
	&>.container{
		@include bnd((o:h));
		@include trn((t:.5s));
		&>.contents{
			@include bnd((pd:cpd));
		}
	}
}
