.wp-block-catpow-accordion__header-title {
  font-family: var(--cp-font-family-t-h, inherit);
  font-size: var(--cp-font-size-t-h, 2em);
  font-weight: var(--cp-font-weight-t-h, regular);
  line-height: var(--cp-line-height-t-h, 1.5);
  letter-spacing: var(--cp-letter-spacing-t-h, normal);
}
.wp-block-catpow-accordion {
  margin: var(--cp-margin-t-u, 0);
}
.wp-block-catpow-accordion__header {
  padding: var(--cp-padding-c-h);
  border-width: var(--cp-border-width-c-h, 0);
  border-radius: var(--cp-border-radius-c-h, 0);
  box-shadow: var(--cp-shadow-c-h) oklch(var(--cp-tones-shd-l) var(--cp-tones-shd-c) var(--cp-tones-shd-h) / var(--cp-tones-shd-a,1));
}
.wp-block-catpow-accordion {
  position: relative;
  margin: var(--cp-margin-f);
}
.wp-block-catpow-accordion__header {
  position: relative;
  padding-right: 3.125rem;
  background-color: oklch(var(--cp-tones-mx-l) var(--cp-tones-mx-c) var(--cp-tones-mx-h) / var(--cp-tones-mx-a,1));
  cursor: pointer;
}
.wp-block-catpow-accordion__header-title {
  padding: 0rem;
  margin: 0rem;
  text-align: left;
  color: oklch(var(--cp-tones-ix-l) var(--cp-tones-ix-c) var(--cp-tones-ix-h) / var(--cp-tones-ix-a,1));
}
.wp-block-catpow-accordion__header-icon {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  margin: auto;
  margin-right: 0.625rem;
  width: 1.25rem;
  aspect-ratio: 1;
}
.wp-block-catpow-accordion__header-icon::before, .wp-block-catpow-accordion__header-icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  inset: 0rem;
  width: 1.25rem;
  height: 0.0625rem;
  margin: auto;
  background-color: oklch(var(--cp-tones-b-l) var(--cp-tones-b-c) var(--cp-tones-b-h) / var(--cp-tones-b-a,1));
}
.wp-block-catpow-accordion__header-icon::before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: -webkit- rotateZ(180deg);
  transform: rotateZ(180deg);
}
.wp-block-catpow-accordion__header-icon::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: -webkit- rotateZ(270deg);
  transform: rotateZ(270deg);
}
.wp-block-catpow-accordion__contents {
  height: 0rem;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.wp-block-catpow-accordion__contents-body {
  padding: var(--cp-padding-f);
}
.wp-block-catpow-accordion.has-image .wp-block-catpow-accordion__heder {
  padding-left: 4em;
}
.wp-block-catpow-accordion.has-image .wp-block-catpow-accordion__heder-image {
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.wp-block-catpow-accordion.has-image .wp-block-catpow-accordion__heder-image img, .wp-block-catpow-accordion.has-image .wp-block-catpow-accordion__heder-image picture, .wp-block-catpow-accordion.has-image .wp-block-catpow-accordion__heder-image video {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.wp-block-catpow-accordion.is-open .wp-block-catpow-accordion__header-icon::after, .wp-block-catpow-accordion.is-open .wp-block-catpow-accordion__header-icon::before {
  transform: -webkit- rotateZ(360deg);
  transform: rotateZ(360deg);
}
.wp-block-catpow-accordion.is-open .wp-block-catpow-accordion__contents {
  height: var(--contents-height);
}
.wp-block-catpow-accordiongroup {
  display: contents;
}
/*# sourceMappingURL=./style.css.map */