@import 'admin_style_config.scss';
@import 'text-placeholders.scss';
@import 'component-placeholders.scss';

.wp-block-catpow-accordion{
	$block:&;
	@extend %ui-block;
	&__header{
		@extend %header-component;
		@include bnd((p:r,pdr:50));
		@include bg((c:mx));
		@include usr((c:p));
		&-title{
			@extend %heading;
			@include bnd((pd:0,mg:0));
			@include txt((a:l,c:ix));
		}
		&-icon{
			@include bnd((d:b,p:a,i:0,mg:a,mgr:10,w:20,a:1));
			&::before,&::after{
				content:'';
				@include bnd((d:b,p:a,i:0,w:20,h:1,mg:a));
				@include bg((c:b));
			}
			&::before{
				@include trn((t:.4s,r:180deg));
			}
			&::after{
				@include trn((t:.4s,r:270deg));
			}
		}
	}
	&__contents{
		@include bnd((h:0,o:h));
		@include trn((t:.5s));
		&-body{
			@include bnd((pd:cpd));
		}
	}
	&.has-image{
		#{$block}{
			&__heder{
				@include bnd((pdl:4em));
				&-image{
					@include bnd((d:b,w:3em,h:3em,p:a,t:0,l:0));
					img,picture,video{
						@include bnd((d:b,w:f,h:f,op:c,of:c));
					}
				}
			}
		}
	}
	&.is-open{
		#{$block}{
			&__header{
				&-icon{
					&::after,&::before{
						@include trn((r:360deg));
					}
				}
			}
			&__contents{
				@include bnd((h:var(--contents-height)));
			}
		}
	}
}

.wp-block-catpow-accordiongroup{
	@include bnd((d:c));
}
