@import 'admin_style_config.scss';


.DateSelect{
	&>.inputs{
		@include bnd((d:ib,mg:0 .5em,pd:.5rem));
		@include usr((c:p));
		@include txt((a:c,p:1.5rem));
		.input{
			@include txt((a:r));
			&.year{
				@include bnd((w:7ch));
			}
			&.month,&.date{
				@include bnd((w:5ch));
			}
		}
		.btn{
			@include bnd((d:ib,mgl:.5em));
			@include txt((v:m));
			&::before{
				content:'\f508';
				@include txt((f:dashicons));
			}
		}
	}
}