@charset "utf-8";
section.wp-block-catpow-section.article {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  section.wp-block-catpow-section.article:hover {
    border-color: #888;
    background-color: rgba(0, 255, 255, 0.1); }
