@import 'admin_style_config.scss';
@import "fontawesome.scss";

.wp-block-catpow-formbuttons{
	&-button{
		&__action{
			@include bnd((d:b,p:a,t:f,l:0,r:0,w:1em fit,mg:a,pd:3,z:7));
			@include txt((p:11,h:1em,t:0,c:t));
			@include bg((c:b));
			@include shd((b:1));
			&::before{
				@include ico('cog');
				@include bnd((d:ib,mgr:.5em));
			}
		}
	}
	&__item{
		@include bnd((p:r));
		@include txt((l:n));
		&-copy,&-caption{
			&:empty{
				&::before{
					content:'Input Text';
					@include trn((o:.25));
				}
			}
		}
		.itemControl{
			@include bnd((p:a,t:-20,r:0));
		}
	}
}
