@import 'admin_style_config.scss';

.wp-block-catpow-formbuttons{
	li.item{
		@include bnd((p:r));
		@include txt((l:n));
		.itemControl{
			@include bnd((p:a,t:-2rem,r:0));
		}
		div.button{
			.action{
				@include bnd((d:b,p:a,t:f,l:0,r:0,mg:a,pd:3,z:7));
				@include txt((p:11,h:1em,t:0,c:t));
				@include shd((b:1));
				&::before{
					@include ico('cog');
					@include bnd((d:ib,mgr:.5em));
				}
			}
		}
	}
}
