@import 'admin_style_config.scss';

.switcher-edit{
	@include bnd((p:r,pdt:2em));
	&>.tabs{
		@include bnd((p:a,t:0,r:0,mg:0,pd:0,z:10));
		@include flx((w:n,j:r));
		@include bg((c:b));
		@include shd((b:1));
		&>.tab{
			@include bnd((f:0 0 a,pd:5 10,mg:0));
			@include txt((a:c,p:12,h:1em,f:g,l:n));
			@include usr((c:p));
			&.icon{
				@include bnd((pd:2.5 5));
				.dashicon{
					@include bnd((w:15,h:15));
					@include txt((p:15));
				}
			}
			&+.tab{
				@include bdr((p:l,s:s,w:1,c:shd));
			}
			&.active{
				@include bg((c:m));
				@include txt((c:i));
			}
		}
	}
	&>.contents{
		@include bnd((mg:0,pd:0));
	}
	[data-type="catpow/switchercontent"]{@include bnd((d:n));}
}