@import 'admin_style_config.scss';

.loop-block{
	&:not(.altMode)>.block-editor-inner-blocks{
		&>.block-editor-block-list__layout{
			&>.block-editor-block-list__block{
				&:not(:first-child){
					@include bnd((d:n));
				}
			}
		}
	}
	&.altMode>.block-editor-inner-blocks{
		&>.block-editor-block-list__layout{
			&>.block-editor-block-list__block{
				&:first-child{
					@include bnd((d:n));
				}
			}
		}
	}
}
