.wp-block-catpow-datatable__thead-tr-th, .wp-block-catpow-datatable__thead-tr-td, .wp-block-catpow-datatable__tbody-tr-th, .wp-block-catpow-datatable__tbody-tr-td {
  font-family: var(--cp-font-family-p, inherit);
  font-size: var(--cp-font-size-p, 2em);
  font-weight: var(--cp-font-weight-p, regular);
  line-height: var(--cp-line-height-p, 1.5);
  letter-spacing: var(--cp-letter-spacing-p, normal);
}
.wp-block-catpow-datatable {
  margin-top: var(--cp-ui-margin-top, 0);
  margin-bottom: var(--cp-ui-margin-bottom, 0);
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__thead-tr-th, .wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr-th {
  padding: var(--cp-size-sp-t);
  border-width: var(--cp-border-width-c-t, 0);
  border-radius: var(--cp-border-radius-c-t, 0);
}
.wp-block-catpow-datatable {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}
.wp-block-catpow-datatable__thead-tr-th, .wp-block-catpow-datatable__thead-tr-td, .wp-block-catpow-datatable__tbody-tr-th, .wp-block-catpow-datatable__tbody-tr-td {
  padding: var(--cp-cell-padding);
}
.wp-block-catpow-datatable.is-style-spec .wp-block-catpow-datatable__thead-tr-th, .wp-block-catpow-datatable.is-style-spec .wp-block-catpow-datatable__thead-tr-td {
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-lx-h),var(--cp-tones-lx-s),var(--cp-tones-lx-l),var(--cp-tones-lx-a,1));
}
.wp-block-catpow-datatable.is-style-spec .wp-block-catpow-datatable__tbody-tr-th, .wp-block-catpow-datatable.is-style-spec .wp-block-catpow-datatable__tbody-tr-td {
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(var(--cp-tones-lx-h),var(--cp-tones-lx-s),var(--cp-tones-lx-l),var(--cp-tones-lx-a,1));
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__thead-tr-th {
  text-align: center;
  background-color: hsla(var(--cp-tones-sx-h),var(--cp-tones-sx-s),var(--cp-tones-sx-l),var(--cp-tones-sx-a,1));
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-lx-h),var(--cp-tones-lx-s),var(--cp-tones-lx-l),var(--cp-tones-lx-a,1));
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__thead-tr-th.is-spacer {
  background-color: transparent;
  border-style: none;
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr-th, .wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr-td {
  text-align: left;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: hsla(var(--cp-tones-lx-h),var(--cp-tones-lx-s),var(--cp-tones-lx-l),var(--cp-tones-lx-a,1));
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr-th {
  background-color: hsla(var(--cp-tones-sx-h),var(--cp-tones-sx-s),var(--cp-tones-sx-l),var(--cp-tones-sx-a,1));
  text-align: center;
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr-td {
  background-color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),var(--cp-tones-bx-a,1));
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr:nth-of-type(odd) .wp-block-catpow-datatable__tbody-tr-th {
  background-color: hsla(calc(var(--cp-tones-sx-h) * 0.75 + var(--cp-tones-bx-h) * 0.25),calc(var(--cp-tones-sx-s) * 0.75 + var(--cp-tones-bx-s) * 0.25),calc(var(--cp-tones-sx-l) * 0.75 + var(--cp-tones-bx-l) * 0.25),calc(var(--cp-tones-sx-a) * 0.75 + var(--cp-tones-bx-a) * 0.25));
}
.wp-block-catpow-datatable.is-style-sheet .wp-block-catpow-datatable__tbody-tr:nth-of-type(even) .wp-block-catpow-datatable__tbody-tr-td {
  background-color: hsla(calc(var(--cp-tones-sx-h) * 0.25 + var(--cp-tones-bx-h) * 0.75),calc(var(--cp-tones-sx-s) * 0.25 + var(--cp-tones-bx-s) * 0.75),calc(var(--cp-tones-sx-l) * 0.25 + var(--cp-tones-bx-l) * 0.75),calc(var(--cp-tones-sx-a) * 0.25 + var(--cp-tones-bx-a) * 0.75));
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__thead-tr-th {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  text-align: center;
  color: hsla(var(--cp-tones-ix-h),var(--cp-tones-ix-s),var(--cp-tones-ix-l),var(--cp-tones-ix-a,1));
  background-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__thead-tr-th.is-spacer {
  background-color: transparent;
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr-th, .wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr-td {
  text-align: center;
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr-th {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  background-color: hsla(var(--cp-tones-mx-h),var(--cp-tones-mx-s),var(--cp-tones-mx-l),var(--cp-tones-mx-a,1));
  color: hsla(var(--cp-tones-ix-h),var(--cp-tones-ix-s),var(--cp-tones-ix-l),var(--cp-tones-ix-a,1));
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr-td {
  background-color: hsla(var(--cp-tones-bx-h),var(--cp-tones-bx-s),var(--cp-tones-bx-l),var(--cp-tones-bx-a,1));
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr:nth-of-type(odd) .wp-block-catpow-datatable__tbody-tr-th {
  background-color: hsla(calc(var(--cp-tones-mx-h) * 0.8 + var(--cp-tones-bx-h) * 0.2),calc(var(--cp-tones-mx-s) * 0.8 + var(--cp-tones-bx-s) * 0.2),calc(var(--cp-tones-mx-l) * 0.8 + var(--cp-tones-bx-l) * 0.2),calc(var(--cp-tones-mx-a) * 0.8 + var(--cp-tones-bx-a) * 0.2));
}
.wp-block-catpow-datatable.is-style-plan .wp-block-catpow-datatable__tbody-tr:nth-of-type(even) .wp-block-catpow-datatable__tbody-tr-td {
  background-color: hsla(calc(var(--cp-tones-bx-h) * 0.8 + var(--cp-tones-mx-h) * 0.2),calc(var(--cp-tones-bx-s) * 0.8 + var(--cp-tones-mx-s) * 0.2),calc(var(--cp-tones-bx-l) * 0.8 + var(--cp-tones-mx-l) * 0.2),calc(var(--cp-tones-bx-a) * 0.8 + var(--cp-tones-mx-a) * 0.2));
}
/*# sourceMappingURL=./style.css.map */