@import "admin_style_config.scss";
@import "text-placeholders.scss";

.wp-block-catpow-datatable{
	@extend %ui-block;
	@include tbl((l:f));
	@include bnd((w:f));
	&__thead,&__tbody{
		&-tr{
			&-th,&-td{
				@extend %paragraph;
				@include bnd((pd:cpd));
			}
		}
	}
	&.spec{
		thead{
			th,td{
				@include bdr((p:b,s:s,w:1,c:t));
			}
		}
		tbody{
			tr{
				th,td{
					@include bdr((p:b,s:s,w:1,c:t));
				}
			}
		}
	}
	&.sheet{
		thead{
			th{
				@include txt((a:c));
				@include bg((c:s));
				@include bdr((s:s,w:1,c:t 50));
				&.spacer{
					@include bg((c:n));
					@include bdr((s:n));
				}
			}
		}
		tbody{
			tr{
				th,td{
					@include txt((a:l));
					@include bdr((s:s,w:1,c:t 50));
				}
				th{
					@include bg((c:s 1 .5));
					@include txt((a:c));
				}
				td{
					@include bg((c:b));
				}
				&:nth-of-type(odd){
					th{@include bg((c:s 1 .75));}
					td{@include bg((c:s 1 .25));}
				}
			}
		}
	}
	&.plan{
		thead{
			th{
				@include txt((a:c,c:i));
				@include bg((c:m));
				&.spacer{
					@include bg((c:n));
				}
			}
		}
		tbody{
			tr{
				th,td{
					@include txt((a:c));
				}
				th{
					@include bg((c:m));
					@include txt((c:i));
				}
				td{
					@include bg((c:b));
				}
				&:nth-of-type(odd){
					th{@include bg((c:m 95));}
				}
				&:nth-of-type(even){
					td{@include bg((c:s));}
				}
			}
		}
	}
}