@import 'admin_style_config.scss';


.FinderFilterControl{
	&__table{
		@include tbl(());
		&>.row{
			&>.label{
				@include bnd((pd:10 20,w:80 a));
			}
			&>.inputs{
				@include bnd((pd:10));
			}
			&+.row{
				@include bdr((p:t,s:s,w:1,c:t 20));
			}
		}
	}
}