@charset "UTF-8";
html body::after {
  content: "　";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background-color: #000;
  background-image: url("images/spin.gif");
  background-position: 50% 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
html body.busy_mode:after {
  pointer-events: auto;
  opacity: 0.4;
}
html body.login {
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
}
html body.login #login h1 a {
  width: auto;
  background-image: url("images/logo.svg");
  background-size: 80% auto;
  background-position: center;
}
html body.login .button.sns_login {
  display: block;
  margin: 1em auto;
  text-align: center;
}
html body.login .button.sns_login img {
  height: 1.25em;
  width: auto;
  margin-right: 0.5em;
  vertical-align: middle;
}
html body #adminmenumain #adminmenuback {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
html body #wpcontent #wpadminbar {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
html body #wpcontent #editor {
  background-color: #ffe;
}
html body #wpcontent #editor .edit-post-header, html body #wpcontent #editor .edit-post-sidebar {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
html body #wpcontent #editor .editor-post-title__block .editor-post-title__input {
  color: #876;
}
html body #wpcontent #editor .edit-post-visual-editor .editor-post-title__block, html body #wpcontent #editor .edit-post-visual-editor .editor-block-list__block {
  max-width: 960px;
  width: auto;
}
html body #wpcontent #editor .edit-post-layout__metaboxes {
  border-color: rgba(136, 119, 102, 0.5);
}
html body #wpcontent #cpcf_custom_box {
  background-color: #ffe;
}
html body #wpcontent #cpcf_custom_box > h2 {
  color: #876;
  border-color: rgba(136, 119, 102, 0.3);
}
html body #wpcontent #cpcf_custom_box .inside {
  padding: 1rem;
  margin: 0px;
  border-style: none;
}
html body #wpcontent #cp_search #cpcf_custom_box_button {
  position: fixed;
  z-index: 10001;
  bottom: 0.5em;
  right: 0.5em;
  height: auto;
  padding: 1em;
  background-color: #321;
  border-top-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-top-color: #321;
  border-left-color: #321;
  border-radius: 2em;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1em;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  color: #ffe;
  cursor: pointer;
}
html body #wpcontent #cp_search #cpcf_custom_box_button::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
html body #wpcontent #cp_search #cpcf_custom_box {
  background-color: transparent;
}
html body #wpcontent #cp_search #cpcf_custom_box .inside {
  position: fixed;
  z-index: 10000;
  bottom: 0px;
  right: 0px;
  max-height: 80vh;
  height: auto;
  overflow-y: auto;
  background-color: #ffe;
  border-top-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-top-color: #321;
  border-left-color: #321;
  border-radius: 1rem 0px 0px 0px;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateY(100vh);
  transform: translateY(100vh);
}
html body #wpcontent #cp_search #cpcf_custom_box.active .inside {
  pointer-events: auto;
  opacity: 1;
  transform: -webkit- translateY(0px);
  transform: translateY(0px);
}
html body #wpcontent form#posts-filter div.tablenav.top .actions {
  overflow: visible;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition {
  display: inline-block;
  position: relative;
  margin: 0px 5px;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition .button::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs {
  display: block;
  position: absolute;
  padding: 20px;
  width: 600px;
  top: 40px;
  left: -200px;
  z-index: 10000;
  background-color: #ffe;
  border-style: solid;
  border-width: 1px;
  border-color: #321;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateY(-10px);
  transform: translateY(-10px);
  pointer-events: none;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs::before {
  content: " ";
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -21px;
  left: 220px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-bottom-color: #321;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs.active {
  opacity: 1;
  transform: -webkit- translateY(0px);
  transform: translateY(0px);
  pointer-events: auto;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs table.inputs {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs table.inputs th, html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs table.inputs td {
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #dbd6d1;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-weight: normal;
  color: #a09285;
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs table.inputs th {
  background-color: rgba(51, 34, 17, 0.1);
}
html body #wpcontent form#posts-filter div.tablenav.top .actions div.search_condition div.inputs table.inputs td label {
  display: inline-block;
  margin: 5px;
}
html body #wpcontent .cp_form_section {
  padding: 2rem;
  background-color: #ffe;
}
html body #wpcontent .wp-list-table a.pdf {
  display: inline-block;
  width: 80px;
  height: 115px;
  overflow: hidden;
}
html body #wpcontent .wp-list-table a.pdf object {
  width: 400%;
  height: 400%;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  transform: -webkit- scale(0.25);
  transform: scale(0.25);
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .image {
  display: inline-block;
  width: 8rem;
  margin-right: 1rem;
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .text {
  position: relative;
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .text h3 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  color: #876;
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .text p {
  display: block;
  position: absolute;
  width: 14em;
  padding: 1em;
  margin: 0px auto;
  left: -10em;
  right: -10em;
  z-index: 1;
  background-color: #473829;
  border-radius: 1em;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
  color: #ffe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: -webkit- translateY(1em);
  transform: translateY(1em);
  pointer-events: none;
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .text p::before {
  content: " ";
  width: 1px;
  height: 1px;
  position: absolute;
  top: -1em;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0.5em;
  border-color: transparent;
  border-bottom-color: #473829;
}
html body .cp_admin div.checkbox.cp-meta-item-use_functions label.checkbox .text:hover p {
  opacity: 1;
  transform: -webkit- translateY(0px);
  transform: translateY(0px);
}
html body .cp_admin ul.functions {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.3);
}
html body .cp_admin ul.functions > li {
  margin: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html body .cp_admin ul.functions > li > h2, html body .cp_admin ul.functions > li > .cp_form_section > h2 {
  display: block;
  position: relative;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  line-height: 1em;
  font-family: "Raleway";
  color: #876;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
html body .cp_admin ul.functions > li .image, html body .cp_admin ul.functions > li > .cp_form_section .image {
  margin: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) inset;
}
html body .cp_admin ul.functions > li .desc, html body .cp_admin ul.functions > li > .cp_form_section .desc {
  padding: 5px 10px;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-weight: normal;
  color: #876;
}
html body .cp_admin ul.functions > li .control, html body .cp_admin ul.functions > li > .cp_form_section .control {
  margin: 10px 20px;
}
html body .cp_admin ul.functions > li .cp_lightbox_content {
  max-width: 100rem;
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .panel_body {
  -webkit-box-flex: 10;
  flex-grow: 10;
  flex-shrink: 10;
  flex-basis: 50rem;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .panel_body > ul {
  padding: 2rem;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .panel_body > ul > li {
  padding: 1rem 0px;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .panel_body > ul > li h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c4bbb3;
  font-size: 2rem;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .cp_form_results {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20rem;
  padding: 2rem;
  background-color: #876;
  color: #ffe;
  font-size: 1.2rem;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .button_close_panel {
  position: absolute;
  top: -2rem;
  right: -2rem;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .button_close_panel .button {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-style: none;
  border-radius: 50%;
  background-color: #321;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2rem;
  line-height: 1em;
  color: #ffe;
}
html body .cp_admin ul.functions > li .cp_lightbox_content .button_close_panel .button::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
html body .cp_admin ul.functions.active {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
html body .cp_admin ul.functions.inactive {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
html body .cp_admin ul.functions.inactive > li.item > h2 {
  font-size: 1.5rem;
}
html body .cp_admin ul.functions.inactive > li.item .desc {
  font-size: 0.8rem;
}
/*# sourceMappingURL=./admin.css.map */