@import "config/style_config.scss";
@import url('https://fonts.googleapis.com/css?family=Staatliches&subset=latin-ext');

html{
	@include txt((p:10));
	@media(#{bp(-1)}){
		@include txt((p:2.5vw));
	}
}
body{
	div{
		&.cp_message{
			@include bnd((mg:10,pd:20));
			@include bdr((c:t 15,w:3,s:s,r:10));
			@include txt((c:t 15,a:c,s:b,p:18,h:18));
		}
		&.cp_caution{
			@include bnd((mg:10,pd:20));
			@include bg((c:m 50));
			@include bdr((r:10));
			@include txt((c:b,a:c,s:b,p:15,h:15));
		}
		&.cp_form_message,&.cp_form_section_message{
			.message{
                @include usr((e:n));
                .text{
                    @include bnd((pd:3 5,w:80%,mg:1rem a));
                    @include bg((c:m));
                    @include bdr((r:3));
                    @include shd((b:1));
                    @include txt((a:c,c:i,p:1.1rem,h:1.5em));
                    @include trn((t:1s,ty:0,o:1));
                    &:after{
                        content: '　';
                        @include bnd((d:b,p:a,w:1,h:1,b:-10,l:30));
                        @include bdr((c:n,s:s,w:5));
                        @include bdr((p:t,c:m));
                    }
                }
				&.has_target{
					.text{
						@include bnd((p:a,l:0,t:-25,w:a,mg:0));
                   		@include txt((a:n,h:1em));
					}
				}
			}
		}
		&.cp-meta-item{
			@include bnd((p:r,pd:5));
			&.multiple-item{
				@include bnd((mg:.5rem,pd:.5rem));
				@include bdr((s:s,w:1,c:t 1 .5,r:5));
				&>.cp-meta-unit{
					@include bnd((p:r,mg:.5rem,pd:.5rem));
					@include bdr((s:s,w:1,c:t 1 .2,r:5));
					.multiple-input-buttons{
						@include bnd((p:a,t:0,r:0,pd:1 3));
						@include bg((c:t));
						@include bdr((r:0 4 0 4));
						@include txt((h:10));
						.btn-inc,.btn-dec{
							@include bnd((d:ib,mg:.3rem));
							@include txt((p:1.3rem,h:1em,f:e,a:c,c:b 1 .5));
							@include trn((t:.5s));
							@include usr((c:p));
							&:hover{
								@include txt((c:b));
							}
						}
						.btn-inc::after{
							@include ico('plus');
						}
						.btn-dec::after{
							@include ico('minus');
						}
					}
					.sort-input-buttons{
						@include bnd((p:a,b:0,r:0,pd:1 3));
						@include bg((c:t 10));
						@include bdr((r:4 0 4 0));
						@include txt((h:10));
						.btn-up,.btn-down{
							@include bnd((d:ib,a:n,pd:1,mg:1,w:10,h:10));
							@include bdr((r:12));
							@include bg((c:t 5));
							@include txt((p:9,h:9,f:e,a:c,c:t 20));
							@include trn((t:.5s));
							@include usr((c:p));
							&:hover{
								@include bg((c:t 0));
							}
						}
						.btn-up::after{
							@include ico('chevron-up');
						}
						.btn-down::after{
							@include ico('chevron-down');
						}
					}
				}
			}
			
			fieldset{
				@include bnd((mg:1rem 0,pd:1rem));
				@include bdr((s:s,w:1,c:t 1 .3,r:.5rem));
				legend{
					@include txt((c:t 1 .3));
				}
			}
            input.number{
                @include bnd((w:60));
                @include txt((a:r));
            }
            input.numeric{
                @include bnd((w:120));
            }
			img.ajax_upload_media{
				@include bnd((w:10rem,h:a));
			}
			span.pdf{
				@include bnd((d:ib,w:160,h:230,o:h));
				object{
					@include bnd((w:200%,h:200%));
					@include trn((s:.5,to:0 0 0));
				}
			}
			select{
				@include bnd((a:n,pd:5 10,h:a));
                @include bg((c:b));
				@include bdr((r:5,s:s,c:t 25,w:1));
				@include txt((p:12,h:12,c:t));
			}
			label{
				@include bnd((d:ib,pd:3,mg:3));
				@include bg((c:b));
				@include txt((p:1.3rem,h:1em,c:t 40));
				@include trn((t:.5s));
				@include usr((c:p));
				&.checkbox,&.radio{
					@include bnd((d:ib,mg:.3em,pd:.3em 1em));
					@include bg((c:m 1 0));
					@include bdr((s:s,w:1,c:t 1 .5,r:1em));
					@include txt((p:1.2rem,h:1em,f:g,w:m,c:t 1 .5));
					&:before{
						@include bnd((d:ib,mgr:5));
						@include txt((c:t 1 .5));
					}
					&.active{
						@include txt((c:i));
						@include bg((c:m));
						@include bdr((c:m));
						&:before{
							@include txt((c:i));
						}
					}
					&.disabled{
						@include bnd((d:n));
						@include txt((c:t 15));
						&:before{
							@include txt((c:m 5));
						}
					}
					input{
						@include bnd((d:n));
					}
				}
				&.checkbox{
					&:before{
						@include ico('square');
					}
					&.active{
						&:before{
							@include ico('check-square');
						}
					}
				}
				&.radio{
					&:before{
						@include ico('circle-o');
					}
					&.active{
						&:before{
							@include ico('circle');
						}
					}
				}
			}
			button.cp_calendar_increase{
				@include bnd((d:b,p:r,mg:5 a,pd:5));
				@include bg((c:m 50));
				@include bdr((s:n,r:10));
				@include txt((a:c,p:24,h:24,c:b));
				@include trn((t:.5s));
				@include usr((c:p));
				&:hover{
					@include bg((c:m));
				}
			}
		}
		&.cp_lightbox_container{
			@include bnd((p:f,t:0,l:0,z:100000,w:100vw,h:100vh,pd:20,bs:b));
			@include bg((c:$shd));
			@include trn((t:1s opacity,o:0,bf:h));
			@include usr((e:n));
			.cp_lightbox_content{
				@include bnd((w:a 960,p:r,h:f,bs:b,pd:20,mg:0 a,oy:a));
				@include bg((c:b));
				@include trn((bf:h));
                ul.buttons.cp_lightbox_control{
                    @include bnd((p:f,r:5,t:5,mg:0,pd:0));
                    @media(#{bp(2)}){
                        @include bnd((r:calc(50vw - 520px)));
                    }
                    li{
                        .button{
                            @include bnd((pd:3 5));
                            @include txt((p:32,h:32));
                            @include shd((b:3));
                            @include bdr((s:n,r:20));
                            &::before{
                                @include bnd((d:ib,mgr:0));
                            }
                        }
                    }
                }
			}
			&.active{
				@include trn((o:1));
				@include usr((e:a));
				.content{

				}
			}
		}
		&.background{
			@include bnd((p:a,t:0,l:0,w:f,h:f,z:0,o:h));
			img,video{
				@include bnd((w:f,h:f,of:c,op:c));
			}
			&::after{
				content: '';
				@include bnd((p:a,w:f,h:f,t:0,l:0));
				@include bg((c:#000));
				@include trn((o:0));
			}
		}
	}
	p{
		&.caption{
			@include bnd((mg:5));
			@include txt((p:12,h:14,c:t 80,f:g));
		}
		&.left{
			@include txt((a:l));
		}
		&.right{
			@include txt((a:r));
		}
		&.center{
			@include txt((a:c));
		}
	}
	ul{
		&.pagenate{
			@include bnd((mg:20 10));
			@include txt((a:c,l:n));
			li{
				@include bnd((d:ib,mg:3));
				@include txt((p:12,c:t 40));
				@include usr((c:p));
				@include trn((t:.5s));
				&:hover{
					@include txt((c:t 80));
				}
				&.active{
					@include bnd((pd:3,w:20));
					@include bg((c:m 80));
					@include bdr((r:5));
					@include txt((p:14,h:12,c:b,a:c));
				}
			}
		}
		&.buttons{
			@include bnd((w:a,mg:20 a,pd:0));
			@include flx((w:w,c:1));
			@include txt((l:n));
			@include bp((
				1:(flx:(c:2)),
				2:(flx:(c:3)),
				3:(flx:(c:4))
			));
			li{
                @include bnd((mg:0,pd:0));
                @include bg((c:n));
				.button{
					@include bnd((d:b,p:r,h:a,mg:1rem,pd:.5em 1.5em));
					@include bg((c:m));
					@include bdr((r:5));
					@include txt((a:c,p:2rem,c:i,f:g,s:b,t:.2em));
					@include usr((c:p));
					@include trn((t:.5s));
                    @include shd((b:n));
                    &::before{
                        @include bnd((d:ib,mgr:5));
                        @include txt((s:r,t:0));
                    }
				}
				&.negative .button{
					@include bg((c:t 25));
				}
				&.primary .button{
					@include bg((c:a));
				}
                &.danger .button{
                    @include bg((c:1 80));
                }
                &.play .button:before{
                    @include ico('play');
                }
                &.next .button:before{
                    @include ico('arrow-right');
                }
                &.back .button:before{
                    @include ico('arrow-left');
                }
                &.file .button:before{
                    @include ico('file');
                }
                &.home .button:before{
                    @include ico('home');
                }
                &.trash .button:before{
                    @include ico('trash');
                }
                &.cart .button:before{
                    @include ico('shopping-cart');
                }
                &.mail .button:before{
                    @include ico('envelope');
                }
                &.search .button:before{
                    @include ico('search');
                }
                &.caution .button:before{
                    @include ico('exclamation-triangle');
                }
                &.help .button:before{
                    @include ico('question-circle');
                }
                &.open .button:before{
                    @include ico('chevron-circle-right');
                }
                &.close .button:before{
                    @include ico('times-circle');
                }
                &.plus .button:before{
                    @include ico('plus-circle');
                }
                &.minus .button:before{
                    @include ico('minus-circle');
                }
                &.refresh .button:before{
                    @include ico('sync-alt');
                }
                &.edit .button:before{
                    @include ico('pencil-alt');
                }
                &.check .button:before{
                    @include ico('check-circle');
                }
				small{
					@include bnd((d:b,mg:10 20));
					@include txt((p:11,c:t,f:g));
				}
			}
			&:hover .button{
				@include trn((o:.7));
				&:hover{@include trn((o:1));}
			}
			&.ss{
                @include bnd((mg:0));
				&>li{
					.button{
						@include bnd((mg:2,pd:2 5));
						@include bdr((r:3));
						@include txt((p:1rem,h:1em));
					}
					i{
						@include bnd((mgr:5));
					}
				}
			}
			&.s{
                @include bnd((mg:5));
				&>li{
					.button{
						@include bnd((mg:2,pd:4 8));
						@include bdr((r:5));
						@include txt((p:1.2rem,h:1.5em));
					}
					i{
						@include bnd((mgr:5));
					}
				}
			}
			&.m{
                @include bnd((mg:20));
				&>li{
					.button{
						@include bnd((mg:5,pd:8));
						@include bdr((r:5));
						@include txt((p:2rem,h:1.5em));
					}
					i{
						@include bnd((mgr:10));
					}
                }
			}
			&.l{
                @include bnd((pd:30));
				&>li{
					.button{
						@include bnd((mg:10,pd:12));
						@include bdr((r:5));
						@include txt((p:3rem,h:1.5em));
					}
					i{
						@include bnd((mgr:10));
					}
				}
			}
			&.i{
				@include bnd((mg:0 5,w:a,d:ib));
				&>li{
					@include bnd((d:ib));
				}
			}
            &.left,&.center,&.right{
                @include bnd((d:b));
                &>li{
                    @include bnd((d:ib));
                }
            }
            &.left{
                @include txt((a:l));
            }
            &.center{
                @include txt((a:c));
            }
            &.right{
                @include txt((a:r));
            }
		}
		&.inputs{
			@include txt((l:n));
		}
		&.access{
			@include bnd((d:b,p:r,mg:0,pd:10));
			@include txt((l:n));
			li{
				@include bnd((pd:1rem 0));
				@include flx((w:w));
				.image{
					@include bnd((f:1 1 15rem,pd:1rem,bs:b));
					img{
						@include bnd((w:f,h:a));
					}
				}
				.text{
					@include bnd((f:1 1 15rem,pd:1rem,bs:b));
					h3{
						@include bnd((mgb:.5rem,pdb:.5rem));
						@include txt((p:1.8rem,f:g,w:m,c:m));
						@include bdr((p:b,s:s,w:1,c:m));
					}
					div.address{
						
					}
					dl.info{
						@include flx((w:w));
						dt{
							@include bnd((f:1 1 5rem));
						}
						dd{
							@include bnd((f:2 2 60%));
						}
					}
				}
				.map{
					@include bnd((f:2 2 20rem,pd:1rem,bs:b));
				}
			}
		}
		&.contact{
			@include bnd((d:b,p:r,mg:10rem 1rem,pd:1rem));
			@include bdr((s:s,w:1,c:t 1 .5,r:1rem));
			@include txt((l:n));
			@include flx((w:w));
			li{
				@include bnd((f:1 1 30rem,pd:1rem,bs:b));
				h3{
					@include bnd((mgb:.5rem,pdb:.5rem));
					@include txt((p:1.8rem,f:g,w:m,c:m));
					@include bdr((p:b,s:s,w:1,c:m));
				}
				div.tel{
					a.tel{
						@include txt((a:l,p:3rem,h:1em,f:g,w:b,c:m));
					}

				}
			}
		}
		&.link{
			@include bnd((d:b,p:r,w:90% 96rem,mg:1rem a,pd:1rem));
			@include txt((l:n));
			@media(#{bp(2)}){
				@include flx((w:w,c:3));
			}
			li.item{
				@include bnd((p:r,pd:1rem,bs:b));
				.image{
					@include bnd((h:30rem,o:h));
					img,video{
						@include bnd((w:f,h:f,of:c,op:c));
						@include trn((t:1s));
					}
				}
				.text{
					@include bnd((d:b,p:a,b:1rem,l:1rem,r:1rem,pd:2rem,bs:b));
					@include bg((c:m 1 .8));
					h3{
						@include bnd((mgb:.5rem,pdb:.5rem));
						@include bdr((p:b,s:s,w:1,c:i));
						@include txt((a:c,p:1.5rem,h:1.5em,f:g,w:b,c:i));
					}
					p{
						@include txt((a:j,p:1.2rem,h:1.5em,f:g,w:r,c:i));
					}
				}
				a.link{
					@include bnd((d:b,w:f,h:f,p:a,l:0,t:0));
				}
				&:hover{
					.image{
						img,video{
							@include trn((s:1.1));
						}
					}
				}
			}
			li.spacer{
				@include bnd((f:1 1 30rem,mg:0 1rem));
			}
		}
		&.banner{
			@include bnd((d:b,p:r,w:90% 96rem,mg:1rem a,pd:1rem));
			@include txt((l:n));
			li.item{
				@include bnd((p:r,mg:1rem,bs:b));
				@include bdr((s:s,w:2,c:a));
				@include flx((w:w,d:rr));
				.image{
					@include bnd((f:2 2 24rem,h:10rem a,p:r,o:h));
					img,video{
						@include bnd((p:a,t:0,l:0,w:f,h:f,of:c,op:c));
						@include trn((t:1s));
					}
				}
				.text{
					@include bnd((p:r,f:1 1 24rem,pd:2rem,bs:b));
					@include bg((c:a));
					&::before{
						@include ico('chevron-circle-right');
						@include bnd((d:b,p:a,w:10rem,h:10rem,t:0,b:0,l:2rem,mg:a));
						@include txt((p:10rem,h:1em,c:i));
						@include trn((o:.1));
					}
					h3{
						@include bnd((mgb:1rem,pdb:1rem));
						@include bdr((p:b,s:s,w:1,c:i));
						@include txt((a:l,p:2rem,h:1.5em,f:g,w:b,c:i));
					}
					p{
						@include txt((a:j,p:1.2rem,h:1.5em,f:g,w:r,c:i));
					}
				}
				a.link{
					@include bnd((d:b,w:f,h:f,p:a,l:0,t:0));
				}
				&:hover{
					.image{
						img,video{
							@include trn((s:1.1));
						}
					}
				}
			}
			li.spacer{
				@include bnd((f:1 1 30rem,mg:0 1rem));
			}
		}
		&.tab{
			@include bnd((d:b,w:95% 96rem,mg:3rem a 2rem));
			@include bdr((p:b,s:s,w:1,c:a));
			@include flx((w:n));
			@include txt((l:n));
			li.item{
				@include bnd((p:r,f:0 1 20rem,mg:0,pd:0,bs:b));
				@include bg((c:m 1 .5));
				h3{
					@include bnd((mg:0,pd:1rem));
					@include txt((a:c,p:1.5rem,h:1em,f:g,w:b,c:i));
				}
				&.active{
					@include bg((c:a));
				}
				a.link{
					@include bnd((d:b,w:f,h:f,p:a,l:0,t:0));
				}
			}
		}
	}
	table{
		&.wp-list-table{
			tr{
				td{
					div.cp-meta-item{
						img,video{@include bnd((d:b,w:10rem,h:a));}
					}
				}
			}
		}
		&.wp-block-table{
			@include tbl(());
			&.award{
				@include bnd((p:r,mg:1rem a));
				@media(#{bp(-1)}){
					@include bnd((mg:1rem));
				}
				tr{
					td{
						@include bnd((p:r,pd:1rem));
						@include bdr((s:s,w:1,c:t));
						&:nth-of-type(1){
							@include bnd((w:4rem));
						}
						&:nth-of-type(2){
							@include bnd((w:30rem));
						}
						&:nth-of-type(3){
							@include bnd((w:16rem));
						}
					}
				}
				
			}
		}
		&.inputs{
			@include bnd((mg:4rem a,w:f 96rem));
			@include tbl(());
			*{@include txt((c:t));}
			&>thead>tr,&>tbody>tr{
				&>th,&>td{
					@include bnd((pd:5));
					@include bdr((s:s,w:1,c:b 60));
                    @include bp((
                        1:(bnd:(pd:10))
                    ));
				}
				&>th{
					@include bnd((w:12rem));
					@include bg((c:m 1 .5));
					@include txt((a:l,p:12,c:t 70,s:b));
					@include bp((
						-1:(bnd:(d:b,w:a),txt:(a:c))
					));
					i{
						@include bnd((d:ib,w:15,mgr:15));
						@include txt((a:c));
					}
					&.required{
						&:after{
							content: '必須';
							@include bnd((d:ib,pd:2 5,mgl:5));
							@include bg((c:a));
							@include bdr((r:3));
							@include txt((c:b,p:10,h:10,f:g,s:b,v:3px));
						}
					}
				}
				&>td{
					@include bg((c:b 1 .5));
					@include txt((a:l,p:11,c:t 70,s:r));
					@include bp((
						-1:(bnd:(d:b,w:a),txt:(a:c))
					));
					input,textarea{
						@include bg((c:b));
					}
					textarea{
						&.full{
							@include bnd((w:100%,bs:b));
						}
					}
					&>img{
						@include bnd((w:20rem,h:a));
					}
					span{
						@include bnd((d:ib));
					}
				}
				&.disabled{
					@include bnd((d:n));
				}
			}
		}
		&.manage{
			@include tbl(());
			&>thead>tr,&>tbody>tr{
				&>th,&>td{
					@include bnd((pd:5));
					@include bdr((s:s,w:1,c:b 60));
				}
				&>th{
					@include bg((c:m 1 .5));
					@include txt((a:l,p:12,c:t 70,s:b));
				}
				&>td{
					@include bg((c:b 1 .5));
					@include txt((a:l,p:11,c:t 70,s:r));
					textarea{
						&.full{
							@include bnd((w:100%,bs:b));
						}
					}
					span{
						@include bnd((d:ib));
					}
				}
			}
		}
		&.calendar{
			@include bnd((p:r,w:f));
			@include tbl(());
			&>caption{
				@include bnd((pd:20 10));
				@include txt((p:18,c:t 80));
				.month{
					@include txt((p:36));
				}
			}
			&>thead{
				&>tr{
					&>th{
						@include bnd((pd:2));
						@include bg((c:m 80));
						@include txt((a:c,p:12,c:b));
						p{
							@include bnd((mg:0));
						}
					}
				}
			}
			&>tbody{
				&>tr{
					&>td{
						@include bnd((p:r,w:14%,h:100 a,pd:5,bs:b));
						@include bdr((s:s,w:1,c:t 10));
						@include txt((v:t));
						@include trn((t:.5s));
						@include bp((
							-2:(bnd:(pd:2,w:a,p:s),txt:(a:c))
						));
						&:hover{
							@include bg((c:m 10));
						}
						p.date{
							@include bnd((d:ib,pd:2 5,mg:0));
							@include txt((p:16,h:16,c:t 80));
                            @include bp((
                                -2:(bnd:(d:b,pd:10 0))
                            ));
						}
                        &>.cp_form_section{
                            @include bp((
                                -2:(
                                    bnd:(p:a,l:2vw,w:96vw,pd:15,bs:b,z:1000),
                                    bg:(c:b),
                                    bdr:(r:5),
                                    trn:(o:0,t:.5s),
                                    shd:(b:10),
                                    usr:(e:n)
                                )
                            ));
                        }
						&.event{
							@include usr((c:p));
                            @include bp((
                                -2:(bg:(c:m 50))
                            ));
						}
						&.holiday p.date{
							@include bg((c:1 40));
							@include bdr((r:10));
							@include txt((c:b));
                            @include bp((
                                -2:(bg:(c:n),txt:(c:1))
                            ));
						}
						p.holiday{
							@include bnd((p:a,r:5,t:5,pd:2 5,mg:0));
							@include bg((c:1 40));
							@include bdr((r:10));
							@include txt((p:10,h:10,c:b));
							@include bp((
								-2:(bnd:(d:n))
							));
						}
						&.out_month{
							p.date{
								@include txt((c:t 20));
							}
						}
                        ul.buttons{
                            li{
                                @include bnd((p:r));
                                @include txt((a:c));
                                div.button.diary{
                                    @include bnd((pdl:15));
                                    @include bp((
                                        -2:(
                                            bnd:(pd:4 8 4 15,mg:5 2),
                                            txt:(p:15,h:15)
                                        )
                                    ));
                                    &::before{
                                        @include bnd((d:b,p:a,pd:4,w:14,h:14,t:-5,l:-12));
                                        @include bg((c:inherit));
                                        @include txt((a:c,p:14,h:14,c:b));
                                        @include bdr((s:n,r:10));
                                        @include shd((b:2));
                                    }
                                }
                            }
                        }
						ul.cal-events{
                            @include bnd((pd:5 15));
                            @include txt((l:n));
                            li{
                                &>ul{
                                    @include bnd((mg:0));
                                }
                            }
						}
						div.events{
							div.event{
								@include bnd((d:n));
								label{
									@include bnd((d:b,pd:2));
									@include bdr((r:10));
									@include bg((c:t 25));
									@include txt((a:c,p:10,h:10,c:b));
									@include trn((t:.5s));
									input{
										@include bnd((d:n));
									}
								}
								&.active,&:hover{
									@include bnd((d:b));
									label{
										@include bg((c:m));
									}
								}
								@for $i from 0 through 12{
									&.event#{$i}.active label,&.event#{$i}:hover label{
										@include bg((c:$i));
									}
								}
							}
						}
						&.event.active,&.event.forcus{
							@include bp((
								-2:(bg:(c:a))
							));
							p.date{
								@include bp((
									-2:(txt:(c:b))
								));
							}
						}
						&.event:hover{
							div.events{
								@include bp((
									2:(
										bnd:(d:b,p:a,w:100,t:30,l:0,z:100),
										bg:(c:b),
										bdr:(s:s,w:1,c:m,r:10),
										shd:(b:1),
									)
								));
								div.event{
									@include bp((
										2:(bnd:(d:b))
									));
								}
							}
						}
						&.event.forcus{
                            &>.cp_form_section{
                                @include bp((
                                    -2:(
                                        trn:(o:1),
                                        usr:(e:a)
                                    )
                                ));
                            }
						}
					}
				}
			}
		}
		&.collect{
			@include bnd((w:calc(100% - 20px),mg:10 a));
			@include tbl(());
			&>thead>tr,&>tbody>tr{
				&>th,&>td{
					@include bnd((pd:3));
					@include bdr((s:s,w:1,c:t 10));
				}
				&>th{
					@include bnd((w:150));
					@include bg((c:m 10));
					@include txt((a:c,p:12,c:t 70,s:b));
					@include bp((
						-1:(bnd:(d:b,w:a),txt:(a:c))
					));
				}
				&>td{
					@include bg((c:b));
					@include txt((a:c,p:12,c:t 70,s:r));
					@include bp((
						-1:(bnd:(d:b,w:a),txt:(a:c))
					));
				}
			}
            &>tbody>tr>th{
                @include bnd((w:150 a));
            }
		}
	}
	form{
		&.cp_form{
            div.cp_form_nav{
                @include bnd((d:b,p:f,t:60,l:0,w:f,bs:b,z:1000));
                @include bg((c:b));
                @include trn((y:-60,o:0,t:.5s));
                @include shd((b:3));
            }
            &.lead{
                div.cp_form_nav{
                    @include trn((y:0,o:.9));
                }
            }
		}
	}
	figure{
		&.wp-block-image{
			@include bnd((d:b,w:f 96rem,mg:5rem a,cl:b));
			img{
				@include bnd((d:b,w:f,h:a,mg:0 a));
			}
			@media(#{bp(2)}){
				&.alignleft,&.alignright{
					@include bnd((w:40%));
				}
				&.alignleft{
					@include bnd((mgr:2rem,fl:l));
					&+*{
						@include bnd((pdl:40%,bs:b));
					}
				}
				&.alignright{
					@include bnd((mgl:2rem,fl:r));
					&+*{
						@include bnd((pdr:40%,bs:b));
					}
				}
			}
		}
	}
	ruby{
		rt{@include txt((p:40%,s:r));}
	}
	span{
		&.label{
			@include bnd((d:ib,pd:4 8,mg:3));
			@include bg((c:m));
			@include bdr((r:3));
			@include txt((a:c,p:12,c:b,h:12,s:b,v:m));
			small{
				@include bnd((d:ib,mg:0 5));
				@include txt((p:10,s:r));
			}
			&.s{
				@include bnd((pd:2 8,mg:0 4));
				@include txt((p:10));
				@include bdr((r:10));
				&.f{@include bnd((w:80));}
				small{
					@include bnd((mg:0 3));
					@include txt((p:8));
				}
			}
			&.m{
				@include txt((p:12));
				&.f{@include bnd((w:100));}
				small{
					@include bnd((mg:0 5));
					@include txt((p:10));
				}
			}
			&.l{
				@include txt((p:14));
				&.f{@include bnd((w:120));}
				small{
					@include bnd((mg:0 6));
					@include txt((p:11));
				}
			}
			@for $i from 0 through 12{
				&.color#{$i}{@include bg((c:$i));}
			}
		}
        &.item{
            @include bnd((d:ib,mg:0 3));
        }
		&.icon{
			@include bnd((d:ib,mg:0 .5rem,pd:.5rem));
			@include bg((c:m));
			@include bdr((r:.5rem));
			@include txt((a:c,p:.8rem,h:1em,f:g,w:m,c:#fff,v:m));
			&.high{@include bg((c:1));}
			&.new{@include bg((c:8));}
		}
	}
	#{$sel_input_text},textarea{
		@include bnd((pd:5,mg:0 5,bs:b));
		@include bg((c:b));
		@include bdr((s:s,w:1,c:t 1 .3));
		@include txt((p:1.5rem,c:t));
		&::placeholder{
			@include txt((c:t 1 .3));
		}
	}
	a{
		@include txt((c:m));
		&.mail{
			@include bnd((d:ib,mg:3 5));
			@include txt((p:14,c:t 80));
			@include trn((t:.5s));
			&:before{
				@include ico('envelope');
				@include bnd((d:ib,mgr:5));
			}
			&:hover{
				@include txt((c:m));
			}
		}
		&.tel{
			@include bnd((d:ib,mg:3 5));
			@include txt((p:14,c:t 80));
			@include trn((t:.5s));
			&:before{
				@include ico('phone-square');
				@include bnd((d:ib,mgr:5));
			}
			&:hover{
				@include txt((c:m));
			}
		}
	}
	header{
		&.notification{
			@include bnd((mg:10));
			h1{
				@include bnd((mg:10 0,pd:10));
				@include txt((p:24,c:m,f:m,s:b));
				@include bdr((p:b,s:s,w:1,c:m));
				small{
					@include txt((p:18,c:m,f:m,s:r));
				}
			}
			p{
				@include bnd((mg:10));
				@include txt((p:12,c:t 80));
			}
		}
		&.catch{
			@include bnd((mg:20 a));
			@include flx((w:w));
			@include bg((c:m));
			.text{
				@include bnd((pd:20,f:300,bs:b));
				@include bp((
					2:(bnd:(pd:30)),
					3:(bnd:(pd:40))
				));
				h1{
					@include txt((p:32,c:b,f:m,s:b));
					@include bp((
						2:(txt:(p:48)),
						3:(txt:(p:64))
					));
				}
				p{
					@include txt((p:16,c:b,f:g));
					@include bp((
						2:(txt:(p:20)),
						3:(txt:(p:24))
					));
				}
			}
			.image{
				@include bnd((p:r,f:300));
				figure{
					img{
						@include bnd((w:f,h:a));
					}
					figcaption{
						@include bnd((p:a,b:5,r:5));
						@include txt((p:11,c:b,f:g));
					}
				}
			}
		}
		&.label{
			h1{
				@include bnd((d:b,p:r,pd:5 10,mg:0));
				@include bg((c:m 80));
				@include bdr((r:4 4 0 0));
				@include txt((p:18,c:b,f:g));
				i.fa{
					@include bnd((mgr:10));
				}
				img{
					@include bnd((d:ib,w:30,h:a,mgr:5));
				}
				small{
					@include bnd((pd:5));
					@include txt((p:11,c:b,f:g,v:m));
				}
			}
		}
	}
	.transition{
		&.org,&.new,&.del{@include trn((t:1s));}
		&.org{@include bnd((p:a));}
		&.new{@include bnd((p:r));}
		&.from{
			&.org{
				@include trn((o:1));
			}
			&.new{
				@include trn((x:50,o:0));
			}
            &.del{
                @include trn((o:1));
            }
		}
		&.to{
			&.org{
				@include trn((o:0));
			}
			&.new{
				@include trn((x:0,o:1));
			}
            &.del{
                @include trn((y:-20,o:0));
            }
		}
	}
	[data-role="cp_form_submit"],
	[data-role="cp_form_section_submit"],
	[data-role="cp_form_acion_submit"]{
		@include usr((c:p));
	}
}
#cp_lightbox{
	@include bnd((p:f,t:0,l:0,z:100000,w:100vw,h:100vh));
	@include bg((c:0 0 .6));
	@include trn((t:.5s,o:0));
	@include usr((e:n));
	.cp_lightbox_content{
		@include bnd((p:r,w:90vw 80rem,h:90vh 80rem,p:a,t:0,b:0,l:0,r:0,mg:a,pd:10,o:v));
		@include bg((c:b));
		@include shd((b:10));
		div.group{
			ul.items{
				li.item{
					img{
						@include bnd((w:f,h:a));
					}
				}
			}
			div.control{
				.prev,.next{
					@include bnd((d:n,p:a,t:0,b:0,mg:a));
					@include txt((p:3rem,c:#888));
					@include trn((o:.8));
					&.active{@include bnd((d:b));}
				}
				.prev{
					@include bnd((l:-1rem));
					&::before{
						@include ico('chevron-circle-left');
					}
				}
				.next{
					@include bnd((r:-1rem));
					&::before{
						@include ico('chevron-circle-right');
					}
				}
				.close{
					@include bnd((p:a,w:3rem,h:3rem,pd:.5rem,t:-2rem,r:-2rem));
					@include txt((a:c,p:3rem,h:1em,c:a));
					@include bg((c:b));
					@include bdr((r:3rem));
					@include shd((b:2));
					&::before{
						@include ico('times-circle');
					}
				}
				ul.dots{
					li.dot{
						&::before{
							@include ico('square');
						}
					}
				}
			}
		}
	}
	&.active{
		@include trn((o:1));
		@include usr((e:a));
		.cp_lightbox_content{

		}
	}
}